{{ "<!-- shortcodes:agenda-item-collapsible.html:start -->" | safeHTML }}
<div>
	{{ if .Params.description }}
		{{ if $.Params.title }}
			<input id="collapsible_{{ $.Params.title }}" class="cl-shortcode--agenda-item-toggle" type="checkbox">
			<label for="collapsible_{{ $.Params.title }}" class="cl-shortcode--agenda-item-toggle cl-shortcode--agenda-item-title">{{ $.Params.title }} <i class="fa fa-chevron-down"></i></label>
		{{ end }}
		<div class="cl-shortcode--agenda-item-collapsible">
			<p class="cl-shortcode--agenda-item-description">{{ .Params.description | markdownify }}</p>
		</div>	
		
	{{ else }}
		{{ if $.Params.title }}
		<p class="cl-shortcode--agenda-item-title">{{ $.Params.title }}</p>
		{{ end }}
	{{ end }}	
</div>
{{ "<!-- shortcodes:agenda-item-collapsible.html:end -->" | safeHTML }}