{{ "<!-- shortcodes:agenda-item-checked.html:start -->" | safeHTML }}
<div class="padding-tiny">
	{{ if .Params.description }}
		{{ if $.Params.title }}
			<input id="collapsible_{{ $.Params.title }}" class="cl-shortcode--agenda-item-toggle" type="checkbox" checked="true">
			<label for="collapsible_{{ $.Params.title }}" class="cl-shortcode--agenda-item-toggle cl-shortcode--agenda-item-title">{{ $.Params.title }}
				{{ $img := resources.Get "img/icons/dropdown.svg" }}			
				<img src="data:image/svg+xml;base64,{{ $img.Content | base64Encode }}" height="12px" width="12px" alt="Search">
			</label>
		{{ end }}
		<div class="cl-shortcode--agenda-item-collapsible">
			<p class="cl-shortcode--agenda-item-description">{{ .Params.description | markdownify }}</p>
		</div>
	{{ else }}
		{{ if $.Params.title }}
		<p class="cl-shortcode--agenda-item-title">{{ $.Params.title }}</p>
		{{ end }}
	{{ end }}
</div>
{{ "<!-- shortcodes:agenda-item-checked.html:end -->" | safeHTML }}