{{ "<!-- shortcodes:bpr-automessages.html:start -->" | safeHTML }}
<div class="cl-shortcode bg-light">
	<div class="flex-parent flex-parent-row paddingt-none paddingb-medium">
		<strong class="cl-shortcode--text-centered">Spread the word</strong>
		<div class="flex-parent flex-parent-row paddingt-none paddingb-none flex-parent-justify-space-around">
			<div class="flex-child flex-child-16p">
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:6790184415256571904/" target="_blank">
					<div class="cl-shortcode--icon cl-shortcode--icon-small">
						<img src="linkedin.svg" alt="LinkedIn">
					</div>
					<div>
						<p class="text-center">Talk about it on Linkedin</p>
					</div>
				</a>
			</div>
			<div class="flex-child flex-child-16p">
				<a href="http://bit.ly/iostwxbl" target="_blank">
					<div class="cl-shortcode--icon cl-shortcode--icon-small">
						<img src="twitter.svg" alt="Twitter">
					</div>
					<div>
						<p class="text-center">Tweet about it on Twitter</p>
					</div>
				</a>
			</div>
			<div class="flex-child flex-child-16p">
				<a href="https://www.facebook.com/ideasonstage/posts/4371626369517281" target="_blank">
					<div class="cl-shortcode--icon cl-shortcode--icon-small">
						<img src="facebook.svg" alt="Facebook">
					</div>
					<div>
						<p class="text-center">Talk about it on Facebook</p>
					</div>
				</a>
			</div>
		</div>
	</div> 
</div>
{{ "<!-- shortcodes:bpr-automessages.html:end -->" | safeHTML }}
