{{ "<!-- shortcodes:call-to-action.html:start -->" | safeHTML }}
<div class="cl-shortcode cl-shortcode--call-to-action {{ with .Params.style }}{{ . }}{{ end }}">
	{{ with .Params.title }}
		<h3>{{ . }}</h3>
	{{ end }}
	{{ if .Params.picture }}
		<img src="{{ .Params.picture }}" height="192px" alt="{{ .Params.title }}">
	{{ end }}
	{{ with .Params.subtitle }}
		<p>{{ . }}</p>
	{{ end }}
	{{ if .Params.button }}
		<a href="{{ .Params.link }}" class="critical--button-primary">{{ .Params.button }}</a>
	{{ end }}
</div>
{{ "<!-- shortcodes:call-to-action.html:end -->" | safeHTML }}
