{{ $data := partial "f/getdatalocalized" (slice . "bodylazy-references") }}
{{ with $data }}
	<section id="reference-list" class="cl-referencesgrid">
		{{ range . }}
			{{ $srcset := partial "f/getpicturesrcset.go" .picture }}
			<img src="{{ collections.Index $srcset 0 }}" loading="lazy" srcset="{{ collections.Index $srcset 1 }}" {{ with .client }}alt="{{ . }}"{{ end }} height="100" width="100" />
		{{ end }}
	</section>
{{ else }}
	{{ partial "e/html-comment.html" "skipped: references: no .Params.bodylazy-references-data" }}
{{ end }}
