{{- $data := partial "f/getdatalocalized" (slice . "bodylazy-references") -}}
{{- with $data -}}
	<section id="reference-list" class="cl-referencesgrid">
		{{- range . -}}
			{{- $srcset := partial "f/getimgsrcset.go" .picture -}}
			<img
				loading="lazy"
				src="{{ collections.Index $srcset 0 }}"
				srcset="{{ collections.Index $srcset 1 }}"
				sizes="(1200px > width >= 720px) 1200px, (720px > width ) 720px, 2400px"
				{{ with .client }}alt="{{ . }}"{{ end }} height="100" width="100" />
		{{- end -}}
	</section>
{{- else -}}
	{{ partial "e/html-comment.html" "skipped: references: no .Params.bodylazy-references-data" }}
{{- end -}}
