{{ $data := partial "f/getdatalocalized" (slice . "bodylazy-awards") }}
{{ with $data }}
	<div class="cl-awards">
		{{ range . }}
			<div class="cl-awards--item">
				{{ $srcset := partial "f/getpicturesrcset.go" .img }}
				<img loading="eager" decoding="async" src="{{ collections.Index $srcset 0 }}" srcset="{{ collections.Index $srcset 1 }}" {{ with .title }}alt="{{ . }}"{{ end }}>
			</div>
		{{ end }}
	</div>
{{ else }}
	{{ partial "e/html-comment.html" "INFO: skipped: bodylazy-awards: no .Params.bodylazy-awards-data" }}
{{ end }}
