<nav id="navbar" class="cl-bodytop-navbar" role="navigation">
	
	<!-- logo -->
	{{ $home := site.BaseURL }}
	{{ if ne "en" site.LanguageCode }}
		{{ $home = printf "%s%s/" $home site.Language.Lang }}	
	{{ end }}
	
	<a href="{{ $home }}" class="cl-core--a-underline-none">
		<div class="brand">
			{{ $logo := resources.Get "img/navbar/ideas-on-stage.svg" }}
			<img src="data:image/svg+xml;base64,{{ $logo.Content | base64Encode }}" height="52" width="184" alt="Logo Ideas on Stage">
		</div>
	</a>
	
	<!-- menu-burger menu on ts screens -->
	<label for="drop" class="burger">
		{{ $burger := resources.Get "img/icons/burger.svg" }}
		<img src="data:image/svg+xml;base64,{{ $burger.Content | base64Encode }}" height="16" width="16" alt="Burger Menu">
	</label>
	
	<input type="checkbox" id="drop" class="menu-checkbox"/>
	
	<!-- iosmenu start -->
	<ul class="menu">
		
		<!-- Menubar Menu Items -->
		{{ range site.Params.navbar }}
			<li class="menu-item {{ if .hideonmediumscreens }}menu-shorten{{ end }}">
				<a href="{{ .url }}" onclick="getElementById('drop').checked = false" class="cl-core--a-underline-none">
					{{ .name }}
				</a>
			</li>
		{{ end }}
		
		<!-- Search Dropdown -->
		<li class="menu-item">
			<label for="drop-search">
				{{ $img := resources.Get "img/icons/search.svg" }}
				<img src="data:image/svg+xml;base64,{{ $img.Content | base64Encode }}" height="12" width="12" alt="Search">
			</label>
			<input type="checkbox" id="drop-search" class="menu-checkbox"/>
			<ul class="menu-dropdown cl-more--fastsearch">
				<li id="fastSearch" class="menu-dropdown-item">
					<input id="searchInput" class="input" tabindex="0">
				</li>
				<li class="menu-dropdown-item">
					<ul id="searchResults" class="results">
					</ul>
				</li>
			</ul>
		</li>
		
		<!-- Languages Drop Down -->
		<li class="menu-item">
			<label for="drop-languages">
				{{ $img := resources.Get "img/icons/globe.svg" }}
				<img src="data:image/svg+xml;base64,{{ $img.Content | base64Encode }}" height="12" width="12" alt="Search">
				<span class="menu-shorten">
					{{ with .Language.LanguageName }}{{ . }}{{ end }}
					{{ partial "e/icon.html" (dict "name" "dropdown.svg" "alt" "Show Content") }}
				</span>
			</label>
			<input type="checkbox" id="drop-languages" class="menu-checkbox"/>
			<ul class="menu-dropdown">
				{{ range site.Sites }}
					{{ if ne .Language.LanguageCode site.LanguageCode }}
						<li class="menu-dropdown-item">
							<a href="{{ .Home.Permalink }}" hreflang="{{ .Language.LanguageCode }}" class="cl-core--a-underline-none">
								{{ .Language.LanguageName }}
							</a>
						</li>
					{{ end }}
				{{ end }}
			</ul>
		</li>
		
	</ul>
	
</nav>
