/* Navbar container */
.iosnavbar {
  /* overflow: hidden; */
  background-color: #222;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
  border: none;
  transition: all .35s;
  margin: 0;
  padding: 0;
  
}

/* Links inside the navbar */
.iosnavbar a {
  float: left;
  font-size: 0.8em;
  font-weight: 700;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #222;
  border: none;
}

/* Adjust logo positioning */
.iosnavbar-brand {
  height: {{ site.Params.navigation.height }};
  /* height: 52px; */
  padding: 0;
  color: #FF8200;
  float: left;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  display: block;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  text-decoration: none;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  background-color: 222;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}

nav ul>li>a {
  padding: 10px 15px;
}

nav ul>li>ul>li>a {
  padding: 6px 15px;
  font-size: 0.6em;
}
nav ul li ul li:hover { color: #ff8200; }

nav ul ul {
  display: none;
  position: absolute;
  top: 52px;
  background-color: #222;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  min-width: 160px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -52px;
  left: 170px;
}

li > a:after { font-size: 0.6em; content: ' ▼'; }
li > label:after { font-size: 0.6em; content: ' ▼'; }

.toggle, [id^=drop] {
 display: none;
}

li > a:only-child:after { content: ''; }



@media all and (max-width : 480px) {

iosnavbar { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: #222;
  padding: 5px 10px;
  color: #ddd;
  font-size: 12px;
  line-height: 1.6em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.toggle:hover {color: #ff8200; }

.iosnavbar-icon {
    float: right;
    display: block;
    font-size: 1.6em;
    padding: 3px 0px;
    background-color: #222;
  }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul>li>a {
  padding: 0px 10px;
  color: ddd;
  text-align: left;
  min-width: 240px;
}

nav ul>li>ul>li>a {
  padding: 5px 20px;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

nav a:hover,
 nav ul ul ul a { color: #ff8200; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #222; }

nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { position: static;

}
}

