{{ "<!-- partials/main/main-list.html:start -->" | safeHTML }}
<div class="cl-main-list">
{{- range .Pages -}}
	{{- if .Params.nl -}}
		{{ (printf "<!-- page %s skipped (nl is true) -->" .Title) | safeHTML }}
		{{/* <!-- do not list pages with .Params nl: true --> */}}
	{{- else -}}
	<section class="item {{ partial "f/getstyle.go" . }}">
		<div class="picture">
			{{ partial "e/link-picture.html" . }}
		</div>
		<div class="text">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
		</div>
	</section>
	{{- end -}}
{{- end -}}
</div>
{{ "<!-- partials/main/main-list.html:end -->" | safeHTML }}
