{{/* <!-- generate list of past episodes --> */}}
<article id="previous-episodes" class="cl-main-listrevolution">
	<h2>{{ page.Params.episodes }}</h2>		
	<ul>
		{{- $first := true -}}
		{{- range .Pages -}}
			{{- if eq $first true -}}
				{{- $first = false -}}
			{{- else -}}
				<li>
					<a href="{{ .RelPermalink }}">
						<img src="{{ .RelPermalink }}thumbnail.jpg" alt="{{ .Title }}">
						<h3>
							{{ .Title }}
						</h3>
						<p>
							{{ .Description }}
						</p>
					</a>
				</li>
			{{- end -}}
		{{- end -}}
	</ul>
</article>
