{{/* <!--
	
	body-h1.html

	Generates the HTML for a hero if a hero picture exists,
	else generates a standard title.
	To know how the hero picture is retrieved, check the "f/getimgpathhero.go" function.
	
	Arguments:
	- page object
	
--> */}}

{{/* <!-- try to get hero picture --> */}}
{{- $hero := partial "_f/getimgpathhero.go" . -}}

{{/* <!-- if hero pic found... --> */}}
{{- if $hero -}}
	{{/* <!-- ...then create hero with pic and h1 --> */}}

	{{/* <!-- set arguments for e/img --> */}}
	{{- $img := dict "img" $hero 
					 "loading" "eager"
					 "decoding" "async"
					 "alt" .Title -}}

	{{- $srcset := partial "_f/getimgsrcset.go" $hero -}}
	{{/* <!-- create hero --> */}}
	<div class="cl-main-h1--hero">
		<div class="img">
			{{ partial "_e/img.html" $img }}
		</div>
		
		<div class="overlay">
		</div>
		
		{{/* <!-- add logobar if there is one --> */}}
		<div class="logobar-layer">
			<div class="logobar-container">
				{{ range .Params.hero }}
					<div class="logobar-item">
						{{- $img := .img -}}
						{{- $alt := .alt -}}
						{{- $href := .href -}}
						{{- $loading := "eager" -}}
						{{- $decoding := "async" -}}
						{{- $args := dict "img" $img   "alt" $alt   "href" $href   "loading" $loading   "decoding" $decoding -}}
						{{ partial "_e/img.html" $args }}
						<p>
							{{ .description }}
						</p>
					</div>
				{{ end }}
			</div>
		</div>
		
		<div class="text">
			{{/* <!-- hero title --> */}}
			{{- with .Title -}}
			<h1>
				{{ . | markdownify }}
			</h1>
			{{- end -}}
			
			{{/* <!-- cta description --> */}}
			{{- with .Params.description -}}
			<p>
				{{ . | safeHTML }}
			</p>
			{{- end -}}
			
			{{/* <!-- cta button --> */}}
			{{- with .Params.button -}}
			
			{{- if ne "string" (partial "_f/getdatatype" .) -}}
			<a href="{{ .link }}" class="cl-core--button-primary">
				{{ .text }}
			</a>
			{{- end -}}
			{{- end -}}
		</div>
		
	</div>
{{- else if .Title -}}
	{{- if ne true .Params.isTitleSkipped -}}
		{{/* <!-- ...else create standard h1 title --> */}}
		{{- with .Title -}}
		<div class="cl-main-h1--title">
			<h1>
				{{ . | markdownify }}
			</h1>
		</div>
		{{- end -}}
	{{- end -}}
{{- else -}}
	<p class="error">ERROR: front matter missing .Title</p>
{{- end -}}
