{{/* <!--
	
	body-sidebar-main.html

	Generates the HTML with the side: and main: blocks declared in /data/layouts.
	If there are no side: blocks, that part is ignored and the layout is adapted.
	
	Arguments:
	- page object
	
--> */}}

<div class="cl-main-sidebar-content">
	{{- if partial "f/getblocks.go" "sidebar" -}}
	<aside class="cl-sidebar">
		{{ partial "e/blocks" (slice "sidebar") }}
	</aside>
	{{- else -}}
		{{ partial "e/html-comment.html" "INFO: skipped sidebar: no blocks for sidebar in layouts.yaml" }}
	{{- end -}}
	{{- if partial "f/getblocks.go" "content" -}}
	<div class="cl-content">
		{{ partial "e/blocks" (slice "content") }}
	</div>
	{{- else -}}
		{{ partial "e/html-comment.html" "INFO: skipped content: no blocks for article in layouts.yaml" }}
	{{- end -}}
</div>
