{{/* <!--
	
	main-content404.html

	Generates the HTML for the 404 page.
	
	Arguments:
	- anything (mandatory but not used)
	
--> */}}
{{- $img := "/img/404/404.svg" -}}
{{- $alt := "404 not found" -}}
{{- $width := "20%" -}}
{{- $loading := "eager" -}}
{{- $decoding := "async" -}}
{{- $params := dict "img" $img "alt" $alt "width" $width "loading" $loading "decoding" $decoding -}}

<div class="cl-main-content404">
	{{ partial "e/img.html" $params }}
	<h1>
		{{ .Title }}
	</h1>
	<div>
		{{ .Content }}
	</div>
</div>
