{{ partial "e/sass.scss" . }}

	.cl-shortcode-text {
		@include flex-column($align-column-h: stretch, $align-v: space-between);
		margin: 0;
		padding: 0;
		overflow: hidden;
		
		.text {
			@include firstlastchildnomargin();
			flex-grow: 1; /* take all available vertical space in parent */
			
			h2 {
				margin-bottom: 0;
			}
			
			p {
				margin-top: 0.5em;
			}
		}
		

		{{ partial "e/scheme.scss" . }}		
	}
