{{/* <!--
	
	e/blocks-css

	- Finds the name of the blocks bl-* used on the page
	- Calls f/getblockscss.go to retrieve the CSS files with matching names
	- Adds content of CSS files as inline css (directly in <head><style>css here</style></head> )
	
 --> */}}

{{ "<!-- partials/e/blocks-css.html:start -->" | safeHTML }}
<style type="text/css">
	{{- $blocktypes := slice "bodytop" "body" "main" "list" }}
	{{- $blocks := partial "f/getblockscss.go" $blocktypes -}}
	{{- range $blocks -}}
		{{- $resource := printf "css/%s.scss" . -}}
		{{- $css := printf "%s.css" . -}}
		{{- $style := resources.Get $resource | resources.ExecuteAsTemplate $css . | toCSS | resources.Minify }}
		{{- $style.Content | safeCSS -}}
	{{- end -}}
</style>
{{ range $blocks }}
	{{ (printf "<!-- inlined: %s.scss -->" .) | safeHTML }}
{{ end }}
{{ "<!-- partials/e/blocks-css.html:end -->" | safeHTML }}
