{{ "<!-- partials/head/css.html:start -->" | safeHTML }}

{{ "<!-- Critical CSS -->" | safeHTML }}
<style type="text/css">
	{{- $variables := resources.Get "css/variables.scss" | resources.ExecuteAsTemplate "variables.css" . | resources.ToCSS | resources.Minify -}}
	{{- $variables.Content | safeCSS -}}
	{{- $critical := resources.Get "css/critical.scss" | resources.ExecuteAsTemplate "critical.css" . | resources.ToCSS | resources.Minify -}}
	{{- $critical.Content | safeCSS -}}
	{{- $navbar := resources.Get "css/navbar.scss" | resources.ExecuteAsTemplate "navbar.css" . | resources.ToCSS | resources.Minify -}}
	{{- $navbar.Content | safeCSS -}}
</style>

{{ "<!-- Typography -->" | safeHTML }}
<style type="text/css">
	{{- $typography := resources.Get "css/typography.css" | resources.Minify -}}
	{{- $typography.Content | safeCSS -}}	
</style>

{{ "<!-- FontAwesome -->" | safeHTML }}
<style>
	{{- $fontawesome := resources.Get "css/fontawesome.css" | resources.Minify -}}
	{{- $fontawesome.Content | safeCSS -}}
	{{- $fontawesome := resources.Get "css/fontawesome.scss" | resources.ToCSS | resources.Minify -}}
	{{- $fontawesome.Content | safeCSS -}}
</style>

{{ "<!-- partials/head/css.html:end -->" | safeHTML }}
