{{ define "main" }}
	{{ "<!-- team:list.html:main:start -->" | safeHTML }}
	{{ partial "page-hero.html" . }}
	{{ partial "inserts-top.html" . }}
	{{ partial "page-content.html" . }}
	<section id="team-members">
	     <div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">
					{{ $scratch := newScratch }}
					{{ $scratch.Set "pl" .RelPermalink }}
				    {{- $paginator := .Paginate (.Pages) 1000 }}
					{{- range .Pages.ByWeight }}
	           			<div class="col-xs-12 col-sm-4 col-lg-3 teambox">
			   				<a href="{{ .RelPermalink }}" class="people-box">
			   					<img src="{{ .Params.picture }}" class="people-box-image" alt="">	
			   					<div class="people-box-caption">
			   						<div class="people-box-caption-content">
			   							<h2 class="people-name">{{ .Params.name }}<br />
			   								<small>{{ .Params.position }}</small>
			   							</h2>
			   						</div>
			   					</div>
			   				</a>
			   			</div>
					{{ end}}
		        </div> <!--end col -->
	        </div> <!--end row-->
	    </div>
	</section>
	{{ partial "inserts-bottom.html" . }}
	{{ "<!-- team:list.html:main:end -->" | safeHTML }}
{{ end }}