{{ define "main" }}
	{{ "<!-- team:list.html:main:start -->" | safeHTML }}
	{{ partial "b/page-content-home.html" . }}
	<section id="team-members">
		<div class="layout-content">
		 	<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-justify-start flex-gap">
				{{- range .Pages.ByWeight }}
				<a href="{{ .RelPermalink }}" class="flex-child flex-child-33p flex-parent flex-parent-column flex-align-center paddingv-small">
						<img src="{{ add .RelPermalink "thumbnail.jpg" }}" alt="{{ .Params.name }}" class="teammember-img">	
						<h2 class="teammember-name">{{ .Params.name }}</h2>
						<p class="teammember-title">{{ .Params.position }}</p>
				</a>
				{{- end}}
			</div> <!--end col -->
		</div>
	</section>
	{{ "<!-- team:list.html:main:end -->" | safeHTML }}
{{ end }}