{{- define "head" }}
	{{ "<!-- team:single.html:head:start -->" | safeHTML }}
	{{/* <!-- use Person schema for team member page --> */}}
	{{- partial "schema/person.html" . }}
	{{ "<!-- team:single.html:head:end -->" | safeHTML }}
{{- end }}

{{/* <!-- no hero for single team page --> */}}

{{- define "main" }}
	{{ "<!-- team:single.html:main:start -->" | safeHTML }}
	<section id="team-member" class="layout-content">
	  <div class="flex-parent flex-parent-row flex-column-ontall">
	    <div class="flex-child-33p">  		
				{{ with .Params -}}
					<img src="{{ .picture }}" class="style-photograph" alt="{{ .name }}">
				{{- end }}
		  </div>
		  <div class="flex-child-67p flex-child-text-right flex-child-img-notfullwidth">
				<h1>{{ .Params.name }}</h1>
				<p class="style-person-title">{{ .Params.position }}</p>
				{{ with .Content }}{{ . | markdownify }}{{ end }}
		  </div>
	  </div>      
	</section>
	{{ "<!-- team:single.html:main:end -->" | safeHTML }}
{{- end }}