{{ define "head" }}
	{{ "<!-- team/single.html:head:start -->" | safeHTML }}
	{{/* <!-- use Person schema for team member page --> */}}
	{{ partial "schema/person.html" . }}
	{{ "<!-- team/single.html:head:end -->" | safeHTML }}
{{ end }}

{{ define "main" }}
	{{ "<!-- team/single.html:main:start -->" | safeHTML }}
	{{ partial "b/page-breadcrumbs.html" page }}
	{{ block "page-content" . }}{{ end }}
	{{ "<!-- team/single.html:main:end -->" | safeHTML }}
{{ end }}

{{ define "page-content" }}
	{{ "<!-- team/single.html:page-content:start -->" | safeHTML }}
	{{ partial "b/page-content-team-single.html" . }}
	{{ "<!-- team/single.html:page-content:end -->" | safeHTML }}
{{ end }}
