{{ "<!-- team:single -->" | safeHTML }}
{{ partial "single-top-common.html" . }}
    {{ partial "page-hero.html" . }}
    <main>
		<section id="content-main">
		    <div class="container paddingv-large">
		        <div class="row">        
		        	<div class="col-xs-10 col-xs-offset-1">
						{{ with .Content }}{{ . | markdownify }}{{ end }}	
			        </div>
			    </div>
		    </div>
		</section>
	    {{ partial "team.html" . }}
	</main>
	<aside>
	    {{ partial "contact.html" . }}
	</aside>
{{ partial "single-bottom-common.html" . }}
