<section id="team-member-list" class="pages-team">
	<div class="cl-critical--content-width">
		<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-parent-justify-start flex-parent-gap">
			{{ range .Pages.ByWeight }}
				<a href="{{ .RelPermalink }}" class="flex-child flex-child-33p flex-parent flex-parent-column flex-parent-align-center paddingv-small">
					<img src="{{ add .RelPermalink "thumbnail.jpg" }}" alt="{{ .Params.name }}" class="cl-pages-team--img" width="100px" height="100px">	
					<h2 class="cl-pages-team--name">{{ .Params.name }}</h2>
					<p class="cl-pages-team--title">{{ .Params.position }}</p>
				</a>
			{{ end}}
		</div>
	</div>
</section>
