{{ "<!-- _default:baseof.html:start -->" | safeHTML }}
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">	
    <head>
		{{- block "head" . }}
			{{/* <!-- page specific head info, for example a common schema --> */}}
		{{- end }}
        {{- partial "head.html" . }}
	</head>
    <body id="body" class="layout-page">		
		{{- block "navbar" . }}{{ partial "page-navbar.html" . }}{{- end }}		
		{{- block "hero" . }}{{ partial "page-hero.html" . }}{{- end }}
		{{- block "breadcrumbs" . }}	{{ partial "page-breadcrumbs.html" . }}{{- end }}
		{{- block "main" . }}{{ partial "page-main.html" . }}{{- end }}
		{{- block "aside" . }}{{ partial "page-aside.html" . }}{{- end }}
		{{- block "footer" . }}{{ partial "page-footer.html" . }}{{- end }}
		{{- block "javascript" . }}{{ partial "page-js.html" . }}{{- end }}
	</body>
</html>
{{ "<!-- _default:baseof.html:end -->" | safeHTML }}
