{{/* <!-- 
 	link-picture1-text2 shortcode
 	
	1/3 image on the left, 2/3rd text on the right, with link

	Example:
 	{{% link-picture1-text2 link="/presentations-training/the-business-presentation-revolution/" title="Training" picture="/presentations-training/the-business-presentation-revolution/thumbnail.jpg" %}}Our flagship presentation training course, delivered in person or online.{{% /link-picture1-text2 %}}	
	
 --> */}}

{{ "<!-- partials:inserts:link-picture1-text2.html:start -->" | safeHTML }}
<div class="layout-module-content {{ partial "f/getstyle" . }}">
	<div class="flex-parent flex-row flex-parent-column-reverse-ontall">
    	<div class="flex-child 40p flex-child-image-left">
			{{ partial "e/link-picture.html" . }}
    	</div>
		<div class="flex-child 60p flex-child-text-right">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
		</div>
    </div>
</div>
{{ "<!-- partials:inserts:link-picture1-text2.html:end -->" | safeHTML }}