{{ "<!-- partials:inserts:module-picture-textleft.html:start -->" | safeHTML }}
<div class="layout-module module-text-left-image-right">
	<div class="layout-module-content module-text-left-image-right text {{ partial "f/getstyle" . }}" {{ with .Params.bgcolor }}style="background-color : {{ . }};"{{ end }}>
		{{ partial "e/link-title-description.html" . }}
		{{ partial "e/button-secondary-text-only.html" . }}
	</div>
	<div class="layout-module-content module-text-left-image-right image {{ partial "f/getstyle" . }}" {{ with .Params.bgcolor }}style="background-color : {{ . }};"{{ end }}>
		{{ partial "e/link-picture.html" . }}
	</div>
</div>
{{ "<!-- partials:inserts:module-picture-textleft.html:end -->" | safeHTML }}