{{ "<!-- partials:inserts:module-image-back-text-over.html:start -->" | safeHTML }}
<div class="layout-module module-image-back-text-over {{ if eq .halfwidth true }}halfwidth{{ end }}">
	<div class="layout-module-content module-image-back-text-over image {{ partial "f/getstyle" . }}">
		{{ partial "e/link-picture.html" . }}
	</div>
	<div class="layout-module-content module-image-back-text-over text {{ partial "f/getstyle" . }}">
		{{ partial "e/link-title-description.html" . }}
		{{ partial "e/button-secondary.html" . }}
	</div>
</div>
{{ "<!-- partials:inserts:module-image-back-text-over.html:end -->" | safeHTML }}