<!-- Page specific non-critical CSS -->
{{ $blocktypes := slice "bodylazy" "bodybottom" }}
{{- $blocks := partial "f/getblockscss.go" $blocktypes -}}
{{- range $blocks -}}
	{{- $resource := printf "css/%s.scss" . -}}
	{{- $css := printf "%s.css" . -}}
	{{- $style := resources.Get $resource | resources.ExecuteAsTemplate $css . | toCSS | minify }}
	<link rel="preload" href="{{ $style.RelPermalink }}" as="style" type="text/css" onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css">
	</noscript>
{{- end -}}

<!-- Standard non-critical CSS more.css -->
{{ $more := resources.Get "css/more.scss" | resources.ExecuteAsTemplate "more.css" . | toCSS | minify }}
<link rel="preload" href="{{ $more.RelPermalink }}" as="style" type="text/css" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
	<link rel="stylesheet" href="{{ $more.RelPermalink }}" type="text/css">
</noscript>		

<!-- contact form event handler -->
<script type="text/javascript">
	
	// add event listener to form
	document.getElementById("ioscontactForm").addEventListener("submit", submitForm);
	
	function submitForm(event) {
		// prevent normal behaviour (immediate submit)
		event.preventDefault();
		
		// declare variables
		const myForm = event.target;
		const formData = new FormData(myForm);
		let submitButton = document.getElementById("contactsubmit");
		let successMessage = submitButton.getAttribute("success");
		
		// send data to server
		fetch(
			"/",
			{
				method: "POST",
				headers: { "Content-Type": "application/x-www-form-urlencoded" },
				body: new URLSearchParams(formData).toString(),
			}
		)
		.then(
			// display success dialog
			alert(successMessage)
		)
		.catch(
			// display error dialog
			(error) => alert(error)
		);
		
		// change aspect of submit button
		submitButton.setAttribute("value", successMessage);
		submitButton.setAttribute("disabled", true);
		submitButton.style.background = "#888";
	}

</script>

<!-- fuse.js - used for search -->
{{ $jsfuse := resources.Get "js/fuse.js" | minify }}
<script async type="module" src="{{ $jsfuse.RelPermalink }}"></script>

<!-- fastsearch.js - used for search -->
{{ $jsfs := resources.Get "js/fastsearch.js" | minify }}
<script async type="module" src="{{ $jsfs.RelPermalink }}"></script> 
