<aside>
	<section id="contact" class="cl-contact-form">		
		<h2>
			{{ with .Params.contact.title }}
				{{ . | markdownify }}
			{{ else }}
				{{ site.Params.contact.title | markdownify }}
			{{ end }}
		</h2>
		<p>
			{{ with .Params.contact.subtitle }}
				{{ . | markdownify }}
			{{ else }}
				{{ site.Params.contact.subtitle | markdownify }}
			{{ end }}
		</p>
		
		<form action="{{ .RelPermalink }}" method="POST" netlify netlify-honeypot="bot-field" name="contactForm" id="ioscontactForm" class="cl-form">
			
			<input type="hidden" name="_subject" value="Form sent from page: {{ .Permalink }}">
			
			<input type="text" id="fname" name="name" class="cl-form--field" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ .  | markdownify }}{{ end }}" oninvalid="alert('{{ with .Site.Params.contact.form.name.warning  }}{{ .  | markdownify }}{{ end }}');" required>
			
			<input type="email" id="email" name="email" class="cl-form--field" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . | markdownify }}{{ end }}" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"oninvalid="alert('{{ with .Site.Params.contact.form.email.warning }}{{ .  | markdownify }}{{ end }}');" required>
			
			<input type="tel" id="phone" name="phone" class="cl-form--field" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . | markdownify }}{{ end }}" pattern="^[0-9-+\s()]*$" oninvalid="alert('{{ with .Site.Params.contact.form.phone.warning  }}{{ .  | markdownify }}{{ end }}');">
			
			<input type="text" id="country" name="country" class="cl-form--field" placeholder="{{ with .Site.Params.contact.form.country.text }}{{ .  | markdownify }}{{ end }}" oninvalid="alert('{{ with .Site.Params.contact.form.country.warning  }}{{ .  | markdownify }}{{ end }}');">
			
			<textarea id="message" name="message" class="cl-form--field" placeholder="{{ with .Site.Params.contact.form.message.text }}{{ . | markdownify }}{{ end }}" oninvalid="alert('{{ with .Site.Params.contact.form.message.warning }}{{ .  | markdownify }}{{ end }}');" required></textarea>
			
			<input type="submit" id="contactsubmit" value="{{ with .Site.Params.contact.buttonText }}{{ . | markdownify }}{{ end }}" class="cl-core--button-primary" success="{{ with .Site.Params.contact.success }}{{ . }}{{ end }}" wait="{{ with .Site.Params.contact.wait }}{{ . }}{{ end }}">
			
		</form>
			
	</section>
</aside>
