<footer id="footer" class="cl-footer">
	<ul>
		{{ range site.Params.footer.categories }}
			<li>
				{{ .name }}
				<ul class="items">
					{{ range .items }}
						<li>
							<a href="{{ .url }}">
								{{ .name }}
							</a>
						</li>
					{{ end }}
				</ul>
			</li>
		{{ end }}
	</ul>
	<p class="text">
		{{ with site.Params.footer.copyright }}{{ . }}{{ end }} {{ now.Year }}. 
		{{ with site.Params.footer.rights }}{{ . }}{{ end }}<br />
		{{ with site.Params.footer.cookies }}{{ . | markdownify }}{{ end }}</br>
		{{ with site.Params.footer.text }}{{ . | markdownify }}{{ end }}
	</p>
</footer> 
