{{/* <!--
	
	body-h1revolution.html

	Generates the HTML for a hero with the newest revolution video.
	
	Arguments:
	- page object
	
--> */}}

{{/* <!-- generate hero with newest video --> */}}
<section id="highlight" class="cl-body-h1revolution" style="background-color:rgba(0,0,0,.3);">
	{{ range (first 1 .Pages) }}
	<div class="img">
		<img src="{{ .RelPermalink }}image.jpg" alt="{{ .Title }}">
	</div>
	
	<div class="overlay">
	</div>
	
	<div class="text">
		<a href="{{ with .RelPermalink }}{{ . }}{{ end }}" class="cl-core--a-underline-none">
			<h2>
						{{ with .Title }}{{ . }}{{ end }}
			</h2>
		</a>
		{{ partial "e/button-secondary.html" (dict "button" page.Params.more "link" .RelPermalink) }}
	</div>
	{{ end }}
</section>
