{{/* <!--
	
	body-cta.html

	Generates a call to action similar to a hero with a button.
	A data file containing the cta details must exist in /data/ctas
	
	CTAs and heros have a similar appearance,
	however CTAs have a h2 title, heros have a h1 title.
	
	Arguments:
	- page object where the front matter has:
		- body-cta-data: "cta data file" as string
		  A data file matching "cta data file" must exist in /data/ctas
	
	Example:
		- Page front matter: body-cta-data: "my-narcissic-new-book"
		- Data file: /data/ctas/my-narcissic-new-book.yaml
	
--> */}}

{{- $data := partial "f/getdatalocalized" (slice . "body-cta") -}}
{{/* <!-- add loading and decoding img attributes to data --> */}}
{{- $data = merge $data (dict "loading" "eager" "decoding" "async") -}}

{{/* <!-- check if body-cta-data parameter exists in page front matter --> */}}
{{- with $data -}}
<div id="call-to-action" class="cl-body-cta">
	{{/* <!-- cta picture --> */}}
	<div class="img">
		{{ partial "e/img.html" . }}
	</div>
	
	<div class="overlay">
	</div>
	
	<div class="text">
		{{/* <!-- cta title --> */}}
		{{- with .title -}}
			<h2>
				{{ . | markdownify }}
			</h2>
		{{- end -}}
		
		{{/* <!-- cta description --> */}}
		{{- with .description -}}
			<p>
				{{ . }}
			</p>
		{{- end -}}
		
		{{/* <!-- cta button --> */}}
		{{- with .button -}}
			<a href="{{ .link }}" class="cl-core--button-primary">
				{{ .text }}
			</a>
		{{- end -}}
	</div>
	
</div>
{{- else -}}
	{{ partial "e/html-comment.html" "SKIPPED: no page.Params.body-cta-data" }}
{{- end -}}
