{{/* <!--
	
	body-h1hero.html

	Generates the HTML for a hero if a hero picture exists,
	else generates a standard title.
	To know how the hero picture is retrieved, check the "f/getheropicturepath.go" function.
	
	Arguments:
	- page object
	
--> */}}

{{/* <!-- try to get hero picture --> */}}
{{ $hero := partial "f/getheropicturepath.go" . }}
{{ if $hero }}
	{{/* <!-- create hero --> */}}
	<header id="hero" class="cl-body-h1hero--hero">
		{{ $srcset := partial "f/getpicturesrcset.go" $hero }}
		<img loading="eager" decoding="async" src="{{ collections.Index $srcset 0 }}" srcset="{{ collections.Index $srcset 1 }}" {{ with .Title }}alt="{{ . }}"{{ end }}>
		{{ with .Title }}
			<h1>
				{{ . | markdownify }}
			</h1>
		{{ else }}
			{{ partial "e/html-comment.html" "skipped: h1: no .Title for hero" }}
		{{ end }}
		
		{{ partial "e/logobar.html" . }}
	</header>
{{ else if .Title }}
	{{/* <!-- create standard title --> */}}
	<header id="title" class="cl-body-h1hero--title">
		<h1>
			{{ with .Title }}{{ . | markdownify }}{{ end }}
		</h1>
	</header>
{{ else }}
	{{ partial "e/html-comment.html" "WARN: skipped: h1: no hero picture (hero.jpg or .Params.picture) and no .Title" }}
{{ end }}
