{{/* <!--
	
	body-referencesgrid.html

	Generates the HTML with a grid of logos from client references.
	
	Arguments:
	- page object where the front matter contains a "dt-body-referencesgrid" parameter
	  with the list of files in /data/references
	
	Example:
	- dt-body-referencesgrid: [ "list", "of", "references", "data", "files" ]

--> */}}
{{ $data := partial "f/getdatalocalized" (slice . "body-references") }}
{{ with $data }}
	<section id="reference-list" class="cl-referencesgrid">
		{{ range . }}
			{{ $srcset := partial "f/getimgsrcset.go" .picture }}
			<img
				src="{{ collections.Index $srcset 0 }}"
				srcset="{{ collections.Index $srcset 1 }}"
				sizes="(1200px > width >= 720px) 1200px, (720px > width ) 720px, 2400px"
				{{ with .client }}alt="{{ . }}"{{ end }}
				height="100" width="100" />
		{{ end }}
	</section>
{{ else }}
	{{ partial "e/html-comment.html" "INFO: skipped: references: no .Params.dt-body-referencesgrid" }}
{{ end }}
