{{/* <!--
	
	body-carousel.html

	Generates the HTML for a carousel with multiple items displayed horizontally.
	A carousel should have at least 4 items to look "right".
	
	Arguments:
	- page object
	  The page object must have a dt-body-carousel front matter argument
	  The dt-body-carousel has two properties:
	  - .title is the title of the carousel
	  - .data is the list of /data/carousels files containing the carousel items
	
	Example:
	Page front matter:
	dt-body-carousel:
	  title: "My super carousel"
	  data: [ "item1", "item2", "item3", "item4" ]
	
	/data/carousels files:
	- item1.yaml
	- item2.yaml
	- item3.yaml
	- item4.yaml
	Each file should have an entry for the site language
	Check the /data/carousels files for examples.
	
--> */}}

{{ $data := index .Params "dt-body-carousel" }}
{{ with $data }}
	<section id="carousel" class="cl-body-carousel">
		
		<h3>{{ .title }}</h3>
		
		<ul class="cl-body-carousel--carousel">
			
			{{ range .data }}
				{{ $data := index site.Data.carousels . }}
				{{ if $data }}
					{{ $localizeddata := partial "f/getlocalizeddata" $data }}
					{{ with $localizeddata }}
					<li class="cl-body-carousel--item">
						<div class="text">
							<a href="{{ partial "f/geturl.go" . }}">
								{{ with .title }}
									<h4>
										{{ . }}
									</h4>
								{{ end }}
								{{ with .description }}
									<p>
										{{ . }}
									</p>
								{{ end }}
							</a>
							{{ partial "e/button-secondary" . }}
						</div>
						<a href="{{ partial "f/geturl.go" . }}">
							{{ if .img }}
								{{ $srcset := partial "f/getpicturesrcset.go" .img }}
								<img src="{{ collections.Index $srcset 0 }}" loading="lazy" srcset="{{ collections.Index $srcset 1 }}" alt="{{ .name }}">
							{{ end }}
						</a>
					</li>
					{{ end }}
				{{ end }}
			{{ end }}
			
			<li class="cl-body-carousel--space">
				<p>&nbsp;</p>
			</li>
			
		</ul>
		
	</section>
{{ else }}
	{{ partial "e/html-comment.html" "skipped: carousel: no page.Params.dt-body-carousel" }}
{{ end }}
