{{/* <!--
	
	body-h1.html

	Generates the HTML for a hero if a hero picture exists,
	else generates a standard title.
	To know how the hero picture is retrieved, check the "f/getheropicturepath.go" function.
	
	Arguments:
	- page object
	
--> */}}

{{/* <!-- try to get hero picture --> */}}
{{- $hero := partial "f/getheropicturepath.go" . -}}
{{- if $hero -}}
	{{/* <!-- create hero --> */}}
	<header id="title" class="cl-body-h1--hero">
		{{- $srcset := partial "f/getimgsrcset.go" $hero -}}
		<img
			loading="eager"
			decoding="async"
			src="{{ collections.Index $srcset 0 }}"
			srcset="{{ collections.Index $srcset 1 }}"
			sizes="(1200px > width >= 720px) 1200px, (720px > width ) 720px, 2400px"
			{{ with .Title }}alt="{{ . }}"{{ end }}>
			
		<div class="text">
			{{/* <!-- hero title --> */}}
			{{- with .Title -}}
			<h1>
				{{ . | markdownify }}
			</h1>
			{{- end -}}
			
			{{/* <!-- cta description --> */}}
			{{- with .Params.description -}}
			<p>
				{{ . }}
			</p>
			{{- end -}}
			
			{{/* <!-- cta button --> */}}
			{{- with .Params.button -}}
			<a href="{{ .link }}" class="cl-core--button-primary">
				{{ .text }}
			</a>
			{{- end -}}
		</div>
		
		{{ partial "e/logobar.html" page }}
		
	</header>
{{- else if .Title -}}
	{{/* <!-- create standard title --> */}}
	<header id="title" class="cl-body-h1--title">
		{{- with .Title -}}
		<h1>
			{{ . | markdownify }}
		</h1>
		{{- end -}}
	</header>
{{- else -}}
	<p class="error">ERROR: front matter missing .Title</p>
{{- end -}}
