{{/* <!--
	
	body-h1revolution.html

	Generates the HTML for a hero with the newest revolution video.
	
	Arguments:
	- page object
	
--> */}}

{{/* <!-- generate hero with newest video --> */}}
<section id="highlight" class="cl-body-h1revolution" style="background-color:rgba(0,0,0,.3);">
	{{ range (first 1 .Pages) }}	
		<img src="{{ .RelPermalink }}image.jpg" alt="{{ .Title }}">
			<a href="{{ with .RelPermalink }}{{ . }}{{ end }}">
		<h2>
					{{ with .Title }}{{ . }}{{ end }}
		</h2>
			</a>
		{{ partial "e/button-secondary.html" (dict "button" page.Params.more "link" .RelPermalink) }}
	{{ end }}
</section>
