{{/* <!--
	
	body-cta.html

	Generates a call to action similar to a hero with a button.
	A data file containing the cta details must exist in /data/ctas
	
	Arguments:
	- page object where the front matter has:
		- body-cta-data: "cta data file" as string
		  A data file matching "cta data file" must exist in /data/ctas
	
	Example:
		- Page front matter: body-cta-data: "my-narcissic-new-book"
		- Data file: /data/ctas/my-narcissic-new-book.yaml
	
--> */}}

{{- $data := partial "f/getdatalocalized" (slice . "body-cta") -}}

{{/* <!-- check if body-cta-data parameter exists in page front matter --> */}}
{{- with $data -}}
<header id="call-to-action" class="cl-body-cta" {{ with .opacity }}style="background-color:rgba(0,0,0,.{{ . }});"{{ end }}>
	{{/* <!-- cta picture --> */}}
	{{- $picture := printf "img/cta/%s" .picture -}}
	{{- $srcset := partial "f/getimgsrcset.go" $picture -}}
	{{- $sizes := "(1200px > width >= 720px) 1200px, (720px > width ) 720px, 2400px" -}}
	<img
		loading="eager"
		decoding="async"
		src="{{ collections.Index $srcset 0 }}"
		srcset="{{ collections.Index $srcset 1 }}"
		sizes="{{ $sizes }}"
		alt="{{ .title }}">
	
	<div class="main">
		{{/* <!-- cta title --> */}}
		{{ with .title }}
			<h2>
				{{ . | markdownify }}
			</h2>
		{{ end }}
		
		{{/* <!-- cta description --> */}}
		{{ with .description }}
			<p>
				{{ . }}
			</p>
		{{ end }}
		
		{{/* <!-- cta button --> */}}
		{{ with .button }}
			<a href="{{ .link }}" class="cl-core--button-primary">
				{{ .text }}
			</a>
		{{ end }}
	</div>
	
	{{ partial "e/logobar.html" page }}
</header>
{{- else -}}
	{{ partial "e/html-comment.html" "skipped: cta: no page.Params.body-cta-data" }}
{{- end -}}
