{{/* <!--
	
	body-carousel.html

	Generates the HTML for a carousel with multiple items displayed horizontally.
	A carousel should have at least 4 items to look "right".
	
	Arguments:
	- page object with the following front matter properties:
	  body-body-carousels-data: [ "list", "of", "body-carousel", "data", "files" ]
	  body-carousel-title: "title of the carousel"

	Example:
	Page front matter:
	body-carousel-title: "My super carousel"
	body-body-carousels-data: [ "item1", "item2", "item3", "item4" ]
	
	/data/carousels files:
	- item1.yaml
	- item2.yaml
	- item3.yaml
	- item4.yaml
	Each file should have an entry for the site language
	Check the /data/body-carousel files for examples.
	
--> */}}

{{ $data := partial "f/getdatalocalized" (slice . "body-carousel") }}
{{ with $data }}
	<section id="carousel" class="cl-body-carousel">
		
		{{ with index page.Params "body-carousel-title" }}
			<h3>{{ . }}</h3>
		{{ end }}
		
		<ul class="cl-body-carousel--carousel">
			
			{{ range . }}
				<li class="cl-body-carousel--item">
					<div class="text">
						<a href="{{ partial "f/geturl.go" . }}">
							{{ with .title }}
								<h4>
									{{ . }}
								</h4>
							{{ end }}
							{{ with .description }}
								<p>
									{{ . }}
								</p>
							{{ end }}
						</a>
						{{ partial "e/button-secondary" . }}
					</div>
					<a href="{{ partial "f/geturl.go" . }}">
						{{ if .img }}
							{{ $srcset := partial "f/getpicturesrcset.go" .img }}
							<img src="{{ collections.Index $srcset 0 }}" loading="lazy" srcset="{{ collections.Index $srcset 1 }}" alt="{{ .name }}">
						{{ end }}
					</a>
				</li>
			{{ end }}
			
			<li class="cl-body-carousel--space">
				<p>&nbsp;</p>
			</li>
			
		</ul>

	</section>
{{ else }}
	{{ partial "e/html-comment.html" "skipped: body-carousel: no page.Params.body-body-carousels-data or missing localized data" }}
{{ end }}
