{{/* <!--
	
	body-sidebar-main.html

	Generates the HTML with the side: and main: blocks declared in /data/layouts.
	If there are no side: blocks, that part is ignored and the layout is adapted.
	
	Arguments:
	- page object
	
--> */}}

<main class="cl-body-sidebar-main">
	{{- if partial "f/getblocks.go" "side" -}}
	<aside id="sidebar" class="sidebar">
		{{ partial "e/blocks" (slice "side") }}
	</aside>
	{{- else -}}
		{{ partial "e/html-comment.html" "skipped: sidebar: no elements to show" }}
	{{- end -}}
	<article id="article" class="article">
		{{ partial "e/blocks" (slice "main") }}
	</article>
</main>
