{{ define "hero" }}
	{{ partial "page-hero.html" . }}
{{ end }}
{{ define "main" }}
	{{ "<!-- guides:single.html:main:start -->" | safeHTML }}
	<div class="layout-content">
		<div class="flex-parent-row flex-column-reverse-ontall">
			<aside id="content-table" class="flex-child-33p layout-sticky flex-hide-ontall">
				<div class="scroller">
					<h2>{{ site.Params.tableofcontents }}</h2>
					{{- with .TableOfContents }}{{ . }}{{ end }} 
				</div>
			</aside>
			<article id="content-main" class="flex-child-67p">
				<p>{{- with .Summary }}{{ . }}{{ end }}</p> 
				<h2>{{ site.Params.tableofcontents }}</h2>
				{{- with .TableOfContents }}{{ . }}{{ end }} 
				{{- with .Content }}{{ . }}{{ end }} 
			</article>
		</div>
	</div>
	{{ "<!-- guides:single.html:main:end -->" | safeHTML }}
{{ end }}
