{{ define "main" }}
	{{ "<!-- revolution:list.html:start -->" | safeHTML }}
	{{ partial "b/page-title.html" . }}
	{{ $content := .Content }}
	{{ range first 1 .Pages }}	
		{{/* <!-- generate hero with newest video --> */}}
		<section id="highlight">
			<div class="layout-module-hero">
				<div class="layout-module-layer">
					<img src="{{ .RelPermalink }}image.jpg">
				</div>
				<div class="layout-module-layer">
					<div class="flex-parent flex-parent-column">
						<div class="flex-child-text text-center">
							<a href="{{ with .RelPermalink }}{{ . }}{{ end }}">
								<h2 class="text-white">{{ with .Title }}{{ . }}{{ end }}</h2>
							</a>
							<a href="{{ with .RelPermalink }}{{ . }}{{ end }}" class="button-secondary">
								{{ with $.Site.Params.revolution.more }}{{ . }}{{ end }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	{{ end }}
	<div class="layout-content">
		<div class="flex-parent flex-parent-row paddingt-none paddingb-medium">
			<div class="layout-module-column-text style-module-text ">	
				{{ with .Content }}{{ . | markdownify }}{{ end }}
			</div>
			<div class="flex-parent flex-parent-row paddingt-none paddingb-none flex-justify-space-around">
				<div class="flex-child revolution-social">
					<a href="https://www.youtube.com/user/IdeasOnStage/videos"><img src="youtube.svg" alt="youtube"><br>YouTube</a>
				</div>
				<div class="flex-child revolution-social">
					<a href="https://itunes.apple.com/fr/podcast/the-business-presentation-revolution/id1450141706?l=en&mt=2"><img src="itunes.svg" alt="iTunes"><br>iTunes</a>
				</div>
				<div class="flex-child revolution-social">
					<a href="https://www.linkedin.com/company/ideas-on-stage/"><img src="linkedin.svg" alt="linkedin"><br>Linkedin</a>
				</div>
			</div>
		</div>
		<div class="flex-parent flex-parent-row paddingv-medium">
			<h2 class="centered">{{ .Site.Params.revolution.episodes }}</h2>		
		</div>
		<div class="flex-parent flex-parent-row paddingv-medium">
			{{ $scratch := newScratch }}
			{{ $scratch.Set "first" "true" }}
			{{ $scratch.Set "content" .Content }}
			{{ range (where .Site.RegularPages "Type" "revolution") }}
				{{ if (eq ($scratch.Get "first") "true") }}
					{{ $scratch.Set "first" "false" }}
				{{ else }}
					<a class="revolution-box" href="{{ .RelPermalink }}">
						<div class="revolution-thumb-frame">
							<div class="revolution-thumb">
								<img src="{{ .RelPermalink }}thumbnail.jpg" class="img-responsive" alt="">
							</div>
							<div class="revolution-overlay">
								<div class="revolution-overlay-title">
									{{ .Title }}
								</div>
							</div>
						</div>
						
						<div class="revolution-summary">
							<p>
								{{ .Description }}
							</p>
						</div>
					</a>
				{{ end }}
			{{ end }}
		</div>
	</div>
	
	{{ "<!-- revolution:list.html:end -->" | safeHTML }}
{{ end }} 