{{/* <!-- define "main" to override default "main" in _default/baseof.thml --> */}}

	{{ define "main" }}
		{{ "<!-- revolution/section.html:main:define:start -->" | safeHTML }}
		{{ template "page-title" . }}
		{{ template "page-list" . }}
		{{ "<!-- revolution/section.html:main:define:end -->" | safeHTML }}
	{{ end }}



{{/* <!-- define elements to override default elements in _default/baseof.html --> */}}

	{{ define "head-css" }}
		{{ "<!-- revolution/section.html:head-css:define:start -->" | safeHTML }}
		{{ partial "b/head-css.html" . }}
		<style>
			{{ $cta := resources.Get "cta.scss" | resources.ExecuteAsTemplate "cta.css" . | resources.ToCSS | resources.Minify }}
			{{ $cta.Content | safeCSS }}
		</style>
		{{ $revolution := resources.Get "revolution.scss" | resources.ExecuteAsTemplate "revolution.css" . | resources.ToCSS | resources.Minify }}
		<link rel="stylesheet" href="{{ $revolution.RelPermalink }}">
		{{ "<!-- revolution/section.html:head-css:define:end -->" | safeHTML }}
	{{ end }}
	
	{{ define "page-list" }}
		{{ "<!-- revolution/section.html:page-list:define:start -->" | safeHTML }}
		{{ partial "b/page-list-revolution.html" . }}
		{{ "<!-- revolution/section.html:page-list:define:end -->" | safeHTML }}
	{{ end }}