{{ "<!-- _default:baseof.html:start -->" | safeHTML }}
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
		{{- block "head" . }}
			{{/* <!-- page specific head info, for example a common schema --> */}}
		{{- end }}
        {{- partial "head.html" . }}
	</head>
    <body id="page-top" class="layout-page">
		{{ partial "page-nav.html" . }}
		<main role="main">
			{{ block "hero" . }}
			{{ end }}
		{{ partial "page-breadcrumbs.html" . }}
		<div class="layout-module-wrapper">
				{{ partial "page-inserts-top.html" . }}
				{{ block "main" . }}
				{{ end }}
				{{ partial "page-inserts-bottom.html" . }}
			</div>
		</main>
		<aside>
	        {{ partial "page-testimonials.html" . }}
	        {{ partial "page-contact.html" . }}
	    </aside>
		{{ partial "page-breadcrumbs.html" . }}
		<footer>
	        {{ partial "page-footer.html" . }}			
	        {{ partial "page-js.html" . }}
	        {{- if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
	            {{ partial "page-search.html" . }}
	        {{- end }}
		</footer>
    </body>
</html>
{{ "<!-- _default:baseof.html:start -->" | safeHTML }}
