{{ "<!-- _default/baseof.html:start -->" | safeHTML }}
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	
	<head>
		{{ partial "head.html" . }}
		{{ block "head-custom" . }}
			{{/* <!-- page specific head info, for example a common schema --> */}}
		{{ end }}
	</head>
	
	<body id="page-top" class="layout-page">
		{{ partial "page-nav.html" . }}
		<main id="main" role="main">
			{{ range page.Params.blocks }}
				
				{{/* <!-- if .blocks defined in Params, then use it to define page layout --> */}}
				{{ if eq .type "data-cta" }}
					{{/* <!-- call to action block --> */}}
					{{ template "data-cta" . }}
				{{ else if eq .type "data-module-list" }}
					{{/* <!-- module list block --> */}}
					{{ template "data-module-list" . }}
				{{ else if eq .type "data-reference-list" }}
					{{/* <!-- reference list block --> */}}
					{{ template "data-reference-list" . }}
				{{ else if eq .type "data-testimonial-list" }}
					{{/* <!-- testimonial list block --> */}}
					{{ template "data-testimonial-list" . }}
				{{ else if eq .type "page-breadcrumbs" }}
					{{/* <!-- breadcrumbs block --> */}}
					{{ template "page-breadcrumbs" page }}
				{{ else if eq .type "page-content" }}
					{{/* <!-- content block --> */}}
					{{ template "page-content" page }}
				{{ else if eq .type "page-hero" }}
					{{/* <!-- hero block --> */}}
					{{ template "page-hero" page }}
				{{ else if eq .type "page-list" }}
					{{/* <!-- list block --> */}}
					{{ template "page-list" page }}
				{{ else if eq .type "page-title" }}
					{{/* <!-- title block --> */}}
					{{ template "page-title" page }}
				{{ else if eq .type "site-location" }}
					{{/* <!-- location block --> */}}
					{{ template "site-location" . }}
				{{ else }}
					{{/* <!-- error block --> */}}
					{{ template "error-unknown" . }}
				{{ end }}
				
			{{ else }}
				{{/* <!-- else use default page block order --> */}}
				{{ block "main" page }}
					{{ template "page-title" page }}
					{{ template "page-breadcrumbs" page }}
					{{ template "page-content" page }}
					{{ if page.IsNode }}
						{{ template "page-list" page }}
					{{ end }}
				{{ end }}
				
			{{ end }}
				
			{{ partial "page-contact.html" . }}
			
		</main>
			
		<footer class="footer">
			{{ partial "page-footer.html" . }}
		</footer>
			
		{{ partial "page-js.html" . }}
		
	</body>
	
</html>
{{ "<!-- _default/baseof.html:end -->" | safeHTML }}



{{ define "data-cta" }}
	{{ partial "b/data-cta.html" . }}
{{ end }}					

{{ define "data-module-list" }}
	{{ partial "b/data-module-list.html" . }}
{{ end }}

{{ define "data-reference-list" }}
	{{ partial "b/data-reference-list.html" . }}
{{ end }}
	
{{ define "data-testimonial-list" }}
	{{ partial "b/data-testimonial-list.html" . }}
{{ end }}
	
{{ define "page-breadcrumbs" }}
	{{ partial "b/page-breadcrumbs.html" page }}
{{ end }}
	
{{ define "page-content" }}
	{{ partial "b/page-content.html" page }}
{{ end }}

{{ define "page-hero" }}
	{{ partial "b/page-hero.html" page }}
{{ end }}
	
{{ define "page-list" }}
	{{ if page.IsNode }}
		{{ "<!-- _default/baseof.html:page-list:start -->" | safeHTML }}
		{{ partial "b/page-list" page }}
		{{ "<!-- _default/baseof.html:page-list:end -->" | safeHTML }}
	{{ else }}
		{{ "<!-- _default/baseof.html:error-invalid:start -->" | safeHTML }}
		{{ partial "b/error-invalid.html" . }}
		{{ "<!-- _default/baseof.html:error-invalid:end -->" | safeHTML }}
	{{ end }}
{{ end }}

{{ define "page-title" }}
	{{ "<!-- _default/baseof.html:page-title:define:start -->" | safeHTML }}
	{{ partial "b/page-title.html" page }}
	{{ "<!-- _default/baseof.html:page-title:define:end -->" | safeHTML }}
{{ end }}
	
{{ define "site-location" }}
	{{ partial "b/site-location.html" . }}
{{ end }}

{{ define "error-unknown" }}
	{{ partial "b/error-unknown.html" . }}
{{ end }}
