<!-- _default:list.html is used to build _index.html pages -->
{{ "<!-- _default:list.html -->" | safeHTML }}
{{ partial "single-top-common.html" . }}
	<main>
		{{ with .Params.Itemtype }}<div itemscope itemtype="https://schema.org/{{ . }}">{{ end }}     
        {{ partial "page-hero.html" . }}
		{{ if .Params.Picture }}
			{{ with .Params }}
				{{ partial "insert-fullbleed-picture.html" . }}
			{{ end }}
		{{ end }}
        {{ partial "events-tabs.html" . }}
        {{ partial "content.html" . }}
		{{ partial "pages-list.html" . }}
		{{ if .Params.Itemtype }}</div>{{ end }}		
    </main>
	<aside>
        {{ partial "references.html" . }}
        {{ partial "testimonials_pages.html" . }}
        {{ partial "contact.html" . }}
    </aside>
{{ partial "single-bottom-common.html" . }}
