<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        
        {{ partial "nav.html" . }}
        {{ partial "hero2.html" . }}
         {{ partial "aboutreferences_new.html" . }}
 	    {{ partial "home-services.html" . }}
 	    {{ partial "contact2.html" . }}
 	    {{ partial "about-ios.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
