{{/* <!-- define "main" to override default "main" in _default/baseof.thml --> */}}




{{/* <!-- define elements to override default elements in _default/baseof.html --> */}}

	{{ define "head-meta-desc" }}
		{{ "<!-- _default/section.html:head-meta-desc:define:start -->" | safeHTML }}
		{{ $desc := .Description }}
		{{ if ge .Paginator.PageNumber 2 }}
			{{ $desc = printf "%s | Page %s" .Description (string .Paginator.PageNumber) }}
		{{ end }}
		<meta name="description" property="og:description"  content="{{ $desc }}">
		{{ "<!-- _default/section.html:head-meta-desc:define:end -->" | safeHTML }}
	{{ end }}
