{{ define "main" }}
	{{ "<!-- training:single.html:main:start -->" | safeHTML }}
	<div class="layout-module-content">
		<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-big-gap">
			<aside id="sidebar" class="flex-child flex-child-33p layout-double-sticky">
				<div class="scroller">
					{{ partial "sidebar/sidebar-training.html" . }}
				</div>
			</aside>
			<article id="content-main" class="flex-child flex-child-67p">
				{{ with .Content }}{{ . }}{{ end }}
			</article>
		</div>
	</div>		
  {{ "<!-- training:single.html:main:end -->" | safeHTML }}
{{ end }}
