<!-- _default:single.html is used to build most individual pages -->
{{ "<!-- _default:single -->" | safeHTML }}
<!DOCTYPE html>
{{ "<!-- partials:single-top-common.html -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
		<main>        
			<header id="revolution" class="bg-dark">
			    <div class="header-content">
			    <!--     <div class="header-content-inner">
			            <img src="/pictures/inserts/bpr-header.png" alt="The Business Presentation Revolution" style="width:100%;">
			        </div>
			    -->
			    </div>
			</header>
	        {{ partial "content.html" . }}
    	</main>
		<aside>
	        {{ partial "testimonials_pages.html" . }}
	        {{ partial "contact.html" . }}
	    </aside>
{{ partial "single-bottom-common.html" . }}
