{{/* <!--
	Official Google Structured data type: no
	
	Use product instead of service whenever possible. This "may" allow it to be displayed as a rich snippet in Google's results. Services can be listed as products.
 --> */}}
 {{ "<!-- partials/schema/service.html:start -->" | safeHTML }}
<script type="application/ld+json">
	{
		"@context": "https://schema.org/"
		, "@type": "Service"
		, "name": {{ .Title }}
		, "description": {{ .Params.description }}
		{{ if .Params.picture }}
			, "image": {{ partial "f/getpicturepath.go" . }}
		{{ end }}
		, "brand": {
			"@type": "Brand",
			"name": {{ site.Params.author }}
		}
		, "provider": {{ (partial "schema/properties/organization" .Params.provider) | safeJS }}
		{{ if .Params.Offers }}
			, "offers": [
				{{ $permalink := .Permalink }}
				{{ $counter := 0 }}
				{{ range .Params.offers }}
					{{ if ne 0 $counter }},{{ end }}
					{
						"@type": "Offer",
						"url": {{ $permalink }},
						"priceCurrency": {{ .pricecurrency }},
						"price": {{ .price }},
						"availability": {{ .availability }},
						"seller": {{ (partial "schema/properties/organization" .seller) | safeJS }}
					}
					{{ $counter = add $counter 1 }}
				{{ end }}
			]
		{{ end }}
	}
</script>
{{ "<!-- partials/schema/service.html:end -->" | safeHTML }}
