{{/* <!--
	Official Google rich snippet type: yes
 --> */}}
{{- $permalink := .Permalink }}
{{- range .Params.videoobjects -}}
	{{- $embedurl := .embedurl -}}
	{{- $firstchars := substr $embedurl 0 4 }}
	{{- if ne $firstchars "http" }}
		{{- $embedurl = add "https://www.youtube.com/embed/" $embedurl }}
	{{- end }}
	{{- $thumbnailurl := .thumbnailurl -}}
	{{- $firstchars = substr $thumbnailurl 0 4 }}
	{{- if ne $firstchars "http" }}
		{{- $thumbnailurl = add $permalink $thumbnailurl }}
	{{- end }}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org/"
		, "@type": "VideoObject"
		, "embedUrl": {{ $embedurl }}
		{{ with .starttime }}, "startTime": {{ . }}{{ end }}
		{{ with .endtime }}, "endTime": {{ . }}{{ end }}
		, "description": {{ .description }}
		, "name": {{ .name }}
		, "thumbnailUrl": {{ $thumbnailurl }}
		, "uploadDate": {{ .uploaddate }}
	}
	</script>
{{- end }}
