<section id="references-details" class="cl-main-listreferences--references">
	{{ range .Params.datareferencelist }}
		{{ $data := index site.Data.references . }}
		{{ if $data }}
			{{ $localizeddata := index $data site.LanguageCode }}
			{{ if $localizeddata }}
				{{ if $localizeddata.description }}
					<div class="reference">
						{{ partial "e/picture.html" $localizeddata }}
						<div class="text">
							{{ with $localizeddata.client }}
							<h2>
								{{ . }}
							</h2>
							{{ end }}
							{{ with $localizeddata.title }}
								<p>
									<b>
										{{ . | markdownify }}
									</b>
								</p>
							{{ end }}
							{{ with $localizeddata.description }}
								<p>
									{{ . | markdownify }}
								</p>
							{{ end }}
							{{ with $localizeddata.imgcontent }}
								<img src="{{ . }}">
							{{ end }}
							{{ with $localizeddata.description2 }}
								<p>
									{{ . | markdownify }}
								</p>
							{{ end }}
						</div>
					</div>
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
</section>

<section id="success-stories" class="cl-main-listreferences--stories">
	{{ range .Pages }}
		<div class="story">
			{{ partial "e/picture" . }}
			<div class="text">
				{{ with .Params.client }}
					<h2>
						{{ . }}
					</h2>
				{{ end }}
				<p>
					<a href="{{ .Permalink }}">
						{{ with .Title }}
							<b>
								{{ . | markdownify }}
							</b>
						{{ end }}
					</a>
				</p>
				<p>
					<a href="{{ .Permalink }}">
						{{ with .Description }}
							{{ . | markdownify }}
						{{ end }}
					</a>
				</p>
			</div>
		</div>
	{{ end }}
</section>
