{{ $data := site.Data.references }}
{{ if $data }}
	<section id="client-references" class="cl-main-listreferences">
		{{ range $data }}
			{{ $localizeddata := index . site.LanguageCode }}
			{{ if $localizeddata }}
				{{ if $localizeddata.description }}
					<div class="reference">
						<div class="logo">
							{{ partial "e/picture.html" $localizeddata }}
						</div>
						<div class="text">
							{{ with $localizeddata.client }}
							<h2>
								{{ . }}
							</h2>
							{{ end }}
							{{ with $localizeddata.title }}
								<p>
									<b>
										{{ . | markdownify }}
									</b>
								</p>
							{{ end }}
							{{ with $localizeddata.description }}
								<p>
									{{ . | markdownify }}
								</p>
							{{ end }}
							{{ with $localizeddata.imgcontent }}
								<img src="{{ . }}">
							{{ end }}
							{{ with $localizeddata.description2 }}
								<p>
									{{ . | markdownify }}
								</p>
							{{ end }}
						</div>
					</div>
				{{ end }}
			{{ else }}
				{{ partial "e/html-comment.html" "no localized data" }}
			{{ end }}
		{{ else }}
			{{ partial "e/html-comment.html" "no data" }}
		{{ end }}
	</section>
{{ end }}

{{ if .Pages }}
	<section id="client-success-stories" class="cl-main-listreferences">
		{{ range .Pages }}
			<div class="reference">
				<div class="thumb">
					{{ partial "e/picture" . }}
				</div>
				<div class="text">
					{{ with .Params.client }}
						<h2>
							{{ . }}
						</h2>
					{{ end }}
					<p>
						<a href="{{ .Permalink }}">
							{{ with .Title }}
								<b>
									{{ . | markdownify }}
								</b>
							{{ end }}
						</a>
					</p>
					<p>
						<a href="{{ .Permalink }}">
							{{ with .Description }}
								{{ . | markdownify }}
							{{ end }}
						</a>
					</p>
				</div>
			</div>
		{{ else }}
			{{ partial "e/html-comment.html" "no pages" }}
		{{ end }}
	</section>
{{ end }}
