{{ with .Params.datatestimoniallist }}
	<section id="testimonials" class="cl-testimonials bg-light">
		{{ range . }}
			{{ $data := index site.Data.testimonials . }}
			{{ if $data }}
				{{ $localizeddata := index $data site.LanguageCode }}
				{{ with $localizeddata }}
					<div class="item">
						{{ with .text }}
							<p class="text">
								{{ . }}
							</p>
						{{ end }}
						<div class="person">
							{{ if .img }}
								<img loading="lazy" alt="{{ .name }}" src="{{ .img }}" height="60px" width="60px">
							{{ end }}
							<div>
								{{ with .name }}
									<h4 class="name">{{ . }}</h4>
								{{ end }}
								{{ with .position }}
									<p class="position">{{ . }}</p>
								{{ end }}
							</div>
						</div>
					</div>
				{{ end }}
			{{ end }}
		{{ end }} 
	</section>
{{ else }}
	{{ partial "e/html-comment.html" "skipped: testimonials: no .Params.datatestimoniallist" }}
{{ end }}