{{/* <!-- define main only if different from default structure --> */}}

{{ define "main" }}
	{{ "<!-- news/section.html:main:start -->" | safeHTML }}
	{{ template "page-title" . }}
	{{ template "page-list" . }}
	{{ "<!-- news/section.html:main:end -->" | safeHTML }}
{{ end }}



{{/* <!-- define custom blocks --> */}}

{{ define "page-list" }}
	{{ "<!-- news/section.html:page-list:start -->" | safeHTML }}
	{{ partial "b/page-list-news" . }}
	{{ "<!-- news/section.html:page-list:end -->" | safeHTML }}
{{ end }}
