.cl-breadcrumbs {
	background-color: var(--color-lightgray);

	a {
		border: none; /* remove line under link */
	}

	li {
		margin: 0;
	}

	ol {
		display: flex;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0.5em 0;
		list-style: none;
		text-transform: uppercase;
		gap: 0.5em;
	}
	
}
