.cl-breadcrumbs {
	background-color: var(--color-lightgray);
}

.cl-breadcrumbs--link {
	border: none; /* remove line under link */
}

.cl-breadcrumbs--item {
	margin: 0;
}

.cl-breadcrumbs--list {
	display: flex;
	padding: 0.2vw 0;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
	gap: 0.5em;
}
@media (max-width:480px) {
	.cl-breadcrumbs--list {
		padding: 2vw 0;
	}
}

.cl-breadcrumbs--arrow {
	padding: 0 2vw;
}
