@import 'sassmix';

.cl-404 {
	height: calc(100vh - var(--menubar-height));
	width: calc(100% - 0px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include scheme-404;
}

.cl-404--title {
	margin-top: 1em;
	text-align: center;
}

.cl-404--text {
	text-align: center;
}
