/* .cl-content standard tags styles */	

.cl-content {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: flex-start;
	gap: var(--module-big-gap);
}
.cl-content--main {
	width: 100%;
}
.cl-content--sidebar + .cl-content--main {
	width: calc( 67% - var(--module-big-gap) / 2 );	/* reduce main content width when there is a sidebar */
}

.cl-content--main-content img {
	display: block; /* prevent line height from being added to div height */
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

/* h1 should be in <header> title, not in content */
.cl-content--main-content > blockquote {
	background: #f5f5f5;
	border-radius: 0px;
	margin: 2vw -2vw;
	padding: 2vw;
	color: var(--color-blockquote);
	border-left: 4px var(--color-secondary) solid;
}
.cl-content--main-content > h2,
.cl-content--main-content > h3,
.cl-content--main-content > h4 {
	margin-top: 2em;
	margin-bottom: 0.5em;
	scroll-margin-top: calc(var(--menubar-height) + 48px);
}
.cl-content--main-content > li {
	line-height: 1.6em;
}
.cl-content--main-content > p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.cl-content--main-content > p img {
	display: block;
	margin-top: 48px;
	margin-bottom: 48px;
	width: auto;
	height: auto;
	max-width: 100%; /* ensures img are shown at max content width */
}

.cl-content--main-content > table {
	border: 1px solid #ddd;
	border-collapse: collapse;
}
.cl-content--main-content thead {
	border: none;
}
.cl-content--main-content td {
	padding: 1vw;
	width: auto;
	border: 1px solid #ddd;
}
.cl-content--main-content th {
	padding: 1vw;
	width: auto;
	min-width: 120px; /* small columns will have the same size */
	border: 1px solid #ddd;
	text-align: center;
}
@media (max-width:{{ site.Params.layout.ts_width }}) {
	.cl-content {
		flex-direction: column-reverse;
	}
	.cl-content--sidebar + .cl-content--main {
			width: 100%; /* set main content width to 100% on ts screens */
	}
	.cl-content--main-content th {
		min-width: 50px;
	}
}

/* .cl-content adapt margin-top and bottom */
.cl-content--main-content > :first-child {
	/* remove top margin from first element of content */
	margin-top: 0;
}
.cl-content--main-content > :last-child {
	/* remove bottom margin from last element of content */
	margin-bottom: 0;
}



/* content sidebar */

.cl-content--sidebar {
	max-height: 90vh;
	background-color: var(--color-lightgray);
}
@media (max-width:{{ site.Params.layout.ts_width }}) {
	.cl-content--sidebar {
		position: static;
		width: 100%;
	}
}
@media (min-width: {{ site.Params.layout.normal_width }}) {
	.cl-content--sidebar {
		position: sticky;
		z-index: 900;
		top: calc(var(--menubar-height) + 1.6em + .4vw);
		width: calc( 33% - var(--module-big-gap) );
	}
}

.cl-content--sidebar img {
	display: block;
	max-width: 100%; /* prevent overflow from container */
}

.cl-content--sidebar h2
{
	margin: 1em 16px 0.5em 16px;
	font-size: 1em;
}
.cl-content--sidebar li,
.cl-content--sidebar p {
	margin: 1em 16px;
	font-size: 0.8em;
}
.cl-content--sidebar li a {
	font-size: 1em;
}


.cl-content--sidebar ul {
	list-style-type: none;
	padding: 0; /* remove left space on lists */
	margin: 0;
	margin-bottom: 1em;
}

/* style for photograph styled pictures */

.cl-content--style-photograph {
	border: 8px solid #fff;
	box-shadow: 2px 2px 8px #aaa;
}

#TableOfContents > ul > li > a {
	/* first level of table of contents bold */
	font-family: "Whitney SSm A", "Whitney SSm B";
	font-style: normal;
	font-weight: 700;
}

/* include shortcode.css */
{{- $css := resources.Get "css/shortcode.scss" | resources.ExecuteAsTemplate "shortcode.css" . | resources.ToCSS | resources.Minify -}}
{{- $css.Content | safeCSS -}}
