@import 'sassmix';

.cl-countrylist {

	@include scheme-countrylist();
		
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 1rem;

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: var(--module-big-gap);
	}
	
	li {
		font-size: 0.85em;
		text-transform: uppercase;
		padding: 0px;
		list-style: none; /* remove bullet when used on li */
	}
}
