/* @group FONT FAMILIES */

	a,
	body,
	input,
	p,
	textarea {
		font-family: "Whitney SSm A", "Whitney SSm B";
		font-style: normal;
		font-weight: 500;		
	}

	b,
	blockquote,
	strong {
		font-family: "Whitney SSm A", "Whitney SSm B";
		font-style: normal;
		font-weight: 700;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: "Gotham SSm A", "Gotham SSm B";
		font-style: normal;
		font-weight: 700;
	}

/* @end */



/* @group FONT SIZES */

	a,
	blockquote,
	input
	p,
	strong,
	textarea {
		font-size: var(text-size-base);
	}

	@media (max-width:480px) {
		/* adjust for small tall smartphone screens */
		a,
		blockquote,
		input
		p,
		strong,
		textarea {
			font-size: 4vw;
		}
	}
	
	@media(min-width:1281px) {
		/* adjust for very large screens (>1280px wide) 
			so that text does not become too big */
		a,
		blockquote,
		input
		p,
		strong,
		textarea {
			font-size: 20px;
		}
	}
	
	/* standad tags font sizes, in em, so it is relative to base font size */
	h1	{ font-size: 2.00em;	}
	h2	{ font-size: 1.75em;	}
	h3	{ font-size: 1.25em;	}
	h4	{ font-size: 1.00em;	}
	h5	{ font-size: 1.00em;	}
	
/* @end */



/* @group STYLES STANDARD TAGS */

	/* !!! Only set sitewide attributes !!! */
	/* define the styling of standard tags */
	* {
		box-sizing: border-box;
	}

	body {
		color: var(--color-bg-white-text);
		scroll-padding-top: var(--menubar-height);
		padding-top: var(--page-padding-top);
		padding-right: var(--page-padding-right);
		padding-bottom: var(--page-padding-bottom);
		padding-left: var(--page-padding-left);
		max-width: var(--page-max-width);
		margin: auto;
	}
	
	article,
	aside,
	div,
	section {
		scroll-margin-top: calc( var(--menubar-height) * 2 );
	}
	
	a {
		color: var(--color-bg-white-text);
		border-bottom: none;
		text-decoration: none;
		transition: all .35s;
	}
	
	a:hover,
	a:focus {
		color: var(--color-bg-white-link-hover);
		border-bottom: none;
		text-decoration: none;
		transition: all .35s;
	}
	
	a img {
		border: none;
	}
	
	a.imagelink {
		border: none;
		font-size: 0.1em;
	}

	blockquote {
		padding: 1vw;
	}

	blockquote p {
		margin: 0;
	}

	blockquote i {
		color: var(--color-bg-white-text);
		font-weight: 500;
	}

	h1 {
		line-height: 1.2em;
		margin: 0;
		margin-block-start: 0em;
		margin-block-end: 0em;
		text-transform: uppercase;
	}

	h2,
	h3,
	h4 {
		line-height: 1.2em;
		margin-block-start: 0;
		margin-block-end: 0;
	}

	li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		text-align: left;
	}
	
	li a {
		border-bottom: dotted 1px var(--color-bg-white-link-hover);
	}
		
	time {
		color: var(--color-time);
	}

	p {
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1.6em;
	}
	
	p a {
		border-bottom: dotted 1px var(--color-bg-white-link-hover);
		line-height: 1.6em;
	}

/* @end */



/* @group BG-COLORS */
	
	.bg-black {
		background-color: var(--color-bg-black);
		color: var(--color-bg-black-text);
	}
	.bg-black a {
		color: var(--color-bg-black-link);
	}
	.bg-black a:hover {
		color: var(--color-bg-black-link-hover);
		transition: all .35s;
	}
	
	.bg-dark {
		background-color: var(--color-bg-dark);
		color: var(--color-bg-dark-text);
	}
	.bg-dark a {
		color: var(--color-bg-dark-link);
	}
	.bg-dark a:hover {
		color: var(--color-bg-dark-link-hover);
		transition: all .35s;
	}
	
	.bg-light {
		background-color: var(--color-bg-light);
		color: var(--color-bg-light-text);
	}
	.bg-light a {
		color: var(--color-bg-light-link);
	}
	.bg-light a:hover {
		color: var(--color-bg-light-link-hover);
	}

	.bg-primary {	
		background-color: var(--color-bg-primary);
		color: var(--color-bg-primary-text);
	}
	.bg-primary a {
		color: var(--color-bg-primary-link);
		transition: all .35s;
	}
	.bg-primary a:hover {
		color: var(--color-bg-primary-link-hover);
		transition: all .35s;
	}

	.bg-secondary {	
		background-color: var(--color-bg-secondary);
		color: var(--color-bg-secondary-text);
	}
	.bg-secondary a {
		color: var(--color-bg-secondary-link);
		transition: all .35s;
	}
	.bg-secondary a:hover {
		color: var(--color-bg-secondary-link-hover);
		transition: all .35s;
	}
	
	.bg-codingandbricks	{
		background-color: #233B4C;
		color: #FFD500;
	}
	.bg-codingandbricks a {
		color: #FFD500!important;
	}
	.bg-codingandbricks a:hover {
		color: #FFD500;
		transition: all .35s;
	}

/* @end */



/* @group BUTTON */

	.critical--button-primary,
	.critical--button-secondary {
		font-family: "Gotham SSm A", "Gotham SSm B";
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1em;
		list-style: none; /* remove bullet when used on li */
	}

	.critical--button-primary {
		display: inline-block; /* to ensure full height of button calculated for layout */
		margin: 0 auto;
		padding: 1vw 2vw;
		color: var(--color-button-primary) !important;
		background-color: var(--color-button-primary-bg);
		border: none;
		border-radius: 5px;
	}
	@media (max-width:480px) {		
		.critical--button-primary {
			padding: 2vw 6vw;
			max-width: 90vw;
		}
	}	
		
	/* use to create a secondary button */
	.critical--button-secondary {
		padding: 0px;
		color: var(--color-button-secondary) !important;
		background-color: var(--color-button-secondary-bg);
		border: none;
		border-radius: 3px;
	}
	
	.bg-primary .critical--button-secondary {
		/* use white text instead of blue if background is orange */
		color: white !important;
	}

/* @end */	



/* @group CONTENT */

	.cl-critical--content-space-v {
		margin-top: var(--content-space-v);
		margin-bottom: var(--content-space-v);
	}
	
	.cl-critical--content-width {
		margin-left: auto; /* use auto to center div on page */
		margin-right: auto; /* use auto to center div on page */
		padding: 0;
		width: 80vw;
		max-width: var(--content-max-width); /* prevents text area from getting unpleasantly wide */
	}	
	@media (max-width:480px) {		
		.cl-critical--content-width {
			margin-left: var(--module-ts-column-gap);
			margin-right: var(--module-ts-column-gap); 
			width: calc(100% - var(--module-ts-column-gap) * 2);
			max-width: calc(100% - var(--module-ts-column-gap) * 2);
		}
	}
	
		/* use for narrow content such as forms */
	.cl-critical--content-width-narrow {
		margin: 0 auto; /* use auto to center div on page */
		padding: 0;
		width: 50vw;
		max-width: var(--content-max-width-narrow); /* prevents text area from getting unpleasantly wide */
	}
	@media (max-width:480px) {
		/* make the narrow content look nice in small screens */
		.cl-critical--content-width-narrow {
			margin: 0 var(--module-ts-column-gap);
			width: calc(100% - var(--module-ts-column-gap) * 2 );
			max-width: calc(100% - var(--module-ts-column-gap) * 2 );
		}
	}

/* @end */



/* @group LAYER */

	.cl-critical--layer {
		position: absolute;
		height: inherit;
		width: inherit;
		max-height: inherit;
		max-width: inherit;
	}
	.cl-critical--layer > img {
		height: inherit; /* ! works only if height of parent is calculated as vw or px, not % */
		width: inherit; /* ! works only if width of parent is calculated as vw or px, not % */
		max-height: inherit;
		max-width: inherit;
		object-fit: cover;
	}

/* @end */
