.cl-cta {
	height: var(--hero-height);
	width: var(--hero-width);
	max-width: var(--page-max-width);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.cl-cta-img {
	position: absolute;
	z-index: -100;
	height: var(--hero-height);
	width: 100%;
	max-width: var(--page-max-width);
	object-fit: cover;
}

.cl-cta--title {
	text-align: center;
} 

.cl-cta--description {
	text-align: center;
} 
