.cl-cta {
	width: var(--hero-width);
	height: var(--hero-height);
	max-width: var(--page-max-width);
	overflow: hidden;
}

.cl-cta--text {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.cl-cta--title {
	text-align: center;
} 

.cl-cta--description {
	text-align: center;
} 
