.cl-fastsearch--input {
	/* layout */
	display: inline-block;
	padding: 0.5em 0.5em;
	box-sizing: border-box;
	/* text */
	font-size: 0.8em;
	text-align: left;
	/* style */
	background-color: #555;
	color: #ddd;
	border-radius: 3px 3px 3px 3px;
	border: none;
	outline: none;
}
input.cl-fastsearch--input {
	width: 100%;
	min-width: 256px;
}

.cl-fastsearch--item {
	/* layout */
	display: block;
	top: 0px;
	width: 100%;
	margin: 0;
	padding: 0.2em;
	/* font */
	font-size: 0.8em;
	/* style */
	border: 0;
}

.cl-fastsearch--results {
	list-style: none;
	padding: 0;
}

.cl-fastsearch--results-description {
	/* text of search result */
	font-size: 0.8em;
	font-weight: normal;
	text-align: left;
	text-transform: none;
	border: 0;
}

.cl-fastsearch--results-title{
	/* title of search result */
	display: inline-block;
	text-align: left;
}
