.cl-h1 {
	top: var(--menubar-height);
	z-index: 100;
	display: flex;
	justify-content: center;
	padding: 2vw;
	background-color: var(--color-bg-dark);
	color: var(--color-bg-dark-text);
	text-align: center;
}

.cl-h1--hero {
	height: var(--hero-height);
	width: calc(100% - 0.001px);
	max-width: var(--page-max-width);
}

.cl-h1--hero-img {
	position: absolute;
	top: var(--menubar-height);
	height: var(--hero-height); /* ! works only if height of parent is calculated as vw or px, not % */
	width: inherit; /* ! works only if width of parent is calculated as vw or px, not % */
	max-height: inherit;
	max-width: inherit;
	object-fit: cover;
}

.cl-h1--hero-title {
	position: sticky;
	top: var(--menubar-height);
	z-index: 100;
	display: flex;
	justify-content: center;
	padding: 2vw;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);	
}

.cl-h1--hero-title-container {
	position: absolute;
	height: inherit;
	width: inherit;
	max-height: inherit;
	max-width: inherit;
}
