.hero {
	height: var(--hero-height);
	width: calc(100% - 0.001px);
	max-width: var(--page-max-width);
}

.hero--title {
	position: sticky;
	top: var(--menubar-height);
	z-index: 100;
	display: flex;
	justify-content: center;
	padding: 2vw;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);	
}
