
/* @group FONT FAMILIES */

	/* This is where ALL font families are declared */

	body,
	p,
	a,
	input,
	textarea {
		font-family: "Whitney SSm A", "Whitney SSm B";
		font-style: normal;
		font-weight: 500;		
	}

	b, strong, blockquote {
		font-family: "Whitney SSm A", "Whitney SSm B";
		font-style: normal;
		font-weight: 700;
	}
	
	h1, h2, h3, h4, big {
		font-family: "Gotham SSm A", "Gotham SSm B";
		font-style: normal;
		font-weight: 700;
	}

	/* Specific fonts - try to limit it */
	.style-text-intro {
		font-family: "Whitney SSm A", "Whitney SSm B";
		font-style: normal;
		font-weight: 500;	
	}

	.button-primary,
	.button-secondary {
		font-family: "Gotham SSm A", "Gotham SSm B";
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
	}

	.footer-category-main,
	.footer-category-main a {
		font-family: "Gotham SSm A", "Gotham SSm B";
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;		
	}
	
	#TableOfContents > ul > li > a {
		/* first level of table of contents bold */
		font-family: "Whitney SSm A", "Whitney SSm B";
		font-style: normal;
		font-weight: 700;
	}

/* @end */



/* @group FONT SIZES */

	/* This is where ALL font sizes are declared */

	/* base font size, in vw so everything is proportional to viewport width */
	body, a, blockquote					{ font-size: 1.50vw;	}

	/* adjust for small tall smartphone screens */
	@media (max-width:480px) {
		body, a, blockquote 			{ font-size: 4vw;		}
	}
	
	/* adjust for very large screens (>1280px wide) 
		so that text does not become too big */
	@media(min-width:1281px) {
		body, a, blockquote				{ font-size: 20px;		}
	}
	
	/* standad tags font sizes, in em, so it is relative to base font size */
	h1									{ font-size: 2.00em;	}
	h2									{ font-size: 1.75em;	}
	h3									{ font-size: 1.25em;	}
	h4									{ font-size: 1.00em;	}
	h5									{ font-size: 1.00em;	}
	footer, footer a					{ font-size: 1.00em;	}
	
	/* font size for other tags should be in em */
	.button-primary						{ font-size: 1em;		}
	.footer-category-main				{ font-size: 0.8em;		}
	.footer-category-sub				{ font-size: 0.8em;		}
	.footer-text			 			{ font-size: 0.75em;	}
	.footer-social-link					{ font-size: 1.2em;		}
	.iosform-control					{ font-size: 0.8em;		}
	.testimonials-text					{ font-size: 0.8em;		}
	.testimonials-name					{ font-size: 0.8em;		}
	.testimonials-position				{ font-size: 0.8em;		}
	.style-section-title-main 			{ font-size: 2em;		}
	.style-module-text h3				{ font-size: 2em;		}
	.style-text-icon					{ font-size: 0.8em;		}
	.text-base							{ font-size: 1em;		}
	.text-small							{ font-size: 0.8em;		}
	#content-table h2					{ font-size: 1em;		}
	#content-table a					{ font-size: 0.75em;	}
	#fastsearch							{ font-size: 0.8em;		}
	#searchresults						{ font-size: 0.8em;		}
	#sidebar h2							{ font-size: 1em;		}
	#sidebar li							{ font-size: 1em;		}
	#sidebar p,
	#sidebar a							{ font-size: 0.8em;		}
	
/* @end */



/* @group STYLES STANDARD TAGS */

	/* !!! Only set sitewide attributes !!! */
	/* define the styling of standard tags */


	body {
		color: var(--color-text);
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-padding-top: var(--menubar-height);
	}
	
	article,
	aside,
	div,
	section, {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-margin-top: calc( var(--menubar-height) * 2 );
	}
	
	a {
		color: var(--color-text);
		border-bottom: none;
		text-decoration: none;
		transition: all .35s;
	}
	
	a:hover,
	a:focus {
		color: var(--color-link-hover);
		border-bottom: none;
		text-decoration: none;
		transition: all .35s;
	}
	
	a img {
		border: none;
	}
	
	a.imagelink {
		border: none;
		font-size: 0.1em;
	}

	blockquote {
		padding: 1vw;
	}

	blockquote p {
		margin: 0;
	}

	blockquote i {
		color: var(--color-text);
		font-weight: 500;
	}

	h1 {
		line-height: 1.2em;
		margin: 0;
		margin-block-start: 0em;
		margin-block-end: 0em;
		text-transform: uppercase;
	}

	h2,
	h3,
	h4 {
		line-height: 1.2em;
		margin-block-start: 0;
		margin-block-end: 0;
	}

	li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		text-align: left;
	}
	
	li a {
		border-bottom: dotted 1px var(--color-link-hover);
	}
		
	time {
		color: var(--color-time);
	}

	p {
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1.6em;
	}
	
	p a {
		border-bottom: dotted 1px var(--color-link-hover);
		line-height: 1.6em;
	}

/* @end */



/* @group STYLES IDs */

	#breadcrumbs {
		background-color: var(--color-lightgray);
	}

	#breadcrumbs ol {
		display: flex;
		padding: 0.2vw 0;
		margin: 0;
		list-style: none;
		text-transform: uppercase;
	}
	
	#breadcrumbs li {
		margin: 0;
	}
	
	#breadcrumbs .arrow {
		padding: 0 2vw;
	}

	@media (max-width:480px) {
		
		/* adjust for tall viewport */	
		#breadcrumbs ol {
			padding: 2vw 0;
		}
		
	}

	#content-main > h1,
	#content-main > h2,
	#content-main > h3,
	#content-main > h4 {
		margin-top: 2em;
		margin-bottom: 0.5em;
		scroll-margin-top: calc(var(--menubar-height) + 48px);
	}
	
	#content-main li {
		line-height: 1.6em;
	}
	#content-main > :first-child {
		/* remove top margin from first element of content */
		margin-top: 0;
	}
	
	#content-main > :last-child {
		/* remove bottom margin from last element of content */
		margin-bottom: 0;
	}
	
	#content-main :not(div) + div.layout-shortcode,
	#content-main :not(div) + div.layout-shortcode-img,
	#content-main div.layout-shortcode + :not(div),
	#content-main div.layout-shortcode-img + :not(div) {
		/* add margin space between shortcode and normal content */
		margin-top: 48px;
	}
	
	#content-main > blockquote {
		background: #f5f5f5;
		border-radius: 0px;
		margin: 2vw -2vw;
		padding: 2vw;
		color: var(--color-blockquote);
		border-left: 4px var(--color-secondary) solid;
	} 

	/* ensures img are displayed full content width */
	#content-main > p > img {
		display: block;
		margin-top: 48px;
		margin-bottom: 48px;
		width: auto;
		height: auto;
		max-width: 100%;
	}
	
	#content-main table {
		border: 1px solid #ddd;
		border-collapse: collapse;
	}
	
	#content-main thead {
		border: none;
	}
	
	#content-main th {
		padding: 1vw;
		width: auto;
		min-width: 120px; /* small columns will have the same size */
		border: 1px solid #ddd;
		text-align: center;
	}
	
	#content-main td {
		padding: 1vw;
		width: auto;
		border: 1px solid #ddd;
	}
	
	@media (max-width:480px) {
		
		#content-main th {
			min-width: 50px;
		}
		
	}

	/* content table is the style for the table of contents */
	#content-table {
		padding-right: 4vw;
	}

	.scroller {
		padding: 1vw;
		max-height: 90vh;
		overflow-y: auto;
	}
	
	#content-table h2 {
		margin-top: 0;
		background-color: #222;
		color: #fff;
		padding: 1vw;
		margin: 4px 0;
	}
	
	#content-table ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	#content-table li {
		margin: 4px 0;
		padding: 0.5vw 1vw;
		background-color: #eee;
		line-height: 1;
	}

	#content-table li > ul > li {
		padding: 0 0 0 10px;
	}

	/* side bar is the style for the side bar in the news pages*/

	#sidebar {
		background-color: var(--color-lightgray);
	}
	
	#sidebar h2 {
		color: #222;
		margin: 0;
		text-align: left;
	}

	#sidebar ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-bottom: 1em;
	}
	
	#sidebar li {
		margin: 0.5em 0;
		padding: 0;
	}

	#sidebar a {
		text-transform: capitalize;
		width: 100%;
		color: #222;
		line-height: 1.6em;
	}

	#sidebar a:hover {
		color: #ff8200;
	}

	.sidebar-box {
		background-color: #eee;
		padding-bottom: 1vw;
		margin-bottom: 1vw;
	}
	
	.sidebar-narrow-field {
		width: 80%;
		margin-left: 10%;
	}

	#sidebar .button-primary {
		margin: 0;
		padding: 0.8em 1em;
		font-size: 0.8em;
	}

/* @end */



/* @group STYLES CUSTOM CLASSES */
	
	/* style for page titles */
	.style-page-title {
		text-align: center;
		color: #fff;
		background-color: #222;
	}
	
	/* style for photograph styled pictures */
	.style-photograph {
		border: 8px solid #fff;
		box-shadow: 2px 2px 8px #aaa;
		box-sizing: border-box;
	}
	
	.style-text-intro {
		color: #888;
		text-align: center;
	}
	
	.style-agenda-item-title {
		color: var(--color-secondary);
		margin-bottom: 0;
		text-transform: uppercase;
	}
	
	.style-agenda-item-description {
		color: var(--color-midgray);
		margin-top: 0;
	}
	
	.style-icon {
		margin: auto; /* to center icon */
	}
	
	.icon-small {
		width: 50%;
	}
	
	.style-text-icon {
		margin-top: 0;
	}
	
	.style-page-title-overlay {
		text-align: center;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.4);	
	}
	
	.style-section-title-main {
		color: #bbb;
		text-transform: uppercase;
		text-align: center;
	}
	
	.text-center {
		text-align:  center;
	}
	
/* @end */



/* @group BUTTONS */
	
	/* use to create a primary button */
	.button-primary {
		display: block; /* to ensure full height of button calculated for layout */
		margin: 0 auto;
		padding: 1vw 2vw;
		color: var(--color-button-primary) !important;
		background-color: var(--color-button-primary-bg);
		border: none;
		border-radius: 5px;
		border-color: none;
		border-style: none;
		box-sizing: border-box; /* because normal sizing model is shit */
	}
	
	/* use to create a secondary button */
	.button-secondary {
		padding: 0px;
		color: var(--color-button-secondary) !important;
		background-color: var(--color-button-secondary-bg);
		border: none;
		border-radius: 3px;
		border-color: none;
		border-style: none;
		list-style: none; /* remove bullet when used on li */
	}
	
	.bg-primary .button-secondary {
		/* use white text instead of blue if background is orange */
		color: white !important;
	}
	
	/* adapt to tall smartphone screens */
	@media (max-width:480px) {
		
		.button-primary {
			padding: 2vw 6vw;
			max-width: 90vw;
		}
		
	}

/* @end */



/* LAYOUT layout- classes are used to structure the page layout */

/* @group LAYOUT-PAGE */
	
	.layout-page {
		padding-top: var(--page-padding-top);
		padding-right: var(--page-padding-right);
		padding-bottom: var(--page-padding-bottom);
		padding-left: var(--page-padding-left);
		max-width: var(--page-max-width);
		margin: auto;
	}
	
	/* main page title layout */
	.layout-page-title {
		position: sticky;
		top: var(--menubar-height);
		z-index: 100;
		display: flex;
		justify-content: center;
		padding: 2vw;
	}
	
/* @end */



/* @group LAYOUT-CONTENT */

	/* wrapper from main page content, with nice left and right margins */
	.layout-content {
		margin: 48px auto; /* use auto to center div on page */
		padding: 0;
		width: 80vw;
		max-width: var(--content-max-width); /* prevents text area from getting unpleasantly wide */
	}
	
	/* use for narrow content such as forms */
	.layout-content-narrow {
		margin: 0 auto; /* use auto to center div on page */
		padding: 0;
		width: 50vw;
		max-width: var(--content-max-width-narrow); /* prevents text area from getting unpleasantly wide */
	}
	
	@media (max-width:480px) {
		
		.layout-content {
			margin: 48px var(--module-ts-column-gap);
			width: calc(100% - var(--module-ts-column-gap) * 2);
			max-width: calc(100% - var(--module-ts-column-gap) * 2);
		}
		
		/* make the narrow content look nice in small screens */
		.layout-content-narrow {
			margin: 0 var(--module-ts-column-gap);
			width: calc(100% - var(--module-ts-column-gap) * 2 );
			max-width: calc(100% - var(--module-ts-column-gap) * 2 );
		}
	}
	
/* @end */
	
/* @group LAYOUT-MODULE */
	
	/*
	Modules are containers with predefined sizes.
	.layout-module: standard module, fixed height
	.layout-module-half standard module, fixed height, half-width
	.layout-module-screen-full full screen module
	.layout-module-hero hero module, fixed hero height
	
	To add a gap between modules, wrap them in a .layout-module-group div
	
	Inside modules, you have the following predefined layouts:
	.layout-module-row to display an image and text side by side
	.layout-module-column to display image and text in a column
	.layout-module-layer to layer elements on top of each other (eg an image in the back, text on top)
	*/
	
	/* Use this to create a full width module div */
	.layout-module {
		display: flex;
		height: var(--module-height); /* defines the fixed height of the module */
		width: calc(100% - 0px);
		max-height: calc( var(--page-max-width) / 100 * 40 );
		max-width: var(--page-max-width);
		overflow: hidden;
	}
	
	/* Or use this to create a half width module div */
	.layout-module-half {
		flex-direction: column;
		width: calc( ( 100% - var(--module-column-gap) ) / 2 - 0.001px ); /* -0.001px to avoid rounding errors in FFox */
	}
	
	/* full screen layout module */
	.layout-module-screen-full {
		height: calc(100vh - var(--menubar-height));
		width: calc(100% - 0px);
	}
	
	/* hero layout module */
	.layout-module-hero {
		height: var(--hero-height);
		width: calc(100% - 0px);
		max-width: var(--page-max-width);;
	}
	
	/* Enclose modules in a layout-module-group div to have a gap between them */		
	.layout-module-group {
		width: calc(100% - 0px);
		display: flex;
		flex-direction: row; /* to display half modules side by side */
		flex-wrap: wrap; /* to create additional rows if necessary */
		margin: var(--module-row-gap) 0;
		padding: 0 var(--module-column-gap);
		gap: var(--module-row-gap) var(--module-column-gap);
	}
	
	/* use to create module div with pic on left, text on right */
	.layout-module-row {
		flex-direction: row;
	}
	
	/* use to create inner div with the pic on left */
	.layout-module-row-image {
		height: 100%;
		width: 64%;
	}
	.layout-module-row-image img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 100% 50%; /* anchor on right edge (100%), vertical center */
	}
	
	/* use to create inner div with text on right */
	.layout-module-row-text {
		padding: 4vw;
		width: 36%;
	}
	
	/* use to create module div with text on top, image below */
	.layout-module-column {
		flex-direction: column;
	}
	
	/* use to create inner div with text on top */
	.layout-module-column-text {
		position: relative;	/* enables z-index */
		z-index: 10; /* if text overflows, it will go over picture below */
		padding: 2vw 4vw;
		margin: auto;
		height: 50%;
		width: 100%;
		text-align: center;
	}
	
	/* use to create inner div with image on bottom */
	.layout-module-column-image {
		height: 50%; /* without this, image size can overflow from module */
		width: 100%;
	}
	.layout-module-column-image img {	
		height: 100%;
		width: 100%;
		object-fit: contain; /* image is never distorted, crop if necessary */
		object-position: 50% 100%; /* anchor on bottom, horizontal center */
	}
	
	/* use to layer elements on top of each other, one layer per element */
	.layout-module-layer {
		position: absolute;
		height: inherit;
		width: inherit;
		max-height: inherit;
		max-width: inherit;
	}
	.layout-module-layer > img {
		height: inherit; /* ! works only if height of parent is calculated as vw or px, not % */
		width: inherit; /* ! works only if width of parent is calculated as vw or px, not % */
		max-height: inherit;
		max-width: inherit;
		object-fit: cover;
	}	
	.layout-module-half .layout-module-layer {
		/* half module layers have a width of 50% */
		width: calc( ( 100% - var(--module-column-gap) ) / 2 - 0.001px ); /* -0.001px to avoid rounding errors in FFox */
	}

	.layout-module-group .layout-module-half .layout-module-layer {
		width: calc( ( 100% - var(--module-column-gap) * 3 ) / 2);
	}
	
	.layout-module .layout-module-layer,
	.layout-module-half .layout-module-layer {
		height: var(--module-height);
	}
	
	/* remove gap for module right after title */
	.layout-module-title + .layout-module, {
		margin-top: 0;
	}
	
	@media (max-width:480px) {
		
		.layout-module-group {
			margin: var(--module-ts-row-gap) 0;
			padding: 0;
			gap: var(--module-ts-row-gap) var(--module-ts-column-gap);
		}
		
		.margin {
			width: calc(100% - var(--module-ts-column-gap) * 2);
			margin-left: var(--module-ts-column-gap);
			margin-right: var(--module-ts-column-gap);
		}
		
		.layout-module {
			height: var(--module-ts-height);
		}
		
		.layout-module-half {
			width: 100%; /* make half width modules full width on ts screens */
		}
		
		.layout-module-row {
			height:  var(--module-ts-height);
			width: 100%;
			flex-direction: column-reverse;
			justify-content: space-between;
		}
		
		.layout-module-row-image {
			height: 50%;
			width: 100%;
		}
		
		.layout-module-row-text {
			padding: 8vw;
			height: 50%;
			width: 100%;
			text-align: center;
		}
		
		.layout-module-column {
			height: var(--module-ts-height);
		}
		.layout-module-column-text {
			padding: 8vw;
		}
		.layout-module-column-image img {
			object-fit: cover; /* use cover instead of contain on ts screens */
		}
		
		.layout-module-layer {
			width: 100%;
			height: inherit;
		}
		.layout-module .layout-module-layer,
		.layout-module-half .layout-module-layer {
			height: var(--module-ts-height);
		}
		
	}
	
/* @end */



/* @group LAYOUT-SHORTCODE */
	
	.shortcode-certificate {
		width: 256px;	
	}
	
	.layout-shortcode {
		margin: 0 -2vw;
		padding: 2vw;
	}
	
	.layout-shortcode-img {
		margin: 0 -2vw;
		padding: 0;
	}
	.layout-shortcode-img img {
		width: 100%;
		height: 100%;
	}

	@media (max-width:480px) {
		
		.layout-shortcode {
			margin: 0 -4vw;
			padding: 4vw;
		}
		
		.layout-shortcode-img {
			margin: 0 -4vw;
		}
		
	}
	
/* @end */



/* @group LAYOUT HELPER CLASSES */
		
	.layout-absolute {
		position: absolute;
	}
	
	.layout-fixed {
		position: fixed;
	}
	
	.layout-sticky {
		position: sticky;
		top: var(--menubar-height);
		z-index: 100;	
	}
	
	.layout-double-sticky {
		position: sticky;
		top: calc(var(--menubar-height) + 1.6em + .4vw);
		z-index: 99;	
	}
	
	@media (max-width:480px) {
		
		.layout-double-sticky {
			position: relative;
			top: 0;
		}
		
	}
	
/* @end */



/* @group FLEX */

	/* .flex- is a series of classes to implement generic flexbox */
	/* .layout- are defined for a precise use, .flex- is more generic */
	
	/* flex parent that wraps if too large */
	.flex-parent {
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
		
	.flex-parent-row {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	
	.flex-parent-column {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: stretch;
	}
		
	/* standard flex child */
	.flex-child {
		flex: 1;
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		margin: 0;
		padding: 0;
		max-height: 100%;
		max-width: 100%;
		height: auto;
	}
	.flex-child img {
		display: block; /* to prevent line height from being added to div height */
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto;
		object-fit: contain;
	}
	
	.flex-child-scroll {
		height: auto;
	}
	
	.flex-child-text {
		padding: 2vw;
	}
	
	/* adjust child to text on left of pic */
	.flex-child-text-left {
		padding-right: 2vw;
	}
	
	/* adjust child to text on right of pic */
	.flex-child-text-right {
		padding-left: 2vw;
	}
	
	.logo {
		display: block;
		margin: 0;
		padding: 0;
		width: 32px;
		height: 32px;
	}
	
	@media (min-width : 481px) {
		
		/* flex child constrained to 60% of available space */
		.flex-child-100p {
			width: calc(100% - 0.001px);
		}
		
		/* flex child constrained to 60% of available space */
		.flex-child-80p {
			width: calc(80% - 0.001px);
		}
		.flex-parent-gap .flex-child-80p {
			width: calc(var(--module-5c-width) * 4 + var(--module-column-gap) * 3 );
		}
		
		/* flex child constrained to 2/3 of available space */
		.flex-child-67p {
			width: calc(100% / 12 * 8 - 0.001px); /* start at 67% width */
		}
		.flex-parent-gap .flex-child-67p {
			width: calc(var(--module-12c-width) * 8 + var(--module-column-gap) * 7 );
		}
		.flex-parent-gap-big .flex-child-67p {
			width: calc( 67% - var(--module-big-gap) / 2 );
		}
		
		/* flex child constrained to 60% of available space */
		.flex-child-60p {
			width: calc(60% - 0.001px);
		}
		.flex-parent-gap .flex-child-60p {
			width: calc( var(--module-5c-width) * 3 + var(--module-column-gap) * 2 );
		}
		.flex-parent-gap-big .flex-child-60p {
			width: calc( 60% - var(--module-big-gap) / 2 );
		}
		
		/* flex child constrained to 50% of available space */
		.flex-child-50p {
			width: calc(50% - 0.001px); /* start at 60% width */
		}
		.flex-parent-gap .flex-child-50p {
			width: calc(var(--module-12c-width) * 6 + var(--module-column-gap) * 5 );
		}		
		
		/* flex child constrained to 40% of available space */
		.flex-child-40p {
			width: calc(40% - 0.001px);
			box-sizing: border-box;
		}
		.flex-parent-gap .flex-child-40p {
			width: calc(var(--module-5c-width) * 2 + var(--module-column-gap) * 1 );
		}		
		.flex-parent-gap-big .flex-child-40p {
			width: calc( 40% - var(--module-big-gap) / 2 );
		}
		
		/* flex child constrained to 1/3 of available space */
		.flex-child-33p {
			width: calc( (100% / 3) - 0.001px );
		}
		.flex-parent-gap .flex-child-33p {
			width: calc(var(--module-12c-width) * 4 + var(--module-column-gap) * 3 );
		}
		.flex-parent-gap-big .flex-child-33p {
			width: calc( 33% - var(--module-big-gap) / 2 );
		}
		
		.flex-child-25p {
			width: calc(25% - 0.001px);
		}
		.flex-parent-gap .flex-child-25p {
			width: calc(var(--module-12c-width) * 3 + var(--module-column-gap) * 2 );
		}
		
		.flex-child-20p {
			width: calc(20% - 0px);
		}
		.flex-parent-gap .flex-child-20p {
			width: calc(var(--module-5c-width));
		}
		
		.flex-child-16p {
			width: calc( (100% / 6) - 0.001px);
		}
		.flex-parent-gap .flex-child-16p {
			width: calc(var(--module-12c-width) * 2 + var(--module-column-gap) * 1 );
		}
		
	}
	
	@media (max-width:480px) {
		
		/* on ts screens, use a width of 100% for these sizes */
		.flex-child-100p,
		.flex-child-67p,
		.flex-child-60p,
		.flex-child-50p,
		.flex-child-40p,
		.flex-child-33p {
			width: calc( 100% - 0.001px );
		}
		
		/* on ts screens, use a width of 50% for these sizes */
		.flex-child-25p {
			width: calc( 50% - 0.001px );
		}
		.flex-parent-gap .flex-child-25p {
			width: calc( ( 100% - var(--module-ts-column-gap) ) / 2 );
		}
		
		/* on ts screens, use a width of 66% for these sizes */
		.flex-child-80p {
			width: calc( 100% / 3 * 2 - 0.001px );
		}
		.flex-parent-gap .flex-child-80p,
		{
			width: calc( var(--module-ts-12c-width) * 8 + var(--module-ts-column-gap) * 7 );
		}
		
		/* on ts screens, use a width of 33% for these sizes */
		.flex-child-20p,
		.flex-child-16p {
			width: calc( 100% / 3 - 0.001px );
		}
		.flex-parent-gap .flex-child-20p,
		.flex-parent-gap .flex-child-16p {
			width: calc( var(--module-ts-12c-width) * 4 + var(--module-ts-column-gap) * 3 );
		}
		
	}

/* @end */



/* @group flex helper classes */
	
	.flex-parent-align-center {
		/* center flex items (vertically for row, horizontally for col */
		align-items: center;
	}
	
	.flex-parent-align-end {
		/* align flex items (vertically for row, horizontally for col */
		align-items: flex-end;
	}
	
	.flex-parent-align-start {
		/* align flex items (vertically for row, horizontally for col */
		align-items: flex-start;
	}
	
	.flex-parent-align-stretch {
		/* stretch flex items (vertically for row, horizontally for col */
		align-items: stretch;
	}
	
	.flex-child-align-center {
		/* force one child to center itself  */
		align-self: center;
	}
	
	.flex-parent-justify-center {
		/* center flex items (horizontally for row, vertically for col */
		justify-content: center;
	}
	
	.flex-parent-justify-start {
		/* force all items at start of flex container */
		justify-content: flex-start;
	}
	
	.flex-parent-justify-end {
		/* force all items at end of flex container */
		justify-content: flex-end;
	}
	
	.flex-parent-justify-space-between {
		/* add even space between items */
		justify-content: space-between;
	}
	
	.flex-parent-justify-space-around {
		/* add even space between items */
		justify-content: space-around;
	}
	
	.flex-parent-nowrap {
		/* disable wrap */
		flex-wrap: nowrap;
	}
	
	.flex-parent-wrap {
		flex-wrap: wrap;
	}
	
	.flex-parent-gap {
		gap: var(--module-row-gap) var(--module-column-gap);
	}
	.flex-parent-gap-big {
		gap: var(--module-big-gap);
	}
	
	
	@media (max-width:480px) {
		
		/* change flex-direction to column on tall smartphone screens */
		.flex-parent-column-ontall {
			flex-direction: column;
			flex-wrap: nowrap;
		}
		
		/* change flex-direction to column-reverse on tall smartphone screens */
		.flex-parent-column-reverse-ontall {
			flex-direction: column-reverse;
			flex-wrap: nowrap;
		}
		
		.flex-parent-column-ontall .flex-child-text-left {
			/* text was on left of img, now above */
			padding-right: 0;
			padding-top: 4vw;
			padding-bottom: 2vw;
		}
		
		.flex-parent-column-reverse-ontall .flex-child-text-left {
			/* text was on left of img, now below */
			padding-top: 4vw;
			padding-right: 0;
		}
		
		.flex-parent-column-ontall .flex-child-text-right {
			/* text was on right of img, now below */
			padding-top: 4vw;
			padding-left: 0;
		}
		
		.flex-parent-column-reverse-ontall .flex-child-text-right {
			/* text was on right of img, now above */
			padding-left: 0;
			padding-top: 4vw;
			padding-bottom: 2vw;
		}
		
		.flex-parent-gap {
			gap: var(--module-ts-row-gap) var(--module-ts-column-gap);
		}
		
		.flex-parent-gap-big {
			gap: var(--module-ts-big-gap);
		}			
		
	}
	
/* @end */



/* @group HELPER CLASSES */

	.bg-primary {	
		color: var(--color-text-inv) !important;
		background-color: var(--color-button-primary-bg);
	}
	
	/* this is necessary to override bootstrap's inherited styles */
	.bg-primary h1,
	.bg-primary h2,
	.bg-primary h3,
	.bg-primary h4,
	.bg-primary p {	
		color: var(--color-text-inv) !important;
	}
	
	.bg-dark {
		color: var(--color-text-inv);
		background-color: var(--color-darkgray);
	}
	.bg-dark a {	
		color: var(--color-text-inv);
	} 
	.bg-dark a:hover {
		color: #FF8200;
		transition: all .35s;
	}
	
	.bg-black {
		color: #fff;
		background-color: #000;
	}
	.bg-black a 	{
		color: #fff;						
	}
	.bg-black a:hover {
		color: #FF8200;
		transition: all .35s;
	}
	
	.bg-codingandbricks	{
		color: #FFD500;
		background-color: #233B4C;
	}
	.bg-codingandbricks a {
		color: #FFD500!important;
	}
	.bg-codingandbricks a:hover {
		color: #FFD500;
		transition: all .35s;
	}
	
	.bg-lightgrey, 
	.bg-lightgray {
		background-color: #f2f2f2;
	}
	
	/* text color helper classes */
	
	.text-primary	{ color: var(--color-primary);		}
	.text-faded		{ color: rgba(255,255,255,.7);	}
	.text-blue		{ color: rgb(51,53,65);			}
	.text-white		{ color: #fff;					}
	.text-gray		{ color: #888;					}
	.text-dark		{ color: #222;					}
	.text-red		{ color: red }
	
	/* padding helper classes */

	.padding-huge		{ padding: 80px;		}
	.padding-large		{ padding: 60px;		}
	.padding-medium		{ padding: 40px;		}
	.padding-small		{ padding: 20px;		}
	.padding-tiny 		{ padding: 10px;		}
	.padding-none 		{ padding: 0px;			}
	
	.paddingt-huge		{ padding-top: 80px;	}
	.paddingt-large		{ padding-top: 60px;	}
	.paddingt-medium	{ padding-top: 40px;	}
	.paddingt-small		{ padding-top: 20px;	}
	.paddingt-tiny		{ padding-top: 10px;	}
	.paddingt-none		{ padding-top: 0px;		}
	
	.paddingb-huge		{ padding-bottom: 80px;	}
	.paddingb-large		{ padding-bottom: 60px;	}
	.paddingb-medium	{ padding-bottom: 40px;	}
	.paddingb-small		{ padding-bottom: 20px;	}
	.paddingb-tiny		{ padding-bottom: 10px;	}
	.paddingb-none		{ padding-bottom: 0px;	}
	
	.paddingv-huge {
		padding-top: 80px;
		padding-bottom: 80px;	
	} 
	.paddingv-large 	{	
		padding-top: 60px;
		padding-bottom: 60px;	
	}
	.paddingv-medium {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.paddingv-small 	{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.paddingv-tiny {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.paddingv-none {
		padding-top: 0;
		padding-bottom: 0;
	}

	.paddingh-huge {
		padding-left: 80px;
		padding-right: 80px;
	}
	.paddingh-large {
		padding-left: 60px;
		padding-right: 60px;
	}
	.paddingh-medium {
		padding-left: 40px;
		padding-right: 40px;
	}
	.paddingh-small	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.paddingh-tiny {
		padding-left: 10px;
		padding-right: 10px;
	}
	.paddingh-none {
		padding-left: 0px;
		padding-right: 0px;
	}

	/* margin helper classes */
	
	.margin-huge {
		margin: 80px;
	}
	.margin-large 	{
		margin: 60px;
	}
	.margin-medium { 
		margin: 40px;
	}
	.margin-small 	{
		margin: 20px;
	}
	.margin-tiny {
		margin: 10px;	
	}
	.margin-none { 
		margin: 0px;
	}

	.margint-huge	{ margin-top: 80px;	} 
	.margint-large	{ margin-top: 60px;	} 
	.margint-medium { margin-top: 40px;	} 
	.margint-small	{ margin-top: 20px;	}
	.margint-tiny	{ margin-top: 10px;	}
	.margint-none	{ margin-top: 0px;	}
	
	.marginb-huge	{ margin-bottom: 80px;	}
	.marginb-large	{ margin-bottom: 60px;	}
	.marginb-medium	{ margin-bottom: 40px;	}
	.marginb-small	{ margin-bottom: 20px;	}
	.marginb-tiny	{ margin-bottom: 10px;	}
	.marginb-none	{ margin-bottom: 0px;	}
	
	.marginh-huge {
		margin-left: 80px;
		margin-right: 80px;
	}
	.marginh-large {
		margin-left: 60px;
		margin-right: 60px;
	}
	.marginh-medium	{
		margin-left: 40px;
		margin-right: 40px;
	}
	.marginh-small {
		margin-left: 20px;
		margin-right: 20px;
	}
	.marginh-tiny {
		margin-left: 10px;
		margin-right: 10px;
	}
	.marginh-none {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.marginv-huge {
		margin-top: 80px;
		margin-bottom: 80px;
	}
	.marginv-large	 {
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.marginv-medium {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.marginv-small	 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.marginv-tiny	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.marginv-none {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.centered {
		text-align: center;
		width:100%;
	}
	
	.height-auto {
		height: auto;
	}
	
	.border {
		border: 1px solid #888;
		box-sizing: border-box;
	}
		
/* @end */



/* @group IOSFORM */
	
	.iosform-control {
		box-shadow: none;
		border-radius: 4px;
		display: block;
		width: 100%;
		margin: 20px 0;
		padding: 6px 12px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		border: 1px solid #ccc;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		box-sizing: border-box;
	}
	.iosform-control:focus {
		/* highlight active field border */
		border-color: var(--color-primary);
		outline: 0;
	}
		
	input.iosform-control {
		height: 34px;
	}
	
	textarea.iosform-control {
		height: 200px;
	}
	
/* @end IOSFORM */



/* @group FOOTER */

	.footer {
		margin: 0;
		padding: 0;
		background-color: #222;
		color: #bbb;
	}
	.footer a {
		color: #bbb;
		border: none;
	}
	
	.footer a:hover {
		color: var(--color-primary);
	}	

	.footer-category {
		list-style: none;
		margin: 0px;
		padding: 0;
	}
	
	.footer-category-main,
	.footer-category-main a {
		color: #ddd;
		border: none;
	}
	
	.footer-category-sub,
	.footer-category-sub a {
		color: #ddd;
		border: none;
	}
	
	.footer-social {
		color: var(--color-darkgray);
		background-color: #ddd;
		border-radius: 50%;
		width: 1.5em;
		height: 1.5em;
		text-align: center;
	}
	.footer-social:hover {
		color: #222;
		background-color: var(--color-primary);
	}
	
	.footer-social-link {
		color: #222;		
	}
	
	@media (max-width:480px) {
		
		.footer-text-min {
			flex-grow: 2;
		}
		
	}

/* @end */



/* @group News */

	ul.post-tag {
		list-style: none;
		padding: 0;
		margin:0;
	}
	.post-tag >li {
		background-color: #eee;
		padding: 0 0.4em;
		margin: 0 0.2em 0.2em 0.2em;
		float: left;
		text-transform: uppercase;
	}
	.post-tag >li>a:hover {
		color: var(--color-primary);
	}
	.post-tag >li:first-of-type {
		margin: 0 0.2em 0 0;
	}
	.post-tag>li>a {
		color: #222;
		font-size: 0.8em;
		border-bottom: none;
	}
	
	.row-tag {
		padding-bottom: 0.2em;
		margin-top: .2em;
	}

/* @end */



/* @group TESTIMONIALS */

	.testimonials-item {
		flex-basis: 30vw;
	}	
	
	.testimonials-picture {
		width: 100%;
		height: 100%;
		object-fit: contain;

	}
	.testimonials-picture img {
		width: 100%;
		height: 100%;
		border-radius: 30px;
	}
	
	.testimonials-position {
		margin: 0;
	}

	.scrollbar-h::-webkit-scrollbar {
		height: 0.4em;
	}
	
	/* Track */
	.scrollbar-h::-webkit-scrollbar-track {
		border-radius: 10px;
		background: #ddd;
		opacity: 0.5;
	}
	
	/* Handle */
	.scrollbar-h::-webkit-scrollbar-thumb {
		background: #222; 
		border-radius: 10px;
		opacity: 0.4;
	}
		
	@media (max-width:480px) {
	
		.testimonials-item {
			flex-basis: 70vw;
		}
		.testimonials .testimonials-item:first-child {
			margin-left: 2vw;
		}
		.testimonials .testimonials-item:last-child {
			margin-right: 2vw;
		}
		
	}

	/* flex horizontal scroll classes (used in the testimonials and references */
	.flex-parent-scroll {
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: scroll;
		padding-bottom: 2.0em;
		align-items: flex-start;
	}
			
	@media (max-width:480px) {
		.flex-parent-scroll {
			padding-bottom: 1.0em;
		}
	}

/* @end */



/* @group Search box */

	#fastSearch > input {
		margin: 0;
		padding: 0.5em 0.5em;
		width: 90%;
		height: 24px;
		color: #ddd;
		background-color: #555;
		border-radius: 3px 3px 3px 3px;
		border: none;
		outline: none;
		text-align: left;
		display: inline-block;
	}
	
	#searchResults {
		display: block;
		top: 0px;
		padding: 0;
		border: 0;
	}
	
	#searchResults a {
		border: 0;
	}
	
	#searchResults li { 
		list-style: none; 
		margin-left: 0em;
		background-color: #555; 
	}
	
	#searchResults li .title{
		display: inline-block;
	}
		
	#searchResults li .sc {
		text-transform: none;
		font-weight: normal;
	}

/* @end */



/* @group Agenda Collapsible Styling */

	input[type='checkbox'] {
		display: none;
	}
	
	.agenda-toggle {
		display: block;  
		font-weight: 500;
		cursor: pointer;
		margin-top: 1em;
	}
	
	.collapsible-content {
		max-height: 0px;
		overflow: hidden;

		transition: max-height .25s ease-in-out;
	}
	.agenda-toggle:checked + .agenda-toggle + .collapsible-content {
		max-height: 100vh;
	}

/* @end */
