/* Navbar container */
.cl-navbar {
	position: fixed;
	top: 0;
	padding-left: var(--module-column-gap);
	padding-right: var(--module-column-gap);
	width: calc( 100% - 0px);
	max-width: var(--page-max-width);
	box-sizing: border-box;
	z-index:1000;
	background-color: var(--color-bg-dark);
	border: none;
	transition: all .35s;
}

/* Adjust logo positioning */
.cl-navbar--brand {
	float: left;
	height: var(--menubar-height);
}

.cl-navbar--menu {
	float: right;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 1em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: var(--menubar-height);
	background-color: var(--color-bg-dark); /* used for ts screens */
}

.cl-navbar--menu-item,
.cl-navbar--menu-item a,				
.cl-navbar--menu-dropdown-item,
.cl-navbar--menu-dropdown-item a {
	font-family: "Gotham SSm A", "Gotham SSm B";
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
}

/* <li> menu bar items */
.cl-navbar--menu-item {
	display: flex; /* allows easy vertical centering of <a> tag inside */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	align-items: center;
}
.cl-navbar--menu-item a {
	display: block;
	text-align: left;
	font-weight: 700;
	color: #ddd;
	text-decoration: none;
	text-transform: uppercase;
	/* background-color: #222; */
	border: none;
}
.cl-navbar--menu-item a:hover {
	color: var(--color-primary);
}

/* menu dropdown list, use on <ul> inside a <li class="cl-navbar--menu-item"> */
.cl-navbar--menu-dropdown {
	display: none;
	position: absolute;
	top: calc(var(--menubar-height) - 2px);
	margin: 0;
	background-color: rgba(34,34,34,1);
	padding: 0;
	box-sizing: border-box;
	flex-direction: column;
	gap: 0.2em;
}
	
/* menu dropdown item */
.cl-navbar--menu-dropdown-item {
	float: none;
	display: list-item;
	position: relative;
	list-style: none;
	padding: 5px 12px;
	background-color: transparent;
	line-height: 20px;
	font-weight: 400;
	box-sizing: border-box;
}	
.cl-navbar--menu-dropdown-item a:hover {
	color: var(--color-bg-dark-link-hover);
}
	
.cl-navbar--menulabel {
	color: white;
}

.cl-navbar--checkbox {
	display: none;
}

@media (min-width : 768px) {
	
	.cl-navbar--menu-item:hover .cl-navbar--menu-dropdown {
		display: inherit;
	}
	
	.cl-navbar--burger {
		/* hide burger symbol on normal screens */
		display: none;
	}
	
	.cl-navbar--menu-dropdown {
		right: 0;
		width: auto;
	}
	.cl-navbar--menu-dropdown-item a {
		text-align: right;
	}
}

@media (min-width: 768px) and (max-width : 900px) {
	/* show only icon (hide text) on medium screen widths */
	.cl-navbar--shorten {
		display: none;
	}
}

@media (max-width : 767px) {
	
	.cl-navbar {
		padding-left: calc( var(--module-ts-column-gap) );
		padding-right: calc( var(--module-ts-column-gap) );
	}
	
	.cl-navbar--burger { 
		display: block;
		font-size: 1.6em;
	}
	
	.cl-navbar--menu {
		/* hide text menu on ts screens, show it only if burger checkbox checked */
		display: none;
		position: absolute;
		top: calc(var(--menubar-height) - 2px);
		left: 0;
		width: 100%;
		flex-direction: column;
		height: auto;
		align-items: center;
		padding-bottom: 16px;
	}
	
	.cl-navbar--menu-item {
		padding: 0.20em;
		align-items: center;
		flex-direction: column;
	}
	
	.cl-navbar--menu-dropdown {
		float: none;
		position: static;
		margin-left: 0em;
		width: 100%;
		color: #ffffff;
		box-sizing: border-box;
		align-items: center;
	}
	
	.cl-navbar--menu-dropdown-item {
		margin: 0;
		padding: 1em 0 0 0;
		box-sizing: border-box;
	}

	/* show menu/dropdown when checkbox is checked */
	[id^=drop]:checked + .cl-navbar--menu,
	[id^=drop]:checked + .cl-navbar--menu-dropdown {
		display: flex;
	}
		
}
