/* Navbar container */
.cl-navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index:1000; /* no other element should be given a higher z-index */
	border: none;
}

/* Adjust logo positioning */
.cl-navbar--brand {
	float: left;
	height: var(--menubar-height);
}

.cl-navbar--menu {
	float: right;
	display: flex;
	align-items: stretch;
	gap: 1em;
	margin: 0;
	padding: 0;
}

.cl-navbar--menu-item,
.cl-navbar--menu-item a,
.cl-navbar--menu-dropdown-item,
.cl-navbar--menu-dropdown-item a {
	font-family: "Gotham SSm A", "Gotham SSm B";
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
}

/* <li> menu bar items */
.cl-navbar--menu-item {
	display: flex; /* allows easy vertical centering of <a> tag inside */
	align-items: center; /* so text item inside is centered vertically */
	margin: 0;
	padding: 0;
	list-style: none;
}
.cl-navbar--menu-item a {
	display: block;
	text-decoration: none;
	border: none;
}

/* menu dropdown list, use on <ul> inside a <li class="cl-navbar--menu-item"> */
.cl-navbar--menu-dropdown {
	display: none;
	position: absolute;
	top: calc(var(--menubar-height) - 2px);
	margin: 0;
	padding: 0;
	flex-direction: column;
}
	
/* menu dropdown item */
.cl-navbar--menu-dropdown-item {
	float: none;
	display: list-item;
	position: relative;
	list-style: none;
	padding: 5px 12px;
	background-color: transparent;
	line-height: 20px;
	font-weight: 400;
}	

.cl-navbar--menulabel {
	color: white;
}

.cl-navbar--checkbox {
	display: none;
}

@media (min-width : 768px) {

	.cl-navbar {
		padding-left: var(--module-column-gap);
		padding-right: var(--module-column-gap);
		max-width: var(--page-max-width);		
	}
	
	.cl-navbar--menu {
		flex-direction: row;		
		height: var(--menubar-height);
	}
	.cl-navbar--menu-item {
		height: var(--menubar-height);
	}
	
	.cl-navbar--menu-item:hover .cl-navbar--menu-dropdown {
		display: inherit;
	}
	
	.cl-navbar--burger {
		/* hide burger symbol on normal screens */
		display: none;
	}
	
	.cl-navbar--menu-dropdown {
		right: 0;
		width: auto;
	}
	.cl-navbar--menu-dropdown-item a {
		text-align: right;
	}
}

@media (min-width: 768px) and (max-width : 900px) {
	/* show only icon (hide text) on medium screen widths */
	.cl-navbar--shorten {
		display: none;
	}
}

@media (max-width : 767px) {
	
	.cl-navbar {
		padding-left: calc( var(--module-ts-column-gap) );
		padding-right: calc( var(--module-ts-column-gap) );
	}
	
	.cl-navbar--burger { 
		display: block;
		font-size: 1.6em;
	}
	
	.cl-navbar--menu {
		/* hide text menu on ts screens, show it only if burger checkbox checked */
		display: none;
		position: fixed;
		left: 0;
		top: calc(var(--menubar-height) - 2px);
		width: 100%;
		flex-direction: column;
		height: auto;
		align-items: center;
		padding-bottom: 16px;
	}
	
	.cl-navbar--menu-item {
		padding: 0.20em;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	
	.cl-navbar--menu-dropdown {
		float: none;
		position: static;
		margin-left: 0em;
		width: 100%;
		align-items: center;
	}
	
	.cl-navbar--menu-dropdown-item {
		margin: 0;
		padding: 1em 0 0 0;
	}

	/* show menu/dropdown when checkbox is checked */
	[id^=drop]:checked + .cl-navbar--menu,
	[id^=drop]:checked + .cl-navbar--menu-dropdown {
		display: flex;
	}
		
}
