.cl-sidebar h2							{ font-size: 1em;		}
.cl-sidebar li							{ font-size: 1em;		}
.cl-sidebar p,
.cl-sidebar a							{ font-size: 0.8em;		}

.cl-sidebar {
	background-color: var(--color-lightgray);
}

.cl-sidebar h2 {
	color: #222;
	margin: 0;
	text-align: left;
}

.cl-sidebar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

.cl-sidebar li {
	margin: 0.5em 0;
	padding: 0;
}

.cl-sidebar a {
	text-transform: capitalize;
	width: 100%;
	color: #222;
	line-height: 1.6em;
}
.cl-sidebar a:hover {
	color: #ff8200;
}

.cl-sidebar--item {
	margin: 2vw;	
}

.cl-sidebar .critical--button-primary {
	margin: 0;
	padding: 0.8em 1em;
	font-size: 0.8em;
}
