.cl-title {
	top: var(--menubar-height);
	z-index: 100;
	display: flex;
	justify-content: center;
	padding: 2vw;
	background-color: var(--color-bg-dark);
	color: var(--color-text-inv);
	text-align: center;
}

/* include css from hero */
{{- $css := resources.Get "css/hero.scss" | resources.ExecuteAsTemplate "hero.css" . | resources.ToCSS | resources.Minify -}}
{{- $css.Content | safeCSS -}}
