{{ "<!-- Core CSS -->" | safeHTML }}
{{- $css := resources.Get "css/core.scss" | resources.ExecuteAsTemplate "core.css" . | toCSS | minify -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">

{{ "<!-- Fonts CSS -->" | safeHTML }}
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6201816/7621392/css/fonts.css" />

{{ "<!-- Blocks inline CSS -->" | safeHTML }}
<style>
	{{ $blocktypes := slice "bodytop" "body" "article" "list" "sidebar" }}
	{{- $blocks := partial "f/getblockscss.go" $blocktypes -}}
	{{- range $blocks -}}
		{{- $resource := printf "css/%s.scss" . -}}
		{{- $css := printf "%s.css" . -}}
		{{- $style := resources.Get $resource | resources.ExecuteAsTemplate $css . | toCSS | minify -}}
		{{- $style.Content | safeCSS -}}
	{{- end -}}
</style>
{{ range $blocks }}
	{{ (printf "<!-- inlined: %s.scss -->" .) | safeHTML }}
{{ end }}

{{ "<!-- Shortcodes inline CSS -->" | safeHTML }}
<style>
	{{- $found := slice -}}
	{{- $shortcodes := readDir "/themes/staticdynamic/layouts/_shortcodes" -}}
	{{- $shortcodes = $shortcodes | append (readDir "/layouts/_shortcodes") -}}
	{{- range $shortcodes -}}
		{{- $name := index (split .Name ".") 0 -}}
		{{- if page.HasShortcode $name -}}
			{{- if fileExists (printf "/themes/staticdynamic/assets/css/%s.scss" $name) -}}
				{{- $found = $found | append $name }}
			{{- else if fileExists (printf "/assets/css/%s.scss" $name) -}}
				{{- $found = $found | append $name }}
			{{- end -}}
		{{- end -}}
	{{- end -}}
	{{- $found = uniq $found -}}
	{{- if ge ($found | len) 1 -}}
		{{- $resource := "css/shortcode.scss" -}}
		{{- $css := "shortcode.css" -}}
		{{- $style := resources.Get $resource | resources.ExecuteAsTemplate $css . | toCSS | minify -}}
		{{- $style.Content | safeCSS -}}		
	{{- end -}}
	{{- range $found -}}
		{{- $resource := printf "css/%s.scss" . -}}
		{{- $css := printf "%s.css" . -}}
		{{- $style := resources.Get $resource | resources.ExecuteAsTemplate $css . | toCSS | minify -}}
		{{- $style.Content | safeCSS -}}
	{{- end -}}
</style>

{{ "<!-- partials/e/blocks-css.html:end -->" | safeHTML }}
