{{/* <!-- define "main" to override default "main" in _default/baseof.thml --> */}}



{{/* <!-- define elements to override default elements in _default/baseof.html --> */}}

	{{ define "head-title" }}
		{{ "<!-- tags/section.html:head-title:define:start -->" | safeHTML }}
		<title>
			{{ (printf "%s | %s %s" .Title site.Title site.Params.Country) | truncate 70 }}
		</title>
		{{ "<!-- tags/section.html:head-title:define:end -->" | safeHTML }}
	{{ end }}

	{{ define "head-meta-desc" }}
		{{ "<!-- tags/section.html:head-meta-desc:define:start -->" | safeHTML }}
		<meta name="description" property="og:description"  content="Tags | Ideas on Stage">	
		{{ "<!-- tags/section.html:head-meta-desc:define:end -->" | safeHTML }}
	{{ end }}

	{{ define "head-custom" }}
		{{ "<!-- tags/section.html:head-custom:define:start -->" | safeHTML }}
		{{/* <!-- do not index tag pages --> */}}
		<meta name="robots" content="noindex">
		{{ "<!-- tags/section.html:head-custom:define:end -->" | safeHTML }}
	{{ end }}

	{{ define "page-list" }}
		{{ "<!-- tags/section.html:page-list:define:start -->" | safeHTML }}
		{{ partial "b/page-list-tags.html" . }}
		{{ "<!-- tags/section.html:page-list:define:end -->" | safeHTML }}
	{{ end }}
