{{ define "main" }}
	{{ "<!-- tags:list.html:start -->" | safeHTML }}
	<div class="layout-module-content">
		<div class="flex-parent flex-parent-row flex-parent-column-reverse-ontall flex-big-gap">
			<aside id="sidebar" class="flex-child flex-child-33p layout-sticky">
				<div class="scroller">
					{{ partial "sidebar/sidebar-top-categories.html" . }}
					{{ partial "sidebar/sidebar-newsletter.html" . }}
				</div>
			</aside>
			<article id="content-main" class="flex-child flex-child-67p">
				<div class="flex-parent flex-parent-row paddingt-none paddingb-huge">
					<ul class="post-tag">
						{{ range .Pages.ByTitle }}
							<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
					   {{ end }}
					</ul>
				</div>	
			</article>
		</div>	
	</div>
    {{ "<!-- tags:list.html:end -->" | safeHTML }}
{{ end }}