{{- $data := partial "_f/getdatalocalized" (slice . "mainlazy-awards") -}}
{{- with $data -}}
	<div class="cl-awards">
		{{- $title := index (index page.Params "mainlazy-awards") "title" -}}
		{{- with $title -}}
			<h2 class="cl-core--hidden">{{ . }}</h2>
		{{- end -}}
		{{- range . -}}
			<div class="cl-awards--item">
				{{- $img := .img -}}
				{{- $alt := .title -}}
				{{- $loading := "lazy" -}}
				{{- $decoding := "async" -}}
				{{- $params := dict "img" $img   "alt" $alt   "loading" $loading   "decoding" $decoding -}}
				{{ partial "_e/img" $params }}
			</div>
		{{- end -}}
	</div>
{{- else -}}
	{{ partial "_e/html-comment.html" "INFO: skipped: mainlazy-awards: no .Params.mainlazy-awards.data" }}
{{- end -}}
