<!-- _default:single.html is used to build most individual pages -->
{{ "<!-- services:single.html -->" | safeHTML }}
{{ partial "single-top-common.html" . }}
	<main>
        {{ partial "page-hero.html" . }}
		{{ if .Params.Picture }}
			{{ with .Params }}
				{{ partial "insert-fullbleed-picture.html" . }}
			{{ end }}
		{{ end }}
        {{ partial "events-tabs.html" . }}
        {{ partial "content.html" . }}
		
    </main>
	<aside>
        {{ partial "references.html" . }}
        {{ partial "testimonials_pages.html" . }}
        {{ partial "contact.html" . }}
    </aside>
{{ partial "single-bottom-common.html" . }}
