/* @group BREADCRUMBS */

	#breadcrumbs {
		background-color: var(--color-lightgray);
	}

	#breadcrumbs ol {
		display: flex;
		padding: 0.2vw 0;
		margin: 0;
		list-style: none;
		text-transform: uppercase;
	}
	
	#breadcrumbs li {
		margin: 0;
	}
	
	#breadcrumbs .arrow {
		padding: 0 2vw;
	}

	@media (max-width:480px) {
		
		/* adjust for tall viewport */	
		#breadcrumbs ol {
			padding: 2vw 0;
		}
		
	}

/* @end */
