/* @group HERO */

	.hero {
		height: var(--hero-height);
		width: calc(100% - 0px);
		max-width: var(--page-max-width);;
	}
	
	.hero-layer {
		position: absolute;
		height: inherit;
		width: inherit;
		max-height: inherit;
		max-width: inherit;
	}
	
	.hero-layer > img {
		height: inherit; /* ! works only if height of parent is calculated as vw or px, not % */
		width: inherit; /* ! works only if width of parent is calculated as vw or px, not % */
		max-height: inherit;
		max-width: inherit;
		object-fit: cover;
	}
	
	@media (max-width:480px) {
		
		.hero-layer {
			width: 100%;
			height: inherit;
		}
		
	}
	
/* @end */
