/*
	REFERENCE 
	
	COLORS
	
	BLACK #000
	WHITE #fff
	DARK GRAY #222 - Header, Footer
	LIGHT GRAY #f2f2f2 - Background, some lines
	ORANGE #ff8200 - Primary buttons and highlights
	BLUE # 00a3e0 - Secondary buttons and highlights

 	SIZES

	RESPONSIVE WIDTHS BREAKPOINTS
	small screens (smartphones and tablets): up to 767px
	medium screens (ipads and laptops): from 768px to 1920px
	large screens (really large screens): 1920px and up
	
	RESPONSIVE IMG HEIGHTS (widths scaled to respect ratio)
	small: 450px
	medium: 675px
	large: 720px
	
	There is an additional breakpoint at 1200px
	It is used to switch how some 16:9 images are resized
*/

/* @group SCRATCHPAD */



/* @end */



/* @group STANDARD TAGS */

html,
body {
    width: 100%;
    height: 100%;
}

body, p, a, b, i, li {
	font-family: "Whitney SSm A", "Whitney SSm B";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}

b {
	font-family: "Whitney SSm A", "Whitney SSm B";
	font-style: normal;
	font-weight: 500;	
}

h1,
h2,
h3,
h4,
h5,
h6,
big,
.btn {
    font-family: "Gotham A", "Gotham B", 'Gotham Bold', Helvetica, Arial, sans-serif;
    font-weight: 700;
	padding: 0;
	margin: 0;
}

a {
    color: black;
    transition: all .35s;
}

a:hover,
a:focus {
    color: {{ site.Params.colors.link_hover }};
    text-decoration: none;
	transition: all .35s;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	margin-top: 0;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

p {
	margin-top: 16px;
	margin-bottom: 0;
	line-height: 1.6;
}

p a {
	border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
}

p a:hover {
	border-bottom: dotted 1px #FF8200;
}

li {
	text-align: left;
}

h1 small {
	color: #aaa;
	font-size: 0.66em;
}

h2 small {
	color: #aaa;
	font-size: 0.75em;
}


h1:first-child, h2:first-child, h3:first-child, h4:first-child, p:first-child {
	margin-top: 0px;
} 


time {
	color: #aaa;
}

@media(max-width:{{ site.Params.layout.breakpoints.small }}) {
	
	body, p {
		font-size: 14px;
	}
	
	.style-module-title {
		font-size: 32px;
	}
}

/* @end */

/* @group STYLES */

.style-content {
	background-color: white;
}

.style-hero-heading {
	margin: 0;
	padding: 0 4vw;
	font-size: calc(2vh + 2vw);
	color: white;
	text-align: center;
}

.style-hero-description {
	margin: 0;
	padding: 0 40px;
	color: white;
	text-align: center;
}

.style-module-button {
    margin: 12px 0;
    border: 0;
    font-family: "Gotham A", "Gotham B", 'Gotham Bold', Helvetica, Arial, sans-serif;
    font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: {{ site.Params.colors.blue }} !important;
}

.style-module-description {
	margin-top: 18px;
	margin-bottom: 6px;
	color: {{ site.Params.colors.lightgray }};
}

.style-module-title {
	margin-bottom: 6px;
	font-size: 48px;
	color: white;
}

.style-section-title {
	margin: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid;
	background-color: black;
	width: 100%;
}

.bg-white .style-section-title {
	color: black;
	background-color: white;
	border-color: black;
}

.bg-lightgray .style-section-title {
	color: black;
	background-color: {{ site.Params.colors.lightgray }};
	border-color: black;
}

@media(max-width:{{ site.Params.layout.breakpoints.small }}) {

	.layout-third {
		width: 100%;
	}
	
	.style-module-title {
		font-size: 32px;
	}
}

/* @end */

/* @group LAYOUT */

/* 
	LAYOUT
	Use layout to set fixed margin, padding, height and width	
*/

/* layout-absolute */
.layout-absolute-parent {
	margin: 0;
	padding: 0;
	position: relative;
	width: 24vw;
	height: 13.5vw;
}

.layout-absolute-child {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 24vw;
	height: 13.5vw;
	opacity: 1;
}

.layout-absolute-text {
	position: absolute;
	margin: 0;
	padding: 20px;
	width: 24vw;
	height: 13.5vw;
	color: white;
	opacity: 0;
	background: rgba(0, 0, 0, 0.6);	
}

.layout-absolute-text:hover {
	opacity: 1;
	transition: opacity 0.3s ease-in-out 0s;
}

/* layout-hero */
.layout-hero {
	margin: 0;
	position: relative;
	height: {{ site.Params.layout.hero.height }};
	max-height: calc(25vh + 25vw);
}

.layout-hero-module {
	position: absolute;
	margin: 0;
	{{ with site.Params.layout.hero.padding.top }}padding-top: {{ . }};{{ end }}
	{{ with site.Params.layout.hero.padding.left }}padding-left: {{ . }};{{ end }}
	{{ with site.Params.layout.hero.padding.right }}padding-right: {{ . }};{{ end }}
	{{ with site.Params.layout.hero.padding.bottom }}padding-bottom: {{ . }};{{ end }}
	height: {{ site.Params.layout.hero.height }};
	width: 100%;
	max-height: calc(25vh + 25vw);
}

/* layout-module */
.layout-module {
	margin: 0;
	{{ with site.Params.layout.modules.padding.top }}padding-top: {{ . }};{{ end }}
	{{ with site.Params.layout.modules.padding.left }}padding-left: {{ . }};{{ end }}
	{{ with site.Params.layout.modules.padding.right }}padding-right: {{ . }};{{ end }}
	{{ with site.Params.layout.modules.padding.bottom }}padding-bottom: {{ . }};{{ end }}
	width: 100%;
	height: 100%;
}

.layout-module-half {
	margin: 0;
	{{ with site.Params.layout.modules.padding.top }}padding-top: {{ . }};{{ end }}
	{{ with site.Params.layout.modules.padding.left }}padding-left: {{ . }};{{ end }}
	{{ with site.Params.layout.modules.padding.right }}padding-right: {{ . }};{{ end }}
	{{ with site.Params.layout.modules.padding.bottom }}padding-bottom: {{ . }};{{ end }}
	height: 100%;
	width: 50%;
}

.layout-module-img-left {
	margin: 0;
	padding: 0;
	
	height: 400px;
	width: 100%;

	max-width: 100%;
	max-height: 100%;
}

.layout-module-title {
	margin: 0;
	padding: 0;
}

.layout-module-text {
	margin: 0;
	padding: 20px 40px;
}

.layout-module-text-column {
	margin: 0;
	padding: 0 40px;
}

/* layout-module-slide */
.layout-module-slide-parent {
	position: relative;
	height: 75vh;
	min-height: 420px;
	width: 100%;
}
.layout-module-slide-img {
	position: absolute;
	height: 75vh;
	width: 100%;
	min-height: 420px;
	overflow: hidden;
}
.layout-module-slide-text {
	position: sticky;
	width: 40vw;
	min-width: 300px;
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 80px;
	padding-left: 120px;
	top: 100px;
	background-color: {{ site.Params.colors.darken }};
}

/* layout page */
.layout-page {
	margin: auto;
	/* margin-top: 45vh; */
	{{ with site.Params.layout.page.padding.top }}padding-top: {{ . }};{{ end }}
	{{ with site.Params.layout.page.padding.left }}padding-left: {{ . }};{{ end }}
	{{ with site.Params.layout.page.padding.right }}padding-right: {{ . }};{{ end }}
	{{ with site.Params.layout.page.padding.bottom }}padding-bottom: {{ . }};{{ end }}
	{{ with site.Params.layout.page.max_width }}max-width: {{ . }};{{ end }}	
	max-width: 1280px;
}

.layout-page-width {
	{{ with site.Params.layout.page.padding.left }}padding-left: {{ . }};{{ end }}
	{{ with site.Params.layout.page.padding.right }}padding-right: {{ . }};{{ end }}
	{{ with site.Params.layout.page.max_width }}max-width: {{ . }};{{ end }}	
}

.layout-page-content {
	padding: 0px 120px 40px 120px;
	margin: 5vh 0;
}

.layout-page-content-width {
	padding-left: 120px;
	padding-right: 120px;
}

.layout-page-intro {
	padding: 40px 60px;
	margin: 5vh 10vw;
}

/* layout screen */
.layout-screen-full {
	width: 100vw;
	min-height: 100vh;
}

.layout-screen {
	width: 100vw;
	min-height: 80vh;
}

.layout-screen-height {
	min-height: 80vh;
}

/* layout section */
.layout-section {
	padding: 0;
}

.layout-section-spacer {
	height: 80px;
}

.layout-section-title {
	padding-top: {{ site.Params.layout.menu.height }};
}

 /* layout welcome */
.layout-welcome-img-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
	z-index: -6;
}

.layout-welcome-img {
	position: fixed;
	object-position: 100% 100%;
	top: {{ site.Params.layout.menu.height }};
	object-fit: cover;
	width: 100%;
	min-height: 50vh; /* so not too small on tall screens */
	max-height: 100vh;
	z-index: -10;
}

/* layout-* */
.layout-square {
	margin: 0;
	padding: 0;
	width: 400px;
	height: 400px;
	background: rgba(0, 0, 0, 0.4);
}

.layout-sticky {
	position: sticky;
	top: 0;
	z-index: 100;
}

.layout-third {
	width: 480px;
}

.layout-top {
		margin: 0;
		padding: 0;
		height: {{ site.Params.layout.menu.height }};
		width: 100%;
}

.navbar {
	margin: 0;
	height: {{ site.Params.layout.menu.height }};
	width: 100%;}

/* max-width vertical smartphone screens */
@media(max-width:{{ site.Params.layout.breakpoints.small }}) {

	/* layout-module */
	.layout-module-img-left {
		height: 100%;
	}
	
	.layout-module-text {
		padding-left: 0px;
		padding-right: 0px;
	}

	/* layout-module-slide */
	.layout-module-slide-parent, .layout-module-slide-img {
		height: 160vw;
	}
	
	.layout-module-slide-img {
	}
	
	.layout-module-slide-text {
		margin: 0;
		padding: 10vw;
		width: 100%;
		min-width: 50%;
	}

	/* layout-page */
	.layout-page {
		padding: 0;
	}
	
	.layout-page-intro {
		margin: 5vh 5vw;
		padding: 20px;
	}
	
	.layout-page-content {
		margin: 5vh 0;
		padding: 0 20px;
	}

	/* layout-section */
	.layout-section-spacer {
		height: 40px;
	}
	
	/* layout-* */
	.layout-third {
		width: 100%;
	}
	
}

/* @end */

/* @group FLEX */

/* 
 	Use flex to position items relatively to each other
*/

.flex-parent-row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.flex-parent-column {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.flex-child {
	flex: 1;
	max-height: 100%;
	max-width: 100%;
}

.flex-child-60p {
	flex: 1;
	flex-grow: 2;
	flex-basis: 60%; /* start at 60% width */
}

.flex-child-40p {
	flex: 1;
	flex-basis: 40%
}

.flex-child-half {
	flex: 1;
	max-height: 100%;
	max-width: 100%;
}

@media(max-width:{{ site.Params.layout.breakpoints.small }}) {
	
	.flex-parent-row {
		flex-direction: column;
	}
	
}

/* flex helper classes */

.flex-size-fullscreen {
	height: 100vh;
	width: 100vw;
}

.flex-align-center {
	align-items: center;
}

.flex-justify-center {
	justify-content: center;
}

.flex-justify-start {
	justify-content: flex-start;
}

.flex-justify-end {
	justify-content: flex-end;
}

.flex-padding-5vw {
	padding: 5vw;
}

.flex-wrap-no {
	flex-wrap: 0;
}

/* old pre 2020-03-17 */

.flex-parent {
	display: flex;
	overflow: hidden;
	justify-content: center;
}

.flex-parent .col {
	flex-direction: column;
}

.flex-parent .row {
	flex-direction: row;
	align-items: flex-start;
}


.flex-child-half-right {
	margin-left: 0px;
}

.flex-child-onethird {
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 12px;
	flex: 1 1 33%;
}

.flex-child-twothirds {
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 12px;
	flex: 1 1 67%;
}

/*
	flex-parent-img-txt
	Used to display full width pics with text on the right.
	left area of pic is cropped / overflows on the left on smaller screens.
*/

.flex-parent-img-txt {
	display: flex;
	overflow: hidden;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* @end */



/* @group IMG */

/*
	PICTURE FORMATS
	---------------

	img-fullsize-crop
	--------
	Size: retina (2 image px = 1 screen px) up to 1280px, then standard
	Height: fixed by breakpoints
	Alignment: centered
	Anchor: top
	Overflow: hidden
	Media size: 4000px x 1350px
	- Image displayed at retina resolution 1 screen pix = 1 img pix
	- On large screens, image displayed at standard resolution

	img-crop
	--------
	Width: scaled based on height (up to 1280px), then full width
	Height: fixed by breakpoints (up to 1280px), then scaled based on width
	Alignment: centered
	Anchor: top
	Overflow: hidden
	Media size: 2400px x 1350px
	- Up to 1280px, pic is full breakpoint height, left and right sizes are cropped if necessary
	- Above 1280px, pic is full width, bottom is cropped

	img-center
	----------
	Width: scaled based on height
	Height: fixed by breakpoints
	Alignment: centered
	Anchor: center
	Overflow: show
	Media size: 2400px x 1350px	
	- Up to 1280px, pic is full breakpoint height, left and right sizes are cropped if necessary
	- Above 1280px, pic is full breakpoint height (no cropping), left and right sizes are filled with background color if necessary

	img-anchorleft / img-anchorright
	--------------------------------
	Width: scaled based on height
	Height: fixed by breakpoints
	Alignment: left or right
	Anchor: anchored left or right
	Overflow: show
	Media size: 2400px x 1350px
	
*/

.img-cover {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.img-position-right {
	object-fit: cover;
	object-position: 80% 0;
}

.img-fullsize-crop {
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.img-fullsize-crop img {
	position: relative;
	width: 2000px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.img-crop {
	width: 100%;
	overflow: hidden;
}

.img-crop img {
	position: relative;
	left: 50%;
	width: 100%;
	height: auto;
	transform: translate(-50%, 0%);
}

.img-center {
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.img-center img {
	position: relative;
	left: 50%;
	height: 675px;
	transform: translate(-50%, 0%);
}

.img-anchorleft {
	max-width: 1200px;
}

.img-anchorleft img {
	display: block;
	float: left;
	height: 675px;
	left: 0px;
}

.img-anchorright {
	max-width: 1200px;
}

.img-anchorright img {
	display: block;
	float: right;
	height: 450px;
	right: 0px;
}

/*
	Standard text, full width, laid over picture
*/	
.flex-container .flex-item-text {
}

flex-container .flex-item-text h4 {
	margin-top: 30px;
} 

.flex-container-inner {
	margin-left: 6px;
	margin-right: 6px;
	padding: 20px;
	height: 675px;
}

/*
	Text, laid over picture
*/
.flex-container .flex-item-text-overlay {
	position: absolute;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

.flex-container .flex-item-text-overlay h4 {
	margin-top: 30px;
	padding: 0px 20px;
}

/*
	Media queries
*/

@media(min-width:1921px) {
	
	body, a {
		font-size: 20px;
	}
	
	.flex-container {
		height: 900px;
	}

	.img-fullsize-crop img {
		width: 4000px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	.img-crop img {
		width: 100%;
		height: auto;
		transform: translate(-50%, 0%);
	}

	.img-center img {
		height: 900px;
	}
	
	.img-anchorleft img {
		height: 900px;
	}
	
	.img-anchorright img {
		height: 900px;
	}
	
}

/*	Our images have a 16:9 ratio.
	Standard container height is 675px.
	1200px is the switching point for img-crop between
	- fixed height up to 1200px
	- 100% above
*/

@media(max-width:1200px) {
	
	.img-crop img {
		width: auto;
		height: 450px;
	}
}

/* @end */

@media(max-width:719px){

	body, a {
		font-size: 16px;
	}

	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 2em;
	}
	
	h3 {
		font-size: 1.25em;
	}
	
	.flex-container {
		height: 450px;
	}

	.flex-container .flex-item-text h4 {
		margin-top: 6px;
	}

	/* On small screens, keep full bleed pic height constant */
	.img-crop img {
		width: auto;
		height: 450px;
		transform: translate(-50%, 0%);
	}

	.img-center img {
		height: 450px;
	}
	
	.img-anchorleft img {
		height: 450px;
	}
	
	.img-anchorright img {
		height: 450px;
	}
	
	.flex-container .flex-item-text h4 {
		margin-top: 6px;
	}
	
	/* Used to adapt layout to a single column on narrow screens */
	
	.flex-parent {
		flex-direction: column;
	}

	.flex-parent-img-txt {
		flex-direction: column-reverse;
	}
	
	.flex-child-half-right {
		margin-left: 6px;
	}
	
	.flex-col-child-text {
		padding-top: 24px;
		padding-left: 24px;
		padding-right: 24px;
		height: 200px;
	}
	
}
	


/* @group HELPER CLASSES */

.relative {
	display: relative;
}

.relative .absolute {
	display: block;
	position: absolute;	
	width: 100%;
	height: 100%;
}

.relative .absolute .picture {
	width: 100%;
}

.bg-primary {	
    background-color: #FF8200;
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4
{
	color: #fff;	
}

.bg-primary .btn-secondary {
	color: #fff!important;
}


.bg-dark {
    color: #fff;
    background-color: #222;
}
.bg-dark a {
	color: #fff;
} 
.bg-dark a:hover {
	color: #FF8200;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

.bg-dark-transparent {
	color: rgba(0, 0, 0, 0.6);
}

.bg-black-transparent {
	background-color: rgba(0, 0, 0, 0.6);
}

.bg-dark-box {
    color: #fff;
    background-color: #222;
}
.bg-dark-box a {
	color: #fff;
}
.bg-dark-box a:hover {
	color: #FF8200;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

.bg-white {
    color: black;
    background-color: white;	
}


.bg-black {
    color: white;
    background-color: black;
}
.bg-black a {
	color: white;
}
.bg-black a:hover {
	color: #FF8200;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

.bg-codingandbricks {
    color: #FFD500;
    background-color: #233B4C;
}
.bg-codingandbricks a {
	color: #FFD500!important;
}
.bg-codingandbricks a:hover {
	color: #FFD500;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

.bg-lightgray {
    background-color: {{ site.Params.colors.lightgray }};
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

.text-blue {
	color: rgb(51,53,65);
}

.text-white {
	color: #fff;
}

.text-gray {
	color: #aaa;
}

text-dark {
	color: #222;
}

.paddingt-huge {
	padding-top: 96px;
}
.paddingt-large {
	padding-top: 48px;
}
.paddingt-medium {
	padding-top: 24px;
}
.paddingt-small {
	padding-top: 12px;
}
.paddingt-tiny {
	padding-top: 6px;
}
.paddingt-none {
	padding-top: 0px;
}

.paddingb-huge {
	padding-bottom: 96px;
}
.paddingb-large {
	padding-bottom: 48px;
}
.paddingb-medium {
	padding-bottom: 24px;
}
.paddingb-small {
	padding-bottom: 12px;
}
.paddingb-tiny {
	padding-bottom: 6px;
}
.paddingb-none {
	padding-bottom: 0px;
}

.padding-medium {
	padding: 40px;
}

.paddingv0 {
	padding-top: 0px;
	padding-bottom: 0px;
}

.padding-none {
	padding: 0px;
}

.paddingv-none {
	padding-top: 0;
	padding-bottom: 0;
}

.padding-tiny {
	padding: 20px;
}

.margin-tiny {
	margin: 20px;
}

.paddingv10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.paddingv20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.paddingh-medium {
	padding-left: 40px;
	padding-right: 40px;
}

.paddingv-huge {
	padding-top: 80px;
	padding-bottom: 80px;
} 

.paddingv-large {
	padding-top: 60px;
	padding-bottom: 60px;
}

.paddingv-medium {
	padding-top: 40px;
	padding-bottom: 40px;
}

.paddingv-small {
	padding-top: 20px;
	padding-bottom: 20px;
}

.paddingt20 {
	padding-top: 20px;
	padding-bottom: 0px;
}

.marginh-tiny {
	margin-left: 6px;
	margin-right: 6px;
}

.marginv-none {
	margin-top: 0px;
	margin-bottom: 0px;	
}

.marginv-medium {
	margin-top: 40px;
	margin-bottom: 40px;
}

.margin-none {
	margin: 0px;
}

.marginv0 {
	margin-top: 0px;
	margin-bottom: 0px;	
}

.margin-v {
	margin-top: 10px;
	margin-bottom: 10px;
}

.marginl-small {
	margin-left: 12px;
}

.marginl-tiny {
	margin-left: 6px;
}

.margint-huge {
	margin-top: 96px;
} 
.margint-large {
	margin-top: 48px;
} 
.margint-medium {
	margin-top: 24px;
} 
.margint-small {
	margin-top: 12px;
} 
.margint-tiny {
	margin-top: 6px;
}
.margint-none {
	margin-top: 0px;
}

.marginb-huge {
	margin-bottom: 96px;
}
.marginb-large {
	margin-bottom: 48px;
}
.marginb-medium {
	margin-bottom: 24px;
}
.marginb-small {
	margin-bottom: 12px;
}
.marginb-tiny {
	margin-bottom: 6px;
}
.marginb-none {
	margin-bottom: 0px;
}


.timeline {
	position: absolute;
	width: 50%;
	height: 219px;
	border-right: 1px dotted #333;
}

.fixedheightsmall {
	height: 220px;	
}

.photograph {
	border: 8px solid #fff;
	box-shadow: 2px 2px 8px #aaa;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* @end */

/* @group MISC */

/*
	PMO CSS experts hate this mom's shitty hack to align text vertical 
*/
.relative {
	position: relative;
} 

.relative .absolute {
	display: block;
	position: absolute;
	width: 100%;
	height:100%;
}

.relative .absolute .alignverticalmiddle {
display: block;
	position: absolute;
	width: 100%;
    top: 50%;
	transform: translateY(-50%);
}



/*
	SECTION
	PMO Please no horizontal padding for sections 
	Instead use a 10 column layout to add a margin left and right.
	If padding added to section(s), it breaks the full width inserts
*/


#content-main img {
	display: block;
	width: auto;
	max-width: 100%;
	margin: auto;
}

article img {
	display: block;
	width: auto;
	max-width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

article iframe {
	display: block;
	width: auto;
	max-width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

section#content  {
	background-color: #fff; 
}

section#content h2,
section#content h3,
section#content h4 {
	margin-top: 40px;
	margin-bottom: 0.5em;
}

section#content-main h2
{
	margin-top: 40px;
	margin-bottom: 0.5em;
}

section#content-main h2:first-child {
	/* remove margin from first title */
	margin-top: 0px;
}

section#content-main h3
{
	margin-top: 20px;
	margin-bottom: 0.5em;
}

section#content p {
	margin-top: 1em;
}

section#content-main img {
	margin-top: 20px;
}

div#inserts-top img {
	margin-top: 20px;
	margin-bottom: 0px;	
}

div#inserts-bottom img {
	margin-top: 20px;
	margin-bottom: 0px;	
}

div#storyline-bullet img {
	margin-top: 0px;
	margin-bottom: 0px;
}

section#team-members {
	padding-top: 25px;
	background-color: rgba(255,255,255,0.98); 
}

section#team-member-bio .picture {
	margin-top: 2em;
	margin-bottom: 2em;
}

section#team-member-bio .text {
	margin-top: 1.5em;
}

/* End of customization */

aside {
    padding: 0px 0;
}

footer {
	padding: 50px 0;
	background-color: #222;
	font-size: 0.75em;
	color: #bbb;
}

footer a {
	font-size: 0.75em;
	color: #FF8200;
}

.no-padding {
    padding: 0;
}

.navbar-inverse {
	background: black;
    border: none;
	border-bottom: 1px solid #333;
    transition: all .35s;
}

.navbar-toggle {
	margin: 0;
	margin-top: 8px;
}

/* Adjust logo positioning */
.navbar-brand {
	padding: 0;
	margin: 0;
    color: #FF8200;
}

.navbar-inverse .navbar-header .navbar-brand:hover,
.navbar-inverse .navbar-header .navbar-brand:focus {
    color: #FF8200;
}

.navbar-inverse .nav>li a{
	font-family: "Gotham A", "Gotham B", 'Gotham Bold', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #DDD;
}

.navbar-inverse .nav>li>a:hover,
.navbar-inverse .nav>li>a:focus:hover {
    color: #FF8200;
}

.navbar-inverse .nav>li.active>a,
.navbar-inverse .nav>li.active>a:focus {
    color: #FF8200!important;
    background-color: transparent;
}

.navbar-inverse .nav>li.active>a:hover,
.navbar-inverse .nav>li.active>a:focus:hover {
    background-color: transparent;
}

.navbar-inverse .nav>li.open>a,
.navbar-inverse .nav>li.open>a:focus {
	color: #FF8200!important;
    background-color: transparent;
}

.navbar-inverse .nav>li.open>a:hover, 
.navbar-inverse .nav>li.open>a:focus:hover, {
    background-color: transparent;	
}

.open > .dropdown-toggle.btn-default {
  color: #DDD;
  background-color: transparent;
  border-color: #adadad;
}

.dropdown-menu {
	text-transform: uppercase;
	color: #DDD;
	background-color: #222;
	border: none;
	font-size: 1em;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  color: #888;
  white-space: nowrap;
  text-align: right;
  font-size: 0.75em;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #FF8200;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #FF8200;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
}

.nav-tabs >li.active>a {
	color: #FF8200!important;
}

.nav-tabs a {
	color: #DDD;
}

.tab-content {
	padding: 20px;	
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* PMO added panel stuff */

.panel {
	border-width: 2px;
	border-color: #666;
} 

@media(max-width:768px) {
    .panel {
    	border: none;
    }
}

/* PMO: added thumbnail stuff */
/*PMO forced to make thumbnail relative or caption alignment was wrong*/
.thumbnail {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	border: 0px;
	padding: 2px;
/*	width: 150px; */
	width: auto;
/*	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	*/
}
.thumbnail:hover {
	border-color: #333;
	-webkit-filter: grayscale(0%);filter: grayscale(0%);	
}

.thumbnail .thumbnail-caption {
    position: absolute;
    top: 50%;
    margin-left: -4px;
    padding: 4px;
	width: 100%;
}

.thumbnail-caption h3 {
	margin: 0px;
	font-size: 0.75em;
	color: #888;
}

@media(min-width:1200px) {
	.thumbnail-caption h3 {
		font-size: 0.875em;
		padding: 4px;
	}
}

/*PMO people-box is used for team members and other people profiles*/

.trainer {
	padding-top: 10px;
}

.tab-inside {
	display: inline-block;
	right: 0px;
	width: 70%;
}

.people-box {
	min-height:175px;
	max-height: 260px;
	display: block;
	text-align: center;
    position: relative;
    max-width: 650px;
    margin: 0px auto 0;
}

.people-box-caption {
	display: block;
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.people-box .people-box-image {
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin-left: auto;
    margin-right: auto;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.people-box:hover .people-box-image {
	border: 3px solid #FF8200;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

a.people-box:hover {
	text-decoration: none;
}

.people-box .people-box-caption .people-box-caption-content {
	display: block;
	position: relative;
	width: 100%;
}

.people-box .people-box-caption .people-box-caption-content .people-name {
	padding: 0px;
	margin: 4px;
	color: #000;
	font-size: 1em;
}

.people-box .people-box-caption .people-box-caption-content .people-title {
	padding: 0;
	font-size: 0.75em;
	margin: 0;
    color: #aaa;
}

.people-box .people-box-caption .people-box-caption-content .people-description {
	height: 88px;
	padding: 2px 0px;
	margin-bottom: 40px;
    font-size: 1em;
    color: #666;
	overflow: hidden;
	text-decoration: none;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #FF8200;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

/*PMO Added for forms - height of free text field*/
section#contact .form-group textarea.form-control {
    height: 133px;
}

section#contact .text-danger {
    color: #e74c3c;
}

#success, #success2 {
	display: none;
	padding: 10px;
}


button_ref {
  text-align: center;
  color: #fff!important;
  background-color: #fff;
  margin: auto;
}

button_ref a {
  text-decoration: none;
  background: #FF8200;
  color: #fff;
  border-radius: 5px;
  }
.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff!important;
    background-color: #FF8200;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #FF8200;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #FF8200;
    color: #fff;
}

.btn-primary .badge {
    color: #FF8200;
    background-color: #fff;
}


.btn-secondary {
    color: #00A3E0 !important;
    margin-top: 12px;
    padding: 0px;
    border-style: outset;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
    border-style: outset;
}


.btn {
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

.btn-slider {
	padding: 15px 30px;
	margin-top: 30px;
}

.btn-register:hover {
	
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}
/* RBC This class is a container for videos so they can be responsive */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Pricing table */
.columns {
    float: left;
    width: 25%;
    padding: 2px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}


/* New table */
* {
  box-sizing: border-box;
}

.tedxtable {
  border-collapse: collapse;
  min-width: 320px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.tedxtable th {
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  color: white;
  font-size: 20px;
  background-color: #FF8200;
}

.tedxtable td {
  text-align: center;
  vertical-align: middle;
  border-right: solid 1px #ddd;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 1px;
}

.tedxtable tr {
  border-bottom: 0px solid #ddd;
}

@media(max-width:414px) {
	.tedxtable th {
  	font-size: 14px;
	}
	
	.tedxtable {
  	font-size: 12px;
	}
}
/* end of table setting for TEDx */

/* Testimonials */

.testimonials {
  padding: 0;
}

.testimonials .item {
  list-style-type: none;
  margin: 0 5px;
  padding-bottom: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.testimonials .item .testimonial {
  position: relative;
  padding: 20px;
}
.testimonials .item .testimonial:before,
.testimonials .item .testimonial:after {
  content: " ";
  display: table;
}
.testimonials .item .testimonial:after {
  clear: both;
}
.testimonials .item .testimonial:before,
.testimonials .item .testimonial:after {
  content: " ";
  display: table;
}
.testimonials .item .testimonial:after {
  clear: both;
}
.testimonials .item .testimonial .text {
  color: #222; 
/*  color: #fff;	*/
  margin-bottom: 30px;
}

.testimonials .item .testimonial .text p {
  font-size: 14px;
}  
.testimonials .item .testimonial .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  height: 50px;
}
.testimonials .item .testimonial .icon {
  color: #FF8200;
  font-size: 24px;
  float: left;
  width: 20%;
}
.testimonials .item .testimonial .name-picture {
  float: right;
  width: 100%;
  text-align: right;
}

.testimonials .item .testimonial .name-picture h4 {
 /* color: #fff; */
	font-size: 1em;
	color: #222;
	margin: 0;
}
 
.testimonials .item .testimonial .name-picture h5 {
  font-size: 14px;
  text-transform: uppercase;
  /* color: #fff; */
  color: #222;
  letter-spacing: 0.08em;
}
.testimonials .item .testimonial .name-picture p {
  /* color: #fff; */
  color: #222;
  margin: 0;
  font-size: 12px;
}
.testimonials .item .testimonial .name-picture img {
  float: right;
  width: 60px;
  border-radius: 30px;
  margin-left: 10px;
}

/* End of testimonials */

/* Custom */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
/* End of custom */

.textcenter {
	width: 100%;
	display: table;
}

.textcenter p {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}	


#blog-listing-big .post,
#blog-homepage .post {
  margin-bottom: 60px;
}
#blog-listing-big .post h2,
#blog-homepage .post h2,
#blog-listing-big .post h4,
#blog-homepage .post h4 {
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
#blog-listing-big .post h2 a,
#blog-homepage .post h2 a,
#blog-listing-big .post h4 a,
#blog-homepage .post h4 a {
  color: #555555;
}
#blog-listing-big .post h2 a:hover,
#blog-homepage .post h2 a:hover,
#blog-listing-big .post h4 a:hover,
#blog-homepage .post h4 a:hover {
  color: #FF8200;
}
#blog-listing-big .post .author-category,
#blog-homepage .post .author-category {
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
#blog-listing-big .post .author-category a,
#blog-homepage .post .author-category a {
}
#blog-listing-big .post .date-comments a,
#blog-homepage .post .date-comments a {
  color: #999999;
  margin-right: 20px;
}
#blog-listing-big .post .date-comments a:hover,
#blog-homepage .post .date-comments a:hover {
  color: #FF8200;
}
@media (min-width: 768px) {
  #blog-listing-big .post .date-comments,
  #blog-homepage .post .date-comments {
    text-align: right;
  }
}
#blog-listing-big .post .intro,
#blog-homepage .post .intro {
  text-align: left;
}
#blog-listing-big .post .image,
#blog-homepage .post .image {
  margin-bottom: 10px;
  overflow: hidden;
}
#blog-listing-big .post .image img,
#blog-homepage .post .image img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
  #blog-listing-big .post .image img.img-responsive,
  #blog-homepage .post .image img.img-responsive {
    min-width: 100%;
  }
}
#blog-listing-big .post .video,
#blog-homepage .post .video {
  margin-bottom: 10px;
}
#blog-listing-big .post .read-more,
#blog-homepage .post .read-more {
  text-align: right;
}
#blog-listing-medium a:hover {
	text-decoration: none;
}
#blog-listing-medium .post {
  margin-bottom: 1s0px;
}
#blog-listing-medium .post h2 {
	font-size: 1.9em;
	color: #000;
  margin: 0 0 10px;
}
#blog-listing-medium .post h2:hover {
  color: #FF8200;
  text-decoration: none;
}
#blog-listing-medium .post .author-category {
  float: left;
  color: #999999;
/*  text-transform: uppercase; */
  letter-spacing: 0.08em;
}
#blog-listing-medium .post .author-category a {
  text-decoration: none;
}
#blog-listing-medium .post .date-comments {
  float: right;
}
#blog-listing-medium .post .date-comments a {
  color: #999999;
  margin-right: 20px;
}
#blog-listing-medium .post .date-comments a:hover {
  color: #FF8200;
}
@media (min-width: 768px) {
  #blog-listing-medium .post .date-comments {
    text-align: right;
  }
}
#blog-listing-medium .post .intro {
  text-align: left;
}
#blog-listing-medium .post .clearfix:before,
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:before,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:before,
#blog-listing-medium .post .navbar-header:after {
  content: " ";
  display: table;
}
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:after {
  clear: both;
}
#blog-listing-medium .post .clearfix:before,
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:before,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:before,
#blog-listing-medium .post .navbar-header:after {
  content: " ";
  display: table;
}
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:after {
  clear: both;
}
#blog-listing-medium .post .image {
  margin-bottom: 10px;
  overflow: hidden;
}
#blog-listing-medium .post .image img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
  #blog-listing-medium .post .image img.img-responsive {
    min-width: 100%;
  }
}
#blog-listing-medium .post .video {
  margin-bottom: 10px;
}
#blog-listing-medium .post .read-more {
  text-align: right;
}
#blog-listing-medium a.btn.btn-template-main:hover {
	color: #FF8200;
}

.box-image-text.blog .author-category {
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.box-image-text.blog .author-category a {
}

.box-image-text.blog .intro {
  text-align: left;
  margin-bottom: 20px;
}

#blog-homepage .post {
  margin-bottom: 30px;
}
#blog-homepage .post h2,
#blog-homepage .post h4,
#blog-homepage .post .author-category,
#blog-homepage .post .read-more {
  text-align: center;
}
#blog-homepage .post .read-more {
  margin-top: 20px;
}
#blog-post #post-content {
  margin-bottom: 20px;
}

#blog-post a {
	text-decoration: none;
	color: #FF8200
}

#categoryMenu h3 {
  padding: 20px;
  background: #f7f7f7;
  margin: 0;
  border-bottom: solid 1px #eeeeee;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #FF8200;
  background-color: #ffffff;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
.progress-bar-primary {
  background-color: #FF8200;
}
.progress-striped .progress-bar-primary {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


/* forms.less */
label {
}

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.form-control-nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  display: block;
  padding: 3px 6px ;
  clear: both;
  line-height: 1.42857143;
  color: #666;
  white-space: nowrap;
  text-align: left;
  font-size: 90%;
  width: 190px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(102, 102, 102);
  
}
.form-control-nav:focus:hover {
  color: #FF8200!important;
  background-color: transparent;
  border-color: #000;
  outline: 0;
 
}

.form-control:focus {
  border-color: #FF8200;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70, 127, 191, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70, 127, 191, 0.6);
}
.form-group {
  margin-bottom: 20px;
}

/* @end */

/* @group 404 */
/**************************************
**** 404 page stuff *******************
**************************************/

.flex-404 {
	display: flex;
	flex-flow: row wrap;
	height: 90vh;
	width: 100%;
	background:#222;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flex-404 > * { flex: 1 auto; }

.flex-404 img {
	height: 40%;
	}
.flex-404 .error-box {
	margin: 0 20px;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}


.flex-404 .error-box h1 {
	font-size: 2em;
	text-align: center;
}
 
.flex-404 .error-box h2 {
	text-align: center;
	font-size: 1.25em;
	font-weight: 400;
}

/* @end */








