#title-home {
	font-family: "Gotham SSm A", "Gotham SSm B";
	font-style: normal;
	font-weight: 700;
	background-color: var(--color-darkgray);
	text-align: center;
	padding-top: 10px;
}

#title-home h1 {
	font-size: 1em;
	text-align: center;
	color: #fff;
	background-color: #222;
}
