{{ "<!-- partials/article/article-list.html:start -->" | safeHTML }}
<div class="cl-article-list">
{{- range .Pages -}}
	{{/* <!-- if .Params.nl is true... --> */}}
	{{- if .Params.nl -}}
		{{/* <!-- ...then do not list page --> */}}
		{{ (printf "<!-- page %s skipped (nl is true) -->" .Title) | safeHTML }}
	{{- else -}}
	<section class="item {{ partial "f/getstyle.go" . }}">
		<div class="picture">
			{{- $img := partial "f/getimgpaththumbnail.go" . -}}
			{{- $alt := .Title -}}
			{{- $href := .RelPermalink -}}
			{{- $args := dict "img" $img "alt" $alt "href" $href -}}
			{{ partial "e/img.html" $args }}
		</div>
		<div class="text">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
		</div>
	</section>
	{{- end -}}
{{- end -}}
</div>
{{ "<!-- partials/article/article-list.html:end -->" | safeHTML }}
