<section id="training-summary" class="cl-sidebar-training">
	<h2>
		{{ site.Params.training.recaptitle }}
	</h2>
	<ul>
	{{ with .Params.title }}
		<li>
			{{ site.Params.training.name }} {{ . }}
		</li>
	{{ end }}
	{{ with .Params.duration }}
		<li>
			{{ site.Params.training.duration }} {{ . }}
		</li>
	{{ end }}
	{{ with .Params.price }}
		<li>
			{{ site.Params.training.price }} {{ . }}
		</li>
	{{ end }}
	{{ with .Params.attendees }}
		<li>
			{{ site.Params.training.attendees }} {{ . }}
		</li>
	{{ end }}
	{{ with .Params.format }}
		<li>
			{{ site.Params.training.format }} {{ . }}
		</li>
	{{ end }}
	{{ with .Params.location }}
		<li>
			{{ site.Params.training.location }} {{ . }}
		</li>
	{{ end }}
		<li>
			<a href="#contact">
				<div class="cl-core--button-primary" style="width:auto;">
					{{ site.Params.training.button }}
				</div>
			</a>
		<li>
	</ul>
</section>
