{{ "<!-- partials/b/data-cta.html:start -->" | safeHTML }}
{{ $sectionid := "call-to-action" }}
{{ if .sectionid }}{{ $sectionid = .sectionid }}{{ end }}

{{ with .datafile }}
	{{ $data := index site.Data.cta . }}
	{{ if $data }}
		{{ $localizeddata := index $data site.LanguageCode }}
		{{ with $localizeddata }}
			<header id="{{ $sectionid }}" class="layout-module-hero">
				<div class="layout-module-layer">
					<img src="{{ .picture }}" alt="{{ .title }}">
				</div>
				{{/* <!-- adding layout-hero div corrects bug on browsers where sticky doesn't work --> */}}
				<div class= "layout-module-layer" {{ with .opacity }}style="background-color:rgba(0,0,0,.{{ . }});"{{ end }}>
					<div class="flex-parent flex-parent-column flex-parent-justify-center flex-parent-align-center">
						{{ if eq "h2" .level }}
							<h2 class="text-white text-center">{{ "<!-- picture and h1 -->" | safeHTML }}
								{{ with .title }}
									{{ . | markdownify }}
								{{ end }}
							</h2>
						{{ else }}
							<h1 class="text-white text-center">{{ "<!-- picture and h2 -->" | safeHTML }}
								{{ with .title }}
									{{ . | markdownify }}
								{{ end }}
							</h1>
						{{ end }}
						{{ with .description }}
							<p class="text-white text-center">{{ . }}</p>
						{{ end }}
						{{ with .button }}
							<a href="{{ .link }}" class="button-primary">{{ .text }}</a>
						{{ end }}
					</div>
				</div>
			</header>
		{{ end }}
	{{ end }}
{{ end }}
{{ "<!-- partials/b/data-cta.html:end -->" | safeHTML }}
