{{ "<!-- partials/b/data-reference-list:start -->" | safeHTML }}
{{ $sectionid := "references" }}
{{ if .sectionid }}{{ $sectionid = .sectionid }}{{ end }}

<section id="{{ $sectionid }}" class="layout-module-group margin bg-white">
	<div class="flex-parent flex-parent-row flex-parent-gap flex-parent-justify-start">
		{{ range .datafilelist }}
			{{ $data := index site.Data.references . }}
			{{ if $data }}
				{{ $localizeddata := index $data site.LanguageCode }}
				{{ if $localizeddata }}
					<div class="flex-child flex-child-16p border">
						{{ $picpath := printf "/img/logos/%s" $localizeddata.picture }}
						{{ $srcset := partial "f/getpicturesrcset" $picpath }}
						<img src="{{ collections.Index $srcset 0 }}" srcset="{{ collections.Index $srcset 1 }}" {{ with $localizeddata.client }}alt="{{ . }}"{{ end }} class="logo" />
					</div>
				{{ end }}
			{{ end }}
		{{ end }}
	</div>
</section>
{{ "<!-- partials/b/data-reference-list:end -->" | safeHTML }}
