{{ "<!-- partials/b/data-cta.html:start -->" | safeHTML }}
{{ $sectionid := "call-to-action" }}
{{ if .sectionid }}{{ $sectionid = .sectionid }}{{ end }}

{{ with .datafile }}
	{{ $data := index site.Data.cta . }}
	{{ if $data }}
		{{ $localizeddata := index $data site.LanguageCode }}
		{{ with $localizeddata }}
			<header id="{{ $sectionid }}" class="cta">
				<div class="cta-layer">
					<img src="{{ .picture }}" alt="{{ .title }}">
				</div>
				{{/* <!-- adding layout-hero div corrects bug on browsers where sticky doesn't work --> */}}
				<div class= "cta-layer cta-layer-text" {{ with .opacity }}style="background-color:rgba(0,0,0,.{{ . }});"{{ end }}>
					{{ if eq "h2" .level }}
						<h2 class="cta-layer-text-title">{{ "<!-- picture and h1 -->" | safeHTML }}
							{{ with .title }}
								{{ . | markdownify }}
							{{ end }}
						</h2>
					{{ else }}
						<h1 class="cta-layer-text-title">{{ "<!-- picture and h2 -->" | safeHTML }}
							{{ with .title }}
								{{ . | markdownify }}
							{{ end }}
						</h1>
					{{ end }}
					{{ with .description }}
						<p class="cta-layer-text-description">{{ . }}</p>
					{{ end }}
					{{ with .button }}
						<a href="{{ .link }}" class="cta-layer-text-button">{{ .text }}</a>
					{{ end }}
				</div>
			</header>
		{{ end }}
	{{ end }}
{{ end }}
{{ "<!-- partials/b/data-cta.html:end -->" | safeHTML }}
