{{ "<!-- partials/b/data-module-list:start -->" | safeHTML }}
{{ $sectionid := "modules" }}
{{ if .sectionid }}{{ $sectionid = .sectionid }}{{ end }} 
<section id="{{ $sectionid }}" class="layout-module-group">
	{{ range .datafilelist }}
		{{ $data := index site.Data.modules . }}
		{{ if $data }}
			{{ $localizeddata := index $data site.LanguageCode }}
			{{ if $localizeddata }}
				{{ partial $localizeddata.layout $localizeddata }}
			{{ end }}
		{{ end }}
	{{ end }}
</section>
{{ "<!-- partials/b/data-module-list:end -->" | safeHTML }}