{{ "<!-- partials/b/data-testimonial-list.html:start -->" | safeHTML }}
{{ $sectionid := "testimonials" }}
{{ if .sectionid }}{{ $sectionid = .sectionid }}{{ end }}
<section id="{{ $sectionid }}" class="layout-module-group bg-lightgrey">
	<div class="testimonials flex-parent flex-parent-scroll flex-gap ios-scrollbar">
		{{ range .datafilelist }}
			{{ $data := index site.Data.testimonials . }}
			{{ if $data }}
				{{ $localizeddata := index $data site.LanguageCode }}
				{{ with $localizeddata }}
					<div class="flex-child testimonials-item">
						<div class="flex-parent flex-parent-column">
							{{ with .text }}
								<p class="testimonials-text">
									{{ . }}
								</p>
							{{ end }}
							<div class="flex-parent flex-parent-row flex-justify-start flex-gap">
								{{ if .img }}
									<div class="flex-child flex-child-20p testimonials-picture">
										<img class="" alt="{{ .name }}" src="{{ .img }}">
									</div>
								{{ end }}
								<div class="flex-child flex-child-80p">
									{{ with .name }}
										<h4 class="testimonials-name">{{ . }}</h4>
									{{ end }}
									{{ with .position }}
										<p class="testimonials-position">{{ . }}</p>
									{{ end }}
								</div>
							</div>
						</div>
					</div>
				{{ end }}
			{{ end }}
		{{ end }} 
	</div>
</section>
{{ "<!-- partials/b/data-testimonial-list.html:end -->" | safeHTML }}