{{ "<!-- partials/b/page-content.html:start -->" | safeHTML }}
{{ if .Content }}
	<div class="l-content">
		{{ if or (.Params.showtoc) (and (eq "guides" .Section ) (.IsPage))}}
			<div class="flex-parent flex-parent-row flex-parent-column-reverse-ontall">
				<article id="content-main" class="flex-child flex-child-100p">
					{{ with .Params.summary }}<p>{{ . }}</p>{{ end }} 
					<h2>{{ site.Params.tableofcontents }}</h2>
					{{ with .TableOfContents }}{{ . }}{{ end }} 
					{{ with .Content }}{{ . }}{{ end }} 
				</article>
			</div>
		{{ else }}
			<section id="content-main">
				{{ with .Content }}{{ . }}{{ end }} 
			</section>
		{{ end }}
	</div>
{{ end }}
{{ "<!-- partials/b/page-content.html:end -->" | safeHTML }}