{{ "<!-- partials/b/page-list-team.html:start -->" | safeHTML }}
<section id="team-member-list">
	<div class="layout-content">
		<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-parent-justify-start flex-parent-gap">
			{{ range .Pages.ByWeight }}
				<a href="{{ .RelPermalink }}" class="flex-child flex-child-33p flex-parent flex-parent-column flex-parent-align-center paddingv-small">
					<img src="{{ add .RelPermalink "thumbnail.jpg" }}" alt="{{ .Params.name }}" class="teammember-img">	
					<h2 class="teammember-name">{{ .Params.name }}</h2>
					<p class="teammember-title">{{ .Params.position }}</p>
				</a>
			{{ end}}
		</div>
	</div>
</section>
{{ "<!-- partials/b/page-list-team.html:end -->" | safeHTML }}
