{{ "<!-- partials/b/page-content-team-single.html:start -->" | safeHTML }}
<section id="team-member" class="layout-content marginv-large">
	<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-parent-gap-big">
		<div class="flex-child flex-child-33p">
			{{ with .Params }}
				<img src="{{ .picture }}" class="style-photograph" alt="{{ .name }}">
			{{ end }}
		</div>
		<div class="flex-child flex-child-67p">
			<h1>{{ .Params.name }}</h1>
			<p class="style-person-title">{{ .Params.position }}</p>
			{{ with .Content }}{{ . | markdownify }}{{ end }}
		</div>
	</div>
</section>
{{ "<!-- partials/b/page-content-team-single.html:end -->" | safeHTML }}
