{{ "<!-- partials/b/page-content-news-single.html:start -->" | safeHTML }}
<div class="layout-content">
	<div class="flex-parent flex-parent-row flex-parent-column-reverse-ontall flex-parent-gap-big">
		<aside id="sidebar" class="flex-child flex-child-33p layout-double-sticky">
			<div class="scroller">
				{{ partial "sidebar/sidebar-related.html" . }}
				{{ partial "sidebar/sidebar-top-categories.html" . }}
			</div>
		</aside>
		<article id="content-main" class="flex-child flex-child-67p">
			<div class="flex-parent flex-parent-column">
				<div class="flex-parent flex-parent-row">
					<h1>{{ .Title }}</h1>
				</div>
				{{ partial "e/metadata.html" . }}
				{{ partial "e/tags.html" . }}
				<div class="flex-parent flex-parent-row paddingv-tiny">			
					<div id="post-content">
					{{ with .Content }}{{ . }}{{ end }}
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
{{ "<!-- partials/b/page-content-news-single.html:end -->" | safeHTML }}
