{{ "<!-- partials:home:references:start -->" | safeHTML }}
<section id="references" class="layout-module-group margin bg-white">
	<div class="flex-parent flex-parent-row flex-gap flex-justify-start">
		{{ range .datafilelist }}
			{{ $data := index site.Data.references . }}
			{{ if $data }}
				{{ $localizeddata := index $data site.LanguageCode }}
				{{ if $localizeddata }}
					<div class="flex-child flex-child-16p border">
						<img src="/img/logos/{{ $localizeddata.logo }}" alt="{{ $localizeddata.logo }}" class="logo" />
					</div>
				{{ end }}
			{{ end }}
		{{ end }}
	</div>
</section>
{{ "<!-- partials:home:references:end -->" | safeHTML }}
