{{ "<!-- partials/b/location.html:start -->" | safeHTML }}
<section id="address" class="layout-module marginv-tiny">
	<div class="layout-module-layer bg-black">
		<img src="{{ site.Params.map.bgimage }}">
	</div>
	<div class="layout-module-layer">
		<div class="layout-module-column-text text-white">	
		<h2 class="section-heading">
				{{ with site.Params.map.title }}{{ . | markdownify }}{{ end }}
			</h2>
			<p>
				{{ with site.Params.map.address }}{{ . | safeHTML }}{{ end }}
			</p>
		</div>
	</div>
</section>{{ "<!-- map end -->" | safeHTML }}
{{ "<!-- partials/b/location.html:end -->" | safeHTML }}