<div class="cl-critical--content-width cl-critical--content-space-v cl-side-main">
	<aside id="sidebar" class="cl-side-main--side cl-sidebar">
		{{ partial "side/side-topcategories.html" . }}
	</aside>
	<main id="main" role="main" class="cl-side-main--main">
		{{ partial "e/tags.html" . }}
		<article id="article" class="cl-content">
			<p class="text-muted">
				{{ if isset .Params "author" }}
					{{ .Site.Params.news.by }}
					<a href="{{ (index .Site.Params.navigation.items "004").url }}{{ .Params.author | urlize }}">
						{{ .Params.author }}
					</a>
				{{ end }}
				<time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
					{{ partial "f/getdate.go" .Date }}
				</time> 
			</p>
			{{ with .Content }}{{ . }}{{ end }}
		</article>
	</main>
</div>