{{ if and (not .IsHome) (not .Parent.IsHome) }}
	{{/* <!-- then at least 2 levels of depth, show breadcrumbs --> */}}
	<aside id="breadcrumbs" class="cl-breadcrumbs">
		<div class="cl-critical--content-width">
			<ol class="cl-breadcrumbs--list">
				{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
			</ol>
		</div>
	</aside>
{{ else }}
	{{ "<!-- skipped: no breadcrumbs on home or 1st level section -->" | safeHTML }}
{{ end }}



{{ define "breadcrumbnav" }}
	{{ if .p1.Parent }}
		{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
	{{ else if not .p1.IsHome }}
		{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
	{{ end }}
	{{ if .p1.IsHome }}
		<li class="cl-breadcrumbs--item">
			<a href="{{ .p1.Permalink }}" class="cl-breadcrumbs--link ">
				{{ $img := resources.Get "img/icons/home.svg" }}
				<img src="data:image/svg+xml;base64,{{ $img.Content | base64Encode }}" height="12px" width="12px" alt="Back to Ideas on Stage Homepage">
			</a>
		</li>
	{{ else if eq .p1 .p2 }}
		{{/* <!-- currently active page --> */}}
	{{ else }}
		<li class="cl-breadcrumbs--item">
				{{ $img := resources.Get "img/icons/right.svg" }}
				<img src="data:image/svg+xml;base64,{{ $img.Content | base64Encode }}" height="12px" width="12px" alt="Right Arrow">
		</li>
		<li class="cl-breadcrumbs--item">
			<a href="{{ .p1.Permalink }}" class="cl-breadcrumbs--link">
				{{ .p1.Title }}
			</a>
		</li>
	{{ end }}
{{ end }}
