{{ "<!-- partials/body/content-team-single.html:start -->" | safeHTML }}
<article id="team-member" class="cl-critical--content-width cl-critical--content-space-v cl-content">
	<div class="cl-content--sidebar">
		{{ with .Params }}
			<img src="{{ .picture }}" class="cl-content--style-photograph" alt="{{ .name }}">
		{{ end }}
	</div>
	<div class="cl-content--main">
		<h1>{{ .Params.name }}</h1>
		<p class="cl-content-team-single--title">{{ .Params.position }}</p>
		{{ with .Content }}{{ . | markdownify }}{{ end }}
	</div>
</article>
{{ "<!-- partials/body/content-team-single.html:end -->" | safeHTML }}
