{{ "<!-- partials/body/content-training-section.html:start -->" | safeHTML }}
<div class="cl-critical--content-width cl-critical--content-space-v cl-content">
	<section id="sidebar" class="cl-content--sidebar">
		<div class="cl-content--sidebar-scroller">
			{{ partial "sidebar/sidebar-menu.html" page }}
		</div>
	</section>
	<article id="content-main" class="cl-content--main">
		{{ with page.Content }}{{ . }}{{ end }}
	</article>
</div>
{{ "<!-- partials/body/content-training-section.html:end -->" | safeHTML }}
