{{ "<!-- partials/body/content.html:start -->" | safeHTML }}
{{ if .Content }}
	<article id="content-main" class="cl-critical--content-width cl-critical--content-space-v cl-content">
		{{ if or (.Params.showtoc) (and (eq "guides" .Section ) (.IsPage))}}
			{{ with .Params.summary }}
				<p>
					{{ . }}
				</p>
			{{ end }}
			<h2>
				{{ site.Params.tableofcontents }}
			</h2>
			{{ with .TableOfContents }}
				{{ . }}
			{{ end }}
		{{ end }}
		{{ with .Content }}
			{{ . }}
		{{ end }}
	</article>
{{ else }}
	{{ "<!-- no content found -->" | safeHTML }}
{{ end }}
{{ "<!-- partials/body/content.html:end -->" | safeHTML }}