{{ "<!-- partials/body/content-training-single.html:start -->" | safeHTML }}
<div class="cl-critical--content-width cl-critical--content-space-v cl-content">
	<aside id="sidebar" class="cl-content--sidebar">
		<div class="cl-content--sidebar-scroller">
			{{ partial "sidebar/sidebar-training.html" . }}
		</div>
	</aside>
	<article id="content-main" class="cl-content--main">
		{{ with .Content }}{{ . }}{{ end }}
	</article>
</div>
{{ "<!-- partials/body/content-training-single.html:end -->" | safeHTML }}
