{{ "<!-- partials/body/content-training-single.html:start -->" | safeHTML }}
<div class="cl-critical--content-width cl-critical--content-space-v">
	<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-parent-gap-big">
		<aside id="sidebar" class="flex-child flex-child-33p layout-double-sticky">
			<div class="scroller">
				{{ partial "sidebar/sidebar-training.html" . }}
			</div>
		</aside>
		<article id="content-main" class="flex-child flex-child-67p cl-content">
			{{ with .Content }}{{ . }}{{ end }}
		</article>
	</div>
</div>
{{ "<!-- partials/body/content-training-single.html:end -->" | safeHTML }}
