{{ "<!-- partials/body/cta.html:start -->" | safeHTML }}
{{ with .Params.datacta }}
	{{ $data := index site.Data.cta . }}
	{{ if $data }}
		{{ $localizeddata := index $data site.LanguageCode }}
		{{ with $localizeddata }}
			<header id="call-to-action" class="bg-black cl-cta" {{ with .opacity }}style="background-color:rgba(0,0,0,.{{ . }});"{{ end }}>
				{{ $srcset := partial "f/getpicturesrcset.go" .picture }}
				<img src="{{ collections.Index $srcset 0 }}" srcset="{{ collections.Index $srcset 1 }}" alt="{{ .title }}" class="cl-cta-img" width="100%" height="60vh">
				{{ with .title }}
					<h2 class="cl-cta--title">
						{{ . | markdownify }}
					</h2>
					{{ end }}
				{{ with .description }}
					<p class="cl-cta--description">
						{{ . }}
					</p>
				{{ end }}
				{{ with .button }}
					<a href="{{ .link }}" class="critical--button-primary">
						{{ .text }}
					</a>
				{{ end }}
			</header>
		{{ end }}
	{{ end }}
{{ end }}
{{ "<!-- partials/body/cta.html:end -->" | safeHTML }}
