{{ "<!-- partials/body/h1home.html:start -->" | safeHTML }}
<header id="title-home" class="cl-title-home">
	<h1 class="cl-title-home--title">
		{{ with .Title }}{{ . | markdownify  }}{{ end }}
	</h1>
</header>
<nav id="country-list" class="cl-title-home--country-list">
	<ul class="cl-title-home--country-list-list">
		{{ range site.Params.countries }}
			<li class="cl-title-home--country-list-item">
				<a href="{{ .url }}" class="critical--button-secondary">
					{{ .name }}
				</a>
			</li>
		{{ end }}
	</ul>
</nav>
{{ "<!-- partials/body/h1home.html:end -->" | safeHTML }}
