{{ "<!-- partials/body/modules-aside:start -->" | safeHTML }}
{{ with .Params.datamoduleasidelist }}
	<aside>
		<section id="modules-aside" class="modules">
				{{ range . }}
					{{ $data := index site.Data.modules . }}
					{{ if $data }}
						{{ $localizeddata := index $data site.LanguageCode }}
						{{ if $localizeddata }}
							{{ partial $localizeddata.layout $localizeddata }}
						{{ end }}
					{{ end }}
				{{ end }}
		</section>
	</aside>
{{ end }}
{{ "<!-- partials/body/modules-aside:end -->" | safeHTML }}