{{ "<!-- partials/b/page-nav.html:start -->" | safeHTML }}
<nav class="iosnavbar">
	
	<div class="flex-parent flex-parent-row flex-parent-align-center">
		<!-- logo -->
		<div class="iosnavbar-brand">
			{{ $home := .Site.BaseURL }}
			{{ if ne "en" .Site.LanguageCode }}
				{{ $home = printf "%s%s/" $home .Site.LanguageCode }}	
			{{ end }}
			<a class="page-scroll" href="{{ $home }}">
				{{ $logo := resources.Get "img/ideas-on-stage.svg" }}
				{{ $logo.Content | safeHTML }}
			</a>
		</div>
		
		<!-- burger menu on ts screens -->				
		<label for="drop" class="menutoggle iosnavbar-burger">
			<svg fill="#fff" width="16px" height="16px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M2,4A1,1,0,0,1,3,3H21a1,1,0,0,1,0,2H3A1,1,0,0,1,2,4Zm1,9H21a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Zm0,8H21a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z"/>	
			</svg>
		</label>
		<input type="checkbox" id="drop" />
		
		<!-- iosmenu start -->
		<ul class="iosnavbar-menu">
			
			<!-- Menubar Menu Items -->
			{{ range .Site.Params.navigation.menubar }}
				<li class="iosnavbar-menu-item">
					<a class="page-scroll" href="{{ .url }}" onclick="getElementById('drop').checked = false">
						{{ if .icon }}
							<i class="fa {{ .icon }}"></i>
							<span class="iosnavbar-shorten">{{ .name }}</span>
						{{ else }}
							{{ .name }}
						{{ end }}
					</a>
				</li>  
			{{ end }}
				
			<!-- Search Dropdown -->
			<li class="iosnavbar-menu-item">
				<label for="drop-5" class="menutoggle">
					<i class="fa fa-search"></i>
				</label>
				<a href="#">
					<i class="fa fa-search"></i>
				</a>
				<input type="checkbox" id="drop-5"/>
				<ul class="iosnavbar-menu-dropdown">
					<li id="fastSearch" class="iosnavbar-menu-dropdown-item">
						<input id="searchInput" tabindex="0">
					</li>
					<li class="iosnavbar-menu-dropdown-item">
						<ul id="searchResults">
						</ul>
					</li>
				</ul>
			</li>
			
			<!-- Languages Drop Down -->
			<li class="iosnavbar-menu-item">
				<label for="drop-4" class="menutoggle">
					<i class="fa fa-globe"></i>
					<span class="iosnavbar-shorten">
					{{ with .Language.LanguageName }}{{ . }}{{ end }}
					</span>
					<i class="fa fa-chevron-down"></i>
				</label>
				<a href="#">
					<i class="fa fa-globe"></i>
					<span class="iosnavbar-shorten">
					{{ with .Language.LanguageName  }}{{ . }}{{ end }}
					</span>
					<i class="fa fa-chevron-down"></i>
				</a>
				<input type="checkbox" id="drop-4"/>
				<ul class="iosnavbar-menu-dropdown">
					{{ if .IsTranslated }}
						{{ range .AllTranslations }}
							{{ if ne (site.LanguageCode | lower) (.Lang | lower) }}
								<li class="iosnavbar-menu-dropdown-item">
									<a href="{{ .Permalink }}">
										{{ .Language.LanguageName }}
									</a>
								</li>
							{{ end }}
						{{ end }}
					{{ end }}
				</ul>
			</li>
			
		</ul><!-- iosmenu end -->
		
	</div>
</nav>
{{ "<!-- partials/b/page-nav.html:end -->" | safeHTML }}