{{ "<!-- partials/body/pages-tags:start -->" | safeHTML }}
<div class="cl-critical--content-width cl-critical--content-space-v cl-content">
	<aside id="sidebar" class="cl-content--sidebar">
		{{ partial "sidebar/sidebar-top-categories.html" . }}
	</aside>
	<article id="content-main" class="cl-content--main">
		<ul class="tags">
			{{ range .Pages.ByTitle }}
				<li class="tags--tag">
					<a href="{{ .RelPermalink }}">
						{{ .Title }}
					</a>
				</li>
			{{ end }}
		</ul>
	</article>
</div>
{{ "<!-- partials/body/pages-tags:end -->" | safeHTML }}
