{{ "<!-- partials/b/data-testimonial-list.html:start -->" | safeHTML }}
{{ with .Params.datatestimoniallist }}
	<section id="testimonials" class="cl-testimonials bg-light">
		{{ range . }}
			{{ $data := index site.Data.testimonials . }}
			{{ if $data }}
				{{ $localizeddata := index $data site.LanguageCode }}
				{{ with $localizeddata }}
					<div class="cl-testimonials--item">
						{{ with .text }}
							<p class="cl-testimonials--text">
								{{ . }}
							</p>
						{{ end }}
						<div class="cl-testimonials--person">
							{{ if .img }}
								<div class="cl-testimonials--picture">
									<img class="" alt="{{ .name }}" src="{{ .img }}">
								</div>
							{{ end }}
							<div>
								{{ with .name }}
									<h4 class="cl-testimonials--name">{{ . }}</h4>
								{{ end }}
								{{ with .position }}
									<p class="cl-testimonials--position">{{ . }}</p>
								{{ end }}
							</div>
						</div>
					</div>
				{{ end }}
			{{ end }}
		{{ end }} 
	</section>
{{ end }}
{{ "<!-- partials/b/data-testimonial-list.html:end -->" | safeHTML }}