{{ "<!-- partials/b/page-title.html:start -->" | safeHTML }}

{{ $hero := partial "f/getheropicturepath" . }}
{{ if $hero }}
	{{ partial "body/hero.html" . }}
{{ else if .Title }}
	{{ if and (eq .Section "news") (.IsPage) }}
		{{/* <!-- no title for news pages (ideally should be replaced by a parameter) --> */}}
	{{ else if and (eq .Section "team") (.IsPage) }}
		{{/* <!-- no title for team member  pages (ideally should be replaced by a parameter) --> */}}
	{{ else }}
		<header id="title" class="cl-title">
			<h1>
				{{ with .Title }}{{ . | markdownify }}{{ end }}
			</h1>
		</header>
	{{ end }}		
{{ end }}
{{ "<!-- partials/b/page-title.html:end -->" | safeHTML }}
