{{ "<!-- partials/b/page-title-home.html:start -->" | safeHTML }}
<header id="title-home" class="title-home">
	<h1 class="title-home--title">
		{{ with .Title }}{{ . | markdownify  }}{{ end }}
	</h1>
</header>
<nav id="country-list" class="title-home--country-list">
	<ul class="title-home--country-list-list">
		{{ range site.Params.countries }}
			<a href="{{ .url }}">
				<li class="title-home--country-list-item">
					{{ .name }}
				</li>
			</a>
		{{ end }}
	</ul>
</nav>
{{ "<!-- partials/b/page-title-home.html:end -->" | safeHTML }}
