{{ "<!-- partials:about-ios -->" | safeHTML }}
	{{ partial "aboutreferences_new.html" . }}

<section id="about-ios" class="bg-white paddingv-huge">
    <div class="container ">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
	            <h2 class="marginv-none">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>            
    	        <p>{{ with .Site.Params.about.description1 }}{{ . | markdownify }}{{ end }}</p>
				<img alt="bullet" src="/pictures/home/ios-orange-bullet.png" height=13 width=13 class="center-block marginv-none">
    	    </div>
        </div>
    </div>
	{{ partial "inserts-top.html" . }}
</section>
