{{ "<!-- partials:about-ios -->" | safeHTML }}
<section id="about-ios" class="bg-white">
    <div class="container">
        <div class="row paddingv-huge">       
            <div class="col-md-10 col-md-offset-1 text-center">
            <h1 class="">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h1>            
            <p class="">{{ with .Site.Params.about.description1 }}{{ . | markdownify }}{{ end }}</p>            
			<div class="col-md-2">
			</div>       
        </div>
    </div>
</section>

