{{ "<!-- partials:aboutreferences_new -->" | safeHTML }}
<section id="references" class="bg-lightgrey" style="padding-top: 10px; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
        	<!-- *** REFERENCES CAROUSEL *** -->
        	<ul class="owl-carousel references same-height-row" style="padding-left: 0px; background-color: ##e2f2f2;">
            {{- $.Scratch.Set "count" 0 }}
            {{- range .Site.Data.references }}
                {{- if .showonhome }}
                {{- if eq $.Site.Params.languagecode .language }}
                {{- $.Scratch.Add "count" 1 }}
                <div class="thumbnail" style="background-color: transparent;">
					{{ partial "reference-logo.html" . }}
    			</div>
    			{{- end }}
				{{- end }}
			{{- end }}
            </ul>
        </div>
    </div>
</section>