{{ "<!-- partials:contact.html:start -->" | safeHTML }}

<section id="contact" class="layout-section">

	<div class="layout-page-content bg-white">
		
		{{ with .Site.Params.contact }}
			{{ partial "section-title.html" . }}
		{{ end }}
		
		<div class="flex-parent-column">
			
	        <form action="https://hooks.zapier.com/hooks/catch/607769/43m9eq/" method="POST" name="sentMessage" id="contactForm">
	            <div class="form-group">
	         		<input type="hidden" name="_subject" value="Form sent from page: {{ .Permalink }}">
	           	</div>
	            <div class="form-group">
	                <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ .  | markdownify }}{{ end }}" name="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.warning }}{{ . | markdownify}}{{ end }}">
	                <p class="help-block text-danger"></p>
	            </div>
	            <div class="form-group">
	                <input type="email" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . | markdownify }}{{ end }}" name="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.warning }}{{ . | markdownify }}{{ end }}">
	                <p class="help-block text-danger"></p>
	            </div>
	            <div class="form-group">
	                <input type="tel" class="form-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . | markdownify }}{{ end }}" name="phone">
	                <p class="help-block text-danger"></p>
	            </div>
	            <div class="form-group" id="fooDiv">
					<label for="foo">Leave this field blank</label>
					<input type="text" name="foo" id="foo">
				</div>
				<script>
					(function () {
						var e = document.getElementById("fooDiv");
						e.parentNode.removeChild(e);
					})();
				</script>
	            <div class="form-group">
	                <textarea class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{ . | markdownify }}{{ end }}" name="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.warning }}{{ . | markdownify }}{{ end }}"></textarea>
	                <p class="help-block text-danger"></p>
	            </div>
	            <div class="text-center">
	                <div id="success">
	                	{{ with .Site.Params.contact.success }}{{ . | markdownify }}{{ end }}
	                </div>
	                <input type="submit" value="{{ with .Site.Params.contact.buttonText }}{{ . | markdownify }}{{ end }}" class="btn btn-primary btn-xl">
	            </div>
	        </form>
			
		</div>

	</div>

</section>


{{ "<!-- partials:contact.html:start -->" | safeHTML }}
