{{ $Title := .Title }}
{{ $.Scratch.Set "count" 0 }}
{{ range $.Site.Data.events }}
	{{ if eq .title $Title }}
		{{ if ge (time .date) now.Unix }}
			{{ $.Scratch.Add "count" 1 }}
			{{ if eq 1 ($.Scratch.Get "count") }}
				<section id="events-tabs">
   				 <div class="container">
	    		  <div class="row">
		           <div class="col-sm-10 col-sm-offset-1">
				     <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" role="tablist">								
			{{ end }}
			{{ if le ($.Scratch.Get "count") 3 }}
					<li role="presentation" class="{{ if eq 1 ($.Scratch.Get "count") }}active{{ end }}">
						{{ $date := time .date }}
						<a href="#{{ $.Scratch.Get "count" }}" aria-controls="{{ $.Scratch.Get "count" }}" role="tab" data-toggle="tab">{{ $date.Format "2 January 2006" }}, {{ .location }}</a>
					</li>
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{ if ge ($.Scratch.Get "count") 1 }}
				</ul>
				<div id="myTabs" class="tab-content">
{{ end }}

{{ $.Scratch.Set "count" 0 }}
{{ range $.Site.Data.events }}
	{{ if eq .title $Title }}
		{{ if ge (time .date) now.Unix }}
			{{ $.Scratch.Add "count" 1 }}
			{{ if le ($.Scratch.Get "count") 3 }}
					<div role="tabpanel" class="tab-pane {{ if eq 1 ($.Scratch.Get "count") }}active{{ end }}" id="{{ $.Scratch.Get "count" }}">
				  		<div class="row">
					  		<div class="col-sm-8">
							  	<ul>
									<li>{{ $.Site.Params.events_tabs.language }}<b>{{ .language }}</b></li>						  
									<li>{{ $.Site.Params.events_tabs.location }}<b>{{ .location }}</b></li>						  
									<li>{{ $.Site.Params.events_tabs.address }}<b>{{ .address }}</b></li>				  
									<li>{{ $.Site.Params.events_tabs.time_start }}<b>{{ .time_start }}</b></li>
									<li>{{ $.Site.Params.events_tabs.time_end }}<b>{{ .time_end }}</b></li>
									<li>{{ $.Site.Params.events_tabs.price }}<b>{{ .price }}</b></li>
								</ul>
				{{ .Content }}
								{{ $date := time .date }}
								<a href="{{ .registerlnk }}" class="btn btn-primary btn-xl page-scroll">{{ with $.Site.Params.events_tabs.buttonText }}{{ . }}{{ end }}{{ if $.Site.Params.events_tabs.buttondate }} - {{ $date.Format "2 January 2006" }}{{ end }}{{ if $.Site.Params.events_tabs.buttonplace }} - {{ .location }}{{ end }}</a>
							</div>
							
				{{ $Trainer := .trainer }}
				{{ range $.Site.Data.teammembers }}
					{{ if eq .name $Trainer }}
							<div class="col-sm-4">
				                <a href="#team-membersModal{{ ($.Scratch.Get "count") }}" data-toggle="modal" class="people-box">
							        <img src="/pictures/team-members/{{ if ne .img nil }}{{ .img }}{{ else}}{{ .name | urlize}}.png{{ end }}" class="people-box-image" alt="">
							        <div class="people-box-caption">
							            <div class="people-box-caption-content">
							                <div class="people-name">{{ .name }}</div>
											<div class="people-title">{{ .title }}</div>
											<div class="people-description">{{ index (split .description ".") 0 }}.</div>
										</div>
									</div>
								</a>
								{{ "<!-- references Modals -->" | safeHTML }}
								<div class="portfolio-modal modal fade" id="team-membersModal{{ ($.Scratch.Get "count") }}" tabindex="-1" role="dialog" aria-hidden="true">
						{{ partial "team-member-modal.html" . }}
								</div>

							</div> <!--end col trainer-->
					{{ end }}
				{{ end }}							

						</div> <!--end row-->
					</div> <!--end tabpanel-->
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}					

{{ if ge ($.Scratch.Get "count") 1 }}
		        </div> <!--end myTabs-->
		    </div>
    	</div>
    </div>
</section> <!--end events-tabs-->
{{ end }}
