{{ "<!-- footer -->" | safeHTML }}
		<footer>
		    <div class="container">
		        <div class="row">
					<div class="col-sm-3">
		        		{{ with .Site.Copyright }}{{ . }}{{ end }} {{ with .Site.Params.year }}{{ . }}{{ end }}<br />
		        		{{ with .Site.Params.rights }}{{ . }}{{ end }}<br />
		        		{{ with .Site.Params.cookies }}{{ . | markdownify }}{{ end }}
		        		<a href="{{ .Site.BaseURL }}{{ .Site.Params.cookieslink }}"> Cookies policy</a>
			        </div>
					<div class="col-sm-3">
		        		{{ with .Site.Params.footer_desc }}{{ . | markdownify }}{{ end }}
			        </div>
					<div class="col-sm-3">
						<br>
					</div>
					<div class="col-sm-3">
						<a href="{{ .Site.BaseURL }}#page-top" class="btn btn-default tada">{{ with .Site.Params.navigation.back }}{{ . }}{{ end }}</a>
					</div>
		        </div>
		    </div>
		</footer>