{{/* <!--
	gets the path to the hero image
	- first is simply .Params.picture if the .link and .picture parameters exist
	- second is .url.picture if no .link exists but .picture exists
	- third is hero.jpg picture in same folder as page
 --> */}}

{{ $lang := site.LanguageCode }}
{{ $datetoto := . }}
{{ $date := dateFormat "02 January 2006 15:00" . }}
{{ $datenum := dateFormat "2006 1 2" . }}
{{ $datesplit := split $datenum " " }}
{{ $daynum := index $datesplit 2 }}
{{ $moisnum := index $datesplit 1 }}
{{ $moistxt := "" }}
{{ $yearnum := index $datesplit 0 }}

{{ if ne "en" $lang }}
	{{ $date = $daynum }}
	{{ $date = add $date " " }}
	{{ if eq "fr" $lang }}
		{{ $moistxt = index site.Data.mois $moisnum }}
	{{ else if eq  "es" $lang }}
		{{ $moistxt = index site.Data.moises $moisnum }}
		{{ $date = add $date .Date.Year }}
	{{ else if eq "it" $lang}}
		{{ $moistxt = index site.Data.moisit $moisnum }}
	{{ end }}
	{{ $date = add $date $moistxt }}
	{{ $date = add $date " " }}
	{{ $date = add $date $yearnum }}
{{ end }}

{{ $date = add $date " " }}

{{ return $date }}