{{ "<!-- partials:head-meta.html:start -->" | safeHTML }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" property="og:author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
<meta name="title" property="og:title" content="{{ .Title }}">
<meta name ="url" property="og:url" content ="{{ .Permalink }}">
{{ if and (eq "news" .Type) (.IsPage) }}
	{{/* <!-- news section page --> */}}
	<meta name="description" property="og:description"  content="{{ .Params.title }} | {{ .Params.author }}">
{{ else if and (eq "team" .Type) (.IsPage) }}
	{{/* <!-- team section page --> */}}
	<meta name="description" property="og:description"  content="{{ .Params.name }} | {{ .Params.position }} | Ideas on Stage">
{{ else if (eq "tags" .Type) }}
	{{/* <!-- tags page --> */}}
	<meta name="description" property="og:description"  content="Pages tagged as {{ .Params.title }} | Ideas on Stage">
{{ else }}
	{{ $desc := .Description }}
	{{ if .IsSection }}
		{{ if .Paginator }}
			{{ if ge .Paginator.PageNumber 2 }}
				{{ $desc = printf "%s | Page %s" .Description (string .Paginator.PageNumber) }}
			{{ end }}
		{{ end }}
	{{ end }}
	<meta name="description" property="og:description"  content="{{ $desc }}">
{{ end }}
{{ if .Params.picture }}
	<meta name ="image" property="og:image" content="{{ partial "f/getpicturepath" . }}">
{{ end }}
{{ if .Params.picture }}
	<link rel="image_src" href="{{ partial "f/getpicturepath" . }}">
{{ end }}
{{ with .Params.mastodon }}
	<link rel="me" href="{{ . }}">
{{ end }}
{{ if eq .Params.ni true }}
	<meta name="robots" content="noindex">
{{ end }}
{{ "<!-- partials:head-meta.html:end -->" | safeHTML }}