{{ "<!-- partials:head-title.html:start -->" | safeHTML }}
<title>
	{{ if .IsHome }}
		{{ if .Params.headtitle }}
			{{ (printf "%s | %s" .Params.headtitle site.Params.Country) | truncate 70 }}
		{{ else }}
			{{ (printf "%s | %s" .Title site.Params.Country) | truncate 70 }}
		{{ end }}
	{{ else if .Params.Title }}
		{{ (printf "%s | %s %s" .Params.Title site.Title site.Params.Country) | truncate 70 }}
		{{ if .Paginator }}
			{{ if ge .Paginator.PageNumber 2 }}
				| Page {{ .Paginator.PageNumber }}
			{{ end }}
		{{ end }}
	{{ else if and .Params.position .Params.Name }}
		{{ (printf "%s - %s | %s %s" .Params.name .Params.position site.Title site.Params.Country) | truncate 70 }}
	{{ else if .Params.name }}
		{{ (printf "%s | %s %s" .Params.name site.Title site.Params.Country) | truncate 70 }}
	{{ else if eq "404" .Page.Kind }}
		{{ (printf "404 Page Not Found") | truncate 70 }}
	{{ else }}
		{{ (printf "%s %s" site.Title site.Params.Country) | truncate 70 }}
	{{ end }}
</title>
{{ "<!-- partials:head-title.html:end -->" | safeHTML }}