{{ "<!-- partials/head-favicon.html:start -->" | safeHTML }}
{{ "<!-- Generic -->" | safeHTML }}
<link rel="icon" type="image/x-icon" href="/img/favicon.ico?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png?v=3">
{{ "<!-- Android -->" | safeHTML }}		
<link rel="shortcut icon" sizes="192x192" href="/img/android-chrome-192x192.png?v=3">
<link rel="shortcut icon" sizes="512x512" href="/img/android-chrome-512x512.png?v=3">
{{ "<!-- iOS -->" | safeHTML }}
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png?v=3">
{{ "<!-- macOS -->" | safeHTML }}
<link rel="mask-icon" href="/img/safari-pinned-tab.svg?v=3" color="#FF8200">		
{{ "<!-- partials/head-favicon.html:end -->" | safeHTML }}
