{{ "<!-- partials:head-meta.html:start -->" | safeHTML }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" property="og:author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
<meta name="description" property="og:description"  content="{{ if .Description }}{{ .Description }}{{ else if .Params.author }}{{ .Params.title }} | {{ .Params.author }}{{ else }}{{ .Params.name }} | {{ .Params.position }} | Ideas on Stage{{ end }}">
<meta name="title" property="og:title" content="{{ .Title }}">
<meta name ="url" property="og:url" content ="{{ .Permalink }}">
{{ if .Params.picture }}<meta name ="image" property="og:image" content="{{ partial "f/getpicturepath" . }}">{{ end }}
{{ if .Params.picture }}<link rel="image_src" href="{{ partial "f/getpicturepath" . }}">{{ end }}
{{ if eq .Params.disallowbots true }}<meta name="robots" content="noindex">{{ end }}
{{ "<!-- partials:head-meta.html:end -->" | safeHTML }}