{{ "<!-- partials:head-title.html:start -->" | safeHTML }}
<title>
	{{ if .IsHome }}
		{{ printf "%s %s | %s" site.Title site.Params.Country .Title }}
	{{ else if .Params.Title }}
		{{ (printf "%s | %s %s" .Params.Title site.Title site.Params.Country) | truncate 70 }}
	{{ else if and .Params.position .Params.Name }}
		{{ (printf "%s - %s | %s %s" .Params.name .Params.position site.Title site.Params.Country) | truncate 70 }}
	{{ else if .Params.name }}
		{{ (printf "%s | %s %s" .Params.name site.Title site.Params.Country) | truncate 70 }}
	{{ else if eq "404" .Page.Kind }}
		{{ (printf "404 Page Not Found") | truncate 70 }}
	{{ else }}
		{{ (printf "%s %s" site.Title site.Params.Country) | truncate 70 }}
	{{ end }}
</title>
{{ "<!-- partials:head-title.html:end -->" | safeHTML }}

{{/* <!-- 
	Creates normal title
	.Params.position is used for team member pages
 --> */}}