{{ "<!-- partials:head.html -->" | safeHTML }}
{{ partial "head-meta.html" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "found" "false" }}
{{ range .Site.Params.listpages }}
	{{ if eq $.Page.URL .url }}
		<meta name="author" property="og:author" content="{{ with $.Site.Params.author }}{{ . }}{{ end }}">
		<meta name="description" property="og:description" content="{{ with .description }}{{ . }}{{ end }}">
		<title>{{ with .title }}{{ . }}{{ end }}</title>
		{{ with .title }} <meta name="title" property="og:title" content="{{ . }}">{{ end }}
		
		{{ with .banner }}<meta name ="image" property="og:image" content="{{ . }}">{{ end }}
		{{ $scratch.Set "found" "true" }}
	{{ end }}
{{ end }}
{{ if eq ($scratch.Get "found") "false" }}
	<meta name="author" property="og:author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
	<meta name="description" property="og:description"  content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Params.position }}{{ end }}">
	<title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Params.name }}{{ if .Params.position }} | {{ .Params.position }}{{ end }}{{ end }}</title>
	{{ with .Title }} <meta name="title" property="og:title" content="{{ . }}">{{ end }}
	<meta name ="image" property="og:image" content="/pictures/home/ideas-on-stage.jpg">
{{ end }}
<meta name ="url" property="og:url" content ="{{ .Permalink }}">
<meta name="holi" property="og:holi" content="{{ $scratch.Get "found" }}">
{{ partial "head-hreflang.html" }}
{{ partial "head-favicon.html" }}
{{ partial "head-css.html" }}
