{{ "<!-- partials/head-schema.html:start -->" | safeHTML }}
{{ if .IsHome }}
	{{ partial "schema/corporation.html" . }}
	{{ partial "schema/website.html" . }}
{{ else if isset .Params "schema" }}
	{{ $schema := lower .Params.schema }}
	{{ partial (printf "schema/%s.html" $schema) . }}
{{ end }}
{{ if isset .Params "events" }}
	{{ partial "schema/events.html" . }}
{{ end }}
{{ if isset .Params "videoobjects" }}
	{{ partial "schema/videoobjects.html" . }}
{{ end }}
{{ "<!-- partials/head-schema.html:end -->" | safeHTML }}