{{ "<!-- partials:inserts-top.html:start -->" | safeHTML }}
<section id="inserts-top"  class="flex-parent-row">
{{- $.Scratch.Set "count" 0 }}
{{- range .Params.insertstop }}
	{{- $.Scratch.Set "uuid" . }}
	{{- $.Scratch.Add "uuid" "." }}
	{{- $.Scratch.Add "uuid" $.Site.Params.LanguageCode }}
	{{- range $.Site.Data.inserts }}
		{{- if eq ($.Scratch.Get "uuid") .uuid }}
			{{- $.Scratch.Set "count" "1" }}
			{{ partial .layout . }}
		{{- end }}
	{{- end }}
{{- end }}
</section>
{{ "<!-- partials:inserts-top.html:end -->" | safeHTML }}