{{ "<!-- partials:insert-full-picture.html:start -->" | safeHTML }}
<div class="layout-module">
	{{ partial "elements/section-tags.html" . }}
		<div class="layout-module-text-top-image-bottom {{ with .style }}{{ . }}{{ end }}">
			<div class="layout-module-text-top">
				{{ partial "elements/title-description.html" . }}
			</div>
			<div class="layout-module-image-bottom">
				{{ partial "elements/picture.html" . }}
			</div>
		</div>
	</section>
</div>
{{ "<!-- partials:insert-full-picture.html:end -->" | safeHTML }}