{{ "<!-- partials:insert-link-half-text-picture.html:start -->" | safeHTML }}
{{- $schema := partial "getschema.html" . -}}
<section {{ $schema.schema | safeHTMLAttr }} class="layout-module-half">
	<div class="layout-module-column {{ with .style }}{{ . }}{{ end }}" {{ if .color }}style="background-color:{{ .color }}"{{ end }}>
		<div class="layout-module-column-text">
			{{ partial "elements/link-title-description.html" . }}
			{{ partial "elements/button-secondary.html" . }}
		</div>
		<div class="layout-module-column-image">
			{{ partial "elements/link-picture.html" . }}
		</div>
	</div>
</section>
{{ "<!-- partials:insert-link-half-text-picture.html:end -->" | safeHTML }}