{{ "<!-- partials:insert-link-full-picture.html:start -->" | safeHTML }}
{{ partial "elements/section-module.html" . }}
	<div class="layout-16-6-text-top-image-bottom {{ with .style }}{{ . }}{{ end }}">
		<div class="layout-16-6-text-top text-center">
			{{ partial "elements/link-title-description.html" . }}
			{{ partial "elements/button-secondary.html" . }}
		</div>
		<div class="layout-16-6-image-bottom">
			{{ partial "elements/link-picture.html" . }}
		</div>
	</div>
</section>
{{ "<!-- partials:insert-link-full-picture.html:end -->" | safeHTML }}