{{ "<!-- partials:insert-storyline-end.html -->" | safeHTML }}
<!--
	do not open section tag here
	it is opened in the insert-storyline-begin.html file
	which MUST be used to open the storyline
-->
	<div class="container">
		<div class="row">
	        <div class="col-xs-10 col-xs-offset-1 text-center">
				<img alt="bullet" src="/pictures/home/ios-orange-bullet.png" height=13 width=13 class="center-block">
			</div>
		</div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-xs-10 col-xs-offset-1 text-center">
			    <h3>{{ with .title }}{{ . }}{{ end }}</h3>
			    <p>{{ with .description }}{{ .  }}{{ end }}</p>
			</div>
	    </div>
	</div>
</section>