<div class="paddingv10">
<div class="container no-padding">
	<a href="{{ with .url }}{{ . | urlize }}{{ end }}">
		<div class="row no-padding">
			<div class="col-xs-12 no-padding">
				<div class="flex-container {{ .style }}" id="offer">
					<div class="flex-item-picture-full">
						{{ if ne .picture "" }}<img src="/pictures/inserts/{{ .picture }}" class="picture">{{ end }}
					</div>
 					<div class="flex-item-text-overlay text-center">
					    {{ if ne .title "" }}<h4>{{ with .title }}{{ . }}{{ end }}</h4>{{ end }}
					    <p>{{ with .description }}{{ .  }}{{ end }}</p>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>
</div>