{{ "<!-- partials:insert-link-big-picture.html -->" | safeHTML }}
<section id="{{ .sectionid }}" class="{{ .style }} paddingv0"><!-- section used for full width background -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a href="{{ with .link }}{{ . }}{{ end }}">
				<div class="flex-container {{ .style }}">
					<div class="flex-item-text text-center">
					    {{ if ne .title "" }}<h4>{{ with .title }}{{ . }}{{ end }}</h4>{{ end }}
					    <p>{{ with .description }}{{ .  }}{{ end }}</p>
						{{ if ne .button "" }}
						<a href="{{ with .link }}{{ . }}{{ end }}" class="btn btn-secondary">{{ with .button }}{{ . }}{{ end }}</a>
						{{ end }}
					</div>
				</div>
				<div class="flex-container {{ .style }}">
					<div class="flex-item-picture-full">
						{{ if ne .picture "" }}<img src="/pictures/inserts/{{ .picture }}">{{ end }}
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
</section>