{{ "<!-- partials:insert-link-half-text-picture-1.html -->" | safeHTML }}

<div class="flex-parent">
	<div class="flex-child-half {{ .style }}" {{ if .color }}style="background-color:{{ .color }}"{{ end }}>
		<section id="{{ .sectionid }}">
			<div class="flex-col-parent">
				<div class="flex-col-child flex-col-child-text text-center">
				    <a href="{{ with .link }}{{ . }}{{ end }}">
				    	<h3 class="margint-none">{{ with .title }}{{ . }}{{ end }}</h3>
				    </a>
				    <p>{{ with .description | safeHTML }}{{ . }}{{ end }}</p>
					{{ if ne .button "" }}
					<a href="{{ with .link }}{{ . }}{{ end }}" class="btn btn-secondary">{{ with .button }}{{ . }}{{ end }}</a>
					{{ end }}
				</div>
				<div class="margint-small flex-col-child">
					{{ if .link }}
		    		<a href="{{ if .link }}{{ .link }}{{ else }}{{ .url}}{{ end }}">
						<img src="{{ .picture }}" class="img-responsive">
						{{ "<!-- .link .picture -->" | safeHTML }}
					</a>	
					{{ else }}
		    		<a href="{{ if .link }}{{ .link }}{{ else }}{{ .url}}{{ end }}">
						<img src="{{ .url }}{{ .picture }}" class="img-responsive">
						{{ "<!-- .url .picture -->" | safeHTML }}
					</a>
					{{ end }}
		    	</div>
	    	</div>
		</section>
	</div>
