{{ "<!-- partials:insert-link-half-text-picture-2.html -->" | safeHTML }}

	<div class="flex-child-half flex-child-half-right {{ .style }}">
		<section id="{{ .sectionid }}">
			<div class="flex-col-parent">
				<div class="flex-col-child text-center">
				    <a href="{{ with .link }}{{ . }}{{ end }}">
				    	<h3>{{ with .title }}{{ . }}{{ end }}</h3>
				    </a>
				    <p>{{ with .description }}{{ . }}{{ end }}</p>
					{{ if ne .button "" }}
					<a href="{{ with .link }}{{ . }}{{ end }}" class="btn btn-secondary">{{ with .button }}{{ . }}{{ end }}</a>
					{{ end }}
				</div>
				<div class="flex-col-child paddingt-tiny">
		    		<a href="{{ with .link }}{{ . }}{{ end }}">
		    			<img src="/pictures/inserts/{{ .picture }}" class="img-responsive">
		    		</a>
		    	</div>
		    </div>
		</section>
	</div>
</div><!-- end of flex -->
