{{ "<!-- partials:insert-link-text1-picture2.html -->" | safeHTML }}
<div class="layout-content {{ with .style }}{{ . }}{{ end }}">
	{{ $schema := partial "getschema.html" . }}
	<section {{ $schema.schema | safeHTMLAttr }}>
		<div class="flex-parent-row flex-column-ontall">
			<div class="flex-child-40p flex-child-text-right">
				{{ partial "elements/link-title-description.html" . }}
				{{ partial "elements/button-secondary.html" . }}
			</div>
	    	<div class="flex-child-60p">
				{{ partial "elements/link-picture.html" . }}
	    	</div>
	    </div>
	</section>
</div>