{{ "<!-- partials:insert-full-picture.html:start -->" | safeHTML }}
{{ $schema := partial "getschemaitem.html" . }}
<section {{ $schema | safeHTMLAttr }} class="layout-module">
	<div class="layout-module-text-top-image-bottom ">
		<div class="layout-module-text-top {{ with .style }}{{ . }}{{ end }}">
			{{ partial "elements/title-description.html" . }}
		</div>
		<div class="layout-module-image-bottom">
			{{ partial "elements/picture.html" . }}
		</div>
	</div>
</section>
{{ "<!-- partials:insert-full-picture.html:end -->" | safeHTML }}