{{ "<!-- partials:insert-link-text2-picture1.html -->" | safeHTML }}
<section id="{{ .sectionid }}" class="{{ .style }}"><!-- section used for full width background -->
	<div class="container insert paddingt-large">
	    <div class="row">
	        <div class="col-sm-6 col-sm-offset-1">
			    <a href="{{ with .link }}{{ . }}{{ end }}">
			    	<h3 class="margint-small">{{ with .title }}{{ . }}{{ end }}</h3>
			    </a>
			    <p>{{ with .description }}{{ .  }}{{ end }}</p>
				{{ if ne .button "" }}
				<a href="{{ with .link }}{{ . }}{{ end }}" class="btn btn-secondary">{{ with .button }}{{ . }}{{ end }}</a>
				{{ end }}
			</div>
			<div class="col-sm-4 col-sm-offset-0 margint-small">
				<a href="{{ with .link }}{{ . }}{{ end }}">
					<img src="/pictures/inserts/{{ .picture }}" class="img-responsive">
				</a>
			</div>
	    </div>
	</div>
</section>