{{ "<!-- partials:insert-link-full-picture-text-right.html:start -->" | safeHTML }}
{{ partial "elements/section-module.html" . }}
	<div class="layout-16-6-image-left-text-right {{ with .style }}{{ . }}{{ end }}">
		<div class=" layout-16-6-image-left">
			{{ partial "elements/link-picture.html" . }}
		</div>
		<div class="layout-16-6-text-right">
			{{ partial "elements/link-title-description.html" . }}
			{{ partial "elements/button-secondary.html" . }}
		</div>
	</div>
</section>
{{ "<!-- partials:insert-link-full-picture-text-right.html:end -->" | safeHTML }}