{{ "<!-- partials:insert-storyline-begin.html -->" | safeHTML }}
<section id="{{ .sectionid }}" class="{{ .style }} paddingv-medium"><!-- section used for full width background -->
	<div class="container">
	    <div class="row">
	        <div class="col-xs-12 text-center">
			    <h2>{{ with .title }}{{ . }}{{ end }}</h2>
			    <p>{{ with .description }}{{ .  }}{{ end }}</p>
			</div>
	    </div>
	</div>
	<div class="container paddingt-tiny">
		<div class="row">
	        <div class="col-xs-12 text-center">
				<img alt="bullet" src="/pictures/home/ios-orange-bullet.png" height=13 width=13 class="center-block marginv-none">
			</div>
		</div>
	</div>
<!--
	do not close section tag here
	it is closed in the insert-storyline-end.html file
	which MUST be used to close the storyline
-->