{{ "<!-- partials:insert-link-picture1-text2.html -->" | safeHTML }}

<div class="flex-parent">
	<div class="flex-child-half-left flex-child-half {{ .style }}">
		<section id="{{ .sectionid }}">
			<div class="flex-col-parent">
				<div class="text-center flex-col-child">
				    <a href="{{ with .link }}{{ . }}{{ end }}">
				    	<h3>{{ with .title }}{{ . }}{{ end }}</h3>
				    </a>
				    <p>{{ with .description }}{{ . }}{{ end }}</p>
					{{ if ne .button "" }}
					<a href="{{ with .link }}{{ . }}{{ end }}" class="btn btn-secondary">{{ with .button }}{{ . }}{{ end }}</a>
					{{ end }}
				</div>
				<div class="paddingt-tiny flex-col-child">
		    		<a href="{{ with .link }}{{ . }}{{ end }}">
		    			<img src="/pictures/inserts/{{ .picture }}" class="img-responsive">
		    		</a>
		    	</div>
	    	</div>
		</section>
	</div>
