{{ "<!-- partials:insert-text2-picture1.html -->" | safeHTML }}
<div class="layout-content {{ with .style }}{{ . }}{{ end }}">
	{{- $schema := partial "getschemaitem.html" . -}}
	<section {{ $schema | safeHTMLAttr }}>
		<div class="flex-parent-row flex-column-ontall">
	        <div class="flex-child-60p flex-child-text-left">
				{{ partial "elements/title-description.html" . }}
			</div>
			<div class="flex-child-40p">
				{{ partial "elements/picture.html" . }}
			</div>
		</div>
	</section>
</div>