{{ "<!-- partials:insert-picture1-text2.html -->" | safeHTML }}
<div class="layout-content {{ with .style }}{{ . }}{{ end }}">
	{{ $schema := partial "getschema.html" . }}
	<section {{ $schema.schema | safeHTMLAttr }}>
		<div class="flex-parent-row flex-column-reverse-ontall">
	    	<div class="flex-child-40p">
				{{ partial "elements/picture.html" . }}
	    	</div>
	    	<div class="flex-child-60p flex-child-text-right">
			    <h3 class="title-responsive">{{ with .title }}{{ . }}{{ end }}</h3>
			    <p class="text-responsive">{{ with .description }}{{ .  }}{{ end }}</p>
			</div>
		</div>
	</section>
</div>