{{ "<!-- partials:insert-link-text2-picture1.html -->" | safeHTML }}
<section id="{{ .sectionid }}" class="{{ .style }}"><!-- section used for full width background -->
	<div class="container insert paddingt-large">
	    <div class="row">
	        <div class="col-sm-6 col-sm-offset-1">
			    <a href="{{ with .link }}{{ . }}{{ end }}">
			    	<h3>{{ with .title }}{{ . }}{{ end }}</h3>
			    </a>
			    <p>{{ with .description }}{{ .  }}{{ end }}</p>
				{{ partial "insert-button.html" . }}
			</div>
			<div class="col-sm-4 col-sm-offset-0">
				{{ if .link }}
	    		<a href="{{ if .link }}{{ .link }}{{ else }}{{ .url}}{{ end }}">
					<img src="{{ .picture }}" class="img-responsive">
					{{ "<!-- .link .picture -->" | safeHTML }}
				</a>	
				{{ else }}
	    		<a href="{{ if .link }}{{ .link }}{{ else }}{{ .url}}{{ end }}">
					<img src="{{ .url }}{{ .picture }}" class="img-responsive">
					{{ "<!-- .url .picture -->" | safeHTML }}
				</a>
				{{ end }}
			</div>
	    </div>
	</div>
</section>