{{ "<!-- partials:insert-link-half-text-picture.html:start -->" | safeHTML }}
<section class="layout-module-half">
	<div class="layout-16-6-text-top-image-bottom {{ with .style }}{{ . }}{{ end }}" {{ if .color }}style="background-color:{{ .color }}"{{ end }}>
		<div class="layout-16-6-text-top text-center">
		    <a href="{{ with .link }}{{ . }}{{ end }}">
		    	<h3 class="title-responsive">{{ with .title }}{{ . }}{{ end }}</h3>
		    </a>
		    <p class="text-responsive">{{ with .description | safeHTML }}{{ . }}{{ end }}</p>
			{{ partial "elements/button-secondary.html" . }}
		</div>
		<div class="layout-16-6-image-bottom">
			<a href="{{ with .link }}{{ . }}{{ else }}{{ .url }}{{ end }}">
				<img src="{{ with .link }}{{ else }}{{ .url }}{{ end }}{{ .picture }}" {{ if .pictureprop }}itemprop="{{ .pictureprop }}"{{ end }}>
			</a>
		</div>
	</div>
</section>
{{ "<!-- partials:insert-link-half-text-picture.html:end -->" | safeHTML }}