{{ "<!-- partials:insert-link-picture1-text2.html -->" | safeHTML }}
<div class="layout-content {{ with .style }}{{ . }}{{ end }}">
	{{ partial "elements/section-tags.html" . }}
		<div class="flex-parent-row flex-column-reverse-ontall">
	    	<div class="flex-child-40p">
				{{ partial "elements/link-picture.html" . }}
	    	</div>
			<div class="flex-child-60p flex-child-text-right">
				{{ partial "elements/link-title-description.html" . }}
				{{ partial "elements/button-secondary.html" . }}
			</div>
	    </div>
	</section>
</div>