{{ "<!-- partials:insert-storyline-end.html -->" | safeHTML }}
<!--
	do not open section tag here
	it is opened in the insert-storyline-begin.html file
	which MUST be used to open the storyline
-->
	{{ if or .title .description }}
		<div class="flex-parent-column text-center flex-align-center">
			<img alt="bullet" src="/pictures/home/ios-orange-bullet.png" height=13 width=13>
			{{ with .title }}<h3>{{ . }}</h3>{{ end }}
			{{ with .description }}<p>{{ .  }}</p>{{ end }}
		</div>
	{{ end }}
</section>