{{ "<!-- partials:insert-full-picture.html -->" | safeHTML }}
<section id="{{ .sectionid }}" class="{{ .style }}"><!-- section used for full width background -->
	<div class="flex-container">
		<div class="flex-item-picture-full">
			{{ if ne .picture "" }}<img src="/pictures/inserts/{{ .picture }}" class="picture">{{ end }}
		</div>
		<div class="{{ .style }}">
			<div class="flex-item-text-overlay text-center">
		    	{{ if ne .title "" }}<h3>{{ with .title }}{{ . }}{{ end }}</h3>{{ end }}
		    	<p>{{ with .description }}{{ . }}{{ end }}</p>
	    	</div>
		</div>
	</div>
</section>