{{ "<!-- partials:insert-link-text1-picture2.html -->" | safeHTML }}
<section id="{{ .sectionid }}" class="{{ .style }}"><!-- section used for full width background -->
	<div class="container insert paddingv-small">
	    <div class="row">
	        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 margin-v">
				<a href="{{ with .link }}{{ . }}{{ end }}">
				    <h4>{{ with .title }}{{ . }}{{ end }}</h4>
				</a>
			    <p class="marginv0">{{ with .description }}{{ . }}{{ end }}</p>
				{{ if ne .button "" }}
				<a href="{{ with .link }}{{ . }}{{ end }}" class="btn btn-secondary">{{ with .button }}{{ . }}{{ end }}</a>
				{{ end }}
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 margin-v">
				<a href="{{ with .link }}{{ . }}{{ end }}">
					<img src="/pictures/inserts/{{ .picture }}" class="img-responsive">
				</a>
			</div>
	    </div>
	</div>
</section>