{{ "<!-- partials:insert-link-full-picture.html:start -->" | safeHTML }}
{{ $schema := partial "getschemaitem.html" . }}
<section {{ $schema | safeHTMLAttr }} class="layout-module">
	<div class="layout-module-text-top-image-bottom {{ with .style }}{{ . }}{{ end }}">
		<div class="layout-module-text-top">
			{{ partial "elements/link-title-description.html" . }}
			{{ partial "elements/button-secondary.html" . }}
		</div>
		<div class="layout-module-image-bottom">
			{{ partial "elements/link-picture.html" . }}
		</div>
	</div>
</section>
{{ "<!-- partials:insert-link-full-picture.html:end -->" | safeHTML }}