{{ "<!-- partials:js.html -->" | safeHTML }}
{{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
{{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
{{ "<!--[if lt IE 9]>" | safeHTML }}
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}

{{ "<!-- jQuery required for form validation -->" | safeHTML }}
<script src="/js/jquery.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="/js/bootstrap.min.js"></script>

{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
<script src="/js/jqBootstrapValidation.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="/js/creative.js"></script>
{{ "<!-- Owl Carousel added from Universal Theme -->" | safeHTML }}
<script src="/js/front.js"></script>
<script src="/js/owl.carousel.min.js"></script>

{{ "<!-- script form validation -->" | safeHTML }}
<script type="text/javascript">
$(function() {

    $("input,textarea").not("[type=search]").jqBootstrapValidation({
        preventSubmit: true,
        submitError: function($form, event, errors) {
            // additional error messages or events
        },
        submitSuccess: function($form, e) {
    	    e.preventDefault();
            // new variable to check which form we are working with
            var formtype = $form.prop('id');
            
        
            // end of new variable  	
    	    var submitButton = $('input[type=submit]', $form);
    	    $.ajax({
    	      type: 'POST',
    	      url: $form.prop('action'),
    	      accept: {
    	        javascript: 'application/javascript'
    	      },
    	      data: $form.serialize(),
    	      beforeSend: function() {
				submitButton.prop('value', '{{ with .Site.Params.contact.wait }}{{ . }}{{ end }}');
				submitButton.prop('disabled', 'disabled');
    	      }
    	    }).done(function(data) {
    	    	if ($form.prop('id') == "newsForm") {
    	    		submitButton.prop('value', '{{ with .Site.Params.subscribe.success }}{{ . }}{{ end }}');
    	    	}
    	    	else if ($form.prop('id') == "contactForm"){
    	    		submitButton.prop('value', '{{ with .Site.Params.contact.success }}{{ . }}{{ end }}');
    	    	}
    	    	else {
    	    		submitButton.prop('value', '{{ with .Site.Params.contact.success }}{{ . }}{{ end }}');
    	    	}
    	
    			submitButton.prop('disabled', true);
    			hj('formSubmitSuccessful');
    	    });
        },

        filter: function() {
            return $(this).is(":visible");
        },
    });

});

/*When clicking on Full hide fail/success boxes */
$('#name').focus(function() {
    $('#success').html('');
});
</script> 
