{{ "<!-- partials:page-subscribe.html -->" | safeHTML }}
{{ if eq .Site.Params.subscribe.enable true }}
	<section id="subscribe">
	  <div class="layout-content">
		            <div class="layout-module-column-text style-module-text">
		              <h2 class="section-heading">{{ with .Site.Params.subscribe.title }}{{ . | markdownify }}{{ end }}</h2>
					  <p>{{ with .Site.Params.subscribe.subtitle }}{{ . | markdownify }}{{ end }}</p>
		            </div>
		            <div class="layout-content-narrow">
		              <form action="{{ .RelPermalink }}" method="POST" name="newsForm" id="ioscontactForm" netlify netlify-honeypot="bot-field" data-autosubmit>
			            <div class="iosform-group">
			              <input type="hidden" name="_subject" value="Form sent from page: {{ .Permalink }}">
			              <input type="hidden" name="_lang" value="{{ .Site.Params.LanguageCode }}">
			            </div>
			            <div class="iosform-group">
			              <input type="email" id="email" name="email" class="iosform-control" placeholder="{{ with .Site.Params.subscribe.form.email.text }}{{ . | markdownify }}{{ end }}" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"oninvalid="alert('{{ with .Site.Params.subscribe.form.email.warning }}{{ .  | markdownify }}{{ end }}');" required>
			            </div>
			            <div class="form-group" id="fooDiv">
						<label for="foo">Leave this field blank</label>
						<input type="text" name="foo" id="foo">
					</div>
					<script>
						(function () {
	    					var e = document.getElementById("fooDiv");
	    					e.parentNode.removeChild(e);
						})();
					</script>
	                <div class="clearfix">
	                </div>
			            <div class="iosform-button">
			              <input type="submit" value="{{ with .Site.Params.subscribe.buttonText }}{{ . | markdownify }}{{ end }}" class="button-primary" success="{{ with .Site.Params.subscribe.success }}{{ . }}{{ end }}" wait="{{ with .Site.Params.subscribe.wait }}{{ . }}{{ end }}">    
			            </div>     
			          </form>
		            </div>
	  </div>	{{ "<!-- layout-content end -->" | safeHTML }}	    
	</section>{{ "<!-- contact end -->" | safeHTML }}
{{ end }}

