{{ "<!-- partials/page-nav.html:start -->" | safeHTML }}
<nav class="iosnavbar">
	<div class="layout-content-width">
		
		<!-- logo -->
		<div class="iosnavbar-brand">
			{{ $home := .Site.BaseURL }}
			{{ if ne "en" .Site.LanguageCode }}
				{{ $home = printf "%s%s/" $home .Site.LanguageCode }}	
			{{ end }}
			<a class="page-scroll" href="{{ $home }}">
				<img src="{{ .Site.Params.navigation.brand_logo }}" alt="Ideas on Stage">
			</a>
		</div>
		
		<!-- burger menu on ts screens -->				
		<label for="drop" class="menutoggle iosnavbar-burger">&#9776</label>
		<input type="checkbox" id="drop" />
		
		<!-- iosmenu start -->
		<ul class="iosnavbar-menu">
			
			<!-- Menubar Menu Items -->
			{{ range .Site.Params.navigation.menubar }}
				<li class="iosnavbar-menu-item">
					<a class="page-scroll" href="{{ .url }}" onclick="getElementById('drop').checked = false">
						{{ .name }}
					</a>
				</li>  
			{{ end }}
				
			<!-- Search Dropdown -->
			<li class="iosnavbar-menu-item">
				<label for="drop-5" class="menutoggle">
					<i class="fa fa-search"></i>
				</label>
				<a href="#">
					<i class="fa fa-search"></i>
				</a>
				<input type="checkbox" id="drop-5"/>
				<ul class="iosnavbar-menu-dropdown">
					<li id="fastSearch" class="iosnavbar-menu-dropdown-item">
						<input id="searchInput" tabindex="0">
					</li>
					<li class="iosnavbar-menu-dropdown-item">
						<ul id="searchResults">
						</ul>
					</li>
				</ul>
			</li>
			
			<!-- Languages Drop Down -->
			<li class="iosnavbar-menu-item">
				<label for="drop-4" class="menutoggle">
					<i class="fa fa-globe"></i>
					{{ with .Language.LanguageName }}{{ . }}{{ end }}
					<i class="fa fa-chevron-down"></i>
				</label>
				<a href="#">
					<i class="fa fa-globe"></i>
					{{ with .Language.LanguageName  }}{{ . }}{{ end }}
					<i class="fa fa-chevron-down"></i>
				</a>
				<input type="checkbox" id="drop-4"/>
				<ul class="iosnavbar-menu-dropdown">
					{{ if .IsTranslated }}
						{{ range .AllTranslations }}
							{{ if ne (site.LanguageCode | lower) (.Lang | lower) }}
								<li class="iosnavbar-menu-dropdown-item">
									<a href="{{ .Permalink }}">
										{{ .Language.LanguageName }}
									</a>
								</li>
							{{ end }}
						{{ end }}
					{{ end }}
				</ul>
			</li>
			
		</ul><!-- iosmenu end -->
		
	</div>
</nav>
{{ "<!-- partials/page-nav.html:end -->" | safeHTML }}