{{ "<!-- partials:page-js.html:start -->" | safeHTML }}

{{ "<!-- jQuery required for form validation -->" | safeHTML }}
<script src="/js/jquery.js"></script>


{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<!-- 
<script src="/js/bootstrap.min.js"></script>
-->


{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
<script src="/js/ios-form-plugin.js"></script>


<script src="/js/front.js"></script>

{{ "<!-- Form submission JavaScript -->" | safeHTML }}
<!-- This one calls the form plugin -->
    <script>
    $(function() {
      $('form[data-autosubmit]').autosubmit();
    });
    
    </script>

    

{{ "<!-- Search bits JavaScript -->" | safeHTML }}

  <script src="/js/fuse.js"></script> 
  <script src="/js/fastsearch.js"></script>

<!-- /* Captcha Code */ -->
<script src="https://www.google.com/recaptcha/api.js?hl={{ .Site.LanguageCode }}" async defer></script>

<!-- End Captcha Code -->



{{ "<!-- partials:page-js.html:end -->" | safeHTML }}



