{{ "<!-- partials:page-content.html:start -->" | safeHTML }}
<div class="layout-module-content">
	{{- if or (.Params.showtoc) (and (eq "guides" .Section ) (.IsPage))}}
		<div class="flex-parent flex-parent-row flex-parent-column-reverse-ontall">
			<article id="content-main" class="flex-child">
				{{ with .Params.summary }}<p>{{ . }}</p>{{ end }} 
				<h2>{{ site.Params.tableofcontents }}</h2>
				{{ with .TableOfContents }}{{ . }}{{ end }} 
				{{ with .Content }}{{ . }}{{ end }} 
			</article>
		</div>
	{{- else }}
		<section id="content-main">
			{{- with .Content }}{{ . }}{{ end }} 
		</section>
	{{- end }}
</div>
{{ "<!-- partials:page-content.html:end -->" | safeHTML }}