{{ "<!-- partials:page-hero.html -->" | safeHTML }}
{{ if ne .Title "" }}
<header id="{{ .Title }}">
<!-- <img src="/pictures{{ .RelPermalink }}/image.png" class="header-content-img img-responsive"> -->
    <div class="header-content">
        <div class="header-content-inner">
        	<h1 {{ with .Params.Titleprop }}itemprop="{{ . }}"{{ end }}>
        		{{ $scratch := newScratch }}
        		{{ $scratch.Set "found" "false" }}
        		{{ if eq ($scratch.Get "found") "false" }}
	            	{{ with .Title }}{{ . | markdownify  }}{{ end }}
	            {{ end }}
            </h1> 
    </div>
</header>
{{ end }}
