{{ "<!-- partials:page-testimonials.html:start -->" | safeHTML }}
{{ if gt (len .Site.Data.testimonials) 0 }}
	{{ $.Scratch.Set "show" 0 }}
	{{ $title := .Title }}
	{{ range .Site.Data.testimonials }}
 		{{ if and (.showonpage) ( eq ($title) (.category))}}
    	{{ $.Scratch.Add "show" 1 }}
    {{ end }}
  {{ end }}
  {{ if (gt ($.Scratch.Get "show") 0) }}
		<section id="testimonials" class="bg-lightgrey">
		  <div class="layout-content-width">
		    <ul class="owl-carousel testimonials same-height-row">
		      {{- range .Site.Data.testimonials }}
		        {{- if and (.showonpage) ( eq ($title) (.category)) (eq $.Site.Params.languagecode .language) }}
		          <li class="item">
		            <div class="testimonial">
		              <div class="text">
		                <p>{{ .text }}</p>
		              </div>
		              <div class="bottom">
		                <div class="name-picture">
		                  <img class="" alt="" src="{{ .avatar | absURL }}">
		                  <h4>{{ .name }}</h4>
		                  <p>{{ .position }}</p>
		                </div>
		              </div>
		            </div>
		          </li>         
		        {{- end }}
		      {{- end }}
		    </ul>
		  </div>
		</section>
	{{ else }}
		{{ "<!-- no testimonials -->" | safeHTML }}		
  {{ end }}
{{ end }}
{{ "<!-- partials:page-testimonials.html:end -->" | safeHTML }}
