{{ "<!-- partials:page-subscribe.html -->" | safeHTML }}
{{ if eq .Site.Params.subscribe.enable true }}
	<section id="subscribe">
	    <div class="container paddingv-huge">
	        <div class="row">
	            <div class="col-xs-10 col-xs-offset-1 text-center">
           			<h2 class="section-heading">{{ with .Site.Params.subscribe.title }}{{ . | markdownify }}{{ end }}</h2>
           			<p>{{ with .Site.Params.subscribe.subtitle }}{{ . | markdownify }}{{ end }}</p>
	            </div>
	        </div>{{ "<!-- row end -->" | safeHTML }}
	        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-left">
	            <form  action="https://hooks.zapier.com/hooks/catch/607769/oy07yvs/" method="POST" name="sentMessage" id="newsForm">
	                <div class="form-group">
	             		<input type="hidden" name="_subject" value="Form sent from page: {{ .Permalink }}">
	             		<input type="hidden" name="_lang" value="{{ .Site.Params.LanguageCode }}">
	               	</div>
	                <div class="form-group">
	                    <input type="email" class="form-control" placeholder="{{ with .Site.Params.subscribe.form.email.text }}{{ . | markdownify }}{{ end }}" name="email" required data-validation-required-message="{{ with .Site.Params.subscribe.form.email.warning }}{{ . | markdownify }}{{ end }}">
	                        <p class="help-block text-danger"></p>
	                </div>
	                <div class="form-group" id="fooDiv">
						<label for="foo">Leave this field blank</label>
						<input type="text" name="foo" id="foo">
					</div>
					<script>
						(function () {
	    					var e = document.getElementById("fooDiv");
	    					e.parentNode.removeChild(e);
						})();
					</script>
	                <div class="clearfix">
	                </div>
	                <div class="col-lg-12 text-center">
	                    <div id="success">
	                    	{{ with .Site.Params.subscribe.success }}{{ . | markdownify }}{{ end }}
	                    </div>
	                    <input type="submit" value="{{ with .Site.Params.subscribe.buttonText }}{{ . | markdownify }}{{ end }}" class="button-primary">
	                </div>
	            </form>
	        </div>{{ "<!-- col-md-6 end -->" | safeHTML }}
	    </div>{{ "<!-- container end -->" | safeHTML }}
	</section>{{ "<!-- contact end -->" | safeHTML }}
{{ end }}