{{ "<!-- partials:page-nav-services.html:start -->" | safeHTML }}


<nav class="iosnavbar">
	<div class="layout-content-width">

	  <div class="iosnavbar-header">
	    	<div class="iosnavbar-brand">
				{{ if eq "en" .Site.LanguageCode }}
	    		<a class="page-scroll" href="{{ .Site.BaseURL }}">
				{{ else }}
	    		<a class="page-scroll" href="{{ .Site.BaseURL }}{{ .Site.LanguageCode }}/">
				{{ end }}
	    	<img src="{{ .Site.Params.navigation.brand_logo }}" alt="Ideas on Stage" class="iosnavbar-brand"></a>
	  		</div>
	  </div>
	  
		<label for="drop" class="menutoggle iosnavbar-icon">&#9776</label>
	  <input type="checkbox" id="drop" />
	
	  <!-- iosmenu start -->
		<ul class="iosmenu">
				
	    <!-- Services Drop Down -->
			<li>
	      <label for="drop-1" class="menutoggle">{{ with .Site.Params.navigation.service }}{{ . }}{{ end }} <i class="fa fa-chevron-down"></i></label>
	      <a href="#">{{ with .Site.Params.navigation.service }}{{ . }}{{ end }} <i class="fa fa-chevron-down"></i></a>
	      <input type="checkbox" id="drop-1"/>
	      <ul>
	        {{- range .Site.Params.navigation.items }}
	        <li>
		      <a class="page-scroll" href="{{ .url }}">{{ .name }}</a>
		    </li>  
		      {{- end }}
	      </ul>
	    </li>
				
	    <!-- Resources  Drop Down -->
	    <li>
	      <label for="drop-2" class="menutoggle">{{ with .Site.Params.navigation.resource }}{{ . }}{{ end }} <i class="fa fa-chevron-down"></i></label>
	      <a href="#">{{ with .Site.Params.navigation.resource }}{{ . }}{{ end }} <i class="fa fa-chevron-down"></i></a>
	      <input type="checkbox" id="drop-2"/>
	      <ul>
	        {{- range .Site.Params.navigation.resources }}
		      <li>
		      <a href="{{ .url }}">{{ .name }}</a>
		      </li>
		      {{- end }}
	      </ul>
	    </li>
			
	     <!-- Contact Menu -->
	    {{- range .Site.Params.navigation.housekeeping }}
	    	<li><a class="page-scroll" href="{{ .url }}">{{ .name }}</a></li>
	    {{- end }}
			
	    <!-- Search Dropdown -->
	    <li>
				<label for="drop-5" class="menutoggle"><i class="fa fa-search"></i></label>
				<a href="#"><i class="fa fa-search"></i></a>
				<input type="checkbox" id="drop-5"/>
				<ul>
					<li id="fastSearch">
						<input id="searchInput" tabindex="0">
					</li>
					<li>
						<ul id="searchResults">
						</ul>
					</li>
				</ul>
	    </li> 
	     
			<li>
				<a class="iosnavbar-separator" href="#">|</a>
			</li>
	    
	    <!-- Languages  Drop Down -->
			<li>
				<label for="drop-4" class="menutoggle">
	        <img class="iosnavbar-langicon" src="{{ .Site.Params.navigation.languageicon }}">
	        <img class="iosnavbar-langicon-hover" src="{{ .Site.Params.navigation.languageiconhover }}">
	        {{ with .Language.LanguageName }}{{ . }}{{ end }} <i class="fa fa-chevron-down"></i>
				</label>
	      <a class="iosnavbar-lang" href="#">
	        <img class="iosnavbar-langicon" src="{{ .Site.Params.navigation.languageicon }}">
	        <img class="iosnavbar-langicon-hover" src="{{ .Site.Params.navigation.languageiconhover }}">
	        {{ with .Language.LanguageName  }}{{ . }}{{ end }} <i class="fa fa-chevron-down"></i>
				</a>
	      <input type="checkbox" id="drop-4"/>
	      <ul>
					{{- if .IsTranslated }}
						{{- range .AllTranslations }}
							{{- if ne site.LanguageCode .Lang -}}
	         			<li><a class="iosnavbar-dropdownlang" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
					 		{{- end -}}
					  {{- end}}
					{{- end }}	
				</ul>    
			</li>
			
	  </ul>
		<!-- iosmenu end -->

	</div>
</nav>
{{ "<!-- partials:page-nav-services.html:end -->" | safeHTML }}

