{{ "<!-- partials:page-inserts-bottom.html:start -->" | safeHTML }}
{{ if .Params.insertsbottom }}
	<section id="inserts-bottom" class="layout-module-wrapper flex-parent-row">
	{{- range .Params.insertsbottom }}
		{{- $insertalllang := index site.Data.inserts . }}
		{{- if $insertalllang }}
			{{- $insert := index $insertalllang site.LanguageCode }}
			{{- if $insert }}
				{{ partial $insert.layout $insert }}
			{{- end }}
		{{- end }}
	{{- end }}
	</section>
{{ else }}
{{ "<!-- No bottom inserts -->" | safeHTML }}
{{ end }}
{{ "<!-- partials:page-inserts-bottom.html:end -->" | safeHTML }}