{{ "<!-- partials:page.html -->" | safeHTML }}
{{- $URL := .URL }}
{{- $.Scratch.Set "count" 0 }}
{{- range .Site.Data.inserts }}		
	{{- $.Scratch.Add "count" 1 }}
	{{- if eq .url $URL }}
		{{- if eq $.Site.Params.languagecode .language }}
			{{- if eq .position "top" }}
				{{ partial .layout . }}
			{{- end }}
		{{- end }}
	{{- end }}
{{- end }}
<section id="content">
    <div class="container">
        <div class="row">        

        	<div class="col-xs-10 col-xs-offset-1">
				{{ with .Content }}{{ . | markdownify }}{{ end }}
	        </div>
	    </div>
{{- if .Params.showrefs }}
	    <div class="row"> 
	    	<div class="col-xs-12">
	{{- $Title := .Title }}
	{{- $.Scratch.Set "count" 0 }}
	{{- range .Site.Data.references }}
		{{- if eq $.Site.Params.languagecode .language }}
			{{- if eq .kind $Title }}
				{{- $.Scratch.Add "count" 1 }}
				<div class="col-xs-3 no-gutter">
					{{ partial "reference-logo.html" . }}
			 	</div>
			{{- end }}
		{{- end }}
	{{- end }}
			</div>
{{- end }}
		</div> <!--end row-->
    </div>
</section>
{{- $URL := .URL }}
{{- $.Scratch.Set "count" 0 }}
{{- range .Site.Data.inserts }}		
	{{- $.Scratch.Add "count" 1 }}
	{{- if eq .url $URL }}
		{{- if eq $.Site.Params.languagecode .language }}
			{{- if eq .position "bottom" }}
				{{ partial .layout . }}
			{{- end }} 
		{{- end }} 
	{{- end }}
{{- end }}    
