{{ "<!-- partials:page-js.html:start -->" | safeHTML }}


{{ "<!-- jQuery required for form validation -->" | safeHTML }}
<!-- <script src="/js/jquery.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="/js/bootstrap.min.js"></script>
{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
<script src="/js/jqBootstrapValidation.js"></script>
{{ "<!-- Owl Carousel JavaScript -->" | safeHTML }}
-->
{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
<script src="/js/ios-form-plugin.js"></script>

<script src="/js/front.js"></script>
<script src="/js/owl.carousel.min.js"></script>

{{ "<!-- Form submission JavaScript -->" | safeHTML }}

<!-- This one calls the form plugin -->
<script>
$(function() {
  $('form[data-autosubmit]').autosubmit();
});
</script>

{{ "<!-- partials:page-js.html:end -->" | safeHTML }}