{{ "<!-- partials:pagehero.html -->" | safeHTML }}
{{ if ne .Title "" }}
<header id="{{ .Title }}" class="bg-dark">
<!-- <img src="/pictures{{ .RelPermalink }}/image.png" class="header-content-img img-responsive"> -->
    <div class="header-content">
        <div class="header-content-inner">
        	<h1>
        		{{ $scratch := newScratch }}
        		{{ $scratch.Set "found" "false" }}
				{{ range .Site.Params.listpages }}
	        		{{ if eq $.Page.URL .url }}
	        			{{ with .title }} {{ . }} {{ end }}
	        			{{ $scratch.Set "found" "true" }}
	        		{{ end }}
        		{{ end }}
        		{{ if eq ($scratch.Get "found") "false" }}
	            	{{ with .Title }}{{ . | markdownify  }}{{ end }}
	            {{ end }}
            </h1>
 <!--
            {{ if .Site.Params.hero.subtitle_on }}           
            <hr>
            <p>{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</p>
            {{ end }}
 -->           
        </div>
<!--
		{{ if .Site.Params.hero.button_on }}           
            <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
            {{ end }}
-->            
    </div>
</header>
{{ end }}
