{{ "<!-- partials:page-nav.html:start -->" | safeHTML }}

<nav class="iosnavbar">
 <div class="layout-content-width">
  <div class="iosnavbar-header">
    	<div class="iosnavbar-brand">
    	<a class="page-scroll" href="/#page-top">
    	<img src="{{ .Site.Params.navigation.brand_logo }}" alt="Ideas on Stage" class="iosnavbar-brand"></a>
  		</div>
  </div>
  <label for="drop" class="toggle iosnavbar-icon">&#9776</label>
  <input type="checkbox" id="drop" />
  <ul class="menu">
    <li> 
      <!-- Services Drop Down -->
      <label for="drop-1" class="toggle">{{ with .Site.Params.navigation.service }}{{ . }}{{ end }}</label>
      <a href="#">{{ with .Site.Params.navigation.service }}{{ . }}{{ end }}</a>
      <input type="checkbox" id="drop-1"/>
      <ul>
        {{- range .Site.Params.navigation.items }}
        <li>
	      <a class="page-scroll" href="{{ .url }}">{{ .name }}</a>
	    </li>  
	      {{- end }}
      </ul>
    </li>
    <li>
     <!-- Resources  Drop Down -->
      <label for="drop-2" class="toggle">{{ with .Site.Params.navigation.resource }}{{ . }}{{ end }}</label>
      <a href="#">{{ with .Site.Params.navigation.resource }}{{ . }}{{ end }}</a>
      <input type="checkbox" id="drop-2"/>
      <ul>
        {{- range .Site.Params.navigation.resources }}
	      <li>
	      <a href="{{ .url }}">{{ .name }}</a>
	      </li>
	      {{- end }}
      </ul>
    </li>
     <!-- Contact & Team Menus -->
    {{- range .Site.Params.navigation.housekeeping }}
    <li><a class="page-scroll" href="{{ .url }}">{{ .name }}</a></li>
	{{- end }} 

    <li>
     <!-- Languages  Drop Down -->
      <label for="drop-3" class="toggle">{{ with .Site.Params.navigation.language }}{{ . }}{{ end }}</label>
      <a href="#">{{ with .Site.Params.navigation.language }}{{ . }}{{ end }}</a>
      <input type="checkbox" id="drop-3"/>
      <ul>
        {{ if .IsTranslated }}
            {{ range .Translations }}
              <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
           	{{ end }}
		  {{ else }}
			{{- range .Site.Params.navigation.languages }}
  			  <li><a href="{{ .url }}">{{ .name }}</a></li>
			{{- end }}
    	  {{ end }}
      </ul>
    </li>
  </ul>
 </div>
</nav>
