{{ "<!-- partials:page-footer.html:start -->" | safeHTML }}
<div class="layout-content paddingt-none paddingb-none">
	<div class= "footer-nav flex-parent-row">
	  <div class="flex-child-25p">
	    <ul class="footer-main-category padding-none">
				{{ with .Site.Params.navigation.service }}<a href="/#services">{{ . }}</a></li>{{ end }}
	      {{- range .Site.Params.navigation.items }}
          <li>
						<a class="footer-sub-category" href="{{ .url }}">{{ .name }}</a>
			    </li>  
				{{- end }}
	    </ul>
	  </div>
	 <div class="flex-child-25p">
	    <ul class="footer-main-category padding-none">
	      {{ with .Site.Params.navigation.resource }}{{ . }}{{ end }}
	      {{- range .Site.Params.navigation.resources }}
          <li>
            <a class="footer-sub-category" href="{{ .url }}">{{ .name }}</a>
					</li>  
			  {{- end }}
	    </ul>
	  </div>
  	{{- range .Site.Params.navigation.housekeeping }} 
  	  <div class="flex-child-25p">
  	    <ul class="footer-main-category padding-none">
					CONTACT
					<li>
						<a class="footer-sub-category" href="#contact">email</a>
					</li>
					{{ with $.Site.Params.location.telephone }} 
						<li>
							<a class="footer-sub-category" href="tel:{{ . }}">{{ . }}</a>
						</li>  
					{{- end }}
				</ul>
			</div>
		{{ end }}
		<div class="flex-child-25p">
	    <ul class="footer-main-category padding-none">
	      {{ with .Site.Params.navigation.company }}{{ . }}{{ end }}
	      {{- range .Site.Params.navigation.companyitems }}
          <li>
        	  <a class="footer-sub-category" href="{{ .url }}">{{ .name }}</a>
					</li>
			  {{- end }}
	    </ul>
	  </div>  
	</div>

	<div class="flex-parent-row paddingv-small flex-align-end">
		<div class="footer-text-min flex-child-60p">
    	{{ with .Site.Copyright }}{{ . }}{{ end }} {{ now.Year }}. 
    	{{ with .Site.Params.rights }}{{ . }}{{ end }}<br />
    	{{ with .Site.Params.cookies }}{{ . | markdownify }}{{ end }}</br>
    	{{ with .Site.Params.footer_desc }}{{ . | markdownify }}{{ end }}
    </div>
    <div class="flex-child-15p paddingt-small">
	    {{ range .Site.Params.Social.Items }}
	      <a class="footer-social" href="{{ .url }}"><i class="fa fa-{{ .icon }} fa-2"></i></a>
			{{ end }}
    </div>
  </div>
</div>
{{ "<!-- partials:page-footer.html:end -->" | safeHTML }}