{{ "<!-- partials:page-contact.html -->" | safeHTML }}
		<section id="contact">
		        <div class="layout-content">
		            <div class="layout-module-column-text style-module-text">
		              <h2 class="section-heading">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
					  <p>{{ with .Site.Params.contact.subtitle }}{{ . | markdownify }}{{ end }}</p>
						 {{ with .Site.Params.contact.contactphone }}<p>{{ . | safeHTML }}</p>{{ end }}
		            </div>
		            <div class="layout-content-narrow">
		              <form action="https://hooks.zapier.com/hooks/catch/607769/43m9eq/" method="POST" name="sentMessage" id="ioscontactForm" data-autosubmit>
			            <div class="iosform-group">
			              <input type="hidden" name="_subject" value="Form sent from page: {{ .Permalink }}">
			            </div>
			            <div class="iosform-group">
			              <input type="text" id="fname" name="name" class="iosform-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ .  | markdownify }}{{ end }}" oninvalid="alert('{{ with .Site.Params.contact.form.name.warning  }}{{ .  | markdownify }}{{ end }}');" required>
			            </div>  
			            <div class="iosform-group">
			              <input type="email" id="email" name="email" class="iosform-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . | markdownify }}{{ end }}" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"oninvalid="alert('{{ with .Site.Params.contact.form.email.warning }}{{ .  | markdownify }}{{ end }}');" required>
			            </div>
			            <div class="iosform-group">  
			              <input type="tel" id="phone" name="phone" class="iosform-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . | markdownify }}{{ end }}" pattern="^[0-9-+\s()]*$" oninvalid="alert('{{ with .Site.Params.contact.form.phone.warning  }}{{ .  | markdownify }}{{ end }}');">  
			            </div>
			            <div class="iosform-group">  
			             <textarea id="message" name="message" class="iosform-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{ . | markdownify }}{{ end }}" oninvalid="alert('{{ with .Site.Params.contact.form.message.warning }}{{ .  | markdownify }}{{ end }}');" required></textarea>      
						</div>
						<div class="g-recaptcha" data-sitekey="{{ .Site.Params.contact.recaptchasitekey }}"></div>
					<!-- Old Captcha Code
					<div class="iosform-group">
							<div class="capbox">

								<div id="CaptchaDiv"></div>
								
								<div class="capbox-inner">
								{{ .Site.Params.contact.captcha }}<br>
								
								<input type="hidden" id="txtCaptcha">
								<input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>
								
								</div>
								</div>
						</div>
					-->	
						
			            <div class="iosform-button">
			              <input type="submit" value="{{ with .Site.Params.contact.buttonText }}{{ . | markdownify }}{{ end }}" class="button-primary" success="{{ with .Site.Params.contact.success }}{{ . }}{{ end }}" wait="{{ with .Site.Params.contact.wait }}{{ . }}{{ end }}">    
			            </div>     
			          </form>
		            </div>
		        </div>	{{ "<!-- layout-content end -->" | safeHTML }}	    
		</section>{{ "<!-- contact end -->" | safeHTML }}