{{ "<!-- ABOUT -->" | safeHTML }}
<section id="pricing" class="bg-dark">
    <div class="container">
        <div class="row text-faded">           
            <div class="col-xs-12 col-md-3 no-gutter">
            	<img src="{{ .Params.pricingpic1 }}" class="img-responsive" alt="" style="margin-left: auto; margin-right: auto;">
            	<h3  style="text-align: center;">{{ .Params.pricingtitle1 | markdownify }}</h3>
            	<p  style="text-align: center;">{{ .Params.pricingdesc1 | markdownify }}</p>
         	</div>
         	<div class="col-xs-12 col-md-3 no-gutter">
            	<img src="{{ .Params.pricingpic2 }}" class="img-responsive" alt="" style="margin-left: auto; margin-right: auto;">
            	<h3  style="text-align: center;">{{ .Params.pricingtitle2 | markdownify }}</h3>
            	<p  style="text-align: center;">{{ .Params.pricingdesc2 | markdownify }}</p>
         	</div>
         	<div class="col-xs-12 col-md-3 no-gutter">
            	<img src="{{ .Params.pricingpic3 }}" class="img-responsive" alt="" style="margin-left: auto; margin-right: auto;">
            	<h3  style="text-align: center;">{{ .Params.pricingtitle3 | markdownify }}</h3>
            	<p  style="text-align: center;">{{ .Params.pricingdesc3 | markdownify }}</p>
         	</div>
         	<div class="col-xs-12 col-md-3 no-gutter">
            	<img src="{{ .Params.pricingpic4 }}" class="img-responsive" alt="" style="margin-left: auto; margin-right: auto;">
            	<h3  style="text-align: center;">{{ .Params.pricingtitle4 | markdownify }}</h3>
            	<p  style="text-align: center;">{{ .Params.pricingdesc4 | markdownify }}</p>
         	</div>        
        </div>

<!--
        <div class="row">   
            
            <div class="col-sm-12 col-md-12 no-gutter">
            	<div class="columns">
 			 		<ul class="price">
  			  			<li class="header">Last Minute</li>
   			  			<li class="grey">Delivered in <strong>48 hours</strong></li>
    		  			<li>Not Available due to workload</li>
              			<li>-</li>
  					</ul>
				</div>
				<div class="columns">
  					<ul class="price">
    					<li class="header" style="background-color:#4CAF50">Urgent</li>
    					<li class="grey">Delivered in 5 open days</li>
    					<li>$100 per slide</li>
    					<li>3 iterations</li>
  					</ul>
				</div>

				<div class="columns">
  					<ul class="price">
    					<li class="header">Normal</li>
    					<li class="grey">Delivered in <strong>10 open days</strong></li>
    					<li>$50 per slide</li>
    					<li>3 iterations</li>
  					</ul>
				</div>

				<div class="columns">
  					<ul class="price">
    					<li class="header" style="background-color:#4CAF50">1 Month</li>
    					<li class="grey">Delivered in 1 month</li>
    					<li>$25 per slide</li>
    					<li>3 iterations</li>
  					</ul>
				</div>
            </div>
            
        </div>
-->        
    </div>
</section>

