<section class="no-padding" id="gallery">
<div class="container">
	<div class="row">
	    <div class="col-lg-12 text-center">
	        <h2 class="section-heading">{{ with .Params.gallerytitle }}{{ . | markdownify }}{{ end }}</h2>
	        <p class="section-subheading text-muted">{{ with .Params.gallerysubtitle }}{{ . | markdownify }}{{ end }}</p>
	    </div>
	</div>
</div>
<div class="row">

    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.pzgallery }}
            <div class="col-xs-6 col-sm-4">
                <img src="/pictures/pz/gallery/{{ .img }}" class="img-responsive" alt="">
            </div>
            {{ end }}
        </div>
    </div>
</section>
