<section id="team-members">
     <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">				
				{{ range .Site.Data.teammembers }}
				  {{ if eq $.Site.Params.languagecode .language }}
	           		    <div class="col-xs-12 col-sm-4 col-lg-3">
	                	<a href="{{ .url }}" class="people-box">
	                    <img src="/pictures/team-members/{{ if ne .img nil }}{{ .img }}{{ else}}{{ .name | urlize}}.png{{ end }}" class="people-box-image" alt="">	
		                <div class="people-box-caption">
		                    <div class="people-box-caption-content">
		                        <h2 class="people-name">{{ .name }}<br />
									<small>{{ .title }}</small>
		                        </h2>
							</div>
						</div>
						</a>
	            	  </div>
				  {{ end }}  
				{{ end}}
	        </div> <!--end col -->
        </div> <!--end row-->
    </div>
</section>
