{{ "<!-- ABOUT -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
        
			<div class="col-lg-12 text-center">
	            <p>{{ with .Params.aboutdescription }}{{ . | markdownify }}{{ end }}</p>

<!-- New table -->
<table class="tedxtable" style="width: auto; word-break: break-word; min-width: 320px; table-layout:fixed;">
  <tr>
    <th style="width:25%;"></th>
    <th style="width:25%;">{{ .Params.category1 }}</th>
    <th style="width:25%;">{{ .Params.category2 }}</th>
    <th style="width:25%;">{{ .Params.category3 }}</th>
  </tr>
  <tr>
    <td style="text-align: left">{{ .Params.item1 }}</td>
<!--    <td>{{ .Params.item11 }}</td> -->
    <td>{{ if eq .Params.item11 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item11 }}{{ end }}</td>
    <td>{{ if eq .Params.item21 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item21 }}{{ end }}</td>
    <td>{{ if eq .Params.item31 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item31 }}{{ end }}</td>
  </tr>
  <tr>
    <td style="text-align: left">{{ .Params.item2 }}</td>
    <td>{{ if eq .Params.item12 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item12 }}{{ end }}</td>
    <td>{{ if eq .Params.item22 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item22 }}{{ end }}</td>
    <td>{{ if eq .Params.item32 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item32 }}{{ end }}</td>
  </tr>
  <tr>
    <td style="text-align: left">{{ .Params.item3 }}</td>
    <td>{{ if eq .Params.item13 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item13 }}{{ end }}</td>
    <td>{{ if eq .Params.item23 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item23 }}{{ end }}</td>
    <td>{{ if eq .Params.item33 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item33 }}{{ end }}</td>
  </tr>
  <tr>
    <td style="text-align: left">{{ .Params.item4 }}</td>
    <td>{{ if eq .Params.item14 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item14 }}{{ end }}</td>
    <td>{{ if eq .Params.item24 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item24 }}{{ end }}</td>
    <td>{{ if eq .Params.item34 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item34 }}{{ end }}</td>
  </tr>
  <tr>
    <td style="text-align: left">{{ .Params.item5 }}</td>
    <td>{{ if eq .Params.item15 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item15 }}{{ end }}</td>
    <td>{{ if eq .Params.item25 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item25 }}{{ end }}</td>
    <td>{{ if eq .Params.item35 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item35 }}{{ end }}</td>
  </tr>
  <tr>
    <td style="text-align: left">{{ .Params.item6 }}</td>
    <td>{{ if eq .Params.item16 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item16 }}{{ end }}</td>
    <td>{{ if eq .Params.item26 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item26 }}{{ end }}</td>
    <td>{{ if eq .Params.item36 "Yes" }}<i class="fa fa-check fa-lg" style="color:green" aria-hidden="true"></i>{{ else }}{{ .Params.item36 }}{{ end }}</td>
  </tr>
</table>

<!-- end of new table -->
			
	        <div class="col-lg-12 text-center"> 
	            <h3>{{ with .Params.aboutdescription2 }}{{ . | markdownify }}{{ end }}</h3>   
			</div>
			
     	</div>

            </div>
            
        </div>
    </div>
</section>