{{/* <!--
	builds the schema.org attributes for a new itemscope
	returns itemprop=".itemprop" itemscope=".itemscope" itemtype=".itemtype"
	to be used successfully, the result must be piped to safeHTMLAttr
	eg:
	{{ $schema := partial "getschemaitem.html" . }}
	<section {{ $schema | safeHTMLAttr }}>
 --> */}}

{{ $schema := "" }}
{{ if .itemtype }}
	{{ $itemtype := .itemtype }}
	{{ range site.Data.schema }}
		{{ if eq .itemtype $itemtype }}
			{{ $schema = add "itemprop=\"" .itemprop }}
			{{ $schema = add $schema "\" itemscope=\"" }}
			{{ $schema = add $schema .itemscope }}
			{{ $schema = add $schema "\" itemtype=\"https://schema.org/" }}
			{{ $schema = add $schema .itemtype }}
			{{ $schema = add $schema "\"" }}
		{{ end }}
	{{ end }}
{{ end }}
{{ return $schema }}