{{ define "main" }}
	{{ "<!-- 404.html:main:start -->" | safeHTML }}
  <section id="404" class="bg-dark">
   	<div class="layout-module-screen-full">
      <div class="flex-parent flex-column flex-justify-center flex-align-center padding-medium">
        <img src="/img/404/404.svg" width="20%" alt="">
        <h1 class="text-center">Oops, something went wrong</h1>
        <p class="text-center">It seems we forgot our next line.<br>While we gather our thoughts,<br>use the menu on top to find your way around,<br>or drop us a line with the contact form so we can check what went wrong.</p>
      </div>
    </div>
	</section>
	{{ "<!-- 404.html:main:end -->" | safeHTML }}
{{ end }}