<!DOCTYPE html>
{{ "<!-- index.html -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	
    <head>
        {{ partial "home/head.html" . }}
        {{/* partial "home/head-slider-css.html" . */}}
    </head>
	
    <body id="page-top" class="bg-black">

		{{/* <!-- background welcome image --> */}}
		{{ with .Params.Picture }}
			{{ partial "welcome-img.html" . }}
		{{ end }}
		{{/* <!-- navigation bar --> */}}
		{{ partial "nav.html" . }}

		<div class="layout-screen-full flex-parent-column flex-justify-end flex-align-center">
				<div class="layout-page-intro bg-black-transparent text-center">
		 			{{ .Page.Content }}
		 			<p class="highlight"><i class="fa fa-chevron-down"></i></p>
				</div>
			</div>
		</div>

		<!-- layout-page:start -->
		<div class="layout-page">
			
			<main>
				<section id="about">
				</section>
				{{ partial "inserts-top.html" . }}
				{{ partial "home/services.html" . }}		
				{{/* partial "home/hero.html" . */}}
				{{ partial "aboutreferences_new.html" . }}
				{{ partial "inserts-bottom.html" . }}
			</main>
				
			<aside>
		 		{{ partial "subscribe.html" . }}
		 	    {{ partial "testimonials.html" . }}
		 	    {{ partial "contact.html" . }}
		 		{{ if eq .Site.Params.map.enable true }}
		 			{{ partial "map.html" . }}
		 		{{ end }}
		 	</aside>
		 	
		</div>
		<!-- layout-page:end -->
		
		{{ partial "footer.html" . }}
		
		{{ partial "js.html" . }}

    </body>

</html>
