<!-- index.html is used to build the home page -->
<!DOCTYPE html>
{{ "<!-- index.html -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "home/head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        {{ partial "home/hero.html" . }}
        {{ partial "about-ios.html" . }}
 	    {{ partial "home/services.html" . }}
        {{ partial "inserts-bottom.html" . }}
		<aside>
	 	    {{ partial "testimonials.html" . }}
	 	    {{ partial "contact.html" . }}
	 	</aside>
        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>