{{/* <!--
	
	e/authorandtime.html

	Adds html with author and date and time of article.
	
	Arguments:
	- page object
	
--> */}}

<section id="authorandtime" class="cl-core--authorandtime">
	<p>
		{{- if .Params.author -}}
			{{- $author := .Params.author | urlize -}}
			{{- $page := printf "/team/%s" $author -}}
			{{- with .Site.GetPage $page -}}
				{{- if ne .Params.draft "true" -}}
					{{ $.Params.author }} —
				{{- else -}}
					{{ .Params.author }} -
				{{- end -}}
			{{- else -}} 
				{{ .Params.author }} -
			{{- end -}}
		{{- else -}}
			{{ partial "e/html-comment" (dict "level" "info" "source" "e/authorandtime" "comment" "skipped author because no author data found") }}
		{{- end -}}
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
			{{ partial "f/getdate.go" .Date }}
		</time> 
	</p>
</section>
