{{/* <!--
	
	e/awards.html

	A list of logos for awards.
	
	Arguments:
	- list of data files from /data/awards/
	  e.g. slice "best-training-uk" "best-virtual-speaker-uk"

	History:
	- 2025-06-15 first version
		
--> */}}

<div class="cl-awards">
	{{ range . }}
		{{ $data := index site.Data.awards . }}
		{{ if $data }}
			{{ $localizeddata := partial "f/getlocalizeddata" $data }}
			{{ if $localizeddata }}
				<div class="cl-awards--item">
					{{ $srcset := partial "f/getpicturesrcset.go" $localizeddata.img }}
					<img loading="eager" decoding="async" src="{{ collections.Index $srcset 0 }}" srcset="{{ collections.Index $srcset 1 }}" {{ with $localizeddata.title }}alt="{{ . }}"{{ end }}>
				</div>
			{{ end }}
		{{ end }}
	{{ end }}
</div>
