{{/* <!--
	
	e/button-primary.html

	Adds a primary button object.
	
	Arguments:
	- structure with .text and .link
	
--> */}}

{{/* <!-- initialize variables --> */}}
{{- $text := false -}}
{{- $url := false -}}

{{/* <!-- process parameters --> */}}
{{- if isset . "button" -}}
	{{- $text = .button -}}
{{- end -}}
{{- if isset . "url" -}}
	{{/* <!-- url should be used whenever possible, link or other names are deprecated --> */}}
	{{- $url = .url -}}
{{- else if isset . "link" -}}
	{{- $url = .link -}}
{{- end -}}

{{ "<!-- partials/e/button-primary.html:start -->" | safeHTML }}
{{- if and $url $text -}}
	<a href="{{ partial "f/geturl.go" . }}" class="cl-core--button-primary">
		{{ $text }}
	</a>
{{- else -}}
	<p class="error">button-primary: missing parameter url or text" }}</p>
{{- end -}}
{{ "<!-- partials/e/button-primary.html:end -->" | safeHTML }}
