{{/* <!-- 
	
	e/img.html
	
	Parameters:
	- a page object:
		- It will try to retrieve img in the following order:
			- a thumbnail.jpg file located in the same folder as the page,
			- .Params.img
			- .Params.picture (deprecated, use .Params.img instead)
		- It will get the alt text in the following order:
			- .Params.alt
			- .Params.title
	- a data object, with the required properties (see variables below)
		- .img: the image file
		- .alt: the image alt description
		- .class: a list of specific classes applicable to the img
		- .loading: "eager", etc.
		- .decoding: "async", etc.
		- .sizes: list of sizes
		- .width: width of the picture
		- .height: height of the picture
	
 --> */}}
{{- $imgpath := partial "f/getimgpath.go" . -}}
{{- $data := partial "f/getdata.go" . -}}
{{- $alt := partial "f/getimgalt.go" . -}}
{{- $srcsetdata := false -}}
{{- $srcset := false -}}
{{- $src := false -}}
{{- $class := false -}}
{{- $loading := false -}}
{{- $decoding := false -}}
{{- $height := false -}}
{{- $width := false -}}
{{- $sizes := false -}}

{{- if $imgpath -}}
	{{- $srcsetdata = partial "f/getimgsrcset.go" $imgpath -}}
	{{- $src = printf "src=\"%s\"" (index $srcsetdata 0) -}}
	{{- if (index $srcsetdata 1) -}}
		{{- $srcset = printf "srcset=\"%s\"" (index $srcsetdata 1) -}}
	{{- end -}}
	{{- if (index $srcsetdata 2) -}}
		{{- $sizes = printf "sizes=\"%s\"" (index $srcsetdata 2) -}}
	{{- end -}}
{{- end -}}

{{- with $data.class -}}
	{{- $class = printf "class=\"%s\"" . -}}
{{- end -}}

{{- with $data.loading -}}
	{{- $loading = printf "loading=\"%s\"" . -}}
{{- end -}}

{{- with $data.decoding -}}
	{{- $decoding = printf "decoding=\"%s\"" . -}}
{{- end -}}

{{- with $data.sizes -}}
	{{- $sizes = printf "sizes=\"%s\"" . -}}
{{- end -}}

{{- with $data.width -}}
	{{- $width = printf "width=\"%s\"" . -}}
{{- end -}}

{{- with $data.height -}}
	{{- $height = printf "height=\"%s\"" . -}}
{{- end -}}

{{ "<!-- partials/e/img.html:start -->" | safeHTML }}
{{- if $imgpath -}}
<img {{ with $src }}{{ . | safeHTMLAttr }}{{ end }}   {{ with $srcset }}{{ . | safeHTMLAttr }}{{ end }}   {{ with $sizes }}{{ . | safeHTMLAttr }}{{ end }}   {{ with $alt }}{{ . | safeHTMLAttr }}{{ end }}   {{ with $class }}{{ . | safeHTMLAttr }}{{ end }}   {{ with $loading }}{{ . | safeHTMLAttr }}{{ end }}   {{ with $decoding }}{{ . | safeHTMLAttr }}{{ end }}   {{ with $width }}{{ . | safeHTMLAttr }}{{ end }}   {{ with $height }}{{ . | safeHTMLAttr }}{{ end }}>
{{- else -}}
	<!-- img not found -->
{{- end -}}
{{ "<!-- partials/e/img.html:end -->" | safeHTML }}
