{{/* <!-- 
	
	e/img.html
	
	Parameters:
	- a page object:
		- It will try to retrieve img in the following order:
			- a thumbnail.jpg file located in the same folder as the page,
			- .Params.img
			- .Params.picture (deprecated, use .Params.img instead)
		- It will get the alt text in the following order:
			- .Params.alt
			- .Params.title
	- a data object, with the required properties (see variables below)
		- .img: the image file
		- .alt: the image alt description
		- .class: a list of specific classes applicable to the img
		- .loading: "eager", etc.
		- .decoding: "async", etc.
		- .sizes: list of sizes 
	
 --> */}}
{{- $imgpath := partial "f/getimgpath.go" . -}}
{{- $data := partial "f/getdata.go" . -}}
{{- $srcset := false -}}
{{- $src := false -}}
{{- $alt := false -}}
{{- $class := false -}}
{{- $loading := false -}}
{{- $decoding := false -}}
{{- $sizes := "sizes=\"(1200px > width >= 720px) 1200px, (720px > width ) 720px, 2400px\"" -}}

{{- if $imgpath -}}
	{{- $srcset = partial "f/getimgsrcset.go" $imgpath -}}
	{{- $src = printf "src=\"%s\"" (index $srcset 0) -}}
	{{- $srcset = printf "srcset=\"%s\"" (index $srcset 1) -}}
{{- end -}}

{{- if $data.alt -}}
	{{- $alt = printf "alt=\"%s\"" $data.alt -}}
{{- else if $data.title -}}
	{{- $alt = printf "alt=\"%s\"" $data.title -}}
{{- end -}}

{{- with $data.class -}}
	{{- $class = printf "class=\"%s\"" . -}}
{{- end -}}

{{- with $data.loading -}}
	{{- $loading = printf "loading=\"%s\"" . -}}
{{- end -}}

{{- with $data.decoding -}}
	{{- $decoding = printf "decoding=\"%s\"" . -}}
{{- end -}}

{{- with $data.sizes -}}
	{{- $sizes = printf "sizes=\"%s\"" . -}}
{{- end -}}

{{ "<!-- partials/e/img.html:start -->" | safeHTML }}
{{- if $imgpath -}}
<img
	{{ with $src }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $srcset }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $sizes }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $alt }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $class }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $loading }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $decoding }}{{ . | safeHTMLAttr }}{{ end }}>
{{- else -}}
	<!-- img not found -->
{{- end -}}
{{ "<!-- partials/e/img.html:end -->" | safeHTML }}
