{{ if isset .Params "hero" }}
	<div class="cl-logobar">
		{{ range .Params.hero }}
			<div class="cl-logobar--item">
				{{ $srcset := partial "f/getimgsrcset.go" .img }}
				<img
					loading="eager"
					decoding="async"
					src="{{ collections.Index $srcset 0 }}"
					srcset="{{ collections.Index $srcset 1 }}"
					sizes="(1200px > width >= 720px) 1200px, (720px > width ) 720px, 2400px"
					{{ with .title }}alt="{{ . }}"{{ end }}>
				<p>
					{{ .description }}
				</p>
			</div>
		{{ end }}
	</div>
{{ end }}
