{{/* <!--
	
	e/scheme.scss

	Used in .scss files to add a scheme to a css class.
	- The list of elements to insert in the class is retrieved from /data/schemes.yaml
	- Then each element is inserted into the css class
	
	Arguments:
	- element name as string
	  example: "bodytop-navbar" will generate:
	  - generic variable properties, for example font-weight:var(--font-weight)
	  - generic variable values retrieved from schemes.yaml, for example --font-weight: 400
	- OR element name and scheme name as slice
	  example: (slice "li" "li") will generate:
	  - specific variable properties, for example font-weight:var(--li-font-weight)
	  - specific variable values, for example --li-font-weight: 400
	
--> */}}

{{/* <!-- initialize variables --> */}}
{{- $scheme := slice -}}
{{- $isgeneric := false -}}

{{/* <!-- get parameters, either the element name if called directly or --> */}}
{{/* <!-- or a slice with element, values if called recursively --> */}}
{{- $element := . -}}

{{- $type := partial "f/getdatatype" $element -}}
{{/* <!-- if the argument is a string... --> */}}
{{- if eq "string" $type  -}}

	{{/* <!-- ...then try to get the scheme matching the element name from the file "schemes.yaml" --> */}}
	{{- $scheme = index site.Data.schemes $element -}}
	{{- $isgeneric = true -}}
{{- else -}}
	{{/* <!-- ...else we assume e/scheme.scss has been called with a slice --> */}}
	{{- $scheme = index $element 1 -}}
	{{- $schemetype := partial "f/getdatatype" $scheme -}}
	{{- if eq "string" $schemetype  -}}
		{{/* <!-- ...then try to get the scheme matching the element name from the file "schemes.yaml" --> */}}
		{{- $scheme = index site.Data.schemes $scheme -}}
	{{- end -}}
	{{- $element = index $element 0 -}}
	{{- if eq "." (substr $element 0 1) -}}
		{{- $element = substr $element 1 -}}
	{{- end -}}
{{- end -}}

{{/* <!-- if the $element is identified as a generic element... --> */}}
{{- if $isgeneric -}}
	{{/* <!-- ...then generate variable properties without element prefix --> */}}
	{{/* <!-- if the element is not "root:"... --> */}}
	{{- if ne "root" $element -}}
		{{/* <!-- ...then generate generic variable properties (without element prefix) --> */}}
		{{- partial "e/scheme-variable-properties" "generic" -}}
	{{- else -}}
		{{/* <!-- ...else variable properties should not be generated for root, do nothing --> */}}
	{{- end -}}
	{{/* <!-- set element name to nothing, so that variables below are generic --> */}}
	{{- $element = "" -}}
{{- else -}}
	{{/* <!-- ...else generate specific variable properties --> */}}
	{{- partial "e/scheme-variable-properties" $element -}}
{{- end -}}

{{/* <!-- if the element is not empty (= is not generic)... --> */}}
{{- if ne "" $element -}}
	{{/* <!-- ...then generate the specific prefix for variables --> */}}
	{{/* <!-- for example, h1 variables will be prefixed with "h1-" --> */}}
	{{- $element = printf "%s-" $element -}}
{{- end -}}


{{/* <!-- iterate over each value for the scheme to generate the css code --> */}}
{{- range $key, $val := $scheme -}}

	{{- $valtype := partial "f/getdatatype" $val -}}
	{{- $keyname := printf "%s" $key -}}

	{{/* <!-- if $val is a string... --> */}}
	{{- if eq "string" $valtype -}}
		{{/* <!-- ...then the value can be used to generate the css variable --> */}}
		
		{{/* <!-- if the $key is named "scheme"... --> */}}
		{{- if eq "scheme" $keyname -}}
			{{/* <!-- ...then call e/colorscheme.scss to generate predefined color scheme --> */}}
			{{ partial "e/colorscheme.scss" $val }}
		{{- else -}}
			{{/* <!-- ...else generate css variable, e.g. "--font-size: 1em" --> */}}
			{{/* <!-- where $key is "font-size" and $val is "1em" --> */}}
			{{- printf "--%s%s:%s;" $element $key $val -}}
		{{- end -}}
		
	{{- else -}}
		
		{{- if eq "sm" $keyname }}
			
			{{/* <!-- generate @media{ css for small screens --> */}}
			{{- printf "@media (max-width:$gl-sm-screen){" -}}
			
			{{/* <!-- call e/scheme recursively */}}
			{{/* <!-- use "" as first argument so that generated variables remain generic */}}
			{{ partial "e/scheme.scss" (slice "" $val) }}
			
			{{/* <!-- close "tag" css --> */}}
			{{- printf "}" -}}
			
		{{- else if eq "lg" $keyname }}
			
			{{/* <!-- generate @media{ css for large screens --> */}}
			{{- printf "@media(min-width:$gl-lg-screen){" -}}
			
			{{/* <!-- call e/scheme recursively */}}
			{{/* <!-- use "" as first argument so that generated variables remain generic */}}
			{{ partial "e/scheme.scss" (slice "" $val) }}
			
			{{/* <!-- close "tag" css --> */}}
			{{- printf "}" -}}
			
		{{- else -}}
			
			{{/* <!-- generate tag{ css --> e.g. "h1{" where $key is "h1" */}}
			{{/* <!-- this is necessary to override the default tag variables */}}
			{{- printf "%s{" $key -}}
			
			{{/* <!-- call e/scheme recursively */}}
			{{ partial "e/scheme.scss" (slice $key $val) }}
			
			{{/* <!-- close "tag" css --> */}}
			{{- printf "}" -}}
			
		{{- end -}}
		
	{{- end -}}

{{- end -}}
