{{ "<!-- ABOUT -->" | safeHTML }}
<section id="about" class="bg-lightgrey" style="padding-top: 0px; padding-bottom: 0px;">
    <div class="container">
      
        <div class="row">
        	<!-- *** REFERENCES CAROUSEL *** -->

               <ul class="owl-carousel references same-height-row" style="padding-left: 0px; background-color: ##e2f2f2;">
                    {{ $.Scratch.Set "count" 0 }}
                    {{ range .Site.Data.references }}
                    	{{ $.Scratch.Add "count" 1 }}
                        {{ if .showonhome }}
                        <div class="thumbnail" style="background-color: transparent;">
		   					<a href="#referencesModal{{ ($.Scratch.Get "count") }}" data-toggle="modal" data-backdrop="true">
							{{ partial "reference-logo.html" . }}
        	     			</a>
            			</div>
            			
						{{ end }}
					{{ end }}
                </ul>
                <!-- /.owl-carousel -->
				
				{{ $.Scratch.Set "count" 0 }}
                    {{ range .Site.Data.references }}
                    	{{ $.Scratch.Add "count" 1 }}
                        {{ if .showonhome }}
            			{{ "<!-- references Modals -->" | safeHTML }}
            			<div class="modal fade" id="referencesModal{{ ($.Scratch.Get "count") }}" tabindex="-1" role="dialog" aria-hidden="true">
							{{ partial "reference-modal_new.html" . }}
            	 		</div>
						{{ end }}
					{{ end }}
                <!-- *** TESTIMONIALS CAROUSEL END *** -->
        </div>
    </div>
</section>

