<footer id="footer" class="cl-bodybottom-footer">
	<ul class="categories">
		{{- range site.Params.footer.categories -}}
		<li class="category">
			<h3>{{ .name }}</h3>
			<ul class="items">
				{{- range .items -}}
				<li class="item">
					<a href="{{ .url }}" class="cl-core--a-underline-none">
						{{- .name -}}
					</a>
				</li>
				{{- end }}
			</ul>
		</li>
		{{- end -}}
	</ul>
	<p class="text">
		{{ with site.Params.footer.copyright }}{{ . }}{{ end }} {{ now.Year }}. 
		{{ with site.Params.footer.rights }}{{ . }}{{ end }}<br />
		{{ with site.Params.footer.cookies }}{{ . | markdownify }}{{ end }}</br>
		{{ with site.Params.footer.text }}{{ . | markdownify }}{{ end }}
	</p>
</footer> 
