{{ "<!-- partials:inserts:link-text1-picture2.html:start -->" | safeHTML }}
<div class="layout-content {{ with .style }}{{ . }}{{ end }}">
	<div class="flex-parent-row">
    	<div class="flex-child-40p flex-child-text-left">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
		</div>
		<div class="flex-child-60p flex-child-image-right">
			{{ partial "e/link-picture.html" . }}
    	</div>
    </div>
</div>
{{ "<!-- partials:inserts:link-text1-picture2.html:end -->" | safeHTML }}