{{ "<!-- partials:inserts:link-photo1-text2.html:start -->" | safeHTML }}
<div class="layout-content {{ with .style }}{{ . }}{{ end }}">
	<div class="flex-parent-row flex-column-reverse-ontall">
    	<div class="flex-child-40p">
			{{ partial "elements/link-photograph.html" . }}
    	</div>
		<div class="flex-child-60p flex-child-text-right">
			{{ partial "elements/link-title-description.html" . }}
			{{ partial "elements/button-secondary.html" . }}
		</div>
    </div>
</div>
{{ "<!-- partials:inserts:link-photo1-text2.html:end -->" | safeHTML }}