{{ "<!-- partials:inserts:link-picture2-text1.html:start -->" | safeHTML }}
<div class="layout-module-content {{ partial "f/getstyle" . }}">
	<div class="flex-parent flex-parent-row flex-parent-column-reverse-ontall flex-big-gap">
    	<div class="flex-child flex-child-60p">
			{{ partial "e/link-picture.html" . }}
    	</div>
		<div class="flex-child flex-child-40p">
			<div class="paddingv-small">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
			</div>
		</div>
    </div>
</div>
{{ "<!-- partials:inserts:link-picture2-text1.html:end -->" | safeHTML }}