{{ "<!-- partials:inserts:link-text2-picture1.html:start -->" | safeHTML }}
<div class="layout-content {{ partial "f/getstyle" . }}">
	<div class="flex-parent-row flex-column-ontall">
		<div class="flex-child-60p flex-child-text-right">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
		</div>
    	<div class="flex-child-40p flex-child-image-right">
			{{ partial "e/link-picture.html" . }}
    	</div>
    </div>
</div>
{{ "<!-- partials:inserts:link-text2-picture1.html:end -->" | safeHTML }}