{{ "<!-- partials:inserts:module-half-text-picture.html:start -->" | safeHTML }}
<div class="layout-module-half">
	<div class="layout-module-column {{ with .style }}{{ . }}{{ end }}">
		<div class="layout-module-column-text">
			{{ partial "elements/link-title-description.html" . }}
			{{ partial "elements/button-secondary.html" . }}
		</div>
		<div class="layout-module-column-image">
			{{ partial "elements/link-picture.html" . }}
		</div>
	</div>
</div>
{{ "<!-- partials:inserts:module-half-text-picture.html:end -->" | safeHTML }}