{{ "<!-- partials:inserts:module-picture-textright.html:start -->" | safeHTML }}
<div class="layout-module">
	<div class="layout-module-row {{ with .style }}{{ . }}{{ end }}">
		<div class=" layout-module-row-image">
			{{ partial "e/link-picture.html" . }}
		</div>
		<div class="layout-module-row-text">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
		</div>
	</div>
</div>
{{ "<!-- partials:inserts:module-picture-textright.html:end -->" | safeHTML }}