{{ "<!-- partials:inserts:module-picture-textleft.html:start -->" | safeHTML }}
<div class="layout-module">
	<div class="layout-module-row flex-column-ontall {{ with .style }}{{ . }}{{ end }}">
		<div class="layout-module-row-text">
			{{ partial "elements/link-title-description.html" . }}
			{{ partial "elements/button-secondary.html" . }}
		</div>
    	<div class="layout-module-row-image">
			{{ partial "elements/link-picture.html" . }}
    	</div>
    </div>
</div>
{{ "<!-- partials:inserts:module-picture-textleft.html:end -->" | safeHTML }}