{{ "<!-- partials/inserts/module-texttop-picture.html:start -->" | safeHTML }}
<div class="l-module">
	<div class="l-module-column {{ partial "f/getstyle" . }}">
		<div class="l-module-column-text style-module-text">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
		</div>
		<div class="l-module-column-image">
			{{ partial "e/link-picture.html" . }}
		</div>
	</div>
</div>
{{ "<!-- partials/inserts/module-texttop-picture.html:end -->" | safeHTML }}