{{ "<!-- partials:inserts:module-texttop-picture.html:start -->" | safeHTML }}
<div class="layout-module">
	<div class="layout-module-column {{ with .style }}{{ . }}{{ end }}">
		<div class="layout-module-column-text">
			{{ partial "e/link-title-description.html" . }}
			{{ partial "e/button-secondary.html" . }}
		</div>
		<div class="layout-module-column-image">
			{{ partial "e/link-picture.html" . }}
		</div>
	</div>
</div>
{{ "<!-- partials:inserts:module-texttop-picture.html:end -->" | safeHTML }}