{{ "<!-- partials:insert-link-full-picture-text-right.html:start -->" | safeHTML }}
<section class="layout-sticky">
	<div class="layout-screen-partial flex-parent-row {{ with .style }}{{ . }}{{ end }}">
		<div class="flex-child-60p">
			{{ partial "elements/link-picture.html" . }}
		</div>
		<div class="flex-child-40p flex-child-text">
			{{ partial "elements/link-title-description.html" . }}
			{{ partial "elements/button-secondary.html" . }}
		</div>
	</div>
</section>
{{ "<!-- partials:insert-link-full-picture-text-right.html:end -->" | safeHTML }}