{{ "<!-- partials:inserts:storyline-picture-text.html:start -->" | safeHTML }}
<div class="layout-storyline">
	<div class="layout-storyline-left"><!-- used to display dotted line in middle -->
		{{ partial "elements/photograph.html" . }}
	</div>
	<div class="layout-storyline-right">
	    {{ if ne .title "" }}<h3 class="timeline-title">{{ with .title }}{{ . }}{{ end }}</h3>{{ end }}
	    <p class="timeline-text">{{ with .description }}{{ .  }}{{ end }}</p>
	</div>
</div>
{{ "<!-- partials:inserts:storyline-picture-text.html:end -->" | safeHTML }}