{{ "<!-- partials:insert-storyline-begin.html -->" | safeHTML }}
<div class="layout-content {{ with .style }}{{ . }}{{ end }}">
	{{ if or .title .description }}
		<div class="flex-parent-column text-center flex-align-center">
			{{ partial "elements/title-description.html" . }}
			<img alt="bullet" src="/pictures/home/ios-orange-bullet.png" height=13 width=13>
		</div>
	{{ end }}
	<!--
		do not close the div tag here
		it is closed in the insert-storyline-end.html file
		which MUST be used to close the storyline
	-->