{{ "<!-- partials:insert-text1-picture2.html -->" | safeHTML }}
<div class="layout-content {{ with .style }}{{ . }}{{ end }}">
	<section>
		<div class="flex-parent-row flex-column-ontall">
	        <div class="flex-child-40p flex-child-text-left">
			    <h3 class="title-responsive">{{ with .title }}{{ . }}{{ end }}</h3>
			    <p class="text-responsive">{{ with .description }}{{ .  }}{{ end }}</p>
			</div>
			<div class="flex-child-60p">
				{{ partial "elements/picture.html" . }}
			</div>
		</div>
	</section>
</div>