{{ "<!-- partials/inserts/text2-photo1.html:start -->" | safeHTML }}
<div class="marginv-medium {{ partial "f/getstyle.go" . }}">
	<div class="flex-parent flex-parent-row flex-parent-column-ontall">
		<div class="flex-child flex-child-60p flex-child-text-left">
			{{ partial "e/title-description.html" . }}
		</div>
		<div class="flex-child flex-child-40p flex-child-image-right">
			{{ partial "e/photograph.html" . }}
		</div>
	</div>
</div>
{{ "<!-- partials/inserts/text2-photo1.html:end -->" | safeHTML }}