{{ define "main" }}
	{{ "<!-- references:single.html:main:start -->" | safeHTML }}
	<section id="references" class="bg-white">
		<div class="layout-module-wrapper">
			{{ partial "home/references.html" . }}
		</div>
		<div class="layout-content">
			{{- $.Scratch.Set "count" 0 }}
			{{ $languageshort := substr site.LanguageCode 0 2 }}
	    {{- range .Site.Data.references }}
				{{ if eq true .showonrefs }}
		      {{- if eq $languageshort .language }}
		        {{- $.Scratch.Add "count" 1 }}
						<div class="flex-parent-row flex-align-start margint-medium">
							<div class="flex-child-20p">
								<div class="margin-small border">
									<img src="/img/logos/{{ .logo }}">
								</div>
							</div>
							<div class="flex-child-80p">
								<div class="margin-small">
									<h2>{{ .client }}</h2>
									<p><b>{{ .title | markdownify }}</b></p>
									{{ with .description }}
										<p>{{ . | markdownify }}</p>
									{{ end }}
									{{ with .imgcontent }}
										<img src="{{ . }}">
									{{ end }}
									{{ with .description2 }}
										<p>{{ . | markdownify }}</p>
									{{ end }}
								</div>
							</div>
						</div>
		      {{- end }}
					{{ end }}
	    {{- end }}
		</div>
	</section>
	{{ "<!-- references:single.html:main:end -->" | safeHTML }}
{{ end }}
