{{/* <!-- define main only if different from default structure --> */}}

{{ define "main" }}
	{{ "<!-- references/section.html:main:start -->" | safeHTML }}
	{{ template "data-reference-list" .Params }}
	{{ template "page-content" . }}
	{{ template "page-list" . }}
	{{ "<!-- references/section.html:main:end -->" | safeHTML }}
{{ end }}



{{/* <!-- define custom blocks --> */}}

{{ define "page-list" }}
	{{ "<!-- references/section.html:page-list:start -->" | safeHTML }}
	{{ partial "b/page-list-references.html" . }}
	{{ "<!-- references/section.html:page-list:end -->" | safeHTML }}
{{ end }}