{{ "<!-- partials:head-css.html:start -->" | safeHTML }}

{{ "<!-- Custom Fonts -->" | safeHTML }}
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6201816/7621392/css/fonts.css" />

{{ "<!-- Site CSS -->" | safeHTML }}
{{- $style := resources.Get "simple.scss" | resources.ExecuteAsTemplate "simple.css" . | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ "<!-- partials:head-css.html:end -->" | safeHTML }}