{{ "<!-- partials:test:hero.html:start -->" | safeHTML }}
<header id="hero">
	{{- $heropath := partial "f/getheropicturepath" . }}
	{{- $slidercount := 0 }}
	{{- if isset .Params "slider" }}
		{{- range .Params.slider.list }} {{/* <!-- test if at least one slide active --> */}}
			{{- if (partial "f/isactive" .) }}
				{{- $slidercount = add $slidercount 1 }}
			{{- end }}
		{{- end }}
	{{- end }}
	{{- if gt $slidercount 0 }}
		{{ partial "page-slider.html" . }}
	{{- else if $heropath }}
		{{/* <!-- if pic exists, create hero area --> */}}
		<div class="pm-block pm-width-full pm-ratio-3-1">
		 	<div class="pm-layout-free pm-width-full pm-ratio-3-1" >
		 		<img src="{{ $heropath }}" class="pm-width-full pm-ratio-3-1 pm-img-cover">
		 	</div>
		 	<div class="pm-layout-free pm-width-full pm-ratio-3-1 pm-align-middle">
	      <h1 class="pm-layout-page-title style-page-title-overlay">
	        {{- with .Title }}{{ . | markdownify  }}{{ end -}}
	      </h1>
		 	</div>
		</div>

	{{- else if .Title -}}
		{{/* <!-- else if title exists, create title area --> */}}
		{{- if and (eq .Section "news") (.IsPage) }}
			{{/* <!-- no title for news pages (ideally should be replaced by a parameter) --> */}}
		{{ else if and (eq .Section "team") (.IsPage) }}
			{{/* <!-- no title for team member  pages (ideally should be replaced by a parameter) --> */}}
		{{- else }}
	    <div class="layout-page-title style-page-title">
        	<h1>
	            {{ with .Title }}{{ . | markdownify  }}{{ end }}
            </h1>
	    </div>
		{{- end }}
	{{- end }}
</header>
{{ "<!-- partials:page-hero.html:end -->" | safeHTML }}
