{{ "<!-- partials:home/hero.html -->" | safeHTML }}
<header id="home">

<div class="heroslider flex-container bg-black">
		<input type="radio" id="heroslider-1" name="heroslider[]" checked>
		<input type="radio" id="heroslider-2" name="heroslider[]">
     	<input type="radio" id="heroslider-3" name="heroslider[]">
		
		<ul class="flex-container bg-black heroslider__items">
			{{ range .Params.slider.list }}
			<li class="heroslider__item img-fullsize-crop">
				<img src="{{ .bgimage }}" alt="">
				<div class= "header-content">
					<div class="header-content-inner slider">  
		    			<div class="slider-title">{{ .title | safeHTML }}</div>
						{{ if .description }}
						<div class="slider-subtitle">{{ .description }}</div>
						{{ end }}
						{{ if .button }}
						<a href="{{ .buttonlink }}">
							<div class="btn btn-primary btn-slider">{{ .button }}</div>
						</a>
						{{ end }}
					</div>
				</div>
			</li>
			{{ end }}
		</ul>
     <div class="heroslider__prev">
     	<label for="heroslider-1"></label>
     	<label for="heroslider-2"></label>
     	<label for="heroslider-3"></label>
     </div>
     <div class="heroslider__next">
       <label for="heroslider-1"></label>
       <label for="heroslider-2"></label>
       <label for="heroslider-3"></label>
     </div>
     <div class="heroslider__nav">
       <label for="heroslider-1"></label>
       <label for="heroslider-2"></label>
       <label for="heroslider-3"></label>
     </div>
   </div>

</header>
