{{ "<!-- partials:home/hero.html -->" | safeHTML }}

<div class="layout-page-width">
	<div class="heroslider layout-size-screen-partial">
	
		{{ $.Scratch.Set "counter" 0 }}
		{{ range .Params.slider.list }}
			{{ if and (or (eq nil .date) (ge (now.Format "2006-01-02") .date)) (or (eq nil .expirydate) (lt (now.Format "2006-01-02") .expirydate)) }}
				{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
			<input type="radio" id="heroslider-{{$.Scratch.Get "counter"}}" name="heroslider[]" {{ if eq 1 ($.Scratch.Get "counter") }}checked{{ end }}>
			{{ end }}
		{{ end }}
				
		<ul class="heroslider__items">
		{{ range .Params.slider.list }}
			{{ if and (or (eq nil .date) (ge (now.Format "2006-01-02") .date)) (or (eq nil .expirydate) (lt (now.Format "2006-01-02") .expirydate)) }}
				<li class="heroslider__item">
					<div class="layout-absolute layout-size-screen-partial">
						<img src="{{ .bgimage }}" alt="">
					</div>
					<div class= "layout-absolute layout-size-screen-partial" {{ with .opacity }}style="background-color:rgba(0,0,0,.{{ . }});"{{ end }}>					
						<div class="flex-parent-column flex-justify-center flex-align-center">  
			    			<h2 class="style-slider-title">{{ .title | safeHTML }}
							</h2>
							{{ if .description }}
							<p class="style-slider-subtitle">{{ .description }}</p>
							{{ end }}
							{{ if .button }}
							<a href="{{ .buttonlink }}" class="button-primary">{{ .button }}</a>
							{{ end }}
						</div>
					</div>
				</li>
			{{ end }}
		{{ end }}
			</ul>
	
			<div class="heroslider__prev">
		{{ $.Scratch.Set "counter" 0 }}
		{{ range .Params.slider.list }}
			{{ if and (or (eq nil .date) (ge (now.Format "2006-01-02") .date)) (or (eq nil .expirydate) (lt (now.Format "2006-01-02") .expirydate)) }}
				{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
		     	<label for="heroslider-{{$.Scratch.Get "counter"}}"></label>
			{{ end }}
		{{ end }}
		    </div>
		    <div class="heroslider__next">
		{{ $.Scratch.Set "counter" 0 }}
		{{ range .Params.slider.list }}
			{{ if and (or (eq nil .date) (ge (now.Format "2006-01-02") .date)) (or (eq nil .expirydate) (lt (now.Format "2006-01-02") .expirydate)) }}
				{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
		       <label for="heroslider-{{$.Scratch.Get "counter"}}"></label>
			{{ end }}
		{{ end }}
			</div>
		    <div class="heroslider__nav">
		{{ $.Scratch.Set "counter" 0 }}
		{{ range .Params.slider.list }}
			{{ if and (or (eq nil .date) (ge (now.Format "2006-01-02") .date)) (or (eq nil .expirydate) (lt (now.Format "2006-01-02") .expirydate)) }}
					{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
		       <label for="heroslider-{{$.Scratch.Get "counter"}}"></label>
			{{ end }}
		{{ end }}
		    </div>
				 
	</div>
</div>