{{ "<!-- partials:home:references:start -->" | safeHTML }}
<section id="references" class="bg-white">
  <div class="flex-parent flex-parent-row">
    {{- $.Scratch.Set "count" 0 }}
		{{ $languageshort := substr site.LanguageCode 0 2 }}
    {{- range .Site.Data.references }}
      {{- if .showonhome }}
        {{- if eq $languageshort .language }}
          {{- $.Scratch.Add "count" 1 }}
          <div class="flex-child-16p">
						<div class="margin-tiny border">
							<img src="/img/logos/{{ .logo }}" alt="{{ .logo }}">
						</div>
          </div>
        {{- end }}
      {{- end }}
    {{- end }}
	</div>
</section>
{{ "<!-- partials:home:references:end -->" | safeHTML }}