{{ "<!-- partials:home:references:start -->" | safeHTML }}
<section id="references" class="bg-white">
  <div class="layout-content">
    <div class="flex-parent-scroll ios-scrollbar">
      {{- $.Scratch.Set "count" 0 }}
      {{- range .Site.Data.references }}
        {{- if .showonhome }}
          {{- if eq site.LanguageCode .language }}
	          {{- $.Scratch.Add "count" 1 }}
	          <div class="flex-child-scroll">
	            <div class="reference-item" style="background-color: transparent;">
	              <img src="/img/logos/{{ .logo }}" alt="{{ .logo }}">
	            </div>
	          </div>
	        {{- end }}
	      {{- end }}
      {{- end }}
		</div>
  </div>
</section>
{{ "<!-- partials:home:references:end -->" | safeHTML }}