{{ "<!-- partials:home:services -->" | safeHTML }}

<section id="services" {{ with .Params.services.itemprop }}itemprop="{{ . }}"{{ end }} {{ with .Params.services.itemscope }}itemscope="{{ . }}"{{ end }} {{ with .Params.services.itemtype }}itemtype="https://schema.org/{{ . }}"{{ end }}>
		
	<div class="layout-page-content {{ with .Params.style }}{{ . }}{{ else }}bg-white{{ end }}">
		
		{{ with .Params.services }}
			{{ partial "section-title.html" . }}
		{{ end }}
		
		<div class="flex-parent-row">
			<div class="flex-parent-column">
				{{ range .Params.services.list }}
					<div class="layout-section-spacer">
					</div>
					<div class="flex-child">
						{{ partial .layout . }}
					</div>
				{{ end }}
			</div>
		</div>
	</div>
	
</section>
