{{ "<!-- partials:home:services:start -->" | safeHTML }}
{{ $schema := partial "getschema.html" .Params.services }}
<section id="services" {{ $schema.schema | safeHTMLAttr }}>
    <div class="container paddingt-large">
        <div class="row">
			<div class="col-xs-12 text-center col-md-8 col-md-offset-2">
				<h2 class="style-section-title-main" {{ $schema.name | safeHTMLAttr }}>{{ with .Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
			</div>
		</div>
	</div>
	{{- range .Params.services.list -}}
		<div {{ $schema.itemlist | safeHTMLAttr }}>
			{{ partial .layout . }}
		</div>
	{{- end -}}
</section>
{{ "<!-- partials:home:services:end -->" | safeHTML }}