{{ "<!-- partials:home:services:start -->" | safeHTML }}
<section id="services" >
	{{ if .Params.services.itemtype }}<div itemprop="{{ .Params.services.itemprop }}" itemscope="{{ .Params.services.itemscope }}" itemtype="https://schema.org/{{ .Params.services.itemtype }}">
	{{ end }}
    <div class="container paddingt-large">
        <div class="row">
			<div class="col-xs-12 text-center col-md-8 col-md-offset-2">
				<h2 class="style-section-title-main" {{ with .Params.services.titleprop }}itemprop="{{ . }}"{{ end }}>{{ with .Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
			</div>
		</div>
	</div>
	{{ range .Params.services.list }}
		{{ partial .layout . }}
	{{- end }}
	{{ if .Params.services.itemtype }}
	</div>
	{{ end }}
</section>
{{ "<!-- partials:home:services:end -->" | safeHTML }}