{{ "<!-- partials:home:testimonials.html:start -->" | safeHTML }}
{{ if gt (len .Site.Data.testimonials) 0 }}
	<section id="testimonials" class="layout-module-group layout-module-group-nomargin bg-lightgrey">
		<div class="flex-parent-scroll flex-gap ios-scrollbar">
			{{ range .Site.Data.testimonials }}
				{{ if .showonhome }}
					{{ if eq site.Language.Lang .language }}
						<div class="flex-child iostestimonials-item">
							<div class="flex-parent flex-parent-column">
								<p class="iostestimonials-text">
									{{ .text }}
								</p>
								<div class="flex-parent flex-parent-row flex-justify-start flex-gap">
									<div class="flex-child flex-child-20p iostestimonials-picture">
										<img class="" alt="{{ .name }}" src="{{ .avatar }}">
									</div>
									<div class="flex-child flex-child-80p">
										<h4 class="iostestimonials-name">{{ .name }}</h4>
										<p class="iostestimonials-position">{{ .position }}</p>
									</div>
								</div>
							</div>
						</div>
					{{ end }}
				{{ end }}
			{{ end }} 
		</div>
	</section>
{{ else }}
	{{ "<!-- no testimonials -->" | safeHTML }}
{{ end }}
{{ "<!-- partials:home:testimonials.html:end -->" | safeHTML }}