{{ "<!-- partials:home:testimonials.html:start -->" | safeHTML }}
{{- if gt (len .Site.Data.testimonials) 0 }}
<div class="layout-module-wrapper-nogap">
	<section id="testimonials" class="bg-lightgrey">
		<div class="layout-content-width">
			<div class="flex-parent-scroll iostestimonials ios-scrollbar">
				{{- range .Site.Data.testimonials }}
					{{- if .showonhome }}
						{{- if eq site.Language.Lang .language }}
							<div class="flex-child-scroll iostestimonial-item">
								<div class="iostestimonial">
									<div class="text">
										<p>{{ .text }}</p>
									</div>
									<div class="bottom">
										<div class="name-picture">
											<img class="" alt="{{ .name }}" src="{{ .avatar }}">
											<h4>{{ .name }}</h4>
											<p>{{ .position }}</p>
										</div>
									</div>
								</div>
							</div>
						{{- end }}
					{{- end }}
				{{- end }} 
			</div>
		</div>
	</section>
</div>
{{ else }}
	{{ "<!-- no testimonials -->" | safeHTML }}
{{- end }}
{{ "<!-- partials:home:testimonials.html:end -->" | safeHTML }}