:root {
  
}

:root {
  --code-background: #adaeae;
  --code-border: rgba(0,0,0,0.7);
  --code-text: #F7F7F7;
  --code-comment: #80878D;
  --code-type: #EF98A8;
  --code-include: #C596C9;
  --code-string: #A59CC7;
  --code-class-name: #94A5CB;
  --code-numbers: #E8D670;
  --code-variables: #77B5E3;
  --code-functions: #DF8DC0;
  --code-literal: #F6B99A;
  --dark-code-background: rgba(0,0,0,0.7);
  --dark-code-border: rgba(0,0,0,0.7);
  --dark-code-text: #F7F7F7;
  --dark-code-comment: #80878D;
  --dark-code-type: #EF98A8;
  --dark-code-include: #C596C9;
  --dark-code-string: #A59CC7;
  --dark-code-class-name: #94A5CB;
  --dark-code-numbers: #E8D670;
  --dark-code-variables: #77B5E3;
  --dark-code-functions: #DF8DC0;
  --dark-code-literal: #F6B99A;
}
    section > .layout-cover {
  /* Write your CSS here */
	background-color: #fc6d08;
	
  /* Upload an image and use it as background */
  /*
    background-image: var(--my-image);
    background-repeat: no-repeat;
    background-size: cover;
  */
}


section > .layout-cover > :not([class*="layout-"]) {
  /* Write your CSS here to change the alignment of the content */

  /* Use "justify-content" to change the vertical alignment
   * of the content. Comment out the following line to
   * move everything to the top. Replace the value "start" 
   * with "center" to center the content or "end" 
   * to move the content to the bottom. */
  /* justify-content: start; */
  
  /* Use "align-items" + "text-align" to change the 
   * horizontal alignment of the content. Comment out 
   * the following lines to move everything to the right.
   * Replace the two values with "center" or "start"
   * for a different alignment. */
  /* align-items: end; */
  /* text-align: end; */

  align-items: center;  
  text-align: center;
  
  /* justify-content and align-items don't apply on 
   * mobile devices. If you want to change the alignment
   * on mobile devices too, uncomment the following lines: */
  /* display: flex;
     flex-direction: column;
     height: 100%;
   */
}



section > .layout-section {
  /* Write your CSS here */
background-color: #1291D8;
  /* Upload an image and use it as background */
  /*
    background-image: var(--my-image);
    background-repeat: no-repeat;
    background-size: cover;
  */
}


section > .layout-section > :not([class*="layout-"]) {
  /* Write your CSS here to change the alignment of the content */

  /* Use "justify-content" to change the vertical alignment
   * of the content. Comment out the following line to
   * move everything to the top. Replace the value "start" 
   * with "center" to center the content or "end" 
   * to move the content to the bottom. */
  /* justify-content: start; */
  
  /* Use "align-items" + "text-align" to change the 
   * horizontal alignment of the content. Comment out 
   * the following lines to move everything to the right.
   * Replace the two values with "center" or "start"
   * for a different alignment. */
  /* align-items: end; */
  /* text-align: end; */
  
  /* justify-content and align-items don't apply on 
   * mobile devices. If you want to change the alignment
   * on mobile devices too, uncomment the following lines: */
  /* display: flex;
     flex-direction: column;
     height: 100%;
   */
}



/* Style headings from H1 to H6 */
/* Remove any of these selectors if you only want to style a subset of headings */
section > [class*="layout-"] > div h1, 
section > [class*="layout-"] > div h2,
section > [class*="layout-"] > div h3,
section > [class*="layout-"] > div h4,
section > [class*="layout-"] > div h5,
section > [class*="layout-"] > div h6 {
  /* Write your CSS here */

  /* Change headings to uppercase */
  text-transform: uppercase;

  /* Change everything to uppercase and the first letter bigger */
  /* font-variant: small-caps; */

  /* Bring the letters closer together */
  /* letter-spacing: -0.05em; */
}

