{{ "<!-- partials:page-subscribe.html:start -->" | safeHTML }}
<section id="subscribe">
	<div class="layout-content">
        <div class="layout-module-column-text style-module-text">
          <h2 class="section-heading">{{ with site.Params.subscribe.title }}{{ . | markdownify }}{{ end }}</h2>
		  <p>{{ with site.Params.subscribe.subtitle }}{{ . | markdownify }}{{ end }}</p>
        </div>
        <div class="layout-content-narrow">
          <form action="{{ .RelPermalink }}" method="POST" name="newsForm" id="ioscontactForm" netlify netlify-honeypot="bot-field">
            <div class="iosform-group">
              <input type="hidden" name="_subject" value="Form sent from page: {{ .Permalink }}">
              <input type="hidden" name="_lang" value="{{ site.Params.LanguageCode }}">
            </div>
            <div class="iosform-group">
              <input type="email" id="email" name="email" class="iosform-control" placeholder="{{ with site.Params.subscribe.form.email.text }}{{ . | markdownify }}{{ end }}" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"oninvalid="alert('{{ with site.Params.subscribe.form.email.warning }}{{ .  | markdownify }}{{ end }}');" required>
            </div>
            <div class="form-group" id="fooDiv">
			<label for="foo">Leave this field blank</label>
			<input type="text" name="foo" id="foo">
		</div>
		<script>
			(function () {
				var e = document.getElementById("fooDiv");
				e.parentNode.removeChild(e);
			})();
		</script>
        <div class="clearfix">
        </div>
            <div class="iosform-button">
              <input type="submit" value="{{ with site.Params.subscribe.buttonText }}{{ . | markdownify }}{{ end }}" class="button-primary" success="{{ with site.Params.subscribe.success }}{{ . }}{{ end }}" wait="{{ with site.Params.subscribe.wait }}{{ . }}{{ end }}">    
            </div>     
          </form>
		</div>
	</div>
</section>
{{ "<!-- partials:page-subscribe.html:end -->" | safeHTML }}