{{ "<!-- partials:page-footer.html:start -->" | safeHTML }}
<footer id="footer" class="footer {{ site.Params.navbar.style }} back">
		
	<div class="footer layout-module-container contentwidth">
		
		<div class="layout-module">
			{{- range .Site.Menus.main }}
			<div class="layout-module-content text marginv-small">
				{{ with .URL }}<a href="{{ . }}">{{ end }}{{ with .Name }}<h4>{{ . }}</h4>{{ end }}{{ with .URL }}</a>{{ end }}
				<ul>
					{{- range .Children }}
					<li><a href="{{ .URL }}">{{ .Name }}</a></li>
					{{- end }}
				</ul>
			</div>
			{{- end }}
		</div>
	
	    <div class="layout-module">
			<div class="layout-module-content text flex-child-60p marginv-small">
	    		{{ with .Site.Copyright }}{{ . }}{{ end }}{{ now.Year }}<br />
	    		{{ with .Site.Params.cookies }}{{ . | markdownify }}{{ end }}</br>
	    		{{ with .Site.Params.footer_desc }}{{ . | markdownify }}{{ end }}
	        </div>		
			<div class="layout-module-content social-icons marginv-small">
				{{ range .Site.Params.Social.Items }}
				<a class="footer-social" href="{{ .url }}"><i class="fa fa-{{ .icon }} fa-2"></i></a>
				{{ end }}
			</div>
		</div>
				
	</div>
			
</footer>
{{ "<!-- partials:page-footer.html:end -->" | safeHTML }}
