{{ "<!-- partials:page-aside.html:start -->" | safeHTML }}
<aside id="aside">
	{{- range .Params.aside }}
	 	{{- if ne true .draft }}
		    	{{- if eq "subscribe" .sectionid }}
					{{ partial "page-subscribe.html" . }}
				{{- else if eq "testimonials" .sectionid }}
					{{ partial "home/testimonials.html" . }}
			{{- else if eq "location" .sectionid }}
				{{ partial "page-address.html" . }}
			{{- end }}
		{{- end }}
 	{{- end }}
	{{/* <!-- include contact form on all pages --> */}}
	{{ partial "page-contact.html" . }}
</aside>
{{ "<!-- partials:page-aside.html:end -->" | safeHTML }}