{{ "<!-- partials:page-list.html:start -->" | safeHTML }}
{{- if not .Params.hidepagelist  }}
<section id="content-list" class="layout-module-container contentwidth">
	{{ $scratch := newScratch }}
	{{- if isset .Params "listlayout" }}
		{{- $scratch.Set "listlayout" .Params.listlayout }}
	{{- else }}
		{{- $scratch.Set "listlayout" "inserts/module-image-left-text-right.html" }}
	{{- end }}
	{{ $pages := .Paginate .Pages }}
	{{- range $pages.Pages }}
		{{- partial ($scratch.Get "listlayout") . }}
	{{- end }}
	{{- if or $pages.HasPrev $pages.HasNext }}
	<div class="layout-module">
		<ul class="layout-module-content-flexbox row">
	        {{- if $pages.HasPrev }}
	        	<li class="previous">
					<a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}" class="button-secondary">&larr; {{ site.Params.buttons.previous }}</a>
				</li>
	        {{- end }}
	        {{- if $pages.HasNext }}
	        <li class="next">
				<a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}" class="button-secondary">{{ site.Params.buttons.next }} &rarr;</a>
			</li>
	        {{- end }}
	    </ul>
	</div>
	{{- end }}
	
</section>
{{- end }}
{{ "<!-- partials:page-list.html:end -->" | safeHTML }}
