{{ "<!-- partials:page-navbar.html:start -->" | safeHTML }}
<nav id="navbar" role="navigation">
	<div class="navbar {{ site.Params.navbar.style }} back">
		<div class="navbar-brand">
			<a class="page-scroll" href="/#body">
				<img src="{{ .Site.Params.navbar.brand.logo }}" alt="Ideas on Stage">
			</a>
		</div>
		<div class="menu">
			<label for="drop-0" class="menutoggle menu-burgercontainer">
				<span class="menu-burgeritem"><i class="fa fa-bars"></i></span>
			</label>
			<input type="checkbox" id="drop-0" />
			{{ "<!-- main menu -->" | safeHTML }}
			<ul class="menucontainer">
				{{- $scratch := newScratch }}
				{{- $scratch.Set "counter" 0 }}
				{{- range .Site.Menus.main }}
					{{- $scratch.Add "counter" 1 }}
						{{ "<!-- main menu item -->" | safeHTML }}
						<li class="menuitemcontainer {{ site.Params.navbar.style }} back">
						{{- if eq "search" .Pre  }}
							{{ "<!-- search menu -->" | safeHTML }}
							<label for="drop-{{ $scratch.Get "counter" }}" class="menuitemtext menutoggle">
								<i class="fa fa-search"></i>
							</label>
							<input type="checkbox" id="drop-{{ $scratch.Get "counter" }}"/>
							<ul class="menuchildcontainer {{ site.Params.navbar.style }} back">
								<li id="fastSearch" class="menuchilditemcontainer menuchildfield">
									<input id="searchInput" tabindex="0">
								</li>
								<li class="menuchilditemcontainer">
									<ul id="searchResults">
									</ul>
								</li> 
					        </ul>
						{{- else }}
							{{- if .HasChildren }}
								{{ "<!-- dropdown menu -->" | safeHTML }}
								<label for="drop-{{ $scratch.Get "counter" }}" class="menuitemtext menutoggle">
									{{ with .Pre }}<i class="fa fa-{{ . }}"></i>{{ end }}
									<span>{{ .Name }}</span>
									{{ with .Post }}<i class="fa fa-{{ . }}"></i>{{ end }}
								</label>
								<input type="checkbox" id="drop-{{ $scratch.Get "counter" }}"/>
								<ul class="menuchildcontainer {{ site.Params.navbar.style }} back">
									{{- range .Children }}
										{{ "<!-- dropdown menu item -->" | safeHTML }}
										<li class="menuchilditemcontainer">
											<a class="menuchilditemtext" href="{{ .URL }}">{{ .Name }}</a>
										</li>
									{{- end }}
								</ul>
							{{- else }}
								{{ "<!-- a link menu -->" | safeHTML }}
								<a href="{{ with .URL }}{{ . }}{{ end }}" class="menuitemtext">
									{{ with .Pre }}<i class="fa fa-{{ . }}"></i>{{ end }}
									<span>{{ with .Name }}{{ . }}{{ end }}</span>
									{{ with .Post }}<i class="fa fa-{{ . }}"></i>{{ end }}
								</a>
							{{- end }}
						{{- end }}
					</li>
				{{- end }}
			</ul>
		</div>
	</div>
</nav>
{{ "<!-- partials:page-navbar.html:end -->" | safeHTML }}