{{ "<!-- partials:page-content.html:start -->" | safeHTML }}
<section id="content">
	{{- if .Params.main }}
		<div class="layout-module-container contentwidth {{ partial "f/getstyle" . }}">
			{{- range .Params.main }}
				{{- if ne true .draft }}
					{{- if eq "content" .sectionid }}
						<div class="layout-module">
							<div class="layout-module-content text-center">
								<article id="content-main">
									{{ $.Page.Content }}
								</article>
							</div>
						</div>
					{{- else if eq "references" .sectionid }}
						{{ partial "page-references.html" . }}
					{{- else }}
						{{ partial .layout . }}
					{{- end }}
				{{- end }}
			{{- end }}
		</div>
	{{- else }}
		<div class="layout-module-container contentwidth">
			<div class="layout-module">
			{{- if (.Params.showtoc) }}
				<div class="layout-module-content stickybar-content stickybar">
					<section id="content-table">
						<h2 class="block">{{ site.Params.tableofcontents }}</h2>
						<div class="scroller">
							{{- with .TableOfContents }}{{ . }}{{ end }} 
						</div>
					</section>
				</div>
				<div class="layout-module-content stickybar-content content">
					<article id="content-main">
						{{ with .Params.summary }}<p>{{ . }}</p>{{ end }} 
						{{ with site.Params.tableofcontents }}<h2>{{ . }}</h2>{{ end }}
						{{ with .TableOfContents }}{{ . }}{{ end }}
						{{- with $.Content }}{{ . }}{{ end }}
					</article>
				</div>
			{{- else }}
				<article id="content-main" class="layout-module-content">
					{{- with .Content }}{{ . }}{{ end }}
				</article>
			{{- end }}
			</div>
		</div>
	{{- end }}
</section>
{{ "<!-- partials:page-content.html:end -->" | safeHTML }}
