
{{ "<!-- partials:page-slider.html:start -->" | safeHTML }}
	<div class="heroslider layout-hero">
		{{- $.Scratch.Set "counter" 0 }}
		{{- range .Params.slider }}
			{{- if (partial "f/isactive" .) }}
				{{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
			<input type="radio" id="heroslider-{{$.Scratch.Get "counter"}}" name="heroslider[]" {{ if eq 1 ($.Scratch.Get "counter") }}checked{{ end }}>
			{{- end }}
		{{- end }}
		<ul class="heroslider__items">
		{{- range .Params.slider }}
			{{- if (partial "f/isactive" .) }}
			<li class="heroslider__item">
				<div class="layout-absolute layout-hero">
					<img src="{{ .bgimage }}" alt="">
				</div>
				<div class= "layout-absolute layout-hero" {{ with .opacity }}style="background-color:rgba(0,0,0,.{{ . }});"{{ end }}>					
					<div class="flex-parent-column flex-justify-center flex-align-center">  
		    			<h2 class="style-slider-title">{{ .title | safeHTML }}
						</h2>
						{{- if .description }}
						<p class="style-slider-subtitle">{{ .description }}</p>
						{{- end }}
						{{- if .button }}
						<a href="{{ .buttonlink }}" class="button-primary">{{ .button }}</a>
						{{- end }}
					</div>
				</div>
			</li>
			{{- end }}
		{{- end }}
		</ul>
		<div class="heroslider__prev">
		{{- $.Scratch.Set "counter" 0 }}
		{{- range .Params.slider }}{{- if (partial "f/isactive" .) }}{{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
	   		<label for="heroslider-{{$.Scratch.Get "counter"}}"></label>
		{{- end }}{{ end }}
		</div>
		<div class="heroslider__next">
		{{- $.Scratch.Set "counter" 0 }}
		{{- range .Params.slider }}
		  {{- if (partial "f/isactive" .) }}
			{{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
	       <label for="heroslider-{{$.Scratch.Get "counter"}}"></label>
		  {{- end }}
		{{- end }}
		</div>
		<div class="heroslider__nav">
		{{- $.Scratch.Set "counter" 0 }}
		{{- range .Params.slider }}
		  {{- if (partial "f/isactive" .) }}
			{{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
			<label for="heroslider-{{$.Scratch.Get "counter"}}"></label>
		  {{- end }}
		{{- end }}
		</div>	 
	</div>
{{ "<!-- partials:page-slider.html:end -->" | safeHTML }}