{{/* <!--
	Official Google Structured data type: yes
	
	!!! As of 2020-04-12, carousels should only be used for list pages with:
	- course subpages
	- article subpages
	- recipe, restaurant or movie
	This is to conform to Google's official supported content types in carousels
 --> */}}
{{ "<!-- partials/schema/carousel.html:start -->" | safeHTML }}
{{ $permalink := .Permalink }}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "ItemList",
		"itemListElement":[
			{{ $counter := 0 }}
			{{ range .Pages }}
				{{ $subschema := lower .Params.schema }}
				{{ if and (not .Draft) (or (eq "course" $subschema) (eq "article" $subschema)) }}
				{{ if ne 0 $counter }},{{ end }}
				{{ $counter = add $counter 1 }}
				{
					"@type": "ListItem",
					"position": {{ $counter }},
					"url": {{ .Permalink }}
				}
				{{ end }}
			{{ end }}
		]
	}
</script>
{{ "<!-- partials/schema/carousel.html:end -->" | safeHTML }}
