{{/* <!--
	
{{< shortcode-img-wide
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  img="url for picture"
  alt="alt for picture"
  url="url for link"
  width="width of img"
  height="width of img"
>}}

Inserts wide image

--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $img := .Get "img" -}}
{{- $alt := .Get "alt" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}

{{ "<!-- shortcode-img-wide.html:start -->" | safeHTML }}
{{ with partial "d/shortcode-div-main" . }}
	{{ partial "e/img" . }}
{{ end }}
{{ "<!-- shortcode-img-wide.html:end -->" | safeHTML }}