{{/* <!--
	
	{{< shortcode-training-info
	  class="helper classes from shortcode.css"
	  style="standard style parameter"
	  format="Intra-entreprise or Inter-entreprise"
	  objectives="Objectifs de la formation"
	  format="Présentiel, en ligne"
	  prerequisites="Prérequis"
	  duration="7 h"
	  price="3000 € HTVA"
	  audience="Leaders, managers"
	  attendees="4 à 8 personnes"
	  location="dans vos locaux, dans nos locaux des Champs Élysées à Paris ou en ligne"	
	  means="Livret d'exercices, Présentation PowerPoint"
	  evaluation="Évaluation continue"
	>}}
	
	Displays the training info (price, location, etc.).
	
	Parameters:
--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $name := .Get "name" -}}
{{- $objectives := .Get "objectives" -}}
{{- $format := .Get "format" -}}
{{- $prerequisites := .Get "prerequisites" -}}
{{- $duration := .Get "duration" -}}
{{- $price := .Get "price" -}}
{{- $audience := .Get "audience" -}}
{{- $attendees := .Get "attendees" -}}
{{- $location := .Get "location" -}}
{{- $means := .Get "means" -}}
{{- $evaluation := .Get "evaluation" -}}


{{ "<!-- shortcode-training-info.html:start -->" | safeHTML }}
<div {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	<ul>
		{{- with $name -}}
		<li id="name" class="content">
			<div class="key">
				<b>Intitulé :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}

		{{- with $objectives -}}
		<li id="format" class="content">
			<div class="key">
				<b>Objectifs :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}

		{{- with $format -}}
		<li id="format" class="content">
			<div class="key">
				<b>Format :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}

		{{- with $prerequisites -}}
		<li id="prerequisites" class="content">
			<div class="key">
				<b>Prérequis :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}
		
		{{- with $duration -}}
		<li id="duration" class="content">
			<div class="key">
				<b>Durée :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}
		
		{{- with $price -}}
		<li id="price" class="content">
			<div class="key">
				<b>Prix :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}
		
		{{- with $audience -}}
		<li id="audience" class="content">
			<div class="key">
				<b>Audience :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}
		
		{{- with $attendees -}}
		<li id="attendees" class="content">
			<div class="key">
				<b>Participants :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}
		
		{{- with $location -}}
		<li id="location" class="content">
			<div class="key">
				<b>Lieu :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}
		
		{{- with $means -}}
		<li id="means" class="content">
			<div class="key">
				<b>Moyens pédagogiques, modalités et méthodes :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}
		
		{{- with $evaluation -}}
		<li id="evaluation" class="content">
			<div class="key">
				<b>Évaluation :</b>
			</div>
			<div class="value">
				{{ . | safeHTML }}
			</div>
		</li>
		{{- end -}}
		
	</ul>
</div>
{{ "<!-- shortcode-training-info.html:end -->" | safeHTML }}
