{{/* <!--
	
	call-to-action

	Creates a content + button shortcode
	
	Arguments:
	- class="list of classes"
	- bgcolor="#color"
	- color="#color"
	- button="text of button"
	- url="url of button"
	- .Inner
	
--> */}}

{{/* <!-- set rendering options --> */}}
{{- $opts := dict "display" "block" -}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $inner := .Inner -}}
{{- $button := .Get "button" -}}
{{- $url := .Get "url" -}}

{{ "<!-- shortcode-call-to-action.html:start -->" | safeHTML }}
<div {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	{{- if $inner -}}
	<div {{ with index $class "text" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "text" }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ with $inner }}
			{{ . | page.RenderString $opts }}
		{{ end }}
		{{ if $button }}
			{{ partial "e/button-primary.html" .Params }}
		{{ end }}
	</div>
	{{- end -}}
</div>
{{ "<!-- shortcode-call-to-action.html:end -->" | safeHTML }}
