{{/* <!--
	
	{{< shortcode-list-text >}}
	{{< /shortcode-list-text >}}
	
	Inserts a text box item.
	Text should be in markdown format.
	Should be nested inside a shortcode-items list.
	
	Parameters:
	- class: standard class parameter
	- style: standard style parameter
	- columns: number of columns
	- .Inner text
	
--> */}}

{{/* <!-- set rendering options --> */}}
{{- $opts := dict "display" "block" -}}

{{/* <!-- get shortcode parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $columns := .Get "columns" -}}
{{- $inner := .Inner -}}

{{/* <!-- generate html --> */}}
{{- with $inner -}}
<li {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	<div {{ with index $class "text" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "text" }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ . | page.RenderString $opts }}
	</div>	
</li>
{{- end -}}