{{/* <!--

{{< shortcode-text
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
>}}
Inner markdown
{{< /shortcode-section >}}

Inserts a <div> with text.
You can use the class and style parameters to stylize the text.
For example class="text-center" will center the text.

--> */}}

{{ "<!-- shortcode-text.html:start -->" | safeHTML }}
{{- if .Inner -}}
	{{ with partial "_d/shortcode-div-main" . }}
		{{ with partial "_d/shortcode-div-text" . }}
			{{ partial "_e/shortcode-inner" .InnerDeindent }}
		{{ end }}
	{{ end }}
{{- end -}}
{{ "<!-- shortcode-text.html:end -->" | safeHTML }}
