{{/* <!--
	
	{{< shortcode-fulltext >}}
	{{< /shortcode-fulltext >}}

	Insert a full-width text section.
	The differences with normal markdown text in the body of the document are:
	- it inserts a <section> tag
	- it can be styled with background color and text color
	- text is centered.

	Parameters:
	- class: classes for container
	- classtext: classes for text
	- .Inner: text content
	- bgcolor: style background color for container.
	- color: style color for text

--> */}}

{{/* <!-- get shortcode parameters --> */}}
{{- $class := .Get "class" -}}
{{- $classtext := false -}}
{{- $inner := .Inner -}}
{{- $stylebgcolor := .Get "bgcolor" -}}
{{- $stylecolor := .Get "color" -}}

{{/* <!-- get class --> */}}
{{- $class = partial "f/gethtmlattrclass.go" (slice "cl-shortcode cl-shortcode-fulltext" $class) -}}
{{- $classtext = partial "f/gethtmlattrclass.go" (slice "text") -}}

{{/* <!-- get background color --> */}}
{{- $stylebgcolor = partial "f/gethtmlattrstyle.go" (dict "background-color" $stylebgcolor) -}}

{{/* <!-- get text color --> */}}
{{- $stylecolor = partial "f/gethtmlattrstyle.go" (dict "color" $stylecolor) -}}

{{ "<!-- shortcodes-fulltext.html:start -->" | safeHTML }}
<section
	{{ with $class }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $stylebgcolor }}{{ . | safeHTMLAttr }}{{ end }}>
	{{- with $inner -}}
	<div
		{{ with $classtext }}{{ . | safeHTMLAttr }}{{ end }}
		{{ with $stylecolor }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ . | markdownify}}
	</div>
	{{- end -}}
</section>
{{ "<!-- shortcode-fulltext.html:end -->" | safeHTML }}
