{{/* <!--

{{< shortcode-section
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  id="id of section"
  img="url for background image file"
  alt="text for image description"
>}}
Inner markdown
{{< /shortcode-section >}}

Inserts a <section> with a full-bleed image with text on top.
Both img and text are optional, but then it's a bit pointless.

--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $id := .Get "id" -}}
{{- $img := .Get "img" -}}
{{- $alt := .Get "alt" -}}
{{- $inner := .Inner -}}

{{/* <!-- process id --> */}}
{{- with $id -}}
	{{- $id = printf "id=\"%s\"" $id -}}
{{- end -}}

{{ "<!-- shortcode-section.html:start -->" | safeHTML }}
<section {{ with $id }}{{ . | safeHTMLAttr }}{{ end }} {{ with $classmain }}{{ . | safeHTMLAttr }}{{ end }} {{ with $stylemain }}{{ . | safeHTMLAttr }}{{ end }}>
	{{- if $img -}}
	{{ partial "e/img" $.Params }}
	{{- end -}}
	{{- with $inner -}}
		{{- $inner = $inner | strings.TrimSpace -}}
		{{- if strings.Contains $inner "<!-- shortcode" -}}
			{{/* <!-- if inner contains shortcodes, render inner as html --> */}}
			{{- $dummy := "-->" -}}
			{{ . | safeHTML }}
		{{- else -}}
			{{/* <!-- else render inner as markdown --> */}}
			<div {{ with $classtext }}{{ . | safeHTMLAttr }}{{ end }} {{ with $styletext }}{{ . | safeHTMLAttr }}{{ end }}>
				{{ . | markdownify}}
			</div>
		{{- end -}}
	{{- end -}}
</section>
{{ "<!-- shortcode-section.html:end -->" | safeHTML }}
