{{/* <!--

{{< shortcode-testimonial
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  img="url for picture"
  quote="testimonial text"
  name="name of person"
  title="title of person"
>}}

Inserts a testimonial with pic, quote, name and title.

--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}

{{ "<!-- shortcode-testimonial.html:start -->" | safeHTML }}
{{ with partial "d/shortcode-div-main" . }}
	{{ partial "e/photograph" .Params }}
	{{ with partial "d/shortcode-div-text" . }}
		<p>
			{{ with .Params.quote }}{{ . | markdownify }}{{ end }}
		</p>
		<p class="name-title">
			-
			<strong>
				{{ with .Params.name }}{{ . | markdownify }}{{ end }}, 
			</strong>
			{{ with .Params.title }}{{ . | markdownify }}{{ end }}
		</p>
	{{ end }}
{{ end }}
{{ "<!-- shortcode-testimonial.html:end -->" | safeHTML }}
