{{/* <!--
	
	shortcode-items.html
	
	Displays a list of li items in a grid or carousel format.
	
	Parameters:
	- type: "grid" or "carousel" (mandatory)
	- class: list of additional classes
	- bgcolor: background color, e.g. "#000"
	- color: text color, e.g. "#FFF"
	- .Inner: text and a list of shortcode-item-* shortcodes, e.g. shortcode-item-card
		- Optional title and text as markdown.
		- A list of shortcode-item-... as the li items to add to the item list. 
	
--> */}}

{{/* <!-- get parameters --> */}}
{{- $type := .Get "type" -}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $inner := .Inner -}}

{{/* <!-- process type parameter defining layout of list "grid" or "carousel" --> */}}
{{- with $type -}}
	{{- if or (eq "grid" .) (eq "carousel" .) -}}
		{{- $type = . -}}
	{{- else -}}
		<p>shortcode-items: invalid type value {{ . }} (must be "grid or "carousel")</p>
	{{- end -}}
{{- else -}}
	<p>shortcode-items: missing type parameter (must be "grid" or "carousel")</p>
{{- end -}}

{{ "<!-- shortcode-items.html:start -->" | safeHTML }}
{{- with $inner -}}
<ul {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
{{ . | safeHTML }}
</ul>
{{- end -}}
{{ "<!-- shortcode-items.html:end -->" | safeHTML }}
