{{/* <!--
	gallery shortcode
	
	Creates a grid of images:
	- 3 per row,
	- 2 images per row on small screens
	- The ideal number of images is a multiple of 6

	Arguments:
	- .Params as list of images "image1.jpg" "image2.jpg" etc. Add path if image is a site resource, not a page resource
	
--> */}}

{{- $class := .Get "class" -}}
{{ "<!-- shortcodes:gallery.html:start -->" | safeHTML }}
	<div class="cl-shortcode cl-shortcode-gallery {{ $class }}">
		{{ range .Params }}
			{{ $args := split . "," }}
			{{ $alt := index $args 1 }}
			<img src="{{ index $args 0 }}" alt="{{ $alt }}">
		{{ end }}
	</div>
{{ "<!-- shortcodes:gallery.html:end -->" | safeHTML }}
