{{/* <!--

	{{< shortcode-section-hero
	  class="helper classes from shortcode.css"
	  style="list of styles"
	  id="id of section"
	  img="url for background image file"
	  alt="text for image description"
	  overlay="true" or "false" to display a darkening overlay over background or img
	>}}
	  .Inner markdown text to display on hero
	{{< /shortcode-section-hero >}}
	
	Inserts a <section> with a full-bleed image with text on top.
	Both img and text are optional, but then it's a bit pointless.
	
--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $id := .Get "id" -}}
{{- $img := .Get "img" -}}
{{- $overlay := .Get "overlay" -}}
{{- $inner := .Inner -}}

{{/* <!-- process id --> */}}
{{- with $id -}}
	{{- $id = printf "id=\"%s\"" $id -}}
{{- end -}}

{{ "<!-- shortcode-section-hero.html:start -->" | safeHTML }}
<section {{ with $id }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	{{- if $img -}}
	<div class="img">
		{{ partial "e/img" $.Params }}
	</div>
	{{- end -}}
	{{- if $overlay -}}
	<div class="overlay">
	</div>
	{{- end -}}
	{{- with $inner -}}
	<div {{ with index $class "text" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "text" }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ . | markdownify}}
	</div>
	{{- end -}}
</section>
{{ "<!-- shortcode-section-hero.html:end -->" | safeHTML }}
