{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $img := .Get "img" -}}
{{- $alt := .Get "alt" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $class := .Get "class" -}}

{{/* <!-- check and process parameters --> */}}

{{ "<!-- shortcode-img.html:start -->" | safeHTML }}
<div class="cl-shortcode cl-shortcode-img {{ $class }}">
{{ partial "e/img" .Params }}
</div>
{{ "<!-- shortcode-img.html:end -->" | safeHTML }}
