{{/* <!--
	
	{{< shortcode-list >}}	
	  {{< shortcode-list-imgç
	    class="helper classes from shortcode.css"
	    style="standard style parameter"
	    columns="number of columns"
	    img="url for image file"
	    alt="text for image description"
	  >}}
	{{< /shortcode-list >}}	
	
	Inserts a picture as a list item.
	Should be nested inside a shortcode-list list.

--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $columns := .Get "columns" -}}
{{- $img := .Get "img" -}}
{{- $alt := .Get "alt" -}}

{{/* <!-- generate html --> */}}
{{- if and $img $alt -}}
	<li {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ partial "e/img" .Params }}
	</li>
{{- else -}}
	<p class="error">shortcode-pict parameter missing: img="image.jpg" or alt="image description"</p>
{{- end -}}