{{/* <!--
	
	{{< shortcode-item-card >}}
	{{< /shortcode-item-card >}}
	
	Inserts a "card" item with rounded corners.
	Card items contain a title, text and a picture (all optional).
	Should be nested inside a shortcode-items list.
	
	Parameters:
	- class: standard class parameter
	- style: standard style parameter
	- columns: number of columns
	- img: url for image file
	- alt: text for image description
	- .Inner: text for the card

--> */}}

{{/* <!-- set rendering options --> */}}
{{- $opts := dict "display" "block" -}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $columns := .Get "columns" -}}
{{- $img := .Get "img" -}}
{{- $alt := .Get "alt" -}}
{{- $inner := .Inner -}}

{{ "<!-- shortcode-list-card.html:start -->" | safeHTML }}
<li	{{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	{{- with $inner -}}
	<div {{ with index $class "text" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "text" }}{{ . | safeHTMLAttr }}{{ end }}>
		{{- . | page.RenderString $opts -}}
	</div>
	{{- end -}}
	{{ partial "e/picture" .Params }}
</li>
{{ "<!-- shortcode-list-card.html:end -->" | safeHTML }}