
{{/* <!-- set rendering options --> */}}
{{- $opts := dict "display" "block" -}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass" . -}}
{{- $style := partial "f/gethtmlattrstyle" . -}}
{{- $inner := .InnerDeindent -}}



{{ "<!-- shortcode-img1-text2.html:start -->" | safeHTML }}
<div {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "text" }}{{ . | safeHTMLAttr }}{{ end }}>
	{{- $img := partial "f/getimgpath.go" .Params -}}
	{{- $alt := partial "f/getimgalt" .Params -}}
	{{- $href := partial "f/geturl" .Params -}}
	{{ partial "e/img" (dict "img" $img "alt" $alt "href" $href) }}
	<div {{ with index $class "text" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "text" }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ partial "e/title" .Params }}
		{{ $inner | page.RenderString $opts }}
	</div>
</div>
{{ "<!-- shortcode-img1-text2.html:end -->" | safeHTML }}
