{{/* <!--
	
	{{< shortcode-item-card >}}
	{{< /shortcode-item-card >}}
	
	Inserts a "card" item.
	Card items contain a title, text and a picture (all optional) in a card layout with rounded corner.
	
	Parameters:
	- class: helper classes to format item
	- columns: number of columns for image (e.g. 3 will make image take one third of horizontal space)
	- img: url for image file
	- alt: text for image description
	- .Inner: text to display on the card
	- bgcolor: background color
	- color: text color

--> */}}

{{/* <!-- get shortcode parameters --> */}}
{{- $class := (.Get "class") -}}
{{- $classcolumns := (.Get "columns") -}}
{{- $img := .Get "img" -}}
{{- $imgalt := .Get "alt" -}}
{{- $inner := .Inner -}}
{{- $stylebgcolor := .Get "bgcolor" -}}
{{- $stylecolor := .Get "color" -}}

{{/* <!-- get class --> */}}
{{- if $classcolumns -}}
	{{- $classcolumns = printf "columns-%s" $classcolumns -}}
{{- end -}}
{{- $class = partial "f/gethtmlattrclass.go" (slice "cl-shortcode-item-card" $class $classcolumns) -}}

{{/* <!-- get alt --> */}}
{{- with $imgalt -}}
	{{- $imgalt = printf "alt=\"%s\"" . -}}
{{- end -}}

{{/* <!-- get background color --> */}}
{{- $stylebgcolor = partial "f/gethtmlattrstyle.go" (dict "background-color" $stylebgcolor) -}}

{{/* <!-- get text color --> */}}
{{- $stylecolor = partial "f/gethtmlattrstyle.go" (dict "color" $stylecolor) -}}

<li
	{{ with $class }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $stylebgcolor }}{{ . | safeHTMLAttr }}{{ end }}>
	{{- with $inner -}}
	<div class="text"
		{{ with $stylecolor }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ . | markdownify }}
	</div>
	{{- end -}}
	{{ partial "e/picture" .Params }}
</li>
