{{/* <!--
	
	Arguments:
	- title: add a title to the icon list
	- style: add a style class to the shortcode
	- rowsize: the number of icons per row, between 1 and 6. Will also determine size of icons.
	- "Inner": the content of the shortcode should be a list of icon-item shortcodes.
--> */}}

{{ "<!-- shortcodes:icon-list.html:start -->" | safeHTML }}
<div class="cl-shortcode cl-shortcode-icon-list {{ with .Params.style }}{{ . }}{{ end }}">
	{{ with .Params.title }}
		<h3>
			{{ . }}
		</h3>
	{{ end }}
	<div class="items">
		{{ .Inner }}
	</div>
</div>
{{ "<!-- shortcodes:icon-list.html:end -->" | safeHTML }}
