{{/* <!--

	{{< shortcode-list >}}	
	  {{< shortcode-list-text
	    class="helper classes from shortcode.css"
	    style="standard style parameter"
	    columns="number of columns"
	    .Inner markdown text
	  >}}
	  {{< /shortcode-list-text >}}
	
	Inserts a text box as a list item.
	Should be nested inside a shortcode-items list.
	Text should be in markdown format.
	.Inner can contain a shortcode-img to insert an image.
	
--> */}}

{{/* <!-- set rendering options --> */}}
{{- $opts := dict "display" "block" -}}

{{/* <!-- get shortcode parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $columns := .Get "columns" -}}
{{- $inner := .Inner -}}

{{/* <!-- generate html --> */}}
{{- with $inner -}}
<li {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	<div {{ with index $class "text" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "text" }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ . | page.RenderString $opts }}
	</div>	
</li>
{{- end -}}