{{/* <!--

{{< shortcode-list >}}	

{{< shortcode-list-text
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  columns="number of columns"
>}}
Inner markdown
{{< /shortcode-list-text >}}

Inserts a text box as a list item.
Should be nested inside a shortcode-items list.
Text should be in markdown format.
.Inner can contain a shortcode-img to insert an image.
	
--> */}}

{{/* <!-- set rendering options --> */}}
{{- $opts := dict "display" "block" -}}

{{/* <!-- get shortcode parameters --> */}}
{{- $class := partial "_f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "_f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $columns := .Get "columns" -}}
{{- $inner := .Inner -}}

{{/* <!-- generate html --> */}}
{{- with $inner -}}
<li {{ with $classmain }}{{ . | safeHTMLAttr }}{{ end }} {{ with $stylemain }}{{ . | safeHTMLAttr }}{{ end }}>
	<div {{ with $classtext }}{{ . | safeHTMLAttr }}{{ end }} {{ with $styletext }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ $inner | page.RenderString $opts }}
	</div>	
</li>
{{- end -}}