{{/* <!--
	icon-item shortcode
	
	Inserts an icon within an icon-list shortcode
	
	size: size of the icon, 20p, 25p, 33p, etc.
	style: style for the icon
	icon: icon to use
	url: link for the icon
--> */}}

{{ "<!-- shortcodes:icon-item.html:start -->" | safeHTML }}
<div class="cl-shortcode-icon-item">
	{{ if .Params.icon }}
		{{ with .Params.url }}
			<a href="{{ . }}">
		{{ end }}
		<img src="{{ .Params.icon }}" alt= "{{ .Params.description | markdownify }}" class="{{ with .Params.style }}{{ . }}{{ end }}" />
		{{ with .Params.url }}
			</a>
		{{ end }}
	{{ end }}
	<p class=".text">
		{{ .Params.description | markdownify }}
	</p>
</div>
{{ "<!-- shortcodes:icon-item.html:end -->" | safeHTML }}