{{/* <!--
	
	shortcode-list.html
	
	Displays a list of li items in a grid or carousel format.
	This shortcode only accepts shortcode-list-* shortcodes in .Inner content.
	
	Parameters:
	- type="grid" or "carousel" (mandatory)
	- class="list of classes"
	- bgcolor="#color"
	- color="#color"
	- .Inner list of shortcode-list-* shortcodes, e.g. shortcode-item-card
	
--> */}}

{{/* <!-- get parameters --> */}}
{{- $type := .Get "type" -}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}
{{- $inner := .Inner -}}

{{/* <!-- process type parameter defining layout of list "grid" or "carousel" --> */}}
{{- with $type -}}
	{{- if or (eq "grid" .) (eq "carousel" .) -}}
		{{- $type = . -}}
	{{- else -}}
		<p class="error">shortcode-items: invalid type value {{ . }} (must be "grid or "carousel")</p>
	{{- end -}}
{{- else -}}
	<p class="error">shortcode-items: missing type parameter (must be "grid" or "carousel")</p>
{{- end -}}

{{ "<!-- shortcode-list.html:start -->" | safeHTML }}
<ul {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	{{ $inner | safeHTML }}
</ul>
{{ "<!-- shortcode-list.html:end -->" | safeHTML }}
