{{/* <!--

{{< shortcode-referencesgrid 
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
>}}
	
Inserts a grid with a list of logos of client references.

The list of references is specified in the front matter parameters:
mainlazy-references-data: [ list, of, references ]

--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "_f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "_f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $data := partial "_f/getdatalocalized" (slice page "mainlazy-references") -}}

{{ "<!-- shortcode-references.html:start -->" | safeHTML }}
{{- with $data -}}
	<section id="references" class="cl-shortcode-referencesgrid">
		{{- $title := index (index page.Params "mainlazy-references") "title" -}}
		{{- with $title -}}
			<h2 class="cl-core--hidden">{{ . }}</h2>
		{{- end -}}
		{{- range . -}}
			{{- $img := .img -}}
			{{- $alt := .client -}}
			{{- $loading := "lazy" -}}
			{{- $decoding := "async" -}}
			{{- $height := "100" -}}
			{{- $width := "100" -}}
			{{- $params := dict "img" $img   "alt" $alt   "loading" $loading   "decoding" $decoding   "height" $height    "width" $width -}}
			{{ partial "_e/img" $params }}
		{{- end -}}
	</section>
{{- else -}}
	{{ partial "_e/html-comment.html" "skipped: references: no .Params.mainlazy-references-data" }}
{{- end -}}
