{{/* <!--
	
{{< shortcode-line 
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
>}}

Adds a horizontal line.
	
--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "_f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $style := partial "_f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}

{{/* <!-- generate html --> */}}
<hr {{ with $classmain }}{{ . | safeHTMLAttr }}{{ end }} {{ with $stylemain }}{{ . | safeHTMLAttr }}{{ end }}>
