{{/* <!--

{{< shortcode-referencesgrid 
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
>}}
	
Inserts a grid with a list of logos of client references.

The list of references is specified in the front matter parameters:
mainlazy-references-data: [ list, of, references ]

--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $data := partial "f/getdatalocalized" (slice page "mainlazy-references") -}}

{{ "<!-- shortcode-references.html:start -->" | safeHTML }}
{{- with $data -}}
<section id="reference-list" class="cl-shortcode-referencesgrid">
	{{- $title := index (index page.Params "mainlazy-references") "title" -}}
	{{- with $title -}}
	<h2 class="cl-core--hidden">{{ . }}</h2>
	{{- end -}}
	{{- range . -}}
	{{- $srcset := partial "f/getimgsrcset.go" .img -}}
	<img
		loading="lazy"
		src="{{ collections.Index $srcset 0 }}"
		srcset="{{ collections.Index $srcset 1 }}"
		sizes="(1200px > width >= 720px) 1200px, (720px > width ) 720px, 2400px"
		{{ with .client }}alt="{{ . }}"{{ end }} height="100" width="100" />
	{{- end -}}
</section>
{{- else -}}
	{{ partial "e/html-comment.html" "skipped: references: no .Params.mainlazy-references-data" }}
{{- end -}}
