{{/* <!--
	
	{{< shortcode-item-img >}}
	
	Parameters:
	- img: url for image file
	- alt: text for image description
	- columns: number of columns for image (e.g. 3 will make image take one third of horizontal space)
	- class: additional helper classes to format item

--> */}}

{{- $srcset := false -}}
{{- $class := .Get "class" -}}
{{- $columns := .Get "columns" -}}

{{- $srcset := false -}}
{{- $img := .Get "img" -}}
{{- with $img -}}
	{{ $srcset = partial "f/getpicturesrcset.go" . }}
	{{ $img = index $srcset 0 }}
	{{ $srcset = printf "srcset=\"%s\"" (index $srcset 1) }}
{{- end -}}

{{- $alt := .Get "alt" -}}
{{- with $alt -}}
	{{- $alt = printf "alt=\"%s\"" . -}}
{{- end -}}

{{ "<!-- shortcode-item-img.html:start -->" | safeHTML }}
<li class="cl-shortcode-item-img {{ with $columns }}columns-{{ . }}{{ end }} {{ with $class }}{{ . }}{{ end }}">
	{{- with $img -}}
		<img src="{{ . }}"
			loading="lazy" 
			{{ with $srcset }}{{ . | safeHTMLAttr }}{{ end }}
			{{ with $alt }}{{ . | safeHTMLAttr }}{{ end }}>
	{{- end -}}
</li>
{{ "<!-- shortcode-item-img.html:end -->" | safeHTML }}
