{{/* <!--
	
	{{< shortcode-item-text >}}
	
	Inserts a text box item. Text should be in markdown format
	
	Parameters
	- title: h2 title (can be omitted and inserted as ## title markdown directly in .Inner)
	- .Inner: markdown text to display (use # to format titles, e.g. ## to get a h2 title)
	- columns: number of columns for image (e.g. 3 will make image take one third of horizontal space)
	- class: additional helper classes to format item
	- bgcolor: background color
	
--> */}}

{{/* <!-- get title and description (optional) --> */}}
{{- $text := "" -}}
{{- $title := .Get "title" -}}
{{- $description := .Get "description" -}}
{{- if or $title $description -}}
	{{- $text = printf "%s\n%s\n" $title $description -}}
{{- end -}}

{{/* <!-- get background color (optional) --> */}}
{{- $bgcolor := .Get "bgcolor" -}}
{{- with $bgcolor -}}
	{{- $bgcolor = printf "style=\"background-color:%s\"" . -}}
{{- end -}}

{{/* <!-- get text color (optional) --> */}}
{{- $color := .Get "color" -}}
{{- with $color -}}
	{{- $color = printf "style=\"color:%s\"" . -}}
{{- end -}}

{{- $align := .Get "align" -}}
{{- $class := .Get "class" -}}
{{ "<!-- shortcode-item-img.html:start -->" | safeHTML }}
<li class="cl-shortcode-item-text {{ with .Params.columns }}columns-{{ . }}{{ end }}"
	{{ with $bgcolor }}{{ . | safeHTMLAttr }}{{ end }}>
	<div class="text" {{ with $color }}{{ . | safeHTMLAttr }}{{ end }}>
		{{- with $text -}}
			{{ . | markdownify }}
		{{- end -}}
	</div>
</li>
{{ "<!-- shortcode-item-img.html:end -->" | safeHTML }}
