{{/* <!--

{{< shortcode-agenda-list >}}

{{< shortcode-agenda-item
  title="title of agenda item"
  description="description of agenda item"
>}}

{{< /shortcode-agenda-list >}}

Inserts an agenda item.
Should be nested inside {{< shortcode-agenda-list >}}

--> */}}

{{ "<!-- shortcode-agenda-item.html:start -->" | safeHTML }}
<div class="cl-shortcode-agenda-item">
	{{- with .Params.title -}}
		<h4>
			{{ . }}
		</h4>
	{{- end -}}
	{{- with .Params.description -}}
		<p>
			{{ . | markdownify }}
		</p>
	{{- end -}}
</div>
{{ "<!-- shortcode-agenda-item.html:end -->" | safeHTML }}
