{{/* <!--

{{< shortcode-list
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  type="grid" or "carousel" (mandatory)
  bgcolor="#color"
  color="#color"
>}}

.Inner list of shortcode-list-* shortcodes, for example:
{{< shortcode-list-card >}}
{{< /shortcode-list-card >}}
{{< shortcode-list-text >}}
{{< /shortcode-list-text >}}

{{< /shortcode-list >}}	

Creates the <ul> container to display a list of <li> items.
The list can be formatted as a grid or a carousel.
This shortcode only accepts shortcode-list-* shortcodes in .Inner content,
as it requires <li> items.
	
--> */}}

{{/* <!-- get parameters --> */}}
{{- $type := .Get "type" -}}
{{- $class := partial "f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $inner := .Inner -}}

{{/* <!-- process type parameter defining layout of list "grid" or "carousel" --> */}}
{{- with $type -}}
	{{- if or (eq "grid" .) (eq "carousel" .) -}}
		{{- $type = . -}}
	{{- else -}}
		<p class="error">shortcode-items: invalid type value {{ . }} (must be "grid or "carousel")</p>
	{{- end -}}
{{- else -}}
	<p class="error">shortcode-items: missing type parameter (must be "grid" or "carousel")</p>
{{- end -}}

{{ "<!-- shortcode-list.html:start -->" | safeHTML }}
<ul {{ with $classmain }}{{ . | safeHTMLAttr }}{{ end }} {{ with $stylemain }}{{ . | safeHTMLAttr }}{{ end }}>
	{{ $inner | safeHTML }}
</ul>
{{ "<!-- shortcode-list.html:end -->" | safeHTML }}
