{{/* <!--
	
{{< shortcode-img1-text2
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  img="url for picture"
  alt="alt for picture"
  url="url for link"
>}}
Inner markdown
{{< /shortcode-img1-text2 >}}

Inserts a 1/3 img on the left and 2/3 text on the right.

--> */}}

{{/* <!-- set rendering options --> */}}
{{- $opts := dict "display" "block" -}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $inner := .InnerDeindent -}}
{{- $img := partial "f/getimgpath.go" .Params -}}
{{- $alt := partial "f/getimgalt" .Params -}}
{{- $href := partial "f/geturl" .Params -}}


{{ "<!-- shortcode-img1-text2.html:start -->" | safeHTML }}
<div {{ with $classmain }}{{ . | safeHTMLAttr }}{{ end }} {{ with $styletext }}{{ . | safeHTMLAttr }}{{ end }}>
	{{ partial "e/img" (dict "img" $img "alt" $alt "href" $href) }}
	<div {{ with $classtext }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $styletext }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ partial "e/title" .Params }}
		{{ $inner | page.RenderString $opts }}
	</div>
</div>
{{ "<!-- shortcode-img1-text2.html:end -->" | safeHTML }}
