{{/* <!--
	
{{< shortcode-list >}}	

{{< shortcode-list-img
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  columns="number of columns"
  img="url for image file"
  alt="text for image description"
>}}

{{< /shortcode-list >}}	

Inserts a picture as a list item.
Should be nested inside a shortcode-list shortcode.

--> */}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "_f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "_f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $columns := .Get "columns" -}}
{{- $img := .Get "img" -}}
{{- $alt := .Get "alt" -}}

{{/* <!-- generate html --> */}}
{{- if and $img $alt -}}
	<li {{ with $classmain }}{{ . | safeHTMLAttr }}{{ end }} {{ with $stylemain }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ partial "_e/img" .Params }}
	</li>
{{- else -}}
	<p class="error">shortcode-pict parameter missing: img="image.jpg" or alt="image description"</p>
{{- end -}}