{{/* <!--

	{{< shortcode-fullbleed >}}
	{{< /shortcode-fullbleed >}}
	
	Inserts a full-bleed image with text on top.
	Both img and text are optional, but then it's a bit pointless.
	
	Parameters:
	- class: classes for container
	- classtext: classes for text. Use "top" "middle" or "bottom" to align text vertically.
		Will default to "middle" if omitted.
	- img: url for image file
	- alt: text for image description
	- .Inner: text content
	- bgcolor: style background color for container.
		Examples: #000, white, black, #FFEEAA 
		Tip: use rgba(0,0,0,.5) for a 50% black overlay on picture.
	- color: style color for text
	
--> */}}
{{ "<!-- shortcodes-fullbleed.html:start -->" | safeHTML }}

{{/* <!-- get shortcode parameters --> */}}
{{- $class := .Get "class" -}}
{{- $classtext := .Get "classtext" -}}
{{- $img := .Get "img" -}}
{{- $imgalt := .Get "alt" -}}
{{- $inner := .Inner -}}
{{- $stylebgcolor := .Get "bgcolor" -}}
{{- $stylecolor := .Get "color" -}}

{{/* <!-- get background color --> */}}
{{- $stylebgcolor = partial "f/gethtmlattrstyle.go" (dict "background-color" $stylebgcolor) -}}

{{/* <!-- get class --> */}}
{{- $class = partial "f/gethtmlattrclass.go" (slice "cl-shortcode cl-shortcode-fullbleed" $class) -}}

{{/* <!-- get classtext - if not defined, set it to "middle" by default --> */}}
{{- if not $classtext -}}
	{{- $classtext = "middle" -}}
{{- end -}}
{{- $classtext = partial "f/gethtmlattrclass.go" (slice "text" $classtext) -}}

{{/* <!-- get text color --> */}}
{{- $stylecolor = partial "f/gethtmlattrstyle.go" (dict "color" $stylecolor) -}}

{{/* <!-- insert the full-bleed section --> */}}
<section 
	{{ with $class }}{{ . | safeHTMLAttr }}{{ end }}
	{{ with $stylebgcolor }}{{ . | safeHTMLAttr }}{{ end }}>
	{{ partial "e/picture" .Params }}
	{{- with $inner -}}
	<div
		{{ with $classtext }}{{ . | safeHTMLAttr }}{{ end }}
		{{ with $stylecolor }}{{ . | safeHTMLAttr }}{{ end }}>
		{{ . | markdownify }}
	</div>
	{{- end -}}
</section>
{{ "<!-- shortcode-fullbleed.html:end -->" | safeHTML }}
