{{/* <!--
	
{{< shortcode-agenda-list
  class="list of classes"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  title="title of list"
>}}
#### Item 1
Text

#### Item 2
Text
{{< /shortcode-agenda-list >}}

Inserts a list of agenda items, its initial purpose was for an agenda but now it is used for text lists.

--> */}}

{{ "<!-- shortcode-agenda-list.html:start -->" | safeHTML }}
{{ with partial "d/shortcode-div-main" . }}
	{{ partial "e/shortcode-inner" .InnerDeindent }}
{{ end }}
{{ "<!-- shortcode-agenda-list.html:end -->" | safeHTML }}
