{{/* <!--

{{< shortcode-agenda-list >}}

{{< shortcode-agenda-item
  title="title of agenda item"
  description="description of agenda item"
>}}

{{< /shortcode-agenda-list >}}

Inserts an agenda item.
Should be nested inside {{< shortcode-agenda-list >}}

--> */}}

{{ "<!-- shortcode-agenda-item.html:start -->" | safeHTML }}
{{ with partial "_d/shortcode-div-main" . }}
	{{- with .Params.title -}}
		<h4>
			{{ . }}
		</h4>
	{{- end -}}
	{{- with .Params.description -}}
		<p>
			{{ . | markdownify }}
		</p>
	{{- end -}}
{{ end }}
{{ "<!-- shortcode-agenda-item.html:end -->" | safeHTML }}
