{{/* <!--

{{< shortcode-call-to-action
  class="helper classes from shortcode.css"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  button="name of button"
  url="link of button"
>}}
Inner markdown
{{< /shortcode-call-to-action >}}

Creates a call to action with a button

--> */}}

{{ "<!-- shortcode-call-to-action.html:start -->" | safeHTML }}
{{- if .Inner -}}
	{{ with partial "_d/shortcode-div-main" . }}
		{{ with partial "_d/shortcode-div-text" . }}
			{{ partial "_e/shortcode-inner" .Inner }}
			{{ partial "_e/button-primary.html" .Params }}
		{{ end }}
	{{ end }}
{{- end -}}
{{ "<!-- shortcode-call-to-action.html:end -->" | safeHTML }}
