{{/* <!--
	grid shortcode
	
	Creates a grid of elements:
	- 3 per row,
	- 2 images per row on small screens
	- The ideal number of images is a multiple of 6

	Arguments:
	- .Params as list of images "image1.jpg" "image2.jpg" etc. Add path if image is a site resource, not a page resource
	
--> */}}

{{- $title := .Get "title" -}}
{{- $class := .Get "class" -}}
{{- $style := printf "style=\"%s\"" (.Get "style") -}}
{{ "<!-- shortcode-grid.html:start -->" | safeHTML }}
<div class="cl-shortcode cl-shortcode-grid {{ with $class }}{{ . }}{{ end }}" {{ with $style }}{{ . | safeHTMLAttr }}{{ end }}>
	{{ with $title }}<h2>{{ . }}</h2>{{ end }}
	<ul class="{{ with $class }}{{ . }}{{ end }}">
		{{ .Inner }}
	</ul>
</div>
{{ "<!-- shortcode-grid.html:end -->" | safeHTML }}
