{{/* <!--
	
{{< shortcode-agenda-list
  class="list of classes"
  bgcolor="#backgroundcolor"
  color="#textcolor"
  title="title of list"
>}}

{{< shortcode-agenda-item >}}
{{< shortcode-agenda-item >}}
{{< shortcode-agenda-item >}}

{{< /shortcode-agenda-list >}}

Inserts a list of agenda items, its initial purpose was for an agenda but now it is used for text lists.

--> */}}

{{/* <!-- set rendering options --> */}}
{{- $opts := dict "display" "block" -}}

{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass" . -}}
{{- $classmain := index $class "main" -}}
{{- $classtext := index $class "text" -}}
{{- $style := partial "f/gethtmlattrstyle" . -}}
{{- $stylemain := index $style "main" -}}
{{- $styletext := index $style "text" -}}
{{- $inner := .InnerDeindent -}}

{{ "<!-- shortcode-agenda-list.html:start -->" | safeHTML }}
{{ $styletext }}
<div {{ with $classmain }}{{ . | safeHTMLAttr }}{{ end }} {{ with $stylemain }}{{ . | safeHTMLAttr }}{{ end }}>
	{{ $inner | page.RenderString $opts }}
</div>
{{ "<!-- shortcode-agenda-list.html:end -->" | safeHTML }}
