{{/* <!-- get parameters --> */}}
{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}

{{ "<!-- shortcode-testimonial.html:start -->" | safeHTML }}
<div {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	{{ partial "e/photograph" .Params }}
	<div {{ with index $class "text" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "text" }}{{ . | safeHTMLAttr }}{{ end }}>
		<p>
			{{ with .Params.quote }}{{ . }}{{ end }}
		</p>
		<p class="name-title">
			-
			<strong>
				{{ with .Params.name }}{{ . }}{{ end }}, 
			</strong>
			{{ with .Params.title }}{{ . }}{{ end }}
		</p>
	</div>
</div>
{{ "<!-- shortcode-testimonial.html:end -->" | safeHTML }}
