{{- $class := partial "f/gethtmlattrclass.go" . -}}
{{- $style := partial "f/gethtmlattrstyle.go" . -}}

{{ "<!-- shortcode-link-picture-1-text2.html:start -->" | safeHTML }}
<div {{ with index $class "main" }}{{ . | safeHTMLAttr }}{{ end }} {{ with index $style "main" }}{{ . | safeHTMLAttr }}{{ end }}>
	<div class="picture">
		{{ partial "e/link-picture" .Params }}
	</div>
	<div class="text">
		{{ partial "e/link-title" .Params }}
		<p>
			{{ .Inner | markdownify }}
		</p>
	</div>
</div>
{{ "<!-- shortcode-link-picture-1-text2.html:end -->" | safeHTML }}
