{{ "<!-- partials/e/blocks-common.html:start -->" | safeHTML }}
{{ $part := . }}
{{ $common := (index site.Data.layouts "_common") }}
{{ $blocks := (index $common $part) }}
{{ range $blocks }}
	{{ $partial := printf "%s/%s.html" $part . }}
	{{ $commentstart := printf "<!-- %s:start -->" $partial }}
	{{ $commentstart | safeHTML }}
	{{ partial $partial page }}
	{{ $commentend := printf "<!-- %s:end -->" $partial }}
	{{ $commentend | safeHTML }}
{{ end }}
{{ "<!-- partials/e/blocks-common.html:end -->" | safeHTML }}
