{{ "<!-- shortcodes:agenda-item-collapsible.html:start -->" | safeHTML }}
<div class="padding-tiny">
	{{ if .Params.description }}
		{{ if $.Params.title }}
			<input id="collapsible_{{ $.Params.title }}" class="agenda-toggle" type="checkbox">
			<label for="collapsible_{{ $.Params.title }}" class="agenda-toggle style-agenda-item-title text-center">{{ $.Params.title }} <i class="fa fa-chevron-down"></i></label>
		{{ end }}
		<div class="collapsible-content">
			<p class="style-agenda-item-description text-center agenda-content-inner">{{ .Params.description | markdownify }}</p>
		</div>	
		
	{{ else }}
		{{ if $.Params.title }}
		<p class="style-agenda-item-title text-center">{{ $.Params.title }}</p>
		{{ end }}
	{{ end }}	
</div>
{{ "<!-- shortcodes:agenda-item-collapsible.html:end -->" | safeHTML }}