{{ "<!-- shortcodes:bpr-form-bonus-download.html:start -->" | safeHTML }}
<div class="cl-shortcode bg-light">
	<h2 class="cl-shortcode--title">
		Access the Downloadable Content
	</h2>
	<p class="cl-shortcode--text-centered">
		Simply enter your name and email address below and get immediate access to these and the other downloadable resources for all five stages of pSCORE.
	</p>
	<form action="{{ $.Page.RelPermalink }}" method="POST" netlify netlify-honeypot="bot-field" name="bpr-form-bonus-download" id="bpr-form-bonus-download" class="cl-critical--content-width-narrow iosform">
		
		<input type="hidden" name="_subject" value="Form sent from page: {{ $.Page.Permalink }}">
		
		<input type="text" id="namefirst" name="namefirst" class="iosform--field" placeholder="First Name" oninvalid="alert('{{ with .Site.Params.contact.form.name.warning  }}{{ .  | markdownify }}{{ end }}');" required>
		
		<input type="text" id="namelast" name="namelast" class="iosform--field" placeholder="Last Name" oninvalid="alert('{{ with .Site.Params.contact.form.name.warning  }}{{ .  | markdownify }}{{ end }}');" required>
		
		<input type="email" id="email" name="email" class="iosform--field" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . | markdownify }}{{ end }}" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"oninvalid="alert('{{ with .Site.Params.contact.form.email.warning }}{{ .  | markdownify }}{{ end }}');" required>
		
		<input type="text" id="country" name="country" class="iosform--field" placeholder="Country" oninvalid="alert('{{ with .Site.Params.contact.form.name.warning  }}{{ .  | markdownify }}{{ end }}');" required>
		
		<input onclick="window.location.href = '/business-presentation-revolution/book/bonus-content/downloads/';" type="submit" value="Access Content" class="critical--button-primary" success="Congratulations, you will receive an email shortly." wait="Wait...">
		
	</form>
</div>
{{ "<!-- shortcodes:bpr-form-bonus-download.html:end -->" | safeHTML }}