{{ "<!-- shortcodes:bpr-automessages.html:start -->" | safeHTML }}
<div class="layout-shortcode bg-lightgray">
	<div class="flex-parent flex-parent-row paddingt-none paddingb-medium">
		<div class="layout-module-column-text style-module-text ">	
			<strong>Spread the word</strong>
		</div>
		<div class="flex-parent flex-parent-row paddingt-none paddingb-none flex-parent-justify-space-around">
			<div class="flex-child revolution-social">
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:6790184415256571904/" target="_blank"><img src="linkedin.svg" alt="LinkedIn"><br>Talk about it on Linkedin</a>
			</div>
			<div class="flex-child revolution-social">
				<a href="http://bit.ly/iostwxbl" target="_blank"><img src="twitter.svg" alt="Twitter"><br>Tweet about it on Twitter</a>
			</div>
			<div class="flex-child revolution-social">
				<a href="https://www.facebook.com/ideasonstage/posts/4371626369517281" target="_blank"><img src="facebook.svg" alt="Facebook"><br>Talk about it on Facebook</a>
			</div>
		</div>
	</div>
</div>
{{ "<!-- shortcodes:bpr-automessages.html:end -->" | safeHTML }}