<div class="flex-parent-row paddingt-none paddingb-medium">
	<div class="layout-module-column-text style-module-text ">	
		Follow us
	</div>
	<div class="flex-parent-row paddingt-none paddingb-none flex-justify-space-around">
		<div class="flex-child revolution-social">
			<a href="https://bit.ly/3wQJQxo"><img src="youtube.svg" alt="youtube"><br>YouTube</a>
		</div>
		<div class="flex-child revolution-social">
			<a href="https://bit.ly/3g4fTnY"><img src="linkedin.svg" alt="linkedin"><br>Linkedin</a>
		</div>
		<div class="flex-child revolution-social">
			<a href="https://bit.ly/327pRNa"><img src="twitter.svg" alt="Twitter"><br>Twitter</a>
		</div>
	</div>
</div>