<div class="flex-parent-row paddingt-none paddingb-medium">
	<div class="layout-module-column-text style-module-text ">	
		Follow us
	</div>
	<div class="flex-parent-row paddingt-none paddingb-none flex-justify-space-around">
		<div class="flex-child revolution-social">
			<a href="https://www.youtube.com/user/IdeasOnStage/videos"><img src="youtube.svg" alt="youtube"><br>YouTube</a>
		</div>
		<div class="flex-child revolution-social">
			<a href="https://www.linkedin.com/company/ideas-on-stage/"><img src="linkedin.svg" alt="linkedin"><br>Linkedin</a>
		</div>
		<div class="flex-child revolution-social">
			<a href="https://twitter.com/ideasonstage"><img src="twitter.svg" alt="Twitter"><br>Twitter</a>
		</div>
	</div>
</div>