{{ "<!-- shortcodes:bpr-form-bonus-download.html:start -->" | safeHTML }}
<div class="layout-shortcode bg-lightgray">
    <div class="layout-module-column-text style-module-text">
	    <h2 class="section-heading">
		  	Access the Downloadable Content
		</h2>
		<p>Simply enter your name and email address below and get immediate access to these and the other downloadable resources for all five stages of pSCORE.</p>
    </div>
    <div class="layout-content-narrow">
		<form action="{{ $.Page.RelPermalink }}" method="POST" netlify netlify-honeypot="bot-field" name="bpr-form-bonus-download" id="bpr-form-bonus-download">
			<div class="iosform-group">
				<input type="hidden" name="_subject" value="Form sent from page: {{ $.Page.Permalink }}">
			</div>
            <div class="iosform-group">
              <input type="text" id="namefirst" name="namefirst" class="iosform-control" placeholder="First Name" oninvalid="alert('{{ with .Site.Params.contact.form.name.warning  }}{{ .  | markdownify }}{{ end }}');" required>
            </div> 
            <div class="iosform-group">
              <input type="text" id="namelast" name="namelast" class="iosform-control" placeholder="Last Name" oninvalid="alert('{{ with .Site.Params.contact.form.name.warning  }}{{ .  | markdownify }}{{ end }}');" required>
            </div>
			<div class="iosform-group">
				<input type="email" id="email" name="email" class="iosform-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . | markdownify }}{{ end }}" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"oninvalid="alert('{{ with .Site.Params.contact.form.email.warning }}{{ .  | markdownify }}{{ end }}');" required>
			</div>
            <div class="iosform-group">
              <input type="text" id="country" name="country" class="iosform-control" placeholder="Country" oninvalid="alert('{{ with .Site.Params.contact.form.name.warning  }}{{ .  | markdownify }}{{ end }}');" required>
            </div>
			<div class="iosform-button">
				<input onclick="window.location.href = '/business-presentation-revolution/book/bonus-content/downloads/';" type="submit" value="Access Content" class="button-primary" success="Congratulations, you will receive an email shortly." wait="Wait...">
			</div>
		</form>
    </div>
</div>

{{ "<!-- shortcodes:bpr-form-bonus-download.html:end -->" | safeHTML }}