{{ "<!-- shortcodes:bpr-social.html:start -->" | safeHTML }}
<div class="cl-shortcode">
	<div class="flex-parent flex-parent-row paddingt-none paddingb-medium">
		<div class="cl-shortcode--text-centered">	
			<strong>Follow us</strong>
		</div>
		<div class="flex-parent flex-parent-row paddingt-none paddingb-none flex-parent-justify-space-around">
			<div class="flex-child flex-child-16p">
				<a href="https://bit.ly/3wQJQxo" target="_blank">
					<div class="cl-shortcode--icon cl-shortcode--icon-small">
						<img src="youtube.svg" alt="youtube">
					</div>
					<div>
						<p class="text-center">YouTube</p>
					</div>
				</a>
			</div>
			<div class="flex-child flex-child-16p">
				<a href="https://bit.ly/3g4fTnY" target="_blank">
					<div class="cl-shortcode--icon cl-shortcode--icon-small">
						<img src="linkedin.svg" alt="linkedin">
					</div>
					<div>
						<p class="text-center">Linkedin</p>
					</div>
				</a>
			</div>
			<div class="flex-child flex-child-16p">
				<a href="https://bit.ly/327pRNa" target="_blank">
					<div class="cl-shortcode--icon cl-shortcode--icon-small">
						<img src="twitter.svg" alt="Twitter">
					</div>
					<div>
						<p class="text-center">Twitter</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{{ "<!-- shortcodes:bpr-social.html:end -->" | safeHTML }}