{{ "<!-- shortcodes:call-to-action.html:start -->" | safeHTML }}
<div class="layout-shortcode {{ with .Params.style }}{{ . }}{{ end }}">
	<div class="flex-parent flex-parent-column flex-parent-gap">
		{{ if .Params.title }}
		<div class="layout-shortcode-child flex-child">
			<h3 class="text-center">{{ .Params.title }}</h3>
		</div>
		{{ end }}
		{{ if .Params.picture }}
		<div class="layout-shortcode-child flex-child flex-child-align-center">
			<img src="{{ .Params.picture }}" class="center" height="192px" alt="{{ .Params.title }}">
		</div>
		{{ end }}
		{{ if .Params.subtitle }}
		<div class="layout-shortcode-child flex-child">
			<p class="text-center">{{ .Params.subtitle }}</p>
		</div>
		{{ end }}
		{{ if .Params.button }}
		<div class="layout-shortcode-child flex-child flex-child-align-center paddingv-tiny text-center">
			<a href="{{ .Params.link }}" class="critical--button-primary">{{ .Params.button }}</a>
		</div>
		{{ end }}
	</div>
</div>
{{ "<!-- shortcodes:call-to-action.html:end -->" | safeHTML }}
