{{ "<!-- shortcodes:events.html:start -->" | safeHTML }}
<div class="cl-shortcode flex-parent-justify-center {{ with .Params.style }}{{ . }}{{ end }}">
	{{ if .Params.title }}
		<div class="cl-shortcode-child">
			<h3 class="cl-shortcode--title">{{ .Params.title }}</h3>
		</div>
	{{ end }}
	{{ $style := .Params.style }}
	{{ $atleastone := false }}
	{{ range $.Page.Params.events }}
		{{ if and (ge .startdate (now.Format "2006-01-02")) (not .draft) }}
			{{ $atleastone = true }}
			<div class="flex-parent flex-parent-row flex-parent-column-ontall">
				<div class="flex-child flex-child-40p cl-shortcode-child ">
					<img src="{{ .image }}">
				</div>
				<div class="flex-child flex-child-60p cl-shortcode-child">
					<h4 class="margin-none">
						{{ .name }}
					</h4>
					<p>
						{{ .description }}<br />
						{{ partial "f/getdatetime" .startdate }}<br />
						{{ .performer }}<br />
						{{ range .offers }}
							<a href="{{ .url }}" class="critical--button-secondary">
								{{ .button }}
							</a>
						{{ end }}
					</p>
				</div>
			</div>
		{{ end }}
	{{ end }}
	{{ if not $atleastone }}
		<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-parent-justify-center">
			<p>
				{{ site.Params.events.empty }}
			</p>
		</div>
	{{ end }}
</div>
{{ "<!-- shortcodes:events.html:end -->" | safeHTML }}
