{{/* <!-- 
 	icon-item shortcode
 	
 	Inserts an icon within an icon-list shortcode

 	size: size of the icon, 20p, 25p, 33p, etc.
 	style: style for the icon
 	icon: icon to use
 	url: link for the icon 	
 --> */}}

{{ "<!-- shortcodes:icon-item.html:start -->" | safeHTML }}
<div class="flex-child flex-child-{{ with .Params.size }}{{ . }}{{ else }}20p{{ end }}">
	
	<div class="style-icon {{ with .Params.style }}{{ . }}{{ end }}">
	{{ with .Params.url }}
		<a href="{{ . }}">
	{{ end }}
	<img src="{{ .Params.icon }}" alt= "{{ .Params.description | markdownify }}">
	{{ with .Params.url }}
		</a>
	{{ end }}
	</div>
	<div>
		<p class="style-text-icon text-center">{{ .Params.description | markdownify }}</p>
	</div>
</div>
{{ "<!-- shortcodes:icon-item.html:end -->" | safeHTML }}