{{ "<!-- shortcodes:icon-list.html:start -->" | safeHTML }}
<div class="layout-shortcode {{ with .Params.style }}{{ . }}{{ end }}">
	<div class="flex-parent flex-parent-column flex-parent-gap">
		{{ if .Params.title }}
			<div class="flex-child">
				{{ with .Params.title }}
					<h3 class="text-center">
						{{ . }}
					</h3>
				{{ end }}
			</div>
		{{ end }}
		<div class="flex-child">
			<div class="flex-parent flex-parent-row flex-parent-justify-center flex-parent-gap">
				{{ .Inner }}
			</div>
		</div>
	</div>
</div>
{{ "<!-- shortcodes:icon-list.html:end -->" | safeHTML }}