{{ "<!-- shortcodes:icon-list.html:start -->" | safeHTML }}
<div class="layout-shortcode-column flex-gap {{ with .Params.style }}{{ . }}{{ end }}">
	{{- if .Params.title }}
	<div class="layout-shortcode-child">
		{{ with .Params.title }}<h3 class="text-center">{{ . }}</h3>{{ end }}
	</div>
	{{- end }}
	<div class="layout-shortcode-child">
		<div class="flex-parent flex-parent-row flex-justify-center flex-gap">
			{{ .Inner }}
		</div>
	</div>
</div>
{{ "<!-- shortcodes:icon-list.html:end -->" | safeHTML }}