{{ "<!-- shortcodes:link-picture-1-text2.html:start -->" | safeHTML }}

<div class="flex-parent-row flex-column-ontall">
	<div class="flex-child-40p">
		<a href="{{ .Params.link }}">
			<img src="{{ .Params.picture }}" class="">
		</a>
	</div>
	<div class="flex-child-60p flex-child-text-right">
	    <a href="{{ .Params.link }}">
	    	<h3 class="">{{ .Params.title }}</h3>
	    </a>
	    <p>{{ .Inner | markdownify }}</p>
	</div>
</div><!-- flex-parent -->

{{ "<!-- shortcodes:link-picture-1-text2.html:end -->" | safeHTML }}
