{{ "<!-- shortcodes:picture1-text2.html:start -->" | safeHTML }}
<div class="layout-shortcode {{ with .Params.style }}{{ . }}{{ end }}">
	<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-parent-gap">
		<div class="flex-child flex-child-40p">
			<img src="{{ .Params.picture }}" alt="{{ .Params.title }}">
		</div>
		<div class="flex-child flex-child-60p">
			<h3 class="">
				{{ .Params.title }}
			</h3>
			<p>
				{{ .Inner | markdownify }}
			</p>
		</div>
	</div>
</div>
{{ "<!-- shortcodes:picture1-text2.html:end -->" | safeHTML }}