{{ "<!-- shortcodes:picture2-text1.html:start -->" | safeHTML }}
<div class="layout-shortcode {{ with .Params.style }}{{ . }}{{ end }}">
	<div class="flex-parent flex-parent-row flex-parent-column-ontall flex-gap">
			<div class="flex-child flex-child-60p">
				<img src="{{ .Params.picture }}" alt="{{ .Params.title }}">
			</div>
			<div class="flex-child flex-child-40p">
				<h3 class="">{{ .Params.title }}</h3>
				<p>{{ .Inner | markdownify }}</p>
			</div>
	</div>
</div>
{{ "<!-- shortcodes:picture2-text1.html:end -->" | safeHTML }}