{{ "<!-- shortcodes:block-picture-1-text2.html:start -->" | safeHTML }}
<div class="pm-block pm-width-third pm-layout-column flex-column-ontall {{ with .Params.style }}{{ . }}{{ end }}">
	<div class="pm-width-full pm-ratio-16-9">
		{{ partial "e/link-picture.html" .Params }}
	</div>
	<div class="pm-width-auto">
	    <a href="{{ .Params.link }}">
	    	<h3 class="">{{ .Params.title }}</h3>
	    </a>
	    <p>{{ .Inner | markdownify }}</p>
	</div>
</div>
{{ "<!-- shortcodes:link-picture-1-text2.html:end -->" | safeHTML }}
