{{ "<!-- shortcodes:text-centered.html:start -->" | safeHTML }}
<div class="cl-shortcode cl-shortcode-column  padding-medium {{ with .Params.class }}{{ . }}{{ end }}">
	{{ if .Params.category }}
		<div class="cl-shortcode-child">
			<h3 class="cl-shortcode--title">
				{{ .Params.category }}
			</h3>
		</div>
	{{ end }}
	{{ if .Params.title }}
		<div class="cl-shortcode-child">
			<h2 class="cl-shortcode--title">
				{{ .Params.title }}
			</h2>
		</div>
	{{ end }}
	{{ if .Inner }}
		<div class="cl-shortcode-child">
			<p class="cl-shortcode--text-intro">
				{{ .Inner | markdownify }}
			</p>
		</div>
	{{ end }}
</div>
{{ "<!-- shortcodes:text-centered.html:end -->" | safeHTML }}