<div class="layout-shortcode flex-justify-center {{ with .Params.style }}{{ . }}{{ end }}">
{{- if .Params.title }}
	<div class="layout-shortcode-child">
		<h3 class="text-center">{{ .Params.title }}</h3>
	</div>
{{- end }}
{{- range $.Page.Params.videoobjects }}
	<div class="flex-parent flex-parent-row flex-parent-column-ontall">
		<div class="layout-shortcode-child flex-child flex-child-40p flex-child flex-child-40p flex-child-youtube">
			<div class="" style="position: relative; padding-bottom: 56.25%">
				<iframe src="https://www.youtube.com/embed/{{ .embedurl }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
			</div>
		</div>
		<div class="layout-shortcode-child flex-child flex-child-60p">
			<h4 class="margin-none">{{ .name }}</h4>
		    <p>{{ .description }}<br />
			{{ partial "f/getdate" .uploaddate }}<br />
		</div>
	</div>
{{- end }}
{{ "<!-- shortcodes:videoobjects.html:end -->" | safeHTML }}
