{{/* <!--
	youtube.html shortcode with lazy loading.
	Rewritten to embed videos from youtube.com and force lazy loading
	so that it doesn't take ages to load scripts and content.
	
	2024-07-31 PMO: first version, customized js to work with multiple videos on same page
	2024-08-01 PMO: added code to load on server image placeholder
	2024-08-03 PMO: inlined css to remove it from main stylesheet
	2024-08-04 PMO: corrected http to https + fixed layout for youtube image links
--> */}}

{{ $varid := index .Params 0 }}
{{ $varid := replace $varid "-" "dash" }}

{{ "<!-- shortcodes:youtube.html:start -->" | safeHTML }}
<div class="layout-shortcode">
	<div id="{{ index .Params 0 }}" style="position:relative;padding-bottom:56.25%;height:0;">
		{{/* <!-- build search path for on server picture --> */}}
		{{ $path := printf "/static/img/youtube/%s.jpg" (index .Params 0) }}
		{{ if os.FileExists $path }}
			{{/* <!-- use available server version of youtube placeholder image in /static/img/youtube/ --> */}}
			{{ $img := printf "/img/youtube/%s.jpg" (index .Params 0) }}
			<img src="{{ $img }}" style="position:absolute;z-index: 100;top:0;left:0;width:100%;height:100%;object-fit:cover;"/>
		{{ else }}
			{{/* <!-- else use youtube.com version of youtube placeholder image --> */}}
			<img src="https://img.youtube.com/vi/{{ index .Params 0 }}/sddefault.jpg" style="position:absolute;z-index: 100;top:0;left:0;width:100%;height:100%;object-fit:cover;"/>
		{{ end }}
		<img src="/img/icons/youtube.svg" style="position: absolute;z-index:105;top:40%;left:45%;width:10%;">
		<div style="position:absolute;z-index:110;width:100%;height:0;padding-bottom:56.25%;">
			<div style="position:absolute;top:0;left: 0;width: 100%;height: 100%;">
				<div id="player{{ index .Params 0 }}">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
	var player;
	var ytid;
	var loaded;
	
	// 1. Listen for click on placeholder pic
	document.getElementById("{{ index .Params 0 }}").addEventListener("click", function(){
		ytid = this.id;
		document.getElementById('player' + ytid).style.display = 'visible';
		
		console.log("launch video " + ytid);
		console.log(loaded);
		loadYT();
		if (1 == loaded)
		{
			onYouTubeIframeAPIReady();
		}
	});
	
	// 2. This code loads the IFrame Player API code asynchronously.
	function loadYT() {
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	}
	
	// 3. This function creates an <iframe> (and YouTube player)
	//	after the API code downloads.
	function onYouTubeIframeAPIReady() {
		var playerid = 'player' + ytid;
		player = new YT.Player(
			playerid,
			{
				height: '100%',
				width: '100%',
				videoId: ytid,
				events: {
					'onReady': onPlayerReady,
					'onStateChange': onPlayerStateChange
				}
			}
		);		
		loaded = 1;
	}
	
	// 4. The API will call this function when the video player is ready.
	function onPlayerReady(event)
	{
		console.log(event.target)
		event.target.playVideo();
	}
	
	// 5. The API calls this function when the player's state changes.
	//	The function indicates that when playing a video (state=1),
	//	the player should play for six seconds and then stop.
	var done = false;
	function onPlayerStateChange(event)
	{
	}
	
	function stopVideo()
	{
		player.stopVideo();
	}

</script>
{{ "<!-- shortcodes:youtube.html:end -->" | safeHTML }}
