/* screen size breakpoints */
$gl-sm-screen: 720px !default;
$gl-lg-screen: 1920px !default;

/* font for standard text */
$gl-font-family: "Whitney SSm A", "Whitney SSm B" !default;
$gl-font-weight: 400 !default;
/* font for bold text */
$gl-font-family-b: "Whitney SSm A", "Whitney SSm B" !default;
$gl-font-weight-b: 700 !default;
/* font for h1, h2, etc. */
$gl-font-family-h: "Gotham SSm A", "Gotham SSm B" !default;
$gl-font-weight-h: 700 !default;
/* font for buttons etc. */
$gl-font-family-button: "Gotham SSm A", "Gotham SSm B" !default;
$gl-font-weight-button: 700 !default;

/* font-size is a ratio between font sizes. It must be WITHOUT units */
$gl-font-size : 1 !default;
$gl-font-size-h1: 2 !default;
$gl-font-size-h2: 1.5 !default;
$gl-font-size-h3: 1.25 !default;
$gl-font-size-h4: 1.25 !default;
$gl-font-size-h5: 1 !default;

/* font-ratio scales $gl-font-size. It must be in vw units */
$gl-font-ratio-sm: 4vw !default;
$gl-font-ratio-md: 1.5vw !default;

/* base colors */
$gl-color-primary: #FF8200 !default;
$gl-color-primary-contrast: #dd6200 !default;
$gl-color-secondary: #00A3E0 !default;
$gl-color-darkgray: #222 !default;
$gl-color-lightgray: #eee !default;
$gl-color-midgray: #888 !default;

/* white background scheme (DEFAULT)  */
$gl-scheme-white-back: white !default;
$gl-scheme-white-text: black !default;
$gl-scheme-white-text-mid: #444 !default;
$gl-scheme-white-link: black !default;
$gl-scheme-white-link-hover: $gl-color-primary !default;

/* black background scheme */
$gl-scheme-black-back: black !default;
$gl-scheme-black-text: white !default;
$gl-scheme-black-text-mid: #white !default;
$gl-scheme-black-link: white !default;
$gl-scheme-black-link-hover: $gl-color-primary !default;

/* dark background scheme */
$gl-scheme-dark-back: $gl-color-darkgray !default;
$gl-scheme-dark-text: white !default;
$gl-scheme-dark-text-mid: #white !default;
$gl-scheme-dark-link: white !default;
$gl-scheme-dark-link-hover: $gl-color-primary !default;

/* light background scheme */
$gl-scheme-light-back: $gl-color-lightgray !default;
$gl-scheme-light-text: black !default;
$gl-scheme-light-text-mid: #black !default;
$gl-scheme-light-link: black !default;
$gl-scheme-light-link-hover: $gl-color-primary !default;

/* primary background scheme */
$gl-scheme-primary-back: $gl-color-primary !default;
$gl-scheme-primary-text: white !default;
$gl-scheme-primary-text-mid: white !default;
$gl-scheme-primary-link: white !default;
$gl-scheme-primary-link-hover: white !default;

/* secondary background scheme */
$gl-scheme-secondary-back: $gl-color-secondary !default;
$gl-scheme-secondary-text: white !default;
$gl-scheme-secondary-text-mid: #white !default;
$gl-scheme-secondary-link: white !default;
$gl-scheme-secondary-link-hover: white !default;

/* codingandbricks scheme */
$gl-scheme-codingandbricks-back: #233B4C !default;
$gl-scheme-codingandbricks-text: #FFD500 !default;
$gl-scheme-codingandbricks-text-mid: #444 !default;
$gl-scheme-codingandbricks-link: #FFD500!important !default;
$gl-scheme-codingandbricks-link-hover: #FFD500 !default;



@mixin font($family, $weight) {
	font-family: $family;
	font-weight: $weight;
}

@mixin font-scaling($size) {
	/* take text font size and scale it with normal screen ratio */
	font-size: calc( #{$size} * #{$gl-font-ratio-md} );
	@media (max-width: $gl-sm-screen) {
		/* take text font size and scale it with small screen ratio */
		font-size: calc( #{$size} * #{$gl-font-ratio-sm} );
	}
	@media(min-width: $gl-lg-screen) {
		/* once max size is reached, stop growing font, use fixed max. size instead */
		font-size: calc( #{$gl-lg-screen} / 100 * #{$size} ); /* prevent text from growing too large */
	}	
}

/* sets the main colors: background, text, a, a:hover */
@mixin colors($back, $text, $mid, $link, $link-hover) {
	background-color: $back;
	color: $text;
	
	a {
		color: $link;
	}
	
	a:hover {
		color: $link-hover;
		transition: all .35s;
	}
}

/* use @include scheme("name") to add a predefined color scheme */
@mixin scheme($scheme: "default") {
	@if "black" == $scheme {
		@include colors($gl-scheme-black-back, $gl-scheme-black-text, $gl-scheme-black-text-mid, $gl-scheme-black-link, $gl-scheme-black-link-hover);
	} 
	@else if "light" == $scheme {
		@include colors($gl-scheme-light-back, $gl-scheme-light-text, $gl-scheme-light-text-mid, $gl-scheme-light-link, $gl-scheme-light-link-hover);
	}
	@else if "dark" == $scheme {
		@include colors($gl-scheme-dark-back, $gl-scheme-dark-text, $gl-scheme-dark-text-mid, $gl-scheme-dark-link, $gl-scheme-dark-link-hover);
	}
	@else if "primary" == $scheme {
		@include colors($gl-scheme-primary-back, $gl-scheme-primary-text, $gl-scheme-primary-text-mid, $gl-scheme-primary-link, $gl-scheme-primary-link-hover);
	}
	@else if "secondary" == $scheme {
		@include colors($gl-scheme-secondary-back, $gl-scheme-secondary-text, $gl-scheme-secondary-text-mid, $gl-scheme-secondary-link, $gl-scheme-secondary-link-hover);		
	}
	@else if "codingandbricks" == $scheme {
		@include colors($gl-scheme-codingandbricks-back, $gl-scheme-codingandbricks-text, $gl-scheme-codingandbricks-text-mid, $gl-scheme-codingandbricks-link, $gl-scheme-codingandbricks-link-hover);		
	}
	@else {
		@include colors($gl-scheme-white-back, $gl-scheme-white-text, $gl-scheme-white-text-mid, $gl-scheme-white-link, $gl-scheme-white-link-hover);
	}
}

@mixin firstlastchildnomargin {
	/* remove top margin from first element and bottom margin from last element */
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-top: 0;
	}
}

@mixin content($width: "normal", $marginv: "medium") {
	@if "normal" == $width {
		margin-left: auto; /* use auto to center div on page */
		margin-right: auto; /* use auto to center div on page */
		width: 80vw;
		max-width: var(--content-max-width); /* prevents text area from getting unpleasantly wide */
		@media (max-width: $gl-sm-screen) {
			margin-left: var(--module-column-gap);
			margin-right: var(--module-column-gap); 
			width: calc(100% - var(--module-column-gap) * 2);
			max-width: calc(100% - var(--module-column-gap) * 2);
		}
	}
	@else if "narrow" == $width {
		/* use for narrow content such as forms */
		margin: 0 auto; /* use auto to center div on page */
		width: 50vw;
		max-width: var(--content-max-width-narrow); /* prevents text area from getting unpleasantly wide */
		@media (max-width: $gl-sm-screen) {
			margin: 0 var(--module-column-gap);
			width: calc(100% - var(--module-column-gap) * 2 );
			max-width: calc(100% - var(--module-column-gap) * 2 );
		}
	}
	@else if "wide" == $width {
			margin-left: var(--module-column-gap);
			margin-right: var(--module-column-gap); 
			width: calc(100% - var(--module-column-gap) * 2);
	}
	@else if "full" == $width {
			margin-left: 0;
			margin-right: 0;
			width: calc( 100% );
	}
	
	@if "medium" == $marginv {
		margin-top: var(--content-space-v) !important;
		margin-bottom: var(--content-space-v) !important;		
	}
	@else if "small" == $marginv {
		margin-top: var(--content-space-v) !important;
		margin-bottom: var(--content-space-v) !important;
	}
	@else if "none" == $marginv {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}
