/*	--------
	screen size breakpoints
	unit: px
	declared as sass variables because css variables don't work in media queries
	-------- */
	$gl-sm-screen: 640px !default; // small screens breakpoint
	$gl-lg-screen: 1440px !default; // large screens breakpoint
	$gl-menu-short: 900px !default; // size under which the short menu display should be used



/*	--------
	mixins
	-------- */

	@mixin a-underline-none {
		/* 
			Removes underline of <a> links
		*/
		border-bottom: none;
		text-decoration: none;
	}

	@mixin firstlastchildnomargin {
		/*
			Removes top margin from first element and bottom margin from last element
		*/
		> :first-child {
			margin-top: 0;
		}
		> :last-child {
			margin-bottom: 0;
		}
	}

	@mixin flex-column($gap: "none", $wrap: "nowrap", $align-column-h: flex-start, $align-h: flex-start, $align-v: flex-start) {
		/*
			Creates a flexbox column
		*/
		display: flex;
		flex-direction: column;
		align-content: $align-h;
		align-items: $align-column-h;
		justify-content: $align-v;
		flex-wrap: var(--flex-wrap);
		column-gap: var(--flex-column-gap);
		row-gap: var(--flex-row-gap);
		
		@if "gap" == $gap {
			--flex-column-gap: var(--flex-column-gap-medium);
			--flex-row-gap: var(--flex-row-gap-medium);
		}
		@else if "big" == $gap {
			--flex-column-gap: var(--flex-column-gap-big);
			--flex-row-gap: var(--flex-row-gap-big);
		}
		@else if "none" == $gap {
			--flex-column-gap: 0px;
			--flex-row-gap: 0px;
		}
		@else {
			--flex-column-gap: calc( #{$gap} );
			--flex-row-gap: calc( #{$gap} );
		}
		
		@if "nowrap" == $wrap {
			--flex-wrap: nowrap;
		}
		@else {
			--flex-wrap: wrap;
		}
	}

	@mixin flex-column-sm($flex-direction: column) {
		/* 
			Turns a flex-row into a flex-column on small screens
			$flex-direction can be column or column-reverse
		*/
		@media (max-width: $gl-sm-screen) {
			flex-direction: $flex-direction;
		}
	}
	
	@mixin flex-row($gap: "none", $wrap: "nowrap", $align-row-v: flex-start, $align-v: flex-start, $align-h: flex-start) {
		/*
			Creates a flexbox row
		*/
		display: flex;
		flex-direction: row;
		align-content: $align-v;
		align-items: $align-row-v;
		justify-content: $align-h;
		flex-wrap: var(--flex-wrap);
		column-gap: var(--flex-column-gap);
		row-gap: var(--flex-row-gap);
		
		@if "gap" == $gap {
			--flex-column-gap: var(--flex-column-gap-medium);
			--flex-row-gap: var(--flex-row-gap-medium);
		}
		@else if "big" == $gap {
			--flex-column-gap: var(--flex-column-gap-big);
			--flex-row-gap: var(--flex-row-gap-big);
		}
		@else if "none" == $gap {
			--flex-column-gap: 0px;
			--flex-row-gap: 0px;
		}
		@else if "skip" == $gap {
			// nothing
		}
		@else {
			--flex-column-gap: calc( #{$gap} );
			--flex-row-gap: calc( #{$gap} );
		}
		
		@if "nowrap" == $wrap {
			--flex-wrap: nowrap;
		}
		@else {
			--flex-wrap: wrap;
		}
	}

	@mixin height-screen-full {
		/* set height to screen height (actually viewport height) */
		height: calc(100vh - var(--menubar-height));
	}
	
	@mixin height-parent-full {
		/* set height to full height of parent container */
		height: 100%;
	}
	
	@mixin height-parent-half {
		/* set height to half height of parent container */
		height: 50%;
	}
	
	@mixin height-parent-half-sm {
		/* set height to half height of parent container on small screens */
		@media (max-width: $gl-sm-screen) {
			height: 50%;
		}
	}
	
	@mixin height-hero {
		/* set height to fixed hero height */
		height: var(--hero-height);
	}
	
	@mixin height-module {
		/* set height to fixed module height */
		height: calc( var(--module-height) * 1vw ); /* defines the fixed height of the module */
		max-height: calc( var(--page-max-width) / 80 * var(--module-height) );
	}
	
	@mixin height-navbar {
		/* set height to navbar height */
		height: var(--menubar-height);
	}
	
	@mixin img-back($z-index: 0) {
		/*
			puts image in the back as a background image, full size of parent
			(also see text-front to put text in front of image)
		*/
		position: absolute;
		height: inherit; /* ! parent container must have height in absolute unit or 100%, but not 0-99% */
		width: inherit; /* ! parent container must have width in absolute unit or 100%, but not not 0-99% */
		max-width: var(--page-max-width);
		object-fit: cover;
		@if 0 != $z-index {
			z-index: $z-index;
		}
	}
	
	@mixin img-circle($size) {
		/* round image */
		width: $size !important;
		height: $size !important;
		border-radius: 50%;
	}
	
	@mixin img-contain {
		/* image full width of parent container, height based on image ratio */
		display: block;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	@mixin img-cover {
		/* image full size of parent container, cropped to fill parent container */
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	@mixin img-responsive {
		display: block; /* prevent line height from being added to div height */
		max-width: 100%;
		height: auto;
	}
	
	@mixin img-sameline {
		/* image on same line as text, useful to add icons in text */
		display: inline-block;
	}
	
	@mixin margins($vertical: "", $top: "", $bottom: "") {
		/*
			standardized margins for theme
			marginv: "tall", "medium", "short", "none"
		*/
		
		@if "tall" == $vertical {
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
		@else if "medium" == $vertical {
			margin-top: 3rem;
			margin-bottom: 3rem;		
		}
		@else if "short" == $vertical {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		@else if "none" == $vertical {
			margin-top: 0rem;
			margin-bottom: 0rem;
		}
		
		@if "tall" == $top {
			margin-top: 5rem;
		}
		@else if "medium" == $top {
			margin-top: 3rem;
		}
		@else if "short" == $top {
			margin-top: 1rem;
		}
		@else if "none" == $top {
			margin-top: 0rem;
		}
		
		@if "tall" == $bottom {
			margin-bottom: 5rem;
		}
		@else if "medium" == $bottom {
			margin-bottom: 3rem;		
		}
		@else if "short" == $bottom {
			margin-bottom: 1rem;
		}
		@else if "none" == $bottom {
			margin-bottom: 0rem;
		}
	}

	@mixin padding($vertical: "", $top: "", $bottom: "") {
		/*
			standardized padding
			padding: "tall", "medium", "short", "none"
		*/
		
		@if "tall" == $vertical {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
		@else if "medium" == $vertical {
			padding-top: 3rem;
			padding-bottom: 3rem;		
		}
		@else if "short" == $vertical {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		@else if "none" == $vertical {
			padding-top: 0rem;
			padding-bottom: 0rem;
		}
		
		@if "tall" == $top {
			padding-top: 5rem;
		}
		@else if "medium" == $top {
			padding-top: 3rem;
		}
		@else if "short" == $top {
			padding-top: 1rem;
		}
		@else if "none" == $top {
			padding-top: 0rem;
		}
		
		@if "tall" == $bottom {
			padding-bottom: 5rem;
		}
		@else if "medium" == $bottom {
			padding-bottom: 3rem;		
		}
		@else if "short" == $bottom {
			padding-bottom: 1rem;
		}
		@else if "none" == $bottom {
			padding-bottom: 0rem;
		}
	}

	@mixin scroll-h {
		/*
			Creates container with horizontal overflow + horizontal scroll bar.
			Useful for carousel.
		*/
		
		overflow-x: scroll;
		
		&::-webkit-scrollbar {
			height: 0.4em;
		}
		&::-webkit-scrollbar-track {
			/* Track */
			border-radius: 10px;
			background: #ddd;
			opacity: 0.5;
		}
		&::-webkit-scrollbar-thumb {
			/* Handle */
			background: #222; 
			border-radius: 10px;
			opacity: 0.4;
		}	
		
	}
	
	@mixin text-front($z-index: 10) {
		/* 
			puts text front, often to layer it above an image
			(also see img-back to put image in the background)
		*/
		position: relative;	/* enables z-index */
		z-index: $z-index; /* if text overflows, it will go over picture below */
	}
	
	@mixin text-padding($padding: 2em) {
		padding: $padding;
	}

	/* use to remove all styles from ul, useful to use ul for grids, carousels, etc. */
	@mixin ul-list-style-none {
		--ul-list-style-type: none;
		--ul-list-indent: 0;
		--ul-margin-top: 0;
		--ul-margin-bottom: 0;
		--ul-padding-left: 0;
	}

	@mixin ul-container {
		/*
			Turns a ul tag into an unstyled container
			- no bullets in front of li items
			- no indents
		*/
		--ul-list-style-type: none;
		--ul-list-indent: 0;
		--ul-padding-left: 0;
	}

	@mixin variable-scheme() {
		background-color: var(--color-back);
		color: var(--color-text);
		
		font-family: var(--font-family);
		font-weight: var(--font-weight);
		font-size: calc(var(--font-ratio) * var(--font-base-size));
		line-height: var(--line-height);
		text-align: var(--text-align);
		text-transform: var(--text-transform);
		
		padding: var(--padding);
		padding-top: var(--padding-top);
		padding-bottom: var(--padding-bottom);
		padding-left: var(--padding-left);
		padding-right: var(--padding-right);
		
		margin: var(--margin);
		margin-top: var(--margin-top);
		margin-bottom: var(--margin-bottom);
		margin-left: var(--margin-left);
		margin-right: var(--margin-right);
	}
	
	@mixin width-column($col-nb, $col-span: 1) {
		/*
			Calculates exact width of item based on a column system.
			
			Parameters:
			- $col-nb: the number of columns to use to divide the total width
			  eg. 3 will result in a one-third width, 5 in a one-fifth width, minus the gaps
			- $col-span: the number of columns covered by the ite
			  eg if $col-nb is 3 and $col-span is 2, the item will be two-thirds width.
		
			Note: parent should be a flex-container with a specified width.
			If parent has no width specified, the result will be wonky.
		*/
		
		$gap-nb: $col-nb - 1;
		$gap-span: $col-span - 1;
		flex-basis: calc( ( 100% - #{$gap-nb} * var(--flex-column-gap) ) / #{$col-nb} * #{$col-span} + var(--flex-column-gap) * #{$gap-span} - 0.001px + 0.001px );
		width: calc( ( 100% - #{$gap-nb} * var(--flex-column-gap) ) / #{$col-nb} * #{$col-span} + var(--flex-column-gap) * #{$gap-span} - 0.001px + 0.001px );
	}
	
	@mixin width-column-sm($col-nb, $col-span: 1) {
		/*
			Calculates exact width of item based on a column system,
			for small screens.
			
			For example:
			@include width-column(3,2); → item will be tho-thirds on normal screens.
			@include width-column-sm(1); → but item will switch to full parent width on small screens.
		*/
		
		@media (max-width: $gl-sm-screen) {
			@include width-column($col-nb, $col-span);
		}
	}

	/* standard main content width */
	@mixin width-content() {
		/*
			Use content width
			Note: variable values will adapt automatically for small screens
		*/
		width: var(--content-width);
		max-width: var(--content-max-width);
		margin-left: auto;
		margin-right: auto;
	}

	@mixin width-content-sm() {
		/*
			Use content width on small screens
			Note: if you already use width-content() for a given element,
			then there is no need to add width-content-sm() for that element
		*/
		@media (max-width: $gl-sm-screen) {
			width: var(--content-width);
			max-width: var(--content-max-width);
			margin-left: auto;
			margin-right: auto;
		}
	}

	/* use when content would be too wide, e.g. forms */
	@mixin width-content-narrow() {
		width: 100%;
		max-width: 50vw;
		margin-left: auto;
		margin-right: auto;
		@media (max-width: $gl-sm-screen) {
			max-width: 90vw;
		}
	}
	
	/* full width (of parent) */
	@mixin width-parent-full() {
		width: calc( 100% - 0.001px + 0.001px );
		max-width: calc( 100% - 0.001px + 0.001px );
	}

	/* use to force full width (of parent) on small screens. */
	@mixin width-parent-full-sm() {
		@media (max-width: $gl-sm-screen) {
			/* 2025-08-11: PMO added flex-basis to override flex-basis in @mixin width-column.
				note: this should probably be removed, and I should fix the way width-column is handled. */
			flex-basis: 100%;
			width: 100%;
			max-width: 100%;
		}
	}

	/* 
		the widths below are legacy and are not recommended to use.
	*/	
	
	@mixin width-onethird() {
		/* Instead use @include width-column(3) */
		width: calc( 33% );
	}
	
	@mixin width-twothirds() {
		/* Instead use @include width-column(3,2) */
		--flex-column-gap: var(--flex-column-gap-medium); 
		width: calc( 67% - var(--flex-column-gap) );	/* reduce main content width when there is a sidebar */
	}
