@import "_sassmix";
	
	/* use to display two columns that become 1 vertical column on sm screens */
	@mixin two-columns($sm-direction: column) {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: var(--module-big-gap);
		@media (max-width: $gl-sm-screen) {
			flex-direction: $sm-direction;
		}
	}
