{{ partial "e/sass.scss" . }}

	.cl-bodybottom-footer {
		margin: 0;
		padding: var(--content-space-v) 0;
		
		nav {
			@include margins($vertical: "medium", $horizontal: "normal");
			
			.categories {
				@include flex-row($gap: "gap", $wrap: "wrap");
				padding: 0;
				list-style: none;
				
				> li {
					@include columns(4);
					line-height: 1.6em;
					@media (max-width: $gl-sm-screen) {
						@include columns(2);
					}
				}
			}
			
			.items {
				list-style: none;
				padding-left: 0;
				text-transform: none;
				
				> li a {
					border: none;
				}
			}
		}
		
		.text {
			@include margins("medium", "normal");
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
