{{ partial "e/sass.scss" . }}

	.cl-body-cta {
		@include flex-column($align-column-h: center, $align-v: space-between);
		@include height-hero;
		@include width-full;
		overflow: hidden;
		
		> img {
			@include img-back($z-index: -100);
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/textscheme.scss" . }}
		
		/* main text container, may have to share space with a logobar */
		.main {
			@include flex-column($align-column-h: center, $align-v: center);
			@include width-full;
			flex-grow: 1; /* take all available vertical space in parent */
			--color-back: none;
		}
	}

@import "_logobar.scss";
