{{ partial "e/sass.scss" . }}

	/* container for sidebar and main content area */
	.cl-body-sidebar-main {
		@include width-content();
		@include flex-row($gap: "big", $wrap: "nowrap", $align-row-v: flex-start, $align-h: space-between);
		@include flex-column-sm(column-reverse);
		padding: 0;
		
		/* container for sidebar */
		.cl-body-sidebar-main--sidebar {
			@include width-column(3,1);
			@include width-content-sm();
			@include margins($top: "medium");
			@include firstlastchildnomargin();
			@include flex-column($gap: "gap");
			padding: var(--padding);
			@media (max-width: $gl-sm-screen) {
				margin-right: 0; /* remove space on small screens */
			}
			
			{{ partial "e/scheme.scss" "body-sidebar-main--sidebar" }};
		}
		
		/* container for main content */
		.cl-body-sidebar-main--article {
			@include width-content();
			@include margins($top: "medium");
			@include firstlastchildnomargin();
			
			{{ partial "e/scheme.scss" "body-sidebar-main--article" }};
		}
		
		/* adapt size of main content area if there is a sidebar */
		.cl-body-sidebar-main--sidebar + .cl-body-sidebar-main--article {
			@include width-column(3,2);
			@include width-content-sm(); /* use content width instead of 2/3 column width on small screens */
		}
		
		{{ partial "e/scheme.scss" . }};
	}
