{{ partial "e/sass.scss" . }}

$breadcrumbs-padding: 0.5em 0 !default;
$breadcrumbs-list-gap: 0.5em !default;

	.cl-body-breadcrumbs {
		@include color-scheme({{ . }});
		@include font-scheme({{ . }});
		
		a {
			border: none; /* remove line under link */
		}
		
		ul {
			@include margins("none", "normal");
			display: flex;
			margin-top: 0;
			margin-bottom: 0;
			padding: $breadcrumbs-padding;
			list-style: none;
			gap: $breadcrumbs-list-gap;
			
			li {
				margin: 0;
			}
		}
		
		img {
			display: inline-block;
		}
	}
