{{ partial "e/sass.scss" . }}

	.cl-body-h1hero--title {
		top: var(--menubar-height);
		z-index: 100;
		display: flex;
		justify-content: center;
		padding: 1em;
		text-align: center;
		
		{{ partial "e/colorscheme.scss" "body-h1hero--title" }};
		{{ partial "e/fontscheme.scss" "body-h1hero--title" }};
	}
	
	.cl-body-h1hero--hero {
		height: var(--hero-height);
		width: 100%;
		max-width: var(--page-max-width);
		
		img {
			@include img-back;
		}
		
		h1 {
			position: sticky;
			top: var(--menubar-height);
			z-index: 100;
			padding: 1em;
		}
		
		{{ partial "e/colorscheme.scss" "body-h1hero--hero" }};
		{{ partial "e/fontscheme.scss" "body-h1hero--hero" }};
	}
