{{ partial "e/sass.scss" . }}

	.cl-body-h1home {
		@include width-parent-full();
		
		text-align: center;
		padding-top: 1em;
		padding-left: 1em;
		padding-right: 1em;
		
		{{ partial "e/scheme.scss" "cl-body-h1home" }}
	}
