{{ partial "e/sass.scss" . }}

	.cl-body-h1home {
		text-align: center;
		padding-top: 1em;
		padding-left: 1em;
		padding-right: 1em;
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
