@import "_sassmix";

.cl-body-content-revolution-section {

	.hero {
		@include scheme("dark");
		height: var(--hero-height);
		width: var(--hero-width);
		max-width: var(--page-max-width);
		overflow: hidden;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		
		img {
			position: absolute;
			z-index: -100;
			height: var(--hero-height);
			width: 100%;
			max-width: var(--page-max-width);
			object-fit: cover;
		}
		
		h2 {
			text-align: center;
			margin-bottom: 0.5rem;
		}
	}
	
	.text {
		@include content("normal", "medium");
		text-align: center;
	}
	
	.social {
		@include content("normal", "medium");
		display: flex;
		flex-direction: row;
		gap: var(--module-column-gap);
		align-items: center;
		justify-content: center;
	}
	
	.social-item {
		width: calc( (100% - 2 * var(--module-column-gap)) / 3 - 0.001px);
		flex-shrink: 0;	
			
		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			
			img {
				width: 3rem;
				height: 3rem;
			}
			
			p {
				margin-top: 0.5rem;
			}
		}
	}
		
	.videolist {
		@include content("normal", "medium");
		
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			list-style: none;
			padding: 0;
			gap: var(--module-column-gap);
		}
		
		li {	
			height: 100%;
			width: calc( (100% - 2 * var(--module-column-gap)) / 3 - 0.001px);
			margin-bottom: 2rem;
			@media (max-width: $sm-screen) {
				width: 100%;
			}
		}
		
		h2 {
			margin-bottom: 0.5rem;
			text-align: center;
		}
		
		h3 {
			margin-top: 0.5rem;
		}
		
		img {
			display: block; /* to prevent line height from being added to div height */
			width: 100%;
			height: 100%;
		}
		
		p {
			margin-top: 0.5rem;
		}
	}
}