{{ partial "e/sass.scss" . }}

	.cl-body-side-main {
		@include margins($vertical: "medium", $horizontal: "normal");
		@include flex-row($gap: "big", $wrap: "nowrap", $align-row-v: flex-start, $align-h: space-between);
		padding: 0;
		@media (max-width: $gl-sm-screen) {
			flex-direction: column-reverse;
		}
		
		.side {
			@include firstlastchildnomargin;
			@include flex-column($gap: "gap");
			@include width-onethird;
			margin-right: 1em; /* add space to the right of sidebar so it doesn't stick to right col */
			padding: var(--padding);
			@media (max-width: $gl-sm-screen) {
				margin-right: 0; /* remove space on small screens */
			}
			
			{{ partial "e/colorscheme.scss" "body-side-main--side" }};
			{{ partial "e/textscheme.scss" "body-side-main--side" }};
		}
		
		.main {
			@include firstlastchildnomargin;
			@include width-full;
			
			{{ partial "e/colorscheme.scss" "body-side-main--main" }};
			{{ partial "e/textscheme.scss" "body-side-main--main" }};
		}
		
		.side + .main {
			@include width-twothirds;
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/textscheme.scss" . }};
	}
