{{ partial "e/sass.scss" . }}

$body-side-main-font-family: $gl-font-family !default;
$body-side-main-font-family-h: $gl-font-family-h !default;

$side-font-size: 0.8em !default;
$side-font-size-h2: 1em !default;
$side-font-size-li: 1em !default;
$side-scheme: "light" !default;

	.cl-body-side-main {
		@include margins("medium", "normal");
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: flex-start;
		gap: var(--module-big-gap);
		@media (max-width: $gl-sm-screen) {
			flex-direction: column-reverse;
		}
		
		.side {
			@include firstlastchildnomargin;
			@include scheme($side-scheme);
			width: calc( 33% - var(--module-big-gap) * 2 );
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}
			
			a {
				font-size: $side-font-size;
			}
			
			img {
				@include img-resp;
			}
			
			h2 {
				margin: 1em 1em 0.5em 1em;
				font-size: $side-font-size-h2;
			}
			
			li {
				margin-top: 1em;
				margin-bottom: 1em;
				font-size: $side-font-size;
			}
			li a {
				font-size: 1em;
			}
			
			p {
				margin: 1em;
				font-size: $side-font-size;
			}
			
			ul {
				list-style: none;
				padding-left: 0em; /* remove left space on lists */
				margin: 0.5em 1em 1em 1em;
			}
		}
		
		.main {
			@include firstlastchildnomargin;
			width: 100%;
		}
		
		.side + .main {
			width: calc( 67% - var(--module-big-gap) / 2 );	/* reduce main content width when there is a sidebar */
			@media (max-width: $gl-sm-screen) {
				width: 100%; /* set main content width to 100% on ts screens */
			}
		}
	}
	