{{ partial "e/sass.scss" . }}

	.cl-body-carousel {
		padding-top: 2rem;
		
		> h3 {
			padding-left: 2rem;
		}
		
		{{ partial "e/colorscheme.scss" . }}
		{{ partial "e/fontscheme.scss" . }}
	}
	
	/* container for the carousel items */
	.cl-body-carousel--carousel {
		@include flex-row($gap: "big", $wrap: "nowrap", $align-row-v: stretch);
		@include scroll-h;
		padding-top: 2rem;
		padding-bottom: 2rem;
		width: 100%;
	}
	
	/* carousel item */
	.cl-body-carousel--item {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 25vw;
		border-radius: 5px;
		background-color: var(--color-back);
		list-style-type: none;
		@media (max-width: $gl-sm-screen) {	
			flex-basis: 70vw;
		}
		
		&:first-child {
			margin-left: 2vw;
		} 
		&:last-child {
			margin-right: 2vw;
		}
		
		.text {
			@include flex-column($align-v: space-between);
			padding: 1em;
			height: calc( 100% - 15vw ); /* full container height minus picture height */
			min-height: 15vw;
			border-radius: 5px 5px 0px 0px;
			@media (max-width: $gl-sm-screen) {	
				height: calc( 100% - 40vw );
				min-height: 45vw;
			}
		}
		
		img {
			height: 15vw;
			width: 100%;
			border-radius: 0px 0px 5px 5px;
			object-fit: cover;
			@media (max-width: $gl-sm-screen) {	
				height: 40vw;
			}
		}
		
		{{ partial "e/colorscheme.scss" "body-carousel--item" }}
		{{ partial "e/fontscheme.scss" "body-carousel--item" }}
	}
	
	/* adds a space on the right (right margin/padding is not honored if it's the last element) */
	.cl-body-carousel--space {
		width: 1px;
		height: 1px;
		background-color: var(--color-back);
		list-style-type: none;
	}	
