{{ partial "e/sass.scss" . }}

	/* container if title only (no hero) */
	.cl-body-h1hero--title {
		@include flex-column($align-column-h: center, $align-v: center);
		@include text-front();
		padding: 1em;
		
		{{ partial "e/colorscheme.scss" "body-h1hero--title" }};
		{{ partial "e/textscheme.scss" "body-h1hero--title" }};
	}
	
	/* container if title + hero img */
	.cl-body-h1hero--hero {
		@include height-hero();
		@include width-full();
		@include flex-column($align-v: space-between);
		position: relative;
		
		> img {
			@include img-back($z-index: -100);
		}
		
		> h1 {
			@include width-full();
			position: sticky;
			top: var(--menubar-height);
			z-index: 100;
			padding: 1em;
		}
		
		{{ partial "e/colorscheme.scss" "body-h1hero--hero" }};
		{{ partial "e/textscheme.scss" "body-h1hero--hero" }};
	}

@import "_logobar.scss";
