{{ partial "e/sass.scss" . }}

$breadcrumbs-padding: 0.5em 0 !default;
$breadcrumbs-list-gap: 0.5em !default;
$breadcrumbs-list-transform: uppercase !default;
$breadcrumbs-scheme: "light";

	.cl-body-breadcrumbs {
		@include scheme($breadcrumbs-scheme);
		
		a {
			border: none; /* remove line under link */
		}
		
		ul {
			@include content("normal", "none");
			display: flex;
			margin-top: 0;
			margin-bottom: 0;
			padding: $breadcrumbs-padding;
			list-style: none;
			text-transform: $breadcrumbs-list-transform;
			gap: $breadcrumbs-list-gap;
			
			li {
				margin: 0;
			}
		}
	}
