{{ partial "e/sass.scss" . }}

	/* container if title only (no hero) */
	.cl-body-h1--hero {
		/*
			if hero img exists, create hero
		*/
		@include height-hero();
		@include width-parent-full();
		@include layer-img-overlay-text($text-align-v: flex-start);
		
		/* logo bar at bottom of hero */
		.logobar-layer {
			@include layer($z-index: 40);
			@include flex-column($align-v: flex-end);
			
			.logobar-container {
				@include flex-row($gap: "big", $wrap: "nowrap", $align-h: space-around);
				@include width-parent-full;
				padding: 2vw;
				height: auto;
				--color-back: none;
				@media (max-width: $gl-sm-screen) {
					height: 32vw;
				}
				
				/* item in the logo bar at bottom of hero */
				.logobar-item {
					@include flex-column($align-column-h: center);
					flex-basis: 0; /* 0 to have all children same size */
					flex-grow: 1;
					
					> p {
						margin-top: 0.5em;
						margin-bottom: 0em;
						text-align: center;
						color: white;
						@media (max-width: $gl-sm-screen) {
							display: none; /* hide text on sm screens (not enough space) */
						}
					}
					
					> img {
						border: 2px solid var(--color-border);
						padding: 1vw;
						width: 10vw;
						height: 10vw;
						background-color: rgba(0, 0, 0, 0.6);
						@media (max-width: $gl-sm-screen) {
							width: 24vw;
							height: 24vw;
						}
					}
				}
			}
		}
		
		{{ partial "e/scheme.scss" ".cl-body-h1--hero" }};
	}

	.cl-body-h1--title {
		/*
			if no hero img, only use a title
		*/
		@include width-parent-full();
		@include flex-column($align-column-h: center, $align-v: center);
		
		> h1 {
			@include width-content();
		}
		
		{{ partial "e/scheme.scss" ".cl-body-h1--title" }};
	}
