{{ partial "e/sass.scss" . }}

	.cl-bodytop-navbar {
		@include flex-row($gap: "gap", $align-row-v: center, $align-h: space-between);
		position: fixed; /* menubar stays at top of screen */
		top: 0;
		width: var(--page-width);
		z-index: 1000; /* no other element should be given a higher z-index */
		padding-left: var(--column-gap);
		padding-right: var(--column-gap);
		
		/* Logo */
		.brand {
			@include height-navbar();
		}
		
		/* Font for menu */
		.menu-item,
		.menu-item a,
		.menu-dropdown-item,
		.menu-dropdown-item a {
			border: none; /* remove underline for a links */
			
			img {
				@include img-sameline; /* show icon on same line as text */
			}
		}
		
		.menu-checkbox {
			display: none; /* hide checkboxes */
		}
		
		ul {
			@include ul-container();
		}
		
		/* Menu for normal screens */
		@media (min-width : $gl-sm-screen) {
			
			/* burger menu (hidden on normal screens) */
			.burger {
				display: none;
			}
			
			/* menu items */
			.menu {
				@include flex-row($gap: 1em, $align-h: stretch);
				@include height-navbar();
				
				li {
					@include flex-row($align-row-v: center);
					margin: 0;
					min-height: var(--menubar-height); /* min-height because should be allowed to grow for search */
				}
				/* show dropdown on hover */
				li:hover .menu-dropdown {
					display: flex;
				}
			}	
			
			/* menu dropdown, displayed on hover */
			.menu-dropdown {
				position: absolute;
				top: calc(var(--menubar-height) - 2px);
				margin-top: 0;
				right: 0; /* sticks dropdown to right of screen */
				width: auto;
				display: none; /* replaced by flex on hover */
				flex-direction: column;
				background-color: var(--color-back);
				
				li {
					@include flex-row($align-row-v: center);
					position: relative;
					padding: 5px 12px;
					line-height: 20px;
				}
			}
		}
		
		/* Special menu properties for medium screens */
		@media (min-width: $gl-sm-screen) and (max-width : $gl-menu-short) {
			.menu-shorten {
				display: none; /* show only icon (hide text) on medium screen widths */
			}
		}
		
		/* Menu for small screens */
		@media (max-width : $gl-sm-screen) {
			
			/* burger menu */
			.burger { 
				display: inline-block;
			}
			
			/* menu items (shown when clicking on burger) */
			.menu {
				@include width-full();
				position: fixed;
				margin: 0;
				padding: 1.5em;
				left: 0;
				top: calc(var(--menubar-height) - 2px);
				height: auto;
				display: none; /* hide menu on ts screens, show if burger checkbox checked */
				flex-direction: column;
				align-items: center;
				gap: 1.5rem;
				background-color: var(--color-back);
			}
			
			.menu-item {
				@include width-full();
				@include flex-column($align-column-h: center, $align-v: center);
				margin: 0;
				padding: 0;
				list-style: none;
			}
			
			/* menu dropdown, displayed on tap */
			.menu-dropdown {
				@include width-full();
				@include flex-column($gap: 1.5rem, $align-column-h: center);
				position: static;
				top: calc(var(--menubar-height) - 2px);
				margin: 0;
				padding: 1.5rem 0 0 0;
				display: none; /* hide, show if checkbox checked */
				background-color: var(--color-back);
			}
			
			.menu-dropdown-item {
				@include width-full();
				display: list-item;
				position: relative;
				margin: 0;
				padding: 0;
				text-align: center;
			}
			
			/* show menu or menu dropdown when checkbox is checked */
			[id^=drop]:checked + .menu,
			[id^=drop]:checked + .menu-dropdown {
				display: flex;
			}
		}
		
		{{ partial "e/scheme.scss" . }}
	}
