{{ partial "e/sass.scss" . }}

	.cl-bodylazy-testimonials {
		@include color-scheme({{ . }});
		@include font-scheme({{ . }});
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		gap: var(--module-big-gap);
		overflow-x: scroll;
		padding-bottom: 2.0em;
		width: 100%;
		@media (max-width: $gl-sm-screen) {
			.cl-testimonials {
				padding-bottom: 1.0em;
			}
		}
		
		&::-webkit-scrollbar {
			height: 0.4em;
		}
		&::-webkit-scrollbar-track {
			/* Track */
			border-radius: 10px;
			background: #ddd;
			opacity: 0.5;
		}
		&::-webkit-scrollbar-thumb {
			/* Handle */
			background: #222; 
			border-radius: 10px;
			opacity: 0.4;
		}	
		
		.item {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 30vw;
		}
		.item:first-child {
			margin-left: 2vw;
		} 
		.item:last-child {
			margin-right: 2vw;
		}		
		@media (max-width: $gl-sm-screen) {	
			.item {
				flex-basis: 70vw;
			}
		}
		
		.person {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			gap: var(--module-big-gap);
		}
		
		.position {
			margin: 0;
		}
		
		img {
			width: 60px;
			height: 60px;
			border-radius: 30px;
		}
	}
