{{ partial "e/sass.scss" . }}

	.cl-body-h1hero--title {
		top: var(--menubar-height);
		z-index: 100;
		display: flex;
		justify-content: center;
		padding: 1em;
		text-align: center;
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
	
	.cl-body-h1hero--hero {
		height: var(--hero-height);
		width: calc(100% - 0.001px);
		max-width: var(--page-max-width);
		
		img {
			@include img-back;
		}
		
		h1 {
			position: sticky;
			top: var(--menubar-height);
			z-index: 100;
			display: flex;
			justify-content: center;
			padding: 1em;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.4);	
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
