{{ partial "e/sass.scss" . }}

	.cl-body-countrylist {
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}

		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: var(--gap);
		}
		
		li {
			list-style: none; /* remove bullet when used on li */
		}
		
	}
