{{ partial "e/sass.scss" . }}

	.cl-bodylazy-testimonials {
		@include flex-row($gap: "big", $wrap: "nowrap", $align-row-v: flex-start);
		@include scroll-h;
		@include width-parent-full;
		padding-bottom: 2.0em;
		@media (max-width: $gl-sm-screen) {
			.cl-testimonials {
				padding-bottom: 1.0em;
			}
		}
		
		.item {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 30vw;
			@media (max-width: $gl-sm-screen) {	
				flex-basis: 70vw;
			}
		}
		.item:first-child {
			margin-left: 2vw;
		} 
		.item:last-child {
			margin-right: 2vw;
		}		
		
		.person {
			@include flex-row($gap: "big", $wrap: "nowrap", $align-h: flex-start);
		}
		
		.position {
			margin: 0;
		}
		
		img {
			@include img-circle(60px);
		}
		
		{{ partial "e/scheme.scss" "cl-bodylazy-testimonials" }}
	}
