{{ partial "e/sass.scss" . }}

	.cl-bodylazy-location {
		@include margins("gap", "none");
		display: flex;
		flex-direction: column;
		height: calc( var(--module-height) * 1vw ); /* defines the fixed height of the module */
		overflow: hidden;
		background-color: none;
		
		img {
			position: absolute;
			height: calc( var(--module-height) * 1vw );
			width: 100%;
			max-width: var(--page-max-width);
			object-fit: cover;
		}
		
		h2 {
			position: relative; /* enable z-index to have text layered on top of img */
			margin: 2em 2em 0em 2em;
			text-align: center;
		}
		
		p {
			position: relative; /* enable z-index to have text layered on top of img */
			margin: 1em 2em 2em 2em;
			text-align: center;
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
