{{ partial "e/sass.scss" . }}

	.cl-body-side-main {
		@include margins("medium", "normal");
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: flex-start;
		gap: var(--module-big-gap);
		@media (max-width: $gl-sm-screen) {
			flex-direction: column-reverse;
		}
		
		.side {
			@include firstlastchildnomargin;
			width: calc( 33% - var(--module-big-gap) * 2 );
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}
			
			img {
				@include img-resp;
			}
			
			h2 {
				margin: 1rem 1rem 0.5rem 1rem;
			}
			
			li {
				margin: 1rem 0;
			}
			
			p {
				margin: 1rem;
			}
			
			ul {
				list-style: none;
				padding-left: 0; /* remove left space on lists */
				margin: 0.5rem 1rem 1rem 1rem;
			}
			
			{{ partial "e/colorscheme.scss" "body-side-main--side" }};
			{{ partial "e/fontscheme.scss" "body-side-main--side" }};
		}
		
		.main {
			@include firstlastchildnomargin;
			width: 100%;
			
			{{ partial "e/colorscheme.scss" "body-side-main--main" }};
			{{ partial "e/fontscheme.scss" "body-side-main--main" }};
		}
		
		.side + .main {
			width: calc( 67% - var(--module-big-gap) / 2 );	/* reduce main content width when there is a sidebar */
			@media (max-width: $gl-sm-screen) {
				width: 100%; /* set main content width to 100% on ts screens */
			}
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
	