{{ partial "e/sass.scss" . }}

	.cl-bodylazy-location {
		@include color-scheme({{ . }});
		@include font-scheme({{ . }});

		display: flex;
		flex-direction: column;
		height: calc( var(--module-height) * 1vw ); /* defines the fixed height of the module */
		width: calc(100%);
		max-height: calc( var(--page-max-width) / 100 * var(--module-height) );
		max-width: var(--page-max-width);
		overflow: hidden;
		background-color: none;
		
		img {
			position: absolute;
			height: calc( var(--module-height) * 1vw );
			width: 100%;
			max-width: var(--page-max-width);
			object-fit: cover;
		}
		
		h2 {
			position: relative; /* enable z-index to have text layered on top of img */
			margin: 2em 2em 0em 2em;
			text-align: center;
		}
		
		p {
			position: relative; /* enable z-index to have text layered on top of img */
			margin: 1em 2em 2em 2em;
			text-align: center;
		}
	}