@import "_sassmix";

.cl-body-location {
	display: flex;
	flex-direction: column;
	height: calc( var(--module-height) * 1vw ); /* defines the fixed height of the module */
	width: calc(100% - 0.001px);
	max-height: calc( var(--page-max-width) / 100 * var(--module-height) );
	max-width: var(--page-max-width);
	overflow: hidden;

	img {
		position: absolute;
		z-index: -100;
		height: var(--hero-height);
		width: 100%;
		max-width: var(--page-max-width);
		object-fit: cover;
	}

	h2 {
		margin: 2em 2em 0em 2em;
		text-align: center;
		color: white;
	}
	
	p {
		margin: 1em 2em 2em 2em;
		text-align: center;
		color: white;
	}

}