{{ partial "e/sass.scss" . }}

	.cl-bodybottom-footer {
		margin: 0;
		padding: var(--content-space-v) 0;
		
		a {
			@include a-underline-none;
		}
		
		nav {
			@include margins($vertical: "medium", $horizontal: "normal");
			
			.categories {
				@include flex-row($gap: "gap", $wrap: "wrap");
				@include ul-list-style-none;
				
				> li {
					@include width-column(4);
					@include width-column-sm-screen(2);
					line-height: 1.6em;
					@media (max-width: $gl-sm-screen) {
						@include width-column(2);
					}
				}
			}
			
			.items {
				
				> ul {
					@include ul-list-style-none;
				}
			}
		}
		
		.text {
			@include margins($vertical: "medium", $horizontal: "normal");
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/textscheme.scss" . }}
	}
