{{ partial "e/sass.scss" . }}

	.cl-body-herorevolution {
		@include flex-column($align-column-h: center, $align-v: center);
		margin-top: 0;
		height: var(--hero-height);
		width: var(--hero-width);
		overflow: hidden;
		
		> h2 {
			text-align: center;
			margin-bottom: 0.5rem;
		}
		
		> img {
			@include img-back($z-index: -100);
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
