{{ partial "_e/sass.scss" . }}

	.cl-main-h1home {
		@include width-parent-full();
		
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 1em;
		padding-left: 1em;
		padding-right: 1em;
		
		{{ partial "_e/scheme.scss" ".cl-main-h1home" }}
	}
