{{ partial "_e/sass.scss" . }}

	.cl-shortcode-training-info {
		/* 
			note: to have all items have the same height on a given row,
			use stretch in the flex-parent definition.
		*/
		flex-grow: 0; /* do not grow horizontally */
		flex-shrink: 0; /* and do not shrink horizontally */
		overflow: hidden;
		
		ul {
			@include width-content();
			@include flex-column();
			padding-left: 0;
				
			li {
				@include width-content;
				@include flex-row();
				
				.key {
					@include width-column(5, 2);
				}
				
				.value {
					@include width-column(5, 3);
				}
			}
		}
		
		{{ partial "_e/scheme.scss" ".cl-shortcode-training-info" }}
	}
