{{ partial "e/sass.scss" . }}

	.cl-shortcode-agenda-item-collapsible {
		@include firstlastchildnomargin;
		text-align: center;
		
		h4 {
			margin-top: 1.5em;
			margin-bottom: 0.2em;
			text-align: center;
			color: var(--color-secondary);
			text-transform: uppercase;
			font-size: 1em;
		}
		
		p {
			margin-top: 0;
			margin-bottom: 1.5em;
		}
		
		/* below is css for agenda items that can be folded/unfolded */
		
		.item-checkbox {
			display: none;
		}
		
		.item-toggle {
			font-weight: 500;
			cursor: pointer;
			margin-top: 1em;
			
			img {
				display: inline-block; /* puts img on same line as toggle text */
			}
		}
		
		.item-collapsible-content {
			height: 0px;
			overflow: hidden;
			transition: max-height .25s ease-in-out;
		}
		
		.item-checkbox:checked + .item-toggle + .item-collapsible-content {
			height: auto;
		}
		
		{{ partial "e/scheme.scss" ".cl-shortcode-agenda-item-collapsible" }}
	}
