{{ partial "_e/sass.scss" . }}

	.cl-shortcode {
		/* used as common class for all shortcodes */
		/* it only contains helper classes to format shortcodes */
		
		/* width helper classes */
		&.width-content {
			@include width-content();
		}
		
		/* height helper classes */
		&.height-parent-full {
			@include height-parent-full();
		}
		&.height-hero {
			@include height-hero();
		}
		
		&.align-top {
			justify-content: flex-start;
		}
		&.align-middle {
			justify-content: center;
		}
		&.align-bottom {
			justify-content: flex-end;
		}
		
		&.align-items-center {
			align-items: center;
		}
		
		&.align-self-center {
			align-self: center;
		}
		
		/* corners helper classes */
		&.corners-round {
			border-radius: 5px;
		}
		&.corners-square {
			border-radius: 0;
		}
		
		/* margin helper classes */
		&.margin {
			margin: 48px;
		}
		&.margin-top {
			margin-top: 48px;
		}
		&.margin-bottom {
			margin-bottom: 48px;
		}
		&.margin-left {
			margin-left: 48px;
		}
		&.margin-right {
			margin-right: 48px;
		}
		&.margin-xs {
			margin: 12px;
		}
		&.margin-top-xs {
			margin-top: 12px;
		}
		&.margin-bottom-xs {
			margin-bottom: 12px;
		}
		&.margin-left-xs {
			margin-left: 12px;
		}
		&.margin-right-xs {
			margin-right: 12px;
		}
		&.margin-top-s {
			margin-top: 24px;
		}
		&.margin-bottom-s {
			margin-bottom: 24px;
		}
		&.margin-left-s {
			margin-left: 24px;
		}
		&.margin-right-s {
			margin-right: 24px;
		}
		&.margin-l {
			margin: 72px;
		}
		&.margin-top-l {
			margin-top: 72px;
		}
		&.margin-bottom-l {
			margin-bottom: 72px;
		}
		&.margin-left-l {
			margin-left: 72px;
		}
		&.margin-right-l {
			margin-right: 72px;
		}
		&.margin-xl {
			margin: 96px;
		}
		&.margin-top-xl {
			margin-top: 96px;
		}
		&.margin-bottom-xl {
			margin-bottom: 96px;
		}
		&.margin-left-xl {
			margin-left: 96px;
		}
		&.margin-right-xl {
			margin-right: 96px;
		}
		
		/* padding helper classes */
		&.padding {
			padding: 48px;
		}
		&.padding-top {
			padding-top: 48px;
		}
		&.padding-bottom {
			padding-bottom: 48px;
		}
		&.padding-left {
			padding-left: 48px;
		}
		&.padding-right {
			padding-right: 48px;
		}
		&.padding-xs {
			padding: 12px;
		}
		&.padding-top-xs {
			padding-top: 12px;
		}
		&.padding-bottom-xs {
			padding-bottom: 12px;
		}
		&.padding-left-xs {
			padding-left: 12px;
		}
		&.padding-right-xs {
			padding-right: 12px;
		}
		&.padding-s {
			padding: 24px;
		}
		&.padding-top-s {
			padding-top: 24px;
		}
		&.padding-bottom-s {
			padding-bottom: 24px;
		}
		&.padding-left-s {
			padding-left: 24px;
		}
		&.padding-right-s {
			padding-right: 24px;
		}
		&.padding-l {
			padding: 72px;
		}
		&.padding-top-l {
			padding-top: 72px;
		}
		&.padding-bottom-l {
			padding-bottom: 72px;
		}
		&.padding-left-l {
			padding-left: 72px;
		}
		&.padding-right-l {
			padding-right: 72px;
		}
		&.padding-xl {
			padding: 96px;
		}
		&.padding-top-xl {
			padding-top: 96px;
		}
		&.padding-bottom-xl {
			padding-bottom: 96px;
		}
		&.padding-left-xl {
			padding-left: 96px;
		}
		&.padding-right-xl {
			padding-right: 96px;
		}
		
		.text {
			@include margins($vertical: "none");
			
			/* helper classes for shortcodes */
			&.text-center {
				text-align: center;
			}
			&.text-left {
				text-align: left;
			}
			&.text-right {
				text-align: right;
			}
			&.text-top {
				justify-content: flex-start;
			}
			&.text-middle {
				justify-content: center;
			}
			&.text-bottom {
				justify-content: flex-end;
			}
			&.text-padding {
				padding: 1vw;
				@media (max-width: $gl-sm-screen) {
					padding: 2vw;
				}
			}
			&.text-padding-l {
				padding: 2vw;
				@media (max-width: $gl-sm-screen) {
					padding: 2vw;
				}
			}
		}
		
		{{ partial "_e/scheme.scss" ".cl-shortcode" }}
		
	}
