{{ partial "e/sass.scss" . }}

	.cl-sidebar {
		@include width-column(4,1);
		@include width-content-sm();
		@include margins($top: "medium");
		@include firstlastchildnomargin();
		@include flex-column($gap: "gap");
		flex-grow: 0; /* prevent sidebar from growing */
		flex-shrink:0; /* prevent sidebar from shrinking */
		
		@media (max-width: $gl-sm-screen) {
			margin-top: 0;
			margin-right: 0; /* remove space on small screens */
		}
		{{ partial "e/scheme.scss" ".cl-sidebar" }};
	}
