{{ partial "e/sass.scss" . }}

	:root {
		{{ partial "e/scheme.scss" "root" }};
	}

	* {
		/* use box-sizing as the default sizing model */
		box-sizing: border-box;
		scroll-margin-top: calc(var(--menubar-height) + 48px);
	}

	a {
		border-bottom: 1px dotted var(--color-border); /* use stylized dotted underline for links */
		transition: all .35s;
		color: inherit;
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		text-decoration: none; /* remove default underline */
		text-transform: inherit;
		
		{{- $tag := "a" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
		
	}
	a:hover,
	a:focus {
		color: var(--color-text-hover);
		
		transition: all .35s;
		
	}
	
	b {
		{{- $tag := "b" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	blockquote {
		@include firstlastchildnomargin();
		
		border-left: 4px solid var(--blockquote-color-border);
		margin-left: 0;
		margin-right: 0;
		
		{{- $tag := "blockquote" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	body {
		margin: 0 auto;
		padding-top: var(--menubar-height);
		width: var(--page-width);
		
		@media (min-width: $gl-lg-screen) {
			--page-width: var(--page-max-width);
		}
	}

	h1 {
		{{- $tag := "h1" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	h2 {
		{{- $tag := "h2" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	h3 {
		{{- $tag := "h3" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	h4 {
		{{- $tag := "h4" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	h5 {
		{{- $tag := "h5" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	img {
		@include img-responsive();
	}

	input {
		{{- $tag := "input" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	li {
		{{- $tag := "li" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	p {
		{{- $tag := "p" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	textarea {
		{{- $tag := "textarea" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	time {
		{{- $tag := "time" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	table {
		border: 1px solid var(--table-color-border);
		border-collapse: collapse;
		
		{{- $tag := "table" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	td {
		border: 1px solid var(--td-color-border);
		
		{{- $tag := "td" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	th {
		border: 1px solid var(--th-color-border);
		
		{{- $tag := "th" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	ul {
		list-style-type: var(--ul-list-style-type);
		list-style-position: var(--ul-list-style-position);
		text-indent: calc( var(--ul-list-indent) * -1 );
		
		{{- $tag := "ul" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	.cl-core--button-primary {
		@include a-underline-none();
		border: none;
		border-radius: 0.5em;
		display: inline-block;
		list-style: none; /* remove bullet when used on li */
		background-color: var(--color-back);
		
		&:hover {
			// transition: background-color .5s;
			color: var(--color-text-hover);
			cursor: pointer;
		}
		
		{{- $tag := ".cl-core--button-primary" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	.cl-core--button-secondary {
		@include a-underline-none();
		border: none;
		border-radius: 0.5em;
		display: inline-block;
		list-style: none; /* remove bullet when used on li */
		background-color: var(--color-back);
		
		&:hover {
			// transition: background-color .5s;
			color: var(--color-text-hover);
			cursor: pointer;
		}
		
		{{- $tag := ".cl-core--button-secondary" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	.cl-core--authorandtime {
		{{- $tag := ".cl-core--authorandtime" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	.cl-core--tags {
		@include flex-row($gap: 0.5em, $wrap: "wrap");
		@include ul-container();
		@include width-parent-full();
		
		{{- $tag := ".cl-core--tags" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}
	
	.cl-core--tag {
		background-color: var(--color-back);
		{{- $tag := ".cl-core--tag" -}}
		{{ partial "e/scheme.scss" (slice $tag $tag) }}
	}

	.cl-core--a-underline-none {
		/*
			Removes underline from hypertext links
			Alternatively, include the a-underline-none mixin in the css.
		*/
		@include a-underline-none();
	}
	
	/* content helper classes */
	.st-border {
		border: 1px solid var(--color-border);
	}
	
	.st-center {
		text-align: center;
	}
	
	.st-icon {
		width: 3em;
	}

	/*
		color scheme helper classes
		create bg-color-scheme classes from /data/colorschemes.yaml
		for example, a helper class ".bg-black" will be created for the color scheme named "black"
	*/
	{{ range $key, $value := site.Data.colorschemes }}
		{{ if strings.Contains $key "bg-" }}
			{{ $class := printf ".%s" $key }}
			{{ $class }} {
				{{ partial "e/colorscheme.scss" $key }}
			}
		{{ end }}
	{{ end }}
