{{ partial "e/sass.scss" . }}

	/* font families */
	a,
	body,
	input,
	p,
	textarea {
		@include font($gl-font-family, $gl-font-weight);
	}

	b,
	blockquote,
	strong {
		@include font($gl-font-family-b, $gl-font-weight-b);
	}
	
	h1,
	h2,
	h3,
	h4,
	h5 {
		@include font($gl-font-family-h, $gl-font-weight-h);
	}
	
	/* font sizes */
	a,
	blockquote,
	body,
	input,
	li,
	p,
	strong,
	textarea {
		@include font-scaling($gl-font-size);
	}
	
	h1 {
		@include font-scaling($gl-font-size-h1);
	}
	
	h2 {
		@include font-scaling($gl-font-size-h2);
	}
	
	h3 {
		@include font-scaling($gl-font-size-h3);
	}
	
	h4 {
		@include font-scaling($gl-font-size-h4);
	}
	
	h5 {
		@include font-scaling($gl-font-size-h5);
	}
	

	/* sizing model */
	* {
		box-sizing: border-box;
	}

	/* body default padding and size */
	body {
		scroll-padding-top: var(--menubar-height);
		padding-top: var(--page-padding-top);
		padding-right: var(--page-padding-right);
		padding-bottom: var(--page-padding-bottom);
		padding-left: var(--page-padding-left);
		max-width: {{ site.Params.layout.max_width }};
		margin: auto;
	}
	
	article,
	aside,
	div,
	section {
		scroll-margin-top: calc( var(--menubar-height) * 2 );
	}
	
	a {
		color: $gl-scheme-white-link;
		border-bottom: none;
		text-decoration: none;
		transition: all .35s;
	}
	
	a:hover,
	a:focus {
		color: $gl-scheme-white-link-hover;
		border-bottom: none;
		text-decoration: none;
		transition: all .35s;
	}

	a img {
		border: none;
	}
	
	a.imagelink {
		border: none;
		font-size: 0.1em;
	}
	
	h1 {
		line-height: 1.2em;
		margin: 0;
		margin-block-start: 0em;
		margin-block-end: 0em;
		text-transform: uppercase;
	}

	h2,
	h3,
	h4 {
		line-height: 1.2em;
		margin-block-start: 0;
		margin-block-end: 0;
		scroll-margin-top: calc(var(--menubar-height) + 48px);
	}

	img {
		@include img-resp;
	}	
	
	li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		text-align: left;
		
		a {
			border-bottom: dotted 1px $gl-scheme-white-link-hover;
		}
		
	}

	p {
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1.6em;
		
		a {
			border-bottom: dotted 1px $gl-scheme-white-link-hover;
			line-height: 1.6em;
		}
		
	}


	/* buttons */
	.cl-core--button-primary,
	.cl-core--button-secondary {
		@include font($gl-font-family-button, $gl-font-weight-button);
		text-transform: uppercase;
		list-style: none; /* remove bullet when used on li */
	}

	.cl-core--button-primary {
		margin: 0;
		padding: 1em 2em;
		display: inline-block;
		color: var(--color-button-primary) !important;
		background-color: var(--color-button-primary-bg);
		border: none;
		border-radius: 0.5em;
		text-align: center;
		max-width: 90vw;
	}
		
	/* use to create a secondary button */
	.cl-core--button-secondary {
		padding: 0;
		display: inline-block;
		color: var(--color-button-secondary) !important;
		background-color: var(--color-button-secondary-bg);
		border: none;
		border-radius: 0.5em;
	}
	
	.bg-primary .cl-core--button-secondary {
		/* use white text instead of blue if background is orange */
		color: white !important;
	}

	/* color scheme helper classes */
	.bg-black {
		@include scheme("black");
	}
	
	.bg-dark {
		@include scheme("dark");
	}
	
	.bg-light {
		@include scheme("light");
	}

	.bg-primary {	
		@include scheme("primary");
	}

	.bg-secondary {	
		@include scheme("secondary");
	}
	
	.bg-codingandbricks	{
		@include scheme("codingandbricks");
	}

	/* Style helper classes */
	.st-border {
		border: 1px solid #bbb;
	}

	.st-center {
		text-align: center;
	}
