{{ partial "e/sass.scss" . }}

	.cl-form {
		@include width-content-narrow();
		@include flex-column($gap: 20px, $align-column-h: center);
		
		.field {
			display: block;
			margin: 0;
			padding: 6px 12px;
			width: 100%;
			font-size: 0.8em;
			line-height: 1.42857143;
			border: 1px solid var(--color-form-border);
			background-color: var(--color-form-back);
			border-radius: 4px;
			box-shadow: none;
			color: var(--color-form-text);
			-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		
		.field:focus {
			/* highlight active field border */
			border-color: var(--color-form-border-focus);
			outline: 0;
		}
		
		input.field {
			height: 34px;
		}
		
		textarea.field {
			height: 200px;
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/textscheme.scss" . }}
	}
