{{ partial "e/sass.scss" . }}

$form-scheme: "white";

	.cl-form {
		@include margins("none", "narrow");
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		
		.field {
			@include scheme-form($form-scheme);
			display: block;
			margin: 0;
			padding: 6px 12px;
			width: 100%;
			font-size: 0.8em;
			line-height: 1.42857143;
			border-radius: 4px;
			box-shadow: none;
			-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			box-sizing: border-box;
		}
		
		.field:focus {
			/* highlight active field border */
			border-color: var(--color-primary);
			outline: 0;
		}
		
		input.field {
			height: 34px;
		}
		
		textarea.field {
			height: 200px;
		}
	}
