{{ partial "e/sass.scss" . }}

	.cl-listtaxonomy {
		
		h2 {
			text-align: center;
			text-transform: uppercase;
		}
		
		/* list of pages matching taxonomy term */
		ul {
			@include flex-row($gap: "big", $wrap: "wrap", $align-h: center);
			@include ul-container();
		}
		
		/* page matching taxonomy term */
		li {
			@include width-column(3);
			@include width-column-sm(1);
			
			img { 
				height: 16vw;
				max-height: 250px;
				width: 100%;
				object-fit: cover;
				border-radius: 0.5vw;
				
				@media (max-width: $gl-sm-screen) {
					height: 50vw;
					border-radius: 1.5vw;
				}
			}
		}
		
		{{ partial "e/scheme.scss" ".cl-article-listtaxonomy" }}
	}
