{{ partial "e/sass.scss" . }}

	.cl-list-link-picture2-text1 {
		display: flex;
		flex-direction: row;
		gap: var(--module-big-gap);
		margin-top: 3em;
		margin-bottom: 3em;
		width: 100%;
		@media (max-width: $gl-sm-screen) {
			flex-direction: column;
		}
		
		.text {
			width: 34%;
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}	
			
			> :first-child {
				margin-top: 0;
			}
			> :last-child {
				margin-bottom: 0;
			}	
		}
		
		.picture {
			width: calc( 66% - var(--module-big-gap) );
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}
			
			img {
				/* NOT > img because it should apply to all img within the class */
				display: block; /* prevent line height from being added to div height */
				margin: 0;
				padding: 0;
				width: 100%;
				object-fit: contain;
			}
			
		}	
	}
