{{ partial "e/sass.scss" . }}

	.cl-list-link-picture2-text1 {
		@include flex-row($gap: "big", $wrap: "nowrap");
		@include width-full;
		margin-top: 3em;
		margin-bottom: 3em;
		@media (max-width: $gl-sm-screen) {
			flex-direction: column;
		}
		
		.text {
			@include firstlastchildnomargin;
			@include width-onethird;
			@include width-full-sm-screen;
			@media (max-width: $gl-sm-screen) {
				margin-top: 1em; /* add space between img and text on sm screens */
			}
		}
		
		.picture {
			@include width-twothirds;
			@include width-full-sm-screen;
			
			img {
				@include img-contain;
			}
			
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/textscheme.scss" . }}
	}
