{{ partial "e/sass.scss" . }}

	.cl-main-contenthome {
		@include margins("medium", "normal");
		padding: 0;
		text-align: center;
		color: var(--color-text-muted);
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
