{{ partial "e/sass.scss" . }}

	.cl-main-content {
		@include firstlastchildnomargin;
		
		>p img {
			margin-top: var(--margin-top);
			margin-bottom: var(--margin-bottom);
		}
		
		/*
			TODO: adapt so it can be themed like other tags
			but it is not used at all right now, so low priority
		 */
		> table {
			border: 1px solid var(--color-border);
			border-collapse: collapse;
			
			> thead {
				border: none;
			}
			
			> td {
				padding: 1em;
				width: auto;
				border: 1px solid var(--color-border);
			}
			
			> th {
				padding: 1em;
				width: auto;
				min-width: 120px; /* small columns will have the same size */
				border: 1px solid var(--color-border);
				text-align: center;
				@media (max-width: $gl-sm-screen) {
					min-width: 50px;
				}
			}
		}
		

		{{ partial "e/scheme.scss" . }}
	}
