{{ partial "e/sass.scss" . }}

	.cl-main-listnews {
		--file: "main-listnews.scss";
		
		.cl-tags {
			@include flex-row($gap: 0.5em, $wrap: "wrap");
			@include ul-container();
			@include width-parent-full();
			margin-top: 1em;
			margin-bottom: 1em;
			
			li {
				margin: 0;
				padding: 0.25em 0.5em;
				
				a {
					border-bottom: none;
				}
			}
			
			{{ partial "e/scheme.scss" "tags" }}
		}
		
		{{ partial "e/scheme.scss" . }}
	}
