{{ partial "e/sass.scss" . }}

	.cl-main-listteam {
		@include width-content();
		@include margins($vertical: "none");
		@include flex-row($gap: "big", $wrap: "wrap", $align-h: center);
		
		.teammember {
			@include width-column(3); /* display team members in 3 columns... */
			@include width-column-sm(1); /* ...and only 1 column on small screens */
			
			.content {
				@include margins($vertical: "short");
				@include flex-column($align-column-h: center); /* easiest way to center content is to use a flex column */
				
				img {
					@include img-circle(6rem);
					border: 3px solid white;
					transition: all .35s;
					filter: grayscale(100%);
				}
				img:hover {
					border: 3px solid var(--color-primary);
					filter: grayscale(0%);
				}
					
				p {
					color: var(--color-text-muted);
				}
			}
		}
		
		{{ partial "e/scheme.scss" . }}
	}
