{{ partial "e/sass.scss" . }}

	.cl-main-listteam {
		@include margins($vertical: "medium", $horizontal: "normal");
		@include flex-row($gap: "big", $wrap: "wrap", $align-h: center);
		
		.teammember {
			@include width-column(3);
			@include width-column-sm(1);
			
			.content {
				@include flex-column($align-column-h: center);
				
				@media (max-width: $gl-sm-screen) {
					@include width-parent-full;
				}
				
				img {
					@include img-circle(6rem);
					border: 3px solid white;
					transition: all .35s;
					filter: grayscale(100%);
				}
				img:hover {
					border: 3px solid var(--color-primary);
					filter: grayscale(0%);
				}
					
				p {
					color: var(--color-text-muted);
				}
			}
		}
		
		{{ partial "e/scheme.scss" . }}
	}
