{{ partial "e/sass.scss" . }}

	.cl-main-listrevolution {
		@include margins("medium", "normal");
		
		/* list of episodes */
		ul {
			@include flex-row($gap: "gap", $wrap: "wrap");
			list-style: none;
			padding: 0;
		}
		
		/* episode */
		li {	
			@include columns(3);
			height: 100%;
			margin-bottom: 2rem;
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}
		}
		
		/* episode thumb */
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/fontscheme.scss" . }}
	}
