@import "_sassmix";



.cl-listteam {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 1em;
	row-gap: 2em;
}

.cl-listteam--teammember {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc( ( 100% - 2 * 1em ) / 3 - 0.001px );
	
	@media (max-width: $sm-screen) {
		width: 100%;
	}
	
	img {
		width: 100px !important;
		height: 100px !important;
		border: 3px solid white;
		border-radius: 50%;
		transition: all .35s;
		filter: grayscale(100%);
	}
	img:hover {
		border: 3px solid var(--color-primary);
		filter: grayscale(0%);
	}
		
	h2 {
		font-size: 1em;
		margin: 4px 0;
	}
		
	p {
		font-size: 0.75em;
		margin: 0;
		color: #aaa;
	}
}
