{{ partial "e/sass.scss" . }}

	.cl-main-prevnext {
		@include color-scheme({{ . }});
		@include font-scheme({{ . }});
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		padding: 0;
		list-style: none;
	}