{{ partial "e/sass.scss" . }}

	.cl-main-listreferences {
		
		.reference {
			@include margins($vertical: "medium", $horizontal: "normal");
			@include flex-row($gap: "big", $wrap: "wrap", $align-row-v: flex-start);
			
			.logo {
				@include width-column(5);
				@media (max-width: $gl-sm-screen) {
					width: 33%;
				}
				
				img {
					border: 1px solid var(--color-border);
				}
			}
			
			.thumb {
				@include width-column(5);
				@include width-full-sm-screen;
				
				img {
					@include img-contain;
				}
			}
			
			.text {
				@include width-column(5, 4);
				@include width-full-sm-screen;
				
				> :first-child {
					margin-top: 0;
				}
			}
		}
		
		{{ partial "e/scheme.scss" "cl-main-listreferences--references" }}
	}
