{{ partial "e/sass.scss" . }}

	.cl-main-contenthome {
		@include color-scheme({{ . }});
		@include font-scheme({{ . }});
		@include margins("medium", "normal");
		
		padding: 0;
		text-align: center;
		
		p {
			color: var(--color-text-muted);
		}
	}
