{{ partial "e/sass.scss" . }}

	.cl-modules {
		@include flex-row($gap: "gap", $wrap: "wrap");
		@include width-full;
		margin: var(--row-gap) 0;
		padding: 0 var(--column-gap);
		@media (max-width: $gl-sm-screen) {
			padding: 0; /* to remove gap left and right */
		}
		
		{{ partial "e/colorscheme.scss" . }}
		{{ partial "e/textscheme.scss" . }}
	}
	
	/* half-width module div, text on top, image bottom */
	.cl-modules--half {
		@include flex-column;
		@include height-module;
		@include width-column(2);
		@include width-full-sm-screen();
		
		/* use to create inner div with text on top */
		.text {
			@include text-front;
			@include text-padding;
			@include height-half;
			@include width-full;
			text-align: center;
		}
		
		/* use to create inner div with image on bottom */
		.image {
			@include height-half;
			@include width-full;
			
			img {
				@include img-contain;
				object-position: 50% 100%; /* anchor on bottom, horizontal center */
				@media (max-width: $gl-sm-screen) {
					object-fit: cover; /* use cover instead of contain on ts screens */
				}
			}
		}
	}
	
	/* full-width module div, text on top, image bottom */
	.cl-modules--column {
		@include flex-column;
		@include height-module;
		@include width-full;
		
		/* use to create inner div with text on top */
		.text {
			@include text-front;
			@include text-padding;
			@include height-half;
			@include width-full;
			text-align: center;
		}
		
		/* use to create inner div with image on bottom */
		.image {
			@include height-half;
			@include width-full;
			
			img {	
				@include img-contain;
				object-position: 50% 100%; /* anchor on bottom, horizontal center */
				@media (max-width: $gl-sm-screen) {
					@include img-cover;
				}
			}
		}		
	}
	
	/* full-width module div, image left, text right */
	.cl-modules--row {
		@include flex-row;
		@include height-module;
		@include width-full;
		@media (max-width: $gl-sm-screen) {
			flex-direction: column-reverse; /* create column with pic on bottom, text on top */
			justify-content: space-between;
		}
		
		/* div containing pic on left */
		.image {
			@include height-full;
			@include width-twothirds;
			@include height-half-sm-screen;
			@include width-full-sm-screen;
			
			img {
				@include img-cover;
				object-position: 100% 50%; /* anchor on right edge (100%), vertical center */
			}
		}
		
		/* div containing text on right */
		.text {
			@include text-front;
			@include text-padding;
			@include flex-column($align-v: center);
			@include height-full;
			@include width-onethird;
			@include height-half-sm-screen;
			@include width-full-sm-screen;
			@media (max-width: $gl-sm-screen) {
				@include flex-column($align-v: flex-start, $align-column-h: center);
				text-align: center;
			}
		}
	}
