{{ partial "e/sass.scss" . }}

	@mixin modulebase($width: "full") {
		height: calc( var(--module-height) * 1vw ); /* defines the fixed height of the module */
		max-height: calc( var(--page-max-width) / 100 * var(--module-height) );
		display: flex;
		overflow: hidden;
		@media (max-width: $gl-sm-screen) {	
			width: 100%;
		}
			
		@if "half" == $width {
			width: calc( ( 100% - var(--module-column-gap) ) / 2 - 0.001px ); /* -0.001px to avoid rounding errors in FFox */
			max-width: calc( ( var(--page-max-width) - var(--module-column-gap) ) / 2 - 0.001px);
		}
		@else {
			width: calc(100% - 0.001px);
			max-width: var(--page-max-width);
		}
	}
	
	@mixin image {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	
	@mixin text($height: 100%, $width: 100%) {
		position: relative;	/* enables z-index */
		z-index: 10; /* if text overflows, it will go over picture below */
		padding: 2em;
		height: $height;
		width: $width;		
		@media (max-width: $gl-sm-screen) {
			height: 50%;
			width: 100%;
			text-align: center;
		}	
	}
	
	.cl-modules {
		@include color-scheme({{ . }});
		@include font-scheme({{ . }});

		width: calc(100% - 0.001px);
		display: flex;
		flex-direction: row; /* to display half modules side by side */
		flex-wrap: wrap; /* to create additional rows if necessary */
		margin: var(--module-row-gap) 0;
		padding: 0 var(--module-column-gap);
		gap: var(--module-row-gap) var(--module-column-gap);
		@media (max-width: $gl-sm-screen) {
			padding: 0; /* to remove gap left and right */
		}
		
		h3 {
			margin-top: 0;
		}
	}
	
	/* half-width module div, text on top, image bottom */
	.cl-modules--half {
		@include modulebase("half");
		flex-direction: column;
		
		/* use to create inner div with text on top */
		.text {
			@include text(50%, 100%);
			text-align: center;
		}
		
		/* use to create inner div with image on bottom */
		.image {
			height: 50%; /* without this, image size can overflow from module */
			width: 100%;
			
			img {	
				@include image;
				object-fit: contain; /* image is never distorted, crop if necessary */
				object-position: 50% 100%; /* anchor on bottom, horizontal center */
				@media (max-width: $gl-sm-screen) {
					object-fit: cover; /* use cover instead of contain on ts screens */
				}
			}
		}
	}
	
	/* full-width module div, text on top, image bottom */
	.cl-modules--column {
		@include modulebase("full");
		flex-direction: column;
		
		/* use to create inner div with text on top */
		.text {
			@include text(50%, 100%);
			text-align: center;
		}
		
		/* use to create inner div with image on bottom */
		.image {
			height: 50%; /* without this, image size can overflow from module */
			width: 100%;
			
			img {	
				@include image;
				object-fit: contain; /* image is never distorted, crop if necessary */
				object-position: 50% 100%; /* anchor on bottom, horizontal center */
				@media (max-width: $gl-sm-screen) {
					object-fit: cover; /* use cover instead of contain on ts screens */
				}
			}
		}		
	}
	
	/* full-width module div, image left, text right */
	.cl-modules--row {
		@include modulebase("full");
		flex-direction: row;
		@media (max-width: $gl-sm-screen) {	
			flex-direction: column-reverse;
			justify-content: space-between;
		}
			
		/* div containing pic on left */
		.image {
			height: 100%;
			width: 64%;
			@media (max-width: $gl-sm-screen) {
				height: 50%;
				width: 100%;
			}
		
			img {
				@include image;
				object-fit: cover;
				object-position: 100% 50%; /* anchor on right edge (100%), vertical center */
			}
		}
		
		/* div containing text on right */
		.text {
			@include text(100%, 36%);
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
