{{ partial "e/sass.scss" . }}

	/*
		fastsearch class
		It's so small it could be integrated in the core file,
		but it's kept here to show how to use more.scss
		for non-critical css.
	*/
	.cl-more--fastsearch {
		
		input {
			display: inline-block;
			padding: 0.5em 0.5em;
			font-size: 0.8em;
			text-align: left;
			background-color: var(--color-search-input-back);
			color: var(--color-search-input-text);
			border-radius: 3px 3px 3px 3px;
			border: none;
			outline: none;
			width: 100%;
			min-width: 256px;
		}
		
		.results {
			list-style: none;
			padding: 0;
		}
		
		.results-description {
			/* text of search result */
			font-size: 0.8em;
			font-weight: normal;
			text-align: left;
			text-transform: none;
			border: 0;
		}
		
		.results-title {
			/* title of search result */
			display: inline-block;
			text-align: left;
		}
		
		{{ partial "e/colorscheme.scss" "more--fastsearch" }}
		{{ partial "e/textscheme.scss" "more-fastsearch" }}
	}
