{{ partial "e/sass.scss" . }}

$referencesgrid-scheme: "white" !default;

	.cl-referencesgrid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--module-column-gap);
		margin: var(--module-column-gap);
		
		img {
			@include scheme-img-border($referencesgrid-scheme);
			height: auto;
			width: calc( ( 100% - 5 * var(--module-column-gap) ) / 6 - 0.001px );
			@media (max-width: $gl-sm-screen) {
				width: calc( ( 100% - 2 * var(--module-column-gap) ) / 3 - 0.001px );
			}
		}
	}
