{{ partial "e/sass.scss" . }}

	.cl-shortcode-item-text {
		/* 
			note: to have all items have the same height on a given row,
			use stretch in the flex-parent definition.
		*/
		@include flex-column($align-column-h: center, $align-v: center);
		flex-grow: 0; /* do not grow horizontally */
		flex-shrink: 0; /* and do not shrink horizontally */
		border-radius: 5px;
		margin: 0;
		padding: 4vw;
		overflow: hidden;
		
		/* text container containing title, description and button of item */
		flex-grow: 1; /* take all available vertical space in parent */
		text-align: center;
		
		h1 {
			font-size: 4em;
			margin: 0;
		}
		
		h2 {
			margin-bottom: 0.5em;
		}
		
		p {
			margin: 0;
		}
		
		&.middle {
			@include flex-column($align-column-h: center, $align-v: center);
		}
		
		&.top {
			@include flex-column($align-column-h: center, $align-v: flex-start);
		}
		
		&.bottom {
			@include flex-column($align-column-h: center, $align-v: flex-end);
		}
		
	}
