{{ partial "e/sass.scss" . }}
/*
	youtube shortcode css
	this file is not used.
	It is kept for reference as the css is inlined in the shortcode.
*/

	.cl-shortcode-youtube {
		
		.placeholder {
			position: relative;
			padding-bottom: 56.25%; /* trick for 16:9 ratio */
			height: 0;
			
			img {
				margin-top: 0;
				margin-bottom: 0;
				position: absolute; /* layer */
				z-index: 100;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			
			.icon {
				position: absolute; /* layer on top of img */
				z-index:105;
				top:40%;
				left:45%;
				width:10%;
				height: auto;
			}
		}
		
		.video {
			position: absolute;
			z-index: 110;
			width: 100%;
			height: 0;
			padding-bottom: 56.25%; /* 16:9 */
			
			.videocontainer {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}	
		}
		
		{{ partial "e/scheme.scss" "cl-shortcode-youtube" }}
	}