{{ partial "e/sass.scss" . }}

	.cl-shortcode-list-pict {
		/* 
			note: to have all items have the same height on a given row,
			use stretch in the flex-parent definition.
		*/
		flex-grow: 0; /* do not grow horizontally */
		flex-shrink: 0; /* and do not shrink horizontally */
		margin: 0;
		padding: 0;
		border-radius: 5px;
		overflow: hidden;
		
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			@media (max-width: $gl-sm-screen) {
				/* 2025-08-20: PMO delete height: 40vw */
				/* height: 40vw; */
			}
		}
		
		{{ partial "e/scheme.scss" ".cl-shortcode-list-pict" }}
	}
