{{ partial "e/sass.scss" . }}
@import "_shortcode";

	.cl-shortcode--text-centered {
		margin: 2vw auto;
		padding: 0;
		text-align: center;
		@media (max-width: $gl-sm-screen) {
			margin: 8vw;
		}
	}
	