{{ partial "e/sass.scss" . }}

	.cl-shortcode-section-hero {
		@include height-hero();
		@include width-parent-full();
		@include layer-img-overlay-text();
		min-height: 50vw;
		
		img {
			min-height: 50vw;
		}
		
		.overlay {
			min-height: 50vw;
		}
		
		.text {
			text-align: center;
		}
		
		{{ partial "e/scheme.scss" ".cl-shortcode-section-hero" }}
	}
