@import "_sassmix";



/* agenda-list and agenda-item */

.cl-shortcode--agenda-list {
	text-align: center;
	
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}

	.item-title {
		margin-top: 1.5em;
		margin-bottom: 0.2em;
		text-align: center;
		color: var(--color-secondary);
		text-transform: uppercase;
		text-align: center;
		font-size: 1em;
	}
	
	.item-description {
		margin-top: 0;
		margin-bottom: 1.5em;
	}
		
	/* agenda items that can be folded/unfolded */
	
	.item-checkbox {
		display: none;
	}
	
	.item-toggle {
		font-weight: 500;
		cursor: pointer;
		margin-top: 1em;
		
		img {
			display: inline-block; /* puts img on same line as toggle text */
		}
	}
	
	.item-collapsible-content {
		height: 0px;
		overflow: hidden;
		transition: max-height .25s ease-in-out;
	}
	
	.item-checkbox:checked + .item-toggle + .item-collapsible-content {
		height: auto;
	}

}