{{ partial "e/sass.scss" . }}

	.cl-shortcode--text1-picture2 {
		@include two-columns(column-reverse);
		
		.text {
			@include firstlastchildnomargin;
			width: 34%;
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}			
		}
		
		img {
			margin: 0;
			width: calc( 66% - var(--module-big-gap) );
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}
		}
	}
