{{ partial "e/sass.scss" . }}

	.cl-shortcode-list-text {
		/* 
			note: to have all items have the same height on a given row,
			use stretch in the flex-parent definition.
		*/
		flex-grow: 0; /* do not grow horizontally */
		flex-shrink: 0; /* and do not shrink horizontally */
		margin: 0;
		padding: 0;
		border-radius: 5px;
		overflow: hidden;
		
		.text {
			@include flex-column($align-column-h: stretch, $align-v: center);
			padding: 1vw;
			
			h1 {
				font-size: 4em;
				margin: 0;
			}
			
			h2 {
				margin-bottom: 0.5em;
			}
			
			p {
				margin: 0;
			}
		}
	}
