{{ partial "e/sass.scss" . }}

	.cl-shortcode--gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		img {
			height: auto;
			width: 33.333%;
			@media (max-width: $gl-sm-screen) {
				width: 50%;
			}
		}
	}
