{{ partial "e/sass.scss" . }}

	.cl-shortcode-list-card {
		/* 
			note: to have all items have the same height on a given row,
			use stretch in the flex-parent definition.
		*/
		flex-grow: 0; /* do not grow horizontally */
		flex-shrink: 0; /* and do not shrink horizontally */
		margin: 0;
		padding: 0;
		border-radius: 5px;
		overflow: hidden;
		
		/* text container containing title, description and button of item */
		.text {
			@include flex-column($align-column-h: stretch, $align-v: space-between);
			margin: 0;
			padding: 1vw;
			height: calc( 100% - 15vw ); /* full container height minus picture height */
			
			@media (max-width: $gl-sm-screen) {
				height: calc( 100% - 40vw );
				min-height: 45vw;
			}
		}
		
		img {
			height: 15vw;
			width: 100%;
			object-fit: cover;
			@media (max-width: $gl-sm-screen) {
				height: 40vw;
			}
		}
		
		{{ partial "e/scheme.scss" "cl-shortcode-list-card" }}
	}
