{{ partial "e/sass.scss" . }}

	/* used as common class for all shortcodes */
	.cl-shortcode {
		@include firstlastchildnomargin;
		
		margin: 0 -2vw;
		padding: 2vw;
		@media (max-width: $gl-sm-screen) {
			margin: 0 -4vw;
			padding: 4vw;
		}
		
	}
