@import "_sassmix";



/* image-wide shortcode */
	.cl-shortcode--image-wide {
		margin: 0 -2vw;
		padding: 0;
		@media (max-width: $sm-screen) {	
			margin: 0 -4vw;
			padding: 0;
		}
		
		> img {
		width: 100%; /* make image full width of container */
		display: block; /* prevent line height from being added to div height */
		}
	}
