{{ partial "e/sass.scss" . }}

	.cl-shortcode--image-wide {
		padding: 0;
		@media (max-width: $gl-sm-screen) {	
			padding: 0;
		}
		
		img {
			width: 100%; /* make image full width of container */
		}
		
		{{ partial "e/colorscheme.scss" . }}
		{{ partial "e/fontscheme.scss" . }}
	}
