{{ partial "e/sass.scss" . }}

	.cl-shortcode-img1-text2 {
		@include flex-row($gap: "gap");
		@include flex-column-sm(column);
		
		.text {
			@include firstlastchildnomargin;
			@include width-column(3,2);
			@include width-parent-full-sm;
		}
		
		img {
			@include width-column(3);
			@include width-parent-full-sm;
		}
		
		{{ partial "e/scheme.scss" ".cl-shortcode-img1-text2" }}
	}
