{{ partial "e/sass.scss" . }}

	/* used as common class for all shortcodes */
	/* it only contains helper classes to format shortcodes */
	.cl-shortcode {
		
		/* width helper classes */
		&.width-content {
			@include width-content();
		}
		
		/* height helper classes */
		&.height-parent-full {
			@include height-parent-full();
		}
		&.height-hero {
			@include height-hero();
		}
		
		&.align-top {
			justify-content: flex-start;
		}
		&.align-middle {
			justify-content: center;
		}
		&.align-bottom {
			justify-content: flex-end;
		}
		
		/* corners helper classes */
		&.corners-round {
			border-radius: 5px;
		}
		&.corners-square {
			border-radius: 0;
		}
		
		/* margin helper classes */
		&.margin {
			margin: 48px;
		}
		&.margin-top {
			margin-top: 48px;
		}
		&.margin-bottom {
			margin-bottom: 48px;
		}
		&.margin-left {
			margin-left: 48px;
		}
		&.margin-right {
			margin-right: 48px;
		}
		&.margin-sm {
			margin: 24px;
		}
		&.margin-sm-top {
			margin-top: 24px;
		}
		&.margin-sm-bottom {
			margin-bottom: 24px;
		}
		&.margin-sm-left {
			margin-left: 24px;
		}
		&.margin-sm-right {
			margin-right: 24px;
		}
		&.margin-lg {
			margin: 72px;
		}
		&.margin-lg-top {
			margin-top: 72px;
		}
		&.margin-lg-bottom {
			margin-bottom: 72px;
		}
		&.margin-lg-left {
			margin-left: 72px;
		}
		&.margin-lg-right {
			margin-right: 72px;
		}
				
		/* padding helper classes */
		&.padding {
			padding: 48px;
		}
		&.padding-top {
			padding-top: 48px;
		}
		&.padding-bottom {
			padding-bottom: 48px;
		}
		&.padding-left {
			padding-left: 48px;
		}
		&.padding-right {
			padding-right: 48px;
		}
		&.padding-sm {
			padding: 24px;
		}
		&.padding-sm-top {
			padding-top: 24px;
		}
		&.padding-sm-bottom {
			padding-bottom: 24px;
		}
		&.padding-sm-left {
			padding-left: 24px;
		}
		&.padding-sm-right {
			padding-right: 24px;
		}
		&.padding-lg {
			padding: 72px;
		}
		&.padding-lg-top {
			padding-top: 72px;
		}
		&.padding-lg-bottom {
			padding-bottom: 72px;
		}
		&.padding-lg-left {
			padding-left: 72px;
		}
		&.padding-lg-right {
			padding-right: 72px;
		}
		
		.text {
			@include margins($vertical: "none");
			
			/* helper classes for shortcodes */
			&.text-center {
				text-align: center;
			}
			&.text-left {
				text-align: left;
			}
			&.text-right {
				text-align: right;
			}
			&.text-top {
				justify-content: flex-start;
			}
			&.text-middle {
				justify-content: center;
			}
			&.text-bottom {
				justify-content: flex-end;
			}
			&.text-padding {
				padding: 1vw;
				@media (max-width: $gl-sm-screen) {
					padding: 2vw;
				}
			}
		}
		
		{{ partial "e/scheme.scss" ".cl-shortcode" }}
		
	}

	/* 2025-08-19: PMO delete due to too many incompatibilities */
	/* add marging space between shortcode and non-shortcode elements e.g. a .cl-shortcode followed by a p */
/*
	.cl-shortcode + :not(.cl-shortcode),
	div.cl-shortcode-img + :not(div) {
	margin-top: 48px;
	}
*/
	/* add margin space between non-shortcode and shortcode elements e.g. a p followed by a .cl-shortcode */
/*
	:not(.cl-shortcode) + .cl-shortcode {
		margin-top: 48px;
	}
*/