{{ partial "e/sass.scss" . }}

	.cl-shortcode--gallery {
		@include flex-row($gap: "none", $wrap: "wrap");
		
		img {
			height: auto;
			width: 33.333%;
			@media (max-width: $gl-sm-screen) {
				width: 50%;
			}
		}
		
		{{ partial "e/colorscheme.scss" . }}
		{{ partial "e/fontscheme.scss" . }}
	}
