{{ partial "e/sass.scss" . }}

	.cl-shortcode--picture2-text1 {
		@include two-columns;
		
		.text {
			@include firstlastchildnomargin;
			width: 34%;
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}	
		}
		
		img {
			width: calc( 66% - var(--module-big-gap) );
			@media (max-width: $gl-sm-screen) {
				width: 100%;
			}
		}
	}
