{{ partial "e/sass.scss" . }}

	.cl-shortcode-fulltext {
		@include flex-column($align-column-h: center, $align-v: space-between);
		@include width-full();
		overflow: hidden;
		padding: 4vw;
		
		.text {
			flex-grow: 1; /* take all available vertical space in parent */
			
			h2 {
				margin-bottom: 0;
			}
			
			p {
				margin-top: 0.5em;
			}
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/textscheme.scss" . }}		
	}
