{{ partial "e/sass.scss" . }}

	.cl-shortcode-item-img {
		/* 
			note: to have all items have the same height on a given row,
			use stretch in the flex-parent definition.
		*/
		flex-grow: 0; /* do not grow horizontally */
		flex-shrink: 0; /* and do not shrink horizontally */
		margin: 0;
		
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			@media (max-width: $gl-sm-screen) {
				height: 40vw;
			}
		}
		
	}

