{{ partial "e/sass.scss" . }}

	.cl-shortcode--img {
		margin: 0 -2vw;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: $gl-sm-screen) {	
			margin: 0 -4vw;
			padding: 0;
		}
		
		> img {
			display: block; /* prevent line height from being added to div height */
		}
	}
