@import "_sassmix";



/* agenda-list and agenda-item */

.cl-shortcode--agenda-list {
	text-align: center;
	
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
}

.cl-shortcode--agenda-item {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
	
	.title {
		color: var(--color-secondary);
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
		text-align: center;		
	}
	
	.description {
		margin-top: 0;
		margin-bottom: 0;
	}
}



/* Agenda Collapsible Styling */

input[type='checkbox'] {
	display: none;
}
.cl-shortcode--agenda-item-toggle {
	display: block;  
	font-weight: 500;
	cursor: pointer;
	margin-top: 1em;
}
.cl-shortcode--agenda-item-collapsible {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}
.cl-shortcode--agenda-item-toggle:checked + .cl-shortcode--agenda-item-toggle + .cl-shortcode--agenda-item-collapsible {
	max-height: 100vh;
}
