{{ partial "e/sass.scss" . }}

	.cl-shortcode-fullbleed {
		@include flex-column($align-column-h: center, $align-v: space-between);
		@include height-hero();
		@include width-full();
		overflow: hidden;
		
		> img {
			@include img-back($z-index: -100);
			left: 0px;
		}
		
		{{ partial "e/colorscheme.scss" . }};
		{{ partial "e/textscheme.scss" . }}
	}

	.text {
		@include width-content();
		flex-grow: 1; /* take all available vertical space in parent */
		text-align: center;
		
		h1 {
			font-size: 3em;
			margin: 0;
		}
		
		p {
			margin: 0;
		}
		
		&.middle {
			@include flex-column($align-column-h: center, $align-v: center);
		}
		
		&.top {
			@include flex-column($align-column-h: center, $align-v: flex-start);
		}
		
		&.bottom {
			@include flex-column($align-column-h: center, $align-v: flex-end);
		}
	}
