{{ partial "e/sass.scss" . }}

	.cl-shortcode--icon-list {
		text-align: center;
		
		h3 {
			margin-bottom: 1.5em;
		}
		
		.items {
			@include flex-row($gap: "gap", $wrap: "nowrap", $align-row-v: flex-start, $align-h: center);
			@media (max-width: $gl-sm-screen) {
				flex-wrap: wrap;
			}
		}
	}
	
	.cl-shortcode--icon-item {
		@include flex-column;
		@include columns(3);
		align-items: center;
		
		a {
			border-bottom: none;
		}
		
		img {
			margin: 0;
			width: 5rem;
			height: 5rem;
		}
		
		p {
			margin-top: 0.5rem;
			margin-bottom: 0;
		}
	}
