@import "_sassmix";
@import "custom/_side";

$side-font-size: 0.8em !default;
$side-font-size-h2: 1em !default;
$side-font-size-li: 0.8em !default;



.cl-side {
	/* don't add padding to cl-side, because some elements need to take all the space in the sidebar */
	width: calc( 33% - var(--module-big-gap) * 2 );
	background-color: var(--color-lightgray);
	@media (max-width: $sm-screen) {
		width: 100%;
	}
	
	a {
		font-size: $side-font-size;
	}
	
	img {
		display: block;
		max-width: 100%; /* prevent overflow from container */
	}
	
	h2 {
		margin: 1em 1em 0.5em 1em;
		font-size: $side-font-size-h2;
	}
	
	li {
		font-size: $side-font-size-li;
	}

	p {
		margin: 1em;
		font-size: $side-font-size;
	}

	ul {
		list-style: none;
		padding-left: 0em; /* remove left space on lists */
		margin: 0.5em 1em 1em 1em;
	}
}
