@import "_sassmix";
@import "custom/_side";

$side-font-size: 0.8em !default;
$side-font-size-h2: 1em !default;
$side-font-size-li: 0.8em !default;



.cl-side {
	padding-top: 1em;
	width: calc( 33% - var(--module-big-gap) * 2 );
	background-color: var(--color-lightgray);
	@media (max-width: $sm-screen) {
		width: 100%;
	}

	> :first-child {
		margin-top: 0;
	}	
	> :last-child {
		margin-bottom: 0;
	}	
	
	a {
		font-size: $side-font-size;
	}
	
	img {
		display: block;
		max-width: 100%; /* prevent overflow from container */
	}
	
	h2 {
		margin: 0em 1em 0.5em 1em;
		font-size: $side-font-size-h2;
	}
	
	li {
		margin: 1em;
		font-size: $side-font-size-li;
	}

	p {
		margin: 1em;
		font-size: $side-font-size;
	}

	ul {
		list-style-type: none;
		padding-left: 0.2em; /* remove left space on lists */
		margin: 0;
		margin-bottom: 1em;
	}
}
