@import "_sassmix";

$tags-scheme: "light" !default;
$tags-font-size: 0.8em !default;
$tags-text-transform: uppercase !default;
$tags-link-border: none !default;
$tags-padding: 0.25em 0.5em !default;



.cl-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	
	li {
		@include scheme($tags-scheme);
		margin: 0;
		padding: $tags-padding;
		text-transform: $tags-text-transform;
	
		a {
			font-size: $tags-font-size;
			border-bottom: $tags-link-border;
		}
	}
}