{{ partial "e/sass.scss" . }}

	:root {
		
		/*
			menubar height
		*/
		--menubar-height: 52px;
		
		/* 
			page padding
		*/
		--page-padding-top: var(--menubar-height);
		--page-padding-right: 0px;
		--page-padding-bottom: 0px;
		--page-padding-left: 0px;
		--page-max-width: 1920px;
		
		/*
			content width
		*/
		--content-max-width: 1200px; /* "normal" content, "normal" margins */
		--content-max-width-narrow: 800px; /* "narrow" content, "wide" margins */
		--content-space-v: 48px; /* "normal" vertical space */
		
		/*
			hero height
		*/
		--hero-height:	60vh;
		
		/* 
			modules
		*/
		--module-height: 40; /* module height on normal screens, no unit but is inferred to be vw  */
		--module-column-gap: 12px; /* module column gap on normal screens */
		--module-row-gap: 12px; /* module row gap on normal screens */
		--module-big-gap: 24px;
		@media (max-width: $gl-sm-screen) {
			--module-height: 140; /* module height on small screens */
			--module-column-gap: 4vw; /* module column gap on small screens */
			--module-row-gap: 4vw;
			--module-big-gap: 4vw;
		}
		--module-5c-width: calc( ( 100% - var(--module-column-gap) * 4 ) / 5 - 0.001px ); /* width of 1/5th column */
		--module-12c-width: calc( ( 100% - var(--module-column-gap) * 11 ) / 12 - 0.001px ); /* width of 1/12th column */
		@media (max-width: $gl-sm-screen) {
			--module-5c-width: calc( ( 100% - var(--module-ts-column-gap) * 4 ) / 5 );
			--module-12c-width: calc( ( 100% - var(--module-ts-column-gap) * 11 ) / 12 );
		}
	}
