<section id="team-member-list" class="cl-content-listteam">
	{{- range .Pages.ByWeight -}}
		<div href="{{ .RelPermalink }}" class="teammember">
			<a href="{{ .RelPermalink }}" class="content cl-core--a-underline-none">
				{{- $width := "100px" -}}
				{{- $height := "100px" -}}
				{{- $img := add .RelPermalink "thumbnail.jpg" -}}
				{{- $alt := .Params.name -}}
				{{- $params := dict "img" $img   "alt" $alt   "width" $width   "height" $height -}}
				{{ partial "_e/img" $params }}
				<h2>
					{{ .Params.name }}
				</h2>
				<p>
					{{ .Params.position }}
				</p>
			</a>
		</div>
	{{- end -}}
</section>
