{{/* <!-- get page title as taxonomy term --> */}}
{{- $term := (.Title | lower) -}}

{{/* <!-- get pages matching the services taxonomy term --> */}}
{{- $pages := site.Taxonomies.services.Get $term -}}
{{- $pages = $pages.Pages -}}

{{/* <!-- set the secondary taxonomy grouping to skills --> */}}
{{- $subtaxonomy := "skills" -}}

{{/* <!-- build the params dictionary --> */}}
{{- $params := dict "pages" $pages   "subtaxonomy" $subtaxonomy -}}

{{ partial "_e/listtaxonomy-deduplicated" $params }}
