<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" property="og:author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
<meta name="title" property="og:title" content="{{ .Title }}">
<meta name ="url" property="og:url" content ="{{ .Permalink }}">
{{ if .Params.picture }}
	<meta name ="image" property="og:image" content="{{ partial "f/getpicturepath.go" . }}">
	<link rel="image_src" href="{{ partial "f/getpicturepath.go" . }}">
{{ end }}
{{ with .Params.mastodon }}
	<link rel="me" href="{{ . }}">
{{ end }}
{{ if eq .Params.ni true }}
	<meta name="robots" content="noindex">
{{ end }}

{{ with .Params.datacta }}
	{{ $data := index site.Data.cta . }}
	{{ if $data }}
		{{ $localizeddata := index $data site.LanguageCode }}
		{{ with $localizeddata }}
			{{ $picture := printf "img/cta/%s" .picture }}
			{{ $srcset := partial "f/getpicturesrcset.go" $picture }}
			<link rel="preload" as="image" href="{{ collections.Index $srcset 0 }}" imagessrcset="{{ collections.Index $srcset 1 }}">
		{{ end }}
	{{ end }}
{{ end }}
