{{ "<!-- Core CSS -->" | safeHTML }}
<style type="text/css">
	{{- $variables := resources.Get "css/variables.scss" | resources.ExecuteAsTemplate "variables.css" . | toCSS | resources.Minify -}}
	{{- $variables.Content | safeCSS -}}
	{{- $core := resources.Get "css/core.scss" | resources.ExecuteAsTemplate "core.css" . | toCSS | resources.Minify -}}
	{{- $core.Content | safeCSS -}}
</style>

{{ "<!-- Typography -->" | safeHTML }}
<style type="text/css">
	{{- $typography := resources.Get "css/typography.css" | resources.Minify -}}
	{{- $typography.Content | safeCSS -}}	
</style>

{{ partial "e/blocks-css.html" "dummy" }}
