{{ "<!-- Critical CSS -->" | safeHTML }}
<style type="text/css">
	{{- $variables := resources.Get "css/variables.scss" | resources.ExecuteAsTemplate "variables.css" . | toCSS | minify -}}
	{{- $variables.Content | safeCSS -}}
	{{- $core := resources.Get "css/core.scss" | resources.ExecuteAsTemplate "core.css" . | toCSS | minify -}}
	{{- $core.Content | safeCSS -}}
</style>

{{ "<!-- Typography -->" | safeHTML }}
<style type="text/css">
	{{- $typography := resources.Get "css/typography.css" | minify -}}
	{{- $typography.Content | safeCSS -}}	
</style>

{{ "<!-- Blocks inline CSS -->" | safeHTML }}
<style type="text/css">
	{{ $blocktypes := slice "bodytop" "body" "main" "list" "side" }}
	{{- $blocks := partial "f/getblockscss.go" $blocktypes -}}
	{{- range $blocks -}}
		{{- $resource := printf "css/%s.scss" . -}}
		{{- $css := printf "%s.css" . -}}
		{{- $style := resources.Get $resource | resources.ExecuteAsTemplate $css . | toCSS | minify -}}
		{{- $style.Content | safeCSS -}}
	{{- end -}}
</style>
{{ range $blocks }}
	{{ (printf "<!-- inlined: %s.scss -->" .) | safeHTML }}
{{ end }}
{{ "<!-- Shortcodes inline CSS -->" | safeHTML }}
<style type="text/css">
	{{- $found := slice -}}
	{{- $shortcodes := readDir "/themes/staticdynamic/layouts/shortcodes" -}}
	{{- $shortcodes = $shortcodes | append (readDir "/layouts/shortcodes") -}}
	{{- range $shortcodes -}}
		{{- $name := index (split .Name ".") 0 -}}
		{{- if page.HasShortcode $name -}}
			{{- if fileExists (printf "/themes/staticdynamic/assets/css/shortcode-%s.scss" $name) -}}
				{{- $found = $found | append $name }}
			{{- else if fileExists (printf "/assets/css/shortcode-%s.scss" $name) -}}
				{{- $found = $found | append $name }}
			{{- end -}}
		{{- end -}}
	{{- end -}}
	{{- $found = uniq $found -}}
	{{- range $found -}}
		{{- $resource := printf "css/shortcode-%s.scss" . -}}
		{{- $css := printf "shortcode-%s.css" . -}}
		{{- $style := resources.Get $resource | resources.ExecuteAsTemplate $css . | toCSS | minify -}}
		{{- $style.Content | safeCSS -}}
	{{- end -}}
</style>

{{ "<!-- partials/e/blocks-css.html:end -->" | safeHTML }}
